[2019-08-04 18:21] reprah commented on #1066
@allinurl could I get some help with processing a custom Nginx log format please? I'm using the nginx2goaccess.sh tool to convert the log format but continue to run into parse errors.

GoAccess version: 1.3

[code]

Sample of access.log:
[code]

Nginx log conf:
[code]

nginx2goaccess.sh output:
[code]
[code]
Thanks for any help.

[2019-08-05 02:03] #1510 closed

[2019-08-05 09:16] jazzl0ver commented on #1412
There's something strange. I've set up things to write log entries to a file before passing them to goaccess:
[code]
After goaccess failed:
[code]
Notice the failed line number reported by goaccess - 7818683 - and the total number of lines in the log: 7818680. How come was goaccess able to read 3 more lines than actually exist?..

Before that I tried to catch the bug with strace, but there seemed

[2019-08-05 13:54] allinurl commented on #1066
@reprah

    goaccess access.log --log-format='%h %^[%dT%t+%^] "%v" "%r" %s %b "%R" "%u" %T' --date-format='%Y-%m-%d' --time-format=%T

[2019-08-05 13:55] allinurl commented on #1467
Great findings! Closing this. Feel free to reopen it if needed.

[2019-08-05 13:55] #1467 closed

[2019-08-05 13:59] allinurl commented on #1512
@nickdeps Would you be able to run it through gdb and see if it's entering the spot where it should to enable hour-spec? also, you could always try running v1.2 and see if that helps. Thanks

[code]

[2019-08-05 14:00] allinurl commented on #1512
@moayi please open a new detailed report about the issue you are having. Thanks

[2019-08-05 14:07] allinurl commented on #1517
You would need a valid IP, however, it looks like the second sample line doesn't have one.

    goaccess access.log --log-format='%h,%^[%d:%t %^],"%r",%s,%b,%^,%D,%^,%v,%e,%^' --date-format=%d/%b/%Y --time-format=%T --ignore-panel=BROWSERS --ignore-panel=OS --ignore-panel=REFERRING_SITES

[2019-08-05 14:08] allinurl commented on #1515
Are you using the latest version v1.3?

[2019-08-05 14:19] allinurl commented on #1412
@jazzl0ver Thanks for posting this. Certainly interesting findings! Did you build using `--with-getline`? If yes, that could be the reason why it's showing those extra lines. In your strace output I see the line with 4096 length. Which is the max line length when `--with-getline` is not used.

Can you check which if there are in fact lines longer than 4096 in your log to see if there's some correl

[2019-08-05 14:38] jazzl0ver commented on #1412
It appears goaccess was built w/o getline:
[code]
However, I wasn't able to find such a long line in the logs (used your regexp). Moreover, there's a restriction set in haproxy config:
[code]

[2019-08-05 16:54] joaodlf opened #1518 "Help with log format"
Log format:
[code]

Being set in nginx via:
[code]

goaccess config file:
[code]
(generated with nginx2goaccess.sh)

Running:
[code]

Getting:
[code]

[2019-08-05 17:41] mustakimali commented on #603
Hello please can I get some help with the following logs
[code]

[2019-08-05 19:17] allinurl commented on #1518
Please post a few lines from your log.

[2019-08-05 19:48] joaodlf commented on #1518
Hi, here we go:

[code]

[2019-08-06 05:56] guptarohit commented on #1515
Yes @allinurl
[code]

[2019-08-07 05:09] unmec commented on #981
I was setting up a cron job to send out periodic, consolidated report, and the script failed silently. Then I found out that goaccess didn't generate required html file with zcat pipe in script when ran by cron. although the same script runs just fine when called manually.

I ended up output all log files to a temp file then ask goaccess to generate report from that file, and clean temp file when

[2019-08-07 14:11] m4ps opened #1519 "Date doesn't match specifier '%d' with NCSA Combined Log Format"
Hello! Please, help.
For me it looks like this should fit NCSA Combined Log Format, but it throws error

Example:

[code]

Error:

[code]

Settings from Log Format Configuration.

```Log Format  %h %^[%d:%t %^] "%r" %s %b "%R" "%u"```

```Date Format %d/%b/%Y```
```Time Format -  %H:%M:%S```

[2019-08-07 14:12] allinurl commented on #981
@unmec did you pass the `-` to the command? e.g.,

    /bin/zcat access.log.*.gz | /usr/bin/goaccess access.log -

[2019-08-07 14:12] allinurl commented on #1519
what's the output of your locale? e.g.,

    locale -a

[2019-08-07 14:17] m4ps commented on #1519
Oh thank you very much.
This
```export LANG='en_US.UTF-8'``` helped

[2019-08-07 14:18] allinurl commented on #1518
goaccess access.log --log-format='[%d:%t %^] %h %^| %^ %m %U %H %^: %T %^: %^: %s' --date-format=%d/%b/%Y --time-format=%T --ignore-panel=BROWSERS --ignore-panel=OS --ignore-panel=REFERRING_SITES

[2019-08-07 14:19] allinurl commented on #1519
You can always run:

    LANG="en_US.UTF-8" bash -c 'goaccess access.log --log-format=COMBINED'

Glad that worked! Closing this. Feel free to reopen it if needed.

[2019-08-07 14:19] #1519 closed

[2019-08-07 14:19] joaodlf commented on #1518
Thanks!

[2019-08-07 14:19] #1518 closed

[2019-08-07 14:23] unmec commented on #981
@allinurl
Um... I don't think so.

I was doing something like this but not working:
[code]

Then with this the cron runs just fine:
[code]

What is the meaning of ```-``` here that could be causing this?

[2019-08-07 14:25] allinurl commented on #981
@unmec the single dash is appended to the command line to let GoAccess know that it should read from the pipe.

[2019-08-07 14:27] unmec commented on #981
@allinurl Thanks for the explanation, I am wiser now! ;-)

[2019-08-07 15:02] allinurl commented on #603
@mustakimali

    goaccess access.log --log-format='%^[%h] %^[%d:%t %^] %^"%m %U %H\\"  %s %b %^"%R\\" %^"%u\\"  %^ %T %^' --date-format=%d/%b/%Y --time-format=%T

[2019-08-07 20:10] dmaziuk commented on #213
My $.02 would be to split the pipeline into `log reader`->`store` and the reporter that works off the store. Looks to me like this is already happening if you use `keep-db-file true`?

[2019-08-07 20:45] dmaziuk opened #1520 "minor typo in README.md"
I don;t htink this is worth a separate pull request:

`cat access.log | docker run --rm -i -e LANG=$LANG allinurl/goaccess -a -o html --log-format COMBINED > report.html`

is missing a dash for input file name. I.e. the above as is prints usage message, with `... COMBINED - > report.html` it works.

[2019-08-07 22:28] reprah commented on #1066
@allinurl Thanks. Thanks for your hard work on goaccess, it's been very useful.

[2019-08-08 08:56] fisherwei commented on #377
Multi thread is very useful feature.
I ran a goaccess on the k8s cluster, it is very long time to start when pod was scheduled to another node.

[2019-08-08 20:07] dmaziuk opened #1523 "sig11 in docker container"
It seems in an alpine container build I can ether have TCB support or a static binary, but not both, and my goaccess built without `-static` coredumps with no useful info. Is there a background to this, is it possible to have a containerized version with tokyocabinet support?
thx

[2019-08-09 03:11] mye770 opened #1524 "Can someone help me with the custom log format ?"
===========
Can someone help me with the custom log format ?

`- - 113.196.162.134 [09/Aug/2019:03:05:50 +0000] "POST /api/NotLoggedInApi?ApiInterface=indexhot HTTP/1.1" 404 33002 "http://www2.namieamuro.tw:8082/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.100 Safari/537.36`

[2019-08-09 15:39] allinurl commented on #1523
This is related to #832. TCB is going away in favor of a more stable on-disk storage.

[2019-08-09 17:40] dmaziuk commented on #1523
Sorry, my search-fu failed.

I just checked, build without `-static` and without tcb works, so yeah: this is a TCB problem.

[2019-08-09 17:40] #1523 closed

[2019-08-10 06:10] favoyang commented on #1269
Env
- ubuntu distribution v0.9.4.
- nginx default log format.
- daily rotation (.log, .log.1, .log.2.gz, ...).
- bash 4.3.48(1)

None of below works
[code]

what works
[code]

Then I realized I can use `zcat -f` for both compressed and uncompressed input.

Finally,
[code]

[2019-08-10 14:17] afreeorange commented on #1467
Was trying to compile on FreeBSD 11.2, needed support for Tokyo Cabinet, and had the same issues as @andygr. Hope this helps someone

[2019-08-10 14:35] favoyang commented on #1498
+1 would like to have city level stats in `GEO LOCATION` panel.

[2019-08-11 14:57] haydenjames opened #1525 "Default nginx.conf results in error reading log"
I get this error:
`Token 'ET' doesn't match specifier '%s'`

[2019-08-11 16:15] favoyang opened #1526 "Extend browsers.list to support customized browser group mapping"
Purpose: MicroMessenger is the browser name of WeChat, a very popular messaging/social network in China. It would be good to categorize browser MicroMessenger/VERSIONS (i.e. `MicroMessenger/7.0.5(0x17000523`) into a separated group named MicroMessenger (current under Other group).

However it could be argued that MicroMessenger is not actually a browser, but a webview component in iOS and other im

[2019-08-11 18:45] #1525 closed

[2019-08-12 21:14] Gecko483 opened #1527 "Issue with cowaxess on Windows Server 2012 R2 with IIS 8.5 using Advanced Logging v1.0.0625.10"
I installed the cowaxess v1.0.0 x64 package and I am running the following from the command line:

    bash-4.4$ goaccess /cygdrive/e/LogFiles/*.log --log-format=W3C --date-format=%Y-%m-%d --time-format=%H:%M:%S.%3N
Parsed 1 linesproducing the following errors:

Format Errors - Verify your log/date/time format

I am looking for a correct way to parse the following time format: 08:04:11.011

The pr

[2019-08-12 21:20] allinurl commented on #1527
Can you please post a few sample lines from your access log?

[2019-08-12 21:48] Gecko483 commented on #1527
Sure here a re a few lines from IIS:
2019-08-10 10:04:03.502 - - 123.123.123.123 443 GET /mgmt/d.asp - 200 0 0 218 "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.100 Safari/537.36" - "_ga=GA1.2.1203878307.1521571647; P_ID=cg-aaa-01; S_ID=cg-aaa-01; __utmz=132562588.1548113904.12.3.utmcsr=localhost:9|utmccn=(referral)|utmcmd=referral|utmcct=/c; __

[2019-08-12 21:54] allinurl commented on #1527
Also, can you please describe the fields so I can come up with the format from my end.

[2019-08-12 22:48] Gecko483 commented on #1527
Sure here is a listing in order as they appear in the log:
#Fields:
date-local time-local X-Forwarded-For cs-username s-ip s-port cs-method cs-uri-stem cs-uri-query sc-status sc-substatus sc-win32-status TimeTakenMS cs(User-Agent) cs(Referer) cs(Cookie)

I was going to use the following filter for these logs:
%d %t ~h %e %^ %^ %m %U %q %s %^ %^ %D %u %R %^

Let me know if you need additional info,

[2019-08-13 02:35] Jason-mor commented on #198
the version 1.3_1, i have the same problem on mac.

[2019-08-13 06:38] Jason-mor opened #1528 "Token '13/Aug/2019' doesn't match specifier '%d'"
##### when I run the below command
[code]
##### error
Token '13/Aug/2019' doesn't match specifier '%d'

##### nginx log format
[code]
##### access.log
[code]

[2019-08-13 14:09] allinurl commented on #1527
Please try:

    goaccess access.log --log-format='%d %t.%^ %^ %^ %h %^ %m %U %q %s %^ %^ %L "%u" %R %^' --date-format=%Y-%m-%d --time-format=%T --http-protocol=no

[2019-08-13 14:16] allinurl commented on #1528
Please try:

    goaccess access.log --log-format='%v\t%h\t%e\t%^\t%^\t%d:%t %^\t%U\t%^\t%b\t%T\t%s\t%^\t%^\t%u\t' --date-format=%d/%b/%Y --time-format=%T --http-protocol=no --http-method=no

[2019-08-13 14:19] allinurl commented on #198
@Jason-mor Can you please attach your config file and would you be able to run it through `strace` and attach the output as well? Thanks.

[2019-08-13 14:28] allinurl commented on #1526
Great point. As far as I recall, you should be able do the former, e.g.,

    MicroMessenger > MicroMessenger/7.0.5(0x17000523)

In your `browsers.list` file, you could write it as

    MicroMessenger\t\tMicroMessenger

I like the idea of having multiple levels or at least another level as you mentioned above, the question is how would it look like in the HTML/CLI output... thoughts?

[2019-08-13 14:29] allinurl commented on #1467
@afreeorange Thanks a lot for sharing this!

[2019-08-13 14:32] allinurl commented on #1524
Please try:

    goaccess access.log --log-format='%^ %^ %h [%d:%t %^] "%r" %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T

[2019-08-13 14:33] allinurl commented on #1269
@favoyang The ones that didn't work for you it's due to the version you are running, please use the latest version of goaccess v1.3.

[2019-08-13 14:35] #1520 closed

[2019-08-13 14:38] allinurl commented on #1412
@jazzl0ver does it break always with the same log?

[2019-08-13 14:48] jazzl0ver commented on #1412
good question. i don't know. i'll try to re-feed the logs and check

[2019-08-13 15:04] allinurl commented on #213
@dmaziuk yes, it's using a similar model.

[2019-08-13 15:07] allinurl commented on #1468
@bhui Please try

    export LANG=zh_CN.UTF-8

[2019-08-13 15:28] Gecko483 commented on #1527
This worked.

Thanks for looking into this.

[2019-08-13 15:29] allinurl commented on #1527
Awesome! Feel free to reopen it if needed.

[2019-08-13 15:29] #1527 closed

[2019-08-13 17:13] jazzl0ver commented on #1412
re-feeding same logs does not crash goaccess

[2019-08-13 19:55] allinurl commented on #1412
same logs that made goaccess crashed the first time?

[2019-08-13 21:39] Nykoshiro commented on #1494
Not sure if this was fixed or not, but I no longer can docker compose GoAccess.  It was working when binding /srv/{data,logs,report}.  I noticed the dockerfile was changed (e.g. no more /srv/ volumes?).  The previous file [dockerfile](https://github.com/allinurl/goaccess/commit/5a13cfa7e976b060184637e05b4f69a9403186de?diff=split) worked without an issue with the following config:

Docker for Windo

[2019-08-14 01:49] mye770 commented on #1524
Hi Gerardo,

Thank you for your help.

I tried it and start using GoAccess now, thank you.

Austin 祝您 新年快樂

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
不含病毒。www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Gerardo

[2019-08-14 02:31] Jason-mor commented on #1528
I use your command, but it doesn't work.
I also try the below configuration
[code]

#### My Environment
macVersion:10.14.5
goaccess:1.13

install by brew install goaccess

Thanks

[2019-08-14 03:24] favoyang commented on #1269
You're right. The 1.3 fix this.

[code]

Let's close this issue then.

[2019-08-14 05:36] favoyang commented on #1526
Thanks. This works perfectly.
[code]

Would be good to update the header of browsers.list to include it as example. It feels like the group option is limited to one of `Crawlers`, `Browsers` and `Feeds` currently.

Maybe we don't need another layer, if we could aggregate the BrowserX/[VersionY] format automatically into Other > BrowserX? After all specific version after splash is not very useful.

[2019-08-14 08:58] jazzl0ver commented on #1412
yes. yesterday it crashed around 2pm UTC, so I fed yesterday's logs starting from 3am

[2019-08-14 17:53] dmaziuk opened #1530 "Q: per year stats? per server?"
I've a decade+ worth of logs from multiple servers: we have mirror sites as well as local HA clusters. So far I've imported ~300MB into the DB and the slowdown is already noticeable -- but it is to be expected. (And it's nowhere near as bad as elasticsearch on the same logs.)

So here's the wishlist/questions:

1. Stats per server. E.g. if our mirror site X gets 0.0001% traffic, it's not worth mai

[2019-08-14 19:35] desarrollocdb opened #1531 "Token 'cable190-248-136-226.une.net.co' doesn't match specifier '%h'"
Hi, I have problems reading the log files of my web server

Log apache:

    cable190-248-136-226.une.net.co - - [14/Aug/2019:14:13:03 -0500] "GET /centro_serviciosv2/tiempo_session.php HTTP/1.1" 200 3831 "https://app.ciudaddonbosco.org/centro_serviciosv2/panel/index.php" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.100 Safari/537.36"

Error:
T

[2019-08-14 20:08] majorboob opened #1532 "Error occurred at: src/parser.c - read_log - 2764"
Hi,

I am getting the following error trying to parse nginx access.log with goaccess:

`
Fatal error has occurred
Error occurred at: src/parser.c - parse_log - 2764
No time format was found on your conf file.
`

Note: appeared after the update (from1.2 to 1.3)

dunno why, but config file now located in separate folder

1.2 /usr/local/etc/goaccess.conf
1.3 /usr/local/etc/goaccess/goaccess.conf

and

[2019-08-14 21:15] dmaziuk commented on #1530
To answer my own first question: I need to pre-process the logs into `vhost: ...` format, re-parse them and see.

[2019-08-16 23:25] Gecko483 opened #1533 "How to parse multiple IP Addesses in the %h (X-Forwaded-For)"
When parsing my IIS logs using the previously recommended format:

[code]

I came across another issue that is due to multiple IP Addresses listed in the %h column, in the following format:

    "111.222.333.444, 222.333.111.444"

The problem here is sometimes it has that format and other entries in the same log have the standard entry: "111.222.333.444"

I cannot find a way to parse this data wit

[2019-08-17 07:32] Jason-mor commented on #1528
@allinurl
brew install goaccess -s
it also does't work.
Help solve it, thank you

[2019-08-17 13:21] chuckhoupt opened #1534 "Online man page missing HTML output option"
On https://goaccess.io/man the output option is missing "html":

Should be:

--output=<json|csv|**html**>

[2019-08-19 09:44] Natsec commented on #1532
Hello,

Exact same problem, it is like the new version keep looking for the old path.

[2019-08-20 02:31] FaustYKKN opened #1535 "When add "goaccess", docker can't find the log file"
Hello ~ When my docker command is
[code]
it works well~

---

But when I add **goaccess** in my command, just like

The error occurred:
[code]

**Is it expected?** Or we should fix the Readme's demo 👇?

[code]

[2019-08-20 13:59] allinurl commented on #1532
Thanks for reporting this. I believe this got fixed upstream. Would you be able to build from [development](https://github.com/allinurl/goaccess#build-from-github-development)? Thanks

[2019-08-20 14:02] allinurl commented on #1534
Thanks for reporting this. This should be fixed.

[2019-08-20 14:02] #1534 closed

[2019-08-20 14:04] allinurl commented on #1528
The command I posted works fine on v1.3 with the line you posted above. Could you please post/attach several lines? THanks.

[2019-08-20 14:07] allinurl commented on #1533
Please take a look at the `~h` specifier in the [man page](https://goaccess.io/man#custom-log). I'd guess you need to use `~h{,"}`. Feel free to post a few sample lines from your log if that doesn't work.

[2019-08-20 14:16] allinurl commented on #1530
Thanks for the suggestions.

1. I think #117 would solve this. It's a feature I really need as well, so it's definitely on my priority list and probably the next big feature to incorporate.

2. This should be fairly trivial to add, this is a dup of  #1167. I've been working slowly on adding the new on-disk storage to goaccess to replace TC, then I can look into these smaller features. Stay tuned.

[2019-08-20 14:16] #1530 closed

[2019-08-20 14:18] allinurl commented on #1531
GoAccess requires a valid IPv4/6, so you would need to reverse lookup the host or log the IP.

[2019-08-20 14:25] desarrollocdb commented on #1531
Thanks, how can I make this possible on an Apache server?

[2019-08-20 14:45] allinurl commented on #1526
Awesome. I've added an extra note to the browsers.list file. Let me know what you think. Or feel free also to submit a PR if you think I'm missing something.

Thanks for the suggestion about the ascii char, I can look into this if we decide to go for the additional level. Closing this, feel free to reopen it if needed.

[2019-08-20 14:45] #1526 closed

[2019-08-20 14:46] allinurl commented on #1412
So are you suggesting it's the log data?

[2019-08-20 15:14] Gecko483 commented on #1533
Thanks for taking the time to link the page and send me in the right direction. I had read over the man page and originally tried the ~h designation but reverted back tot he %h.

This is also verifying that all of our site logs are the same format as well.

[2019-08-20 15:31] dmaziuk commented on #117
FWIW I'd stick the data into sqlite3 table(s) and use sql to do the filtering. Better yet, add a mini-abstraction-layer so people with huge amount of logs could use a grown-up sql engine (postgres) for storage too.

[2019-08-20 15:39] jazzl0ver commented on #1412
i have no ideas what can that be.
jfyi: i've checked line lengths in the today log files and the maximum was around 700 chars (last crash happened today around 9am UTC).

if you could add any kind of debugging info in it, i'd be happy to test

[2019-08-20 15:42] allinurl commented on #1531
You will need to change your apache config to `HostnameLookups Off`

http://httpd.apache.org/docs/2.2/mod/core.html#hostnamelookups

[2019-08-20 15:44] allinurl commented on #1533
np, feel free to post a few lines from your log and I can try looking into the format.

[2019-08-20 15:45] allinurl commented on #117
@dmaziuk agree on that. Stay tuned for the upcoming storage change.

[2019-08-20 15:46] allinurl commented on #1535
Thanks for reporting this! For me sounds like the README might be wrong. @err931 Thoughts on this?

[2019-08-20 15:48] allinurl commented on #1269
Closing this as it has been verified that v1.3 fixes this. Feel free to reopen it if needed.

[2019-08-20 15:48] #1269 closed

[2019-08-20 15:49] #1524 closed

[2019-08-20 16:02] allinurl commented on #1412
@jazzl0ver to be honest, I'm not sure this is worth spending time on it as I'm already in the process of replacing the on-disk storage. I do appreciate your help though. Stay tuned for the upcoming change.

[2019-08-20 16:09] Gecko483 commented on #1533
It is working quite well i have reporting now to analyze the web logs. the format you posted a reference to works great!

[2019-08-20 16:12] jazzl0ver commented on #1412
ok, not a problem. any estimates on the release date?

[2019-08-20 16:22] Nykoshiro commented on #1494
@allinurl @err931 I can, give me a bit and I'll let you guys know as soon as I can.  Thanks ~N

[2019-08-20 16:23] allinurl commented on #1412
@jazzl0ver I can't give you an estimate as I don't want to rush on pushing it out. I want to make sure it's done well. Feel free to follow goaccess on twitter as it will be posted there.

[2019-08-20 16:24] allinurl commented on #1533
Awesome. Closing this, feel free to reopen it if needed.

[2019-08-20 16:24] #1533 closed

[2019-08-20 17:22] rachid-debu commented on #1494
I tried again with the latest image of goaccess.
Still not working.
Problem is, I wish I could /bin/sh into the container but it dies instantly. So i cannot sh to it :/..

Regarding permissions I doubled checked but I might be wrong.
My user is `admin`, the folder containing all my configuration is located in `/home/admin/docker`. Here are some screens of file permissions, and part of my `docker-c

[2019-08-20 17:41] rachid-debu commented on #1494
I think you are right, this change https://github.com/allinurl/goaccess/commit/5a13cfa7e976b060184637e05b4f69a9403186de#diff-3254677a7917c6c01f55212f86c57fbfR60 seems to have broken paths.

[2019-08-20 18:21] Nykoshiro commented on #1494
If the Docker Hub build isn't updated at the same time as GitHub then I suspect that the Docker Hub build [Docker Hub Commit Source ddf17b0 from 22 days ago](https://www.github.com/allinurl/goaccess/tree/ddf17b0a1614899a67d5ca8f6f793832027c4b05) update is what finally sync'd the May 12th rewrite.  I've been rebuilding containers while trying to learn compose / swarm / kube and that's around the sa

[2019-08-20 18:24] Gecko483 opened #1536 "Trying to exclude a specific user agent (Web Site Monitor)"
I was reading how you had added the ability to add a list of browsers in a text file, and was trying to use this as a way to omit our uptime requests from the log parsing.

We use NodePing, so i created a file called browsers.txt, using your demo file and added a line to the top:
NodePing                                          Crawler

I was using the following command in bash:

    bash-4.4$ go

[2019-08-20 19:23] allinurl commented on #1494
Latest [**build**](https://cloud.docker.com/repository/registry-1.docker.io/allinurl/goaccess/builds/44eb8f39-5630-4d62-8151-f38127d7ec91) ~3hr ago. Please give it a shot.

[2019-08-20 19:51] rachid-debu commented on #1494
For me, the fact that it does build was not the problem. It does build for me. Just it didn't find the files, I thought it was permissions.

But looking at the change in volume paths, I just followed the new `/goaccess/<access.log, goaccess.conf, report.html>` path, so like needed I put all 3 needed files in a volume /goaccess, and it works, it prints the report.

Just I can't manage to make the w

[2019-08-20 23:18] Nykoshiro commented on #1494
I was able to finally get GoAccess running referencing @rachid-debu compose config.  Take away notes:

a)  the docker documentation now conflicts with current config of GoAccess (/GoAccess/) volumes; previously it created /srv/{data,logs,report} volumes.  Can /GoAccess/{data,logs,report} be added?

b)  unless there is a way for Docker Compose to create directories (e.g. /GoAccess/{data,logs,report

[2019-08-20 23:24] Nykoshiro commented on #1494
@rachid-debu I thought you mentioned something about ws-url:  if I recall correctly, the web socket configuration is used for something else, not self hosting the report (e.g. html) file; I believe you have to host this file with your own webserver.

[2019-08-21 01:04] rachid-debu commented on #1494
@Nykoshiro I thought I needed it in order to have live report. Goaccess is inside docker and i'm using Nginx inside docker which serves the goaccess and my websites. I wanted to have to access.log regularly refreshed and the report also.

[2019-08-21 14:58] daniele-barresi commented on #945
This issue is dated, but still open and I just had a similar problem.
I'm commenting my solution to help others in a similar situation.

I'm running a bash script containing (among other things) something like the following:
[code]

It works fine when I execute the script manually from a terminal.
If I put the same script in the `/etc/cron.hourly/` folder, when the cronjob is executed goaccess pri

[2019-08-21 16:03] allinurl commented on #945
@daniele-barresi thanks for sharing that!

[2019-08-22 01:30] allinurl commented on #1494
By default, goaccess will attempt to connect to the generated report's hostname. If GoAccess is running on a remote server, the host of the remote server should be specified using `--ws-url=<hostname>`.

@rachid-debu @Nykoshiro can I ask you to please submit a PR to update the README accordingly. I just want to make sure I don't miss anything. Thank you very much both of you!

[2019-08-22 01:43] allinurl commented on #1536
Please try setting it as `Crawlers` instead of `Crawler`. Also make sure it is tab delimited e.g.,

    NodePing\t\tCrawlers

that is,

    NodePing		Crawlers

[2019-08-22 06:29] daniele-barresi commented on #945
@allinurl thanks to you, for such a useful piece of software!

[2019-08-22 13:09] hennevogel commented on #1415
Well `%configure` and `./configure` are not necessarily the same thing. `%configure` expands to many things (setting CFLAGS, adding more options etc.). See the [build log](https://build.opensuse.org/build/server:http/openSUSE_Tumbleweed/x86_64/goaccess/_log) for details. I've tried to build it without those settings, same result.

So it must be something else. Do you depend on a specific locale se

[2019-08-22 13:50] hennevogel commented on #1415
There are ordinal `º` characters (sometimes followed by control characters) in the resulting HTML. If you remove them, the HTML is fine.

[2019-08-22 14:02] allinurl commented on #1415
@hennevogel did you build from [development](https://github.com/allinurl/goaccess#build-from-github-development)? From the previous post, it seems to be an issue with SUSE build.

[2019-08-22 14:08] hennevogel commented on #1415
Nope I did not, used 1.3. Trying to narrow down the issue with the SUSE build (I am a SUSE developer).

[2019-08-22 14:27] hennevogel commented on #1415
Same result with 8af30fc

[2019-08-22 14:28] allinurl commented on #1415
From your post above, it seems like it may be related to the embedded fontawesome?

[2019-08-22 14:40] hennevogel commented on #1415
The characters occur in the HTML always at the end of the things you concatenate. Maybe this process adds those characters?

[2019-08-22 15:42] Gecko483 commented on #1536
I added the tab delimiter in between the name and the type instead of spaces.

I also see that it removes the top requested file based on the browsers.txt file.

This is what i was looking for

Thanks!

[2019-08-23 00:38] desarrollocdb commented on #1531
Hi, I have reviewed and the current configuration is off. Should I change it to on?

[2019-08-23 00:49] desarrollocdb commented on #1531
Thanks, I solved it by changing the setting from off to Double.

[2019-08-23 00:49] #1531 closed

[2019-08-23 08:02] niol commented on #1405
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=934121 so this can be closed here.

[2019-08-24 01:56] #1405 closed

[2019-08-24 01:58] #1536 closed

[2019-08-24 02:00] allinurl commented on #1415
This seems isolated to SUSE as I don't see these chars under arch or debian. I wonder if it has something to do with the compiler. It could be the bin2c. Are you able to reproduce this on a different version of suse?

[2019-08-24 10:18] hennevogel commented on #1415
Yeah that is my theory now. Probably `fpic` or something is missing when compiling binc as it's not using CFLAGS etc..

I was able to reproduce this on many different versions, yes.

[2019-08-26 11:36] coolo commented on #1415
Please update to https://github.com/gwilymk/bin2c/issues/3

[2019-08-26 12:44] hennevogel commented on #1415
ARGH, I've looked at that repo, but apparently not too close! Yes this fixes it for me:

[code]

[2019-08-26 12:48] coolo commented on #1415
Spot the glasses on my profile pic? Perhaps it's time dude... :)

[2019-08-26 18:18] cylott opened #1537 "Real Time w/SSL on macOS "Stopping WebSocket server...""
I am having a hell of a time getting goaccess to use my ssh key. Steps:

Install goaccess from macports
Generate ssl keys for the host domain (the domain that serves the goaccess html file)
Configure for log format
Run goaccess without ssl, works fine
Run with ssl, exits with no errors

`goaccess --log-format='%v %h %^[%d:%t %^] "%r" %s %b' --date-format='%d/%b/%Y' --time-format='%H:%M:%S' -o /opt

[2019-08-26 18:36] #1415 closed

[2019-08-26 21:21] manjotsc opened #1538 "PfSense Log File"
Which log file I should use in pfsense to generate html file, and If anyone knows date and time setting for Pfsense Logs.

[2019-08-27 08:43] jubalh commented on #1415
@xorock: @hennevogel submitted the bin2c patch to the openSUSE [package](https://build.opensuse.org/package/show/server:http/goaccess). So if you use the package from `server:http` this should be fixed for you now.

That would be cool. openSUSE has goaccess packaged since 2010 ;-)

[2019-08-27 18:32] Zidichy commented on #1280
Here you go, fully working goaccess subdomain.conf in RP :)
https://github.com/Zidichy/Server/blob/master/proxy-confs/goaccess.conf

[2019-08-27 18:32] Zidichy commented on #1297
Here you go, fully working goaccess subdomain.conf in RP :)
https://github.com/Zidichy/Server/blob/master/proxy-confs/goaccess.conf

[2019-08-28 05:11] xorock commented on #1415
@jubalh I can confirm that it now works on OpenSuse :) You are great guys.

[2019-08-28 07:12] rachid-debu commented on #1494
@Nykoshiro yes it does work. At first it was not working because the websocket tunnel didn't work but It now works. Detail a bit your configuration, maybe I can help. Are you using a nginx server ? What's your conf ?

[2019-08-28 22:06] allinurl commented on #1297
@Zidichy Awesome, thanks for sharing this!

[2019-08-29 06:16] Zidichy commented on #1297
@allinurl  Np :) Happy to help out.
Actually, i have a question, can i ask it here or do you want me to create a new issue ?

[2019-08-29 18:57] KikeMuller opened #1539 "IIS 7.5 Logs"
Log:

[code]

Error GOaccess:

[code]

[2019-08-29 19:37] cylott commented on #1537
Thank you so much for your help. Yes, this user has write to /tmp

`server:~ user$ touch /tmp/test`

[2019-08-30 01:08] chrisx8 commented on #1496
Already fixed.

[2019-08-30 07:21] elliotliu commented on #836
Hello. Trying a lot of log format. Can you help with this?

58.210.27.10 - - [20/Aug/2019:00:00:00 +0800] "GET /perplat/css/public/images/printBtn.gif HTTP/1.1" 200 2032 "https://ebank.suzhoubank.com/perplat/css/public/public.css" "Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36"

Token '20/Aug/2019' doesn't match specifier '%d'

[2019-08-30 18:22] allinurl commented on #1537
Are you able to run goaccess as root?

[2019-08-30 20:16] cylott commented on #1537
Strange, I thought I was running as root. This seems to do the trick.

[2019-08-30 20:16] #1537 closed

[2019-09-01 19:23] Fieel commented on #684
Hello, any news on using a service to read multiple data from all logs?

[2019-09-03 03:25] allinurl commented on #836
@elliotliu Please try the following using the latest version:

    goaccess access_log.log --log-format=COMBINED

[2019-09-03 09:19] jotteerr commented on #1496
Sorry to ask, how did you fix it? I'm getting the same error …

[2019-09-03 12:40] hxwang1024 opened #1541 "how to parse custom log format that contains a pipe as delimiter"
my log format as follow:

 **03/Sep/2019:10:04:08 +0800 | 10.10.10.10 | http | 304 | 192.168.2.12 | - | www.hello.com | - | - | GET / HTTP/1.1 | 0 | - | Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.110 Safari/547.36 | - | 0.017 | - | - | -**

Please can you help me with the right command ?

Thanks in advance.
Regards

[2019-09-03 16:16] rocketme commented on #1535
Haha, I think that the README was not the newest. Because it worked well when I added goaccess in my command on 2018-10-20.

[2019-09-03 16:39] chrisx8 commented on #1496
Sorry I was incorrect. Debian Buster only has `libssl1.1` in the repos, and `libssl1.0.2` is still not installable.

However, `libssl1.0.2` can be manually installed. To do this, [download the `.deb` package](https://packages.debian.org/stretch/libssl1.0.2) from the Debian Stretch repos and install it with `dpkg`.

[2019-09-03 18:21] halcyon22 opened #1542 "question about Requested Files statistics"
In the "Requested Files" panel, what does the line with Method "---" represent?

Method "---" has the largest share of requests when running goaccess on my apache logfile, so I'm concerned that I'm missing the actual URL of those requests.

Method "---" is line 26 in "Requested Files" panel of [the real-time demo](https://rt.goaccess.io/).

It also appears as the second line on [the goaccess homep

[2019-09-03 19:41] allinurl commented on #1542
It could be time outs, or pretty much anything where there wasn't a proper request. e.g.,

    host.com:80 176.86.241.101 - - [03/Sep/2019:14:39:13 -0500] "-" 408 0 "-" "-" 16

[2019-09-03 20:00] halcyon22 commented on #1542
Thanks for your response!
I've filtered out all lines with no method (`"-"`), so I wonder if something about certain lines - an usual character perhaps - could be causing the method from being parsed correctly.
I'll try to narrow down the problem.

[2019-09-03 20:11] allinurl commented on #1542
In my case, I see that the majority are bogus bots hitting the server.

[2019-09-03 20:56] halcyon22 commented on #1542
I've narrowed the problem lines down to a representative sample:
[code]
This corresponds to the standard Apache HTTP format of `"%h %l %u %t \"%r\" %>s %b `. I run goaccess on the above with the following command:
[code]
Doing so results in the following:

[code]
What am I doing wrong?

[2019-09-03 21:08] allinurl commented on #1542
`\"%r\"` should display the method, request and protocol according to [this](https://httpd.apache.org/docs/2.4/logs.html). Those seems like were invalid lines as they did not pass the protocol. Are all of your requests this way?

[2019-09-03 22:14] jotteerr commented on #1496
Thanks, @chrisx8, got it installed. Unfortunately, when starting GoAccess with `goaccess /var/log/caddy/access.log --real-time-html -o /var/www/html/report.html -p /etc/goaccess/goaccess.conf`, I get a static file, not real time updates. `report.html` is populated, when I start GoAccess, but then it is never changed. Did you get it working?

[2019-09-04 00:29] chrisx8 commented on #1496
Real-time HTML reports require its own WebSocket server (created by GoAccess when `--real-time-html` is set). Make sure GoAccess remains running and the port (default is 7890) is open.

To change the port, check out [GoAccess's man page](https://goaccess.io/man#options) under **Server Options**.

[2019-09-04 14:55] halcyon22 commented on #1542
All of the requests to `/` in my log do lack the protocol, which I should have noticed as you did. Thanks very much for your assistance.

[2019-09-04 14:55] #1542 closed

[2019-09-05 05:19] 123mja opened #1543 "What is the log-format for the 'access.log format'"
What is the log-format for the 'access.log format'?
Thanks

[code]

[2019-09-05 14:45] allinurl commented on #1543
Can you please describe the fields you've got in there? Thanks

[2019-09-05 14:47] allinurl commented on #1535
Closing this as the README.md should be fixed now.

[2019-09-05 14:47] #1535 closed

[2019-09-05 14:50] allinurl commented on #684
@Fieel can you expand a bit more on what you are trying to do? thanks

[2019-09-05 15:53] 123mja commented on #1543
Hi Gerardo,

thanks for the assistance. My best guest to describe the fields is:

1 myserver.com %v:
2 kfr3RdqIeZ4VvnDkk3TLjw %^
3 - %^
4 - %^
5 [04/Sep/2019:07:58:02 +0000] [%d:%t %^]
6 "GET / HTTP/1.1" "%r"
7 200 %s
8 595 %b
9 "-" %^
10 "Mozilla/5.0 (compatible; hrankbot/1.0; +https://www.hrank.com/bot)" "%u"
11 {239:732,79529}  %^

So, I do not know the meaning of fields 2,3,4,9,11 therefore I

[2019-09-06 08:13] MarkMessa opened #1544 "GoAccess submitting aggregate data to MySQL"
Is it possible to make GoAccess count views from Apache log (single server) in real-time and submit the aggregate data to MySQL according some threshold? (ex: each 5 min or 1KB)

[2019-09-06 13:30] thor0215 commented on #679
Are there still plans to offer support for this?  I have a use case where our Tomcat web servers are behind a load balancer.  Normal user traffic has the XFF, but cluster traffic between the tomcat nodes do not.  Having an option like the one mentioned about would allow me to see both sets of traffic together.

[2019-09-07 23:11] Fieel commented on #684
I'd love GoAccess to read more logs, not just the latest ones, so I can see data from, say, last month.

Every time my Raspberry Pi webserver reboots the data shown resets

[2019-09-08 17:01] mskec commented on #1494
I'm also experiencing problems with the new [Dockerfile#5a13cfa](https://github.com/allinurl/goaccess/commit/5a13cfa7e976b060184637e05b4f69a9403186de#diff-3254677a7917c6c01f55212f86c57fbf).

Website docs https://goaccess.io/download#docker and README instructions are not updated to use the new Dockerfile.
[code]
This command used to work. Now it's not working and only outputs `--help`. Additionall

[2019-09-08 18:14] rachid-debu commented on #1494
@mskec indeed, path has changed and documentation has not been updated yet.

I suggest you try this :
[code]

If your html file is named different that `index.html` feel free to edit.

[2019-09-08 19:02] mskec commented on #1494
@rachid-debu thank you 🎉 that works with the latest Dockerfile

[2019-09-08 19:02] rachid-debu commented on #1494
@err931 @allinurl PR #1545

[2019-09-10 09:58] yi-huan commented on #1494
The following configuration work:
[code]

My configuration（`goaccess.conf`） file is in `./goaccess/config`.

At least need to be set in `goaccess.conf`:
eg.  my  conf (nginx):
[code]

Can input HTML file, but can't preview in real time, access error, http status code is 400, how do you configure it?
I configured `ws-url`, it still doesn't work

[2019-09-10 22:58] allinurl commented on #1494
README has been updated. Please confirm new instructions solve the issue. Thanks!

[2019-09-10 23:00] allinurl commented on #679
@thor0215 Per this [commit](https://github.com/allinurl/goaccess/commit/127c6165bbf67a4476128511b29f4bfceff7d62a#diff-c1f9cca172a4d29eaff6871779b7a7fc), can you please try using `--no_ip_validation` and see if that solves the issue for you.

[2019-09-11 15:11] raylwalters opened #1546 "Format to use for goaccess log"
I am unsure what format to use for my nginx-access.log, here are a few lines:

    35.226.232.192 - - [09/Sep/2019:04:12:52 +0000]  "GET /events/all-events/summer-2019-summer-i-examinations%252523main-content%3Fperks%255B0%255D%3D8113?org_unit%5B0%5D=6580&org_unit%5B1%5D=6556&org_unit%5B2%5D=6430&org_unit%5B3%5D=6571&org_unit%5B4%5D=6568&org_unit%5B5%5D=6697 HTTP/1.1" 200 17219 "https://www.google

[2019-09-11 16:28] evitalis opened #1547 "Additonal dependency to build on RHEL/CentOS"
When building 1.30 it looked like I needed to add gettext-devel to the requirements on CentOS 7. I was going to PR the readme but was not sure if the additional dependency is correct or not. I figured I would ask first just in case.

The spec file I used as reference is the following:
https://src.fedoraproject.org/rpms/goaccess/blob/master/f/goaccess.spec

[2019-09-13 10:07] GainfulShrimp opened #1548 ""Last Updated" not updating in real-time-html report"
I've had the real-time-html report working well with nginx reverse proxy for some time now (using v1.2).

After moving to v1.3, the "Last Updated" value (top-right of the report) doesn't update whenever the server pushes a websocket update, as it did before.

I'm not sure whether this is intentional or a bug, but I miss the feature so would be grateful for any help on how to get the updating date/

[2019-09-13 15:46] fecori commented on #836
Hi, i have this log:

"10.20.4.158" - - [12/Sep/2019:03:44:23 -0500] "-" "GET /impresa/larepublica-lima/09-09-2019 HTTP/1.1" 200 17595 "-" "-" "173"

@allinurl how to use goaccess log format?

thnx!

[2019-09-16 01:56] allinurl commented on #836
@fecori please try:

    goaccess access.log --log-format='"%h" %^[%d:%t %^] "%^" "%r" %s %b "%R" "%u" "%D"' --date-format=%d/%b/%Y --time-format=%T

[2019-09-16 01:58] allinurl commented on #1548
Yes, this is a regression which I think was fixed upstream. Can I ask you to please try building from [development](https://goaccess.io/download#build) and let me know if that addresses the issue. Thanks.

[2019-09-16 02:02] allinurl commented on #1546
Please try this (assuming the client IP is on the first field)

    goaccess accesslog --log-format='%h %^[%d:%t %^] "%r" %s %b "%R" "%u" %T %^' --date-format=%d/%b/%Y --time-format=%T

[2019-09-16 02:04] allinurl commented on #684
@Fieel are you looking to have incremental stats? You can try using the on-disk storage instead of in-memory. Note that the current implementation is being replaced with something more robust.

[2019-09-16 02:05] allinurl commented on #1544
It's not possible. Could you please describe a use case for this? Thanks.

[2019-09-16 02:08] allinurl commented on #1543
Seems like you are missing the client IP. GoAccess requires the following fields:

[2019-09-16 02:15] allinurl commented on #1541
Looking into this. Dup of #1303

[2019-09-16 02:33] allinurl commented on #1539
Please try this, though I'm not sure there's consistency in the log as the last line will be invalid.

    goaccess access.log --log-format='%d %t %^ %m %U %q %^ %^ %h %u %^' --date-format=%Y-%m-%d --time-format=%T

[2019-09-16 02:34] allinurl commented on #1297
@Zidichy feel free to do it here on github.

[2019-09-16 06:54] GainfulShrimp commented on #1548
Thanks for getting back to me.

Unfortunately, the latest development version made things worse: the 'Last Updated' still didn't update, but also most of the panels on the bottom half of the report - i.e. below 'unique visitors' and 'requested files' - would not populate until I clicked one of the pagination (< or >) buttons.

I've gone back to 1.3 release for now.

Happy to try the dev build agai

[2019-09-16 08:38] Fieel commented on #684
@allinurl yeah, i'd love to have incremental stats along with a realtime html page with data, is it possible with the on-disk storage?

So you're working on a more robust on-disk storage that will replace the current implementation? If so, i'm interested!

[2019-09-16 19:07] zOthix commented on #683
how can i define in my config file --with-openssl

[2019-09-16 22:37] allinurl commented on #683
@zOthix please build goaccess using `--with-openssl` then use `--ssl-key=<path/priv.key>` and `--ssl-cert=<path/cert.crt>`

[2019-09-17 10:13] MarkMessa commented on #1544
Suppose you wanna count views and update MySQL aggregate table out of the client request cycle.
It seems that the most common way to achieve that is via ELK stack. Unfortunately, for a single server, ELK stack is to much complicated. Therefore, I'm looking for lighter alternatives.

[2019-09-17 10:13] #1544 closed

[2019-09-17 11:20] m33m33 opened #1549 "kernel message: goaccess trap divide error"
When running goaccess 1.3 daemonized, I ran in this issue today.

The web page with realtime stats was empty, on disk the realtime html and database look good.

In the syslog I see :
traps: goaccess[4010] trap divide error ip:559ca6039673 sp:7fff900f9170 error:0 in goaccess[559ca6020000+97000]
traps: goaccess[4105] trap divide error ip:5578b589e673 sp:7fff666347c0 error:0 in goaccess[5578b5885000+

[2019-09-17 13:55] svastal commented on #953
Can you help me?

[2019-09-18 06:27] JinHoSo commented on #1273
I got an error below logs on osx

1) log
223.62.215.227 - - [17/Sep/2019:23:48:26 +0900] "POST /search.php HTTP/2.0" 200 58 "https://www.meinhi.com/search.php" "Mozilla/5.0 (Linux; Android 9; SAMSUNG SM-N950N Build/PPR1.180610.011) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/9.4 Chrome/67.0.3396.87 Mobile Safari/537.36" 0 23783

2) tried
goaccess access.log --log-format='%h %^[%d:%t %^]

[2019-09-18 11:59] d1ch0t0my opened #1550 "Log format error - XFF Field combining date"
I'm having a problem getting the log format to parse. I have an XFF field but Goaccess is ignoring the delimiter of the last IP in the XFF field and combining it with the next field which is the date field e.g:

Token '127.0.0.1|18/Sep/2019' doesn't match specifier '%d'

...my log format is as follows:

time-format %H:%M:%S
date-format %d/%b/%Y
log-format %s|%U|%^|~h{,"}|%d:%t %^|%v|%u|%R

...and

[2019-09-18 12:29] allinurl commented on #1550
This is a dup of #1303. I need to look into this as the pipe delimiter is not fully supported as of now.

[2019-09-18 12:31] allinurl commented on #953
@svastal Please try:

    goaccess access.log --log-format='%h %^[%d:%t %^] "%r" %s %b %D %^ "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T

[2019-09-18 12:33] allinurl commented on #1549
Does it break when not daemonized? are you able to reproduce this using the in-memory storage? Please run it through `strace` and attach the result here. Thanks.

[2019-09-18 12:37] allinurl commented on #1548
Thanks for the update. For some reason I thought this was already addressed as I do remember this issue. Let me look into it and I'll post back.

[2019-09-18 12:39] allinurl commented on #684
@Fieel Yes, Please take a look at the [**configuration**](https://goaccess.io/man#configuration) options for on-disk storage. Yes, this is on the works, hoping the next release will have this done. Stay tuned though.

[2019-09-18 12:41] allinurl commented on #1544
I'm working on a more robust on-disk storage which more likely will support wither postgres or mysql. This will replace the existing on-disk implementation. Please stay tuned for the upcoming release.

[2019-09-18 12:43] allinurl commented on #1273
@JinHoSo Please try:

    goaccess access.log --log-format='%h %^[%d:%t %^] "%r" %s %b "%R" "%u" %^ %D' --date-format=%d/%b/%Y --time-format=%T

[2019-09-18 12:58] d1ch0t0my commented on #1550
Ah ok, I'll change the log format. Many thanks for looking at it for me. I'll close this as its a dupe, cheers.

[2019-09-18 12:58] #1550 closed

[2019-09-18 13:06] MarkMessa commented on #1544
@allinurl Mind to give more details?
- Is this gonna be an improvement of GoAccess or it will be a completely new web analytics software?
- Still FOSS?
- Still lightweight?

[2019-09-18 13:07] svastal commented on #953
Thank you!
But there was different problem. The point was old goaccess version. Debian 9.9 (stretch) doesn't have the latest version of GoAccess in the default packages. It starts working after changing repository on official GoAccess.

[2019-09-18 13:57] m33m33 commented on #1549
Can't reproduce it yet. I suspect a corruption of goaccess file storage.

Let's close this ticket, I will reopen it if needed.

[2019-09-18 13:57] #1549 closed

[2019-09-18 14:27] allinurl commented on #1544
It's just a change on the current on-disk implementation. Always FOSS, and lightweight too.

[2019-09-18 15:05] MarkMessa commented on #1544
Any release date forecast?

[2019-09-18 20:09] raylwalters commented on #1546
@allinurl  thank you for replying. After running
`goaccess nginx-access.log-20190910 --log-format='%h %^[%d:%t %^] "%r" %s %b "%R" "%u" %T %^' --date-format=%d/%b/%Y --time-format=%T`

I get the following error:

Parsed 1 linesproducing the following errors:

Token 'ET' doesn't match specifier '%s'

Format Errors - Verify your log/date/time format

[2019-09-19 06:59] saifshaikh412 opened #1551 "User Browser and OS detection in Haproxy and GoAccess"
Sep 19 12:25:06 localhost haproxy[11398]: 127.0.0.1:8183 103.246.243.242 [19/Sep/2019:12:25:06.002] GET /IVTS/js/leaflet.markercluster-src.js HTTP/1.1 200 17667 {https://qc.noviretechnologies.com/IVTS/forward.do?forwardName=ref_mapMyIndiaStdHomePage&discriminator=|Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.132 Safari/537.36|}

this my haproxy

[2019-09-20 17:50] cassianotartari commented on #669
I've tried this for this sample:
[code]
But I've got:
[code]

@allinurl can you help me?

This log format is from [amplify docs](https://amplify.nginx.com/docs/guide-metrics-and-metadata.html#additional-nginx-metrics)

[2019-09-21 01:54] zaitseff opened #1552 "Allow %h (or a new format specifier) to accept looked-up hostnames"
First off, thank you for writing GoAccess and releasing it!

Could you please implement the ability to have `%h` (or perhaps a new format specifier like `%H`) accept hostnames that have already been looked up.  In other words, to be able to accept log files where IP addresses are not recorded but the looked-up names are:

[code]

When I run `goaccess` with such log files, it complains with somethi

[2019-09-21 03:54] zwebmedia opened #1553 "Batch mode possible?"
Hi All and thanks for this excellent program. I want to run in batch mode, ie. generate a static HTML file for viewing later or emailing. I've read the manual page and FAQ and many other blog posts. No matter what command I type on command line, even "goaccess" by itself, with no options, triggers "WebSocket server ready to accept new client connections".

How can I run a batch mode report without

[2019-09-23 11:47] cassianotartari commented on #669
I think I figure it out:
[code]

[2019-09-23 17:46] allinurl commented on #669
@cassianotartari please try:

    goaccess access.log --log-format='%h %^[%d:%t %^] "%r" %s %b "%R" "%u" %^ %v %^ %^=%T %^' --date-format=%d/%b/%Y --time-format=%T

[2019-09-23 17:47] allinurl commented on #1553
Seems like you have `real-time-html` set to true in your config file. Please change that. You can always check the location of your config file by running `goaccess --dcf`

[2019-09-23 17:50] allinurl commented on #1552
I can look into this, however, as a workaround, you could try building from [**development**](https://goaccess.io/download#build) and pass `--no-ip-validation`.

[2019-09-24 00:29] zwebmedia commented on #1553
Incredibly helpful thank you so much. It was set to true by default, and I set it to false. Being new to this program I was powerless to get anything working with this setting set to true. Thank you again sir. Much appreciated.

[2019-09-24 04:26] zwebmedia commented on #1553
Update and thank you, the command line is working now, but seems there is zero output. I can see it parsing the log file:

![image](https://user-images.githubusercontent.com/4979226/65480902-6e2ae180-debd-11e9-8ca1-f11faa7b93d3.png)

But after trying several different versions of the command, output report has zero length:

![image](https://user-images.githubusercontent.com/4979226/65480924-91ee27

[2019-09-24 08:24] AMHZR opened #1554 "how can i parse this JSON logs"
My applicaiton logs each request as follows and i want to analyze such using Goaccess..

    {"statusCode":"200","method":"POST","url":"/my_url","responseTime":"13 ms","ip":"::ffff:10.0.1.42","userAgent":"Other 0.0.0 / Other 0.0.0","data":"{"location":"[{"lat":25.2239529,"lng":55.3407724,"tm_stmp":1569196799732,"acc":3,"alt":-9,"spd":25,"mock":0,"gps":1,"net":1,"bat_lvl":24,"d_acc":1,"bearing":229

[2019-09-24 15:07] dmaziuk commented on #117
awstats? Luxury! I'm thinking wrapping our analog plus report magic setup in a docker container...

[2019-09-24 17:55] allinurl commented on #117
@nkvname need to finish the on-disk storage replacement, this is second on the list though.

[2019-09-25 08:01] zwebmedia commented on #1553
Wow nice! Got it working. The problem was output-format statement in config was sending the output to a different path and file. As soon as I commented that line out, it started working fine. Thank you again!

[2019-09-25 20:05] rahra commented on #1554
You could pre-process it with a script (e.g. perl) to reformat this into some common log file format.

[2019-09-26 16:33] fecori commented on #836
thnx!!!!

[2019-09-27 10:03] Hosting-Server-Team commented on #1427
@allinurl - I have below log format in Apache and while executing the goaccess command getting this error.

**Apache Log Format**
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined

**GoAccess Command**
goaccess  /var/log/domain.com_access_log --log-format=combined -a -o /home/domain/report.html

goaccess /var/log/virtualmin/demo.brainvire.com_access_log --log-format

[2019-09-27 16:54] allinurl commented on #1427
@Hosting-Server-Team can you please post a few lines from your access log? Thanks

[2019-09-27 21:57] allinurl commented on #1554
@AMHZR This should do it:

    goaccess access.log --log-format='%^:"%s",%^:"%m",%^:"%U",%^:"%L %^",%^:"%h",%^:"%u",%^]"%^,%^,%^,%^,%^,%^,%^,%^:"%dT%t.%^"' --date-format='%Y-%m-%d' --time-format=%T --http-protocol=no

[2019-09-28 04:21] SteveSafaron commented on #1427
On all presets get error
Have this format access log:
site.ru 172.69.69.53 - - [26/Sep/2019:00:20:53 +0300] "GET /product/test "-" "Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Build/MMB29P) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.96 Mobile Safari/537.36 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)" 0

[2019-09-28 22:43] runar opened #1555 "Use different options when generating report"
Version details:
[code]

I store data daily in an on-disk database, and generate a HTML report shortly after. What I want is to store all data, including crawlers and all, in the database, and ignore these when generating the report. I use a command similar to this, without any ignore or exclude options:

[code]

But with the following command, the `--exclude-ip` and `--ignore-crawlers` options ar

[2019-09-29 08:39] skyrim61 commented on #1548
I meet the same problem as above

[2019-09-29 09:58] rayer4u opened #1556 "k8s nginx real-time log always hang with 4w data"
I'm using goaccess to analysis a small k8s cluster ingress nginx log. It is always hang at 4w data, the server is still  generate log. After stop with control-c, the log report is successful generate with only the 4w data. I have tryed many times, no wrong only hang.
Is any thing I can do to solve this problem?

[code]

[2019-09-29 14:11] rahra opened #1557 "Podcast-related browser list"
I run a Wordpress blog where I also host a podcast. The statistics shows more the 50% of unknown browsers. So I collected a browser list which contains most user agents which are podcast related, i.e. podcast apps, media players, and podcast directories/crawlers (Itunes, Stitcher,...). This highly improved to result.
Maybe you want to integrate this into your repository, list is attached.

Best re

[2019-09-30 14:17] Sophie-Williams opened #1558 "goaccess dashboard font"
can anyone identify the font used in this image:

![test](https://goaccess.io/images/goaccess-dashboard.png)

[2019-09-30 14:28] allinurl commented on #1558
`fixed` the default on the xterm.

    -misc-fixed-medium-r-semicondensed-*-13-*-*-*-*-*-*-*

[2019-09-30 22:08] allinurl commented on #1556
Are you using the on-disk storage or in-memory? Anything in the logs? are you able to run it through `strace(1)`?

Thanks

[2019-10-03 05:49] GainfulShrimp commented on #1548
Any updates with this issue please?

[2019-10-03 07:51] AMHZR commented on #1554
this works like charm....

[2019-10-03 14:19] UpperCenter opened #1559 "--log-format=COMBINED used to work, now suddenly doesn´t."
First of all, my apologies if this is a dupe of another issue, I´ve looked about and not seen any solutions though.

I´m running and NGINX reverse proxy and used this code:
[code]

This worked until this morning. Now I'm getting this error when I run the command:
[code]

I've not changed my NGINX log format at all. This is what I've been using the whole time:
[code]

I'm using Goacces V1.3
[code]

[2019-10-03 16:39] shioku opened #1560 "Unable to open HTML file: Is a directory"
Hello,

i have a problem getting goaccess as a docker container running which i can't figure out.

**/opt/goaccess/data/goaccess.conf**
[code]

**docker run**
[code]

**docker logs**
[code]

After the start of the container it creates a folder named "index.html" within the html directory and no index.html file.

[2019-10-04 14:50] jockebq opened #1561 "Set favicon for GoAccess?"
How do I set favicon for GoAccess?
Placing a favicon.ico in the root does nothing?

Thank you!

[2019-10-04 14:54] allinurl commented on #1561
Please take a look at this [**post**](https://stackoverflow.com/questions/9943771/adding-a-favicon-to-a-static-html-page).

[2019-10-04 14:58] jockebq commented on #1561
But won't that be overwritten all the time? I have GoAccess running every 10 minutes in crontab to output a html file in my webserver.

[2019-10-04 16:32] allinurl commented on #1561
You're right. Then the easiest is to add the line [here](https://github.com/allinurl/goaccess/blob/master/src/output.c#L222) and [build](https://goaccess.io/download#installation) goaccess again. Otherwise you can try using a custom snippet in JS using the `html-custom-js /path/file.js`

[2019-10-05 11:54] ytokan opened #1562 "No time format was found on your conf file."
Hi my log format is like this

[code]

I try this config

[code]

[code]

Any help :)
Thanks

[2019-10-07 11:43] saran2250 commented on #1442
193.104.175.14<>[07/Oct/2019:09:28:28 +0000]<>www.mysite.co.uk 31<>MISS<>[no-cache]<>0.041<>"GET /w-images/googlenew2017-370x229.jpg HTTP/1.1"<>404<>"-"<>"Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 10.0; Win64; x64; Trident/7.0; .NET4.0C; .NET4.0E; .NET CLR 2.0.50727; .NET CLR 3.0.30729; .NET CLR 3.5.30729; Tablet PC 2.0; wbx 1.0.0; Microsoft Outlook 16.0.10730; Microsoft Outlook 16.0.10730; ms

[2019-10-07 15:23] canepa opened #1563 "Token doesn't match specifier '%d'"
I keep on getting this error no matter what I do:
[code]

My .goaccessrc is:
[code]

An example log file line:
`5.171.243.229 - - [02/Oct/2019:00:01:22 +0000] "GET /www.kenamobile.it/overlay_app/welcome/welcomebanner_flash5-99.html HTTP/1.1" 200 706 "-" "Mozilla/5.0 (iPhone; CPU iPhone OS 13_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148" "-" "qik1_62246||"`

[2019-10-07 15:38] allinurl commented on #1563
I'm guessing your locale is different than `EN` and your server is logging in `EN`. Please try:

    LANG="en_US.UTF-8" bash -c 'goaccess access.log'

[2019-10-08 19:59] UpperCenter commented on #1559
@allinurl Any solutions? I use this on my production server.

[2019-10-08 20:25] jockebq opened #1564 "Apt-get update goaccess configured multiple times?"
Hi,

When doing apt-get update I get this in the log:

`W: Target Packages (main/binary-amd64/Packages) is configured multiple times in /etc/apt/sources.list.d/goaccess.list:1 and /etc/apt/sources.list.d/goaccess.list:2
W: Target Packages (main/binary-all/Packages) is configured multiple times in /etc/apt/sources.list.d/goaccess.list:1 and /etc/apt/sources.list.d/goaccess.list:2
W: Target Translat

[2019-10-10 13:03] ventouris opened #1565 "How to edit config file for multiple log-formats"
The server I want to monitor provides me with quite a few different log files. All of them have also different format.

Those are the files I would like to monitor

**Apache Access**

`ip_here - - [10/Oct/2019:03:49:17 +0000] "POST /wp-cron.php?doing_wp_cron=1570679356.8990719318389892578125 HTTP/1.0" 200 238 "https://mydomain.com/wp-cron.php?doing_wp_cron=1570679356.8990719318389892578125" "WordP

[2019-10-10 22:01] allinurl commented on #1565
Currently it is not possible to parse different log formats. You can parse multiple logs with the same format though. #213 will address this issue.

[2019-10-11 02:23] rayer4u commented on #1556
Sorry, I'm already know the problem is not from goaccess. `kubectl logs` hang but `docker log` is working well. I think `kubectl logs` is not a right tool to continuous generate logs

[2019-10-11 02:23] #1556 closed

[2019-10-11 10:52] Guyver1wales opened #1566 "Documentation issue"
https://goaccess.io/man#examples

Is this incomplete??:
uder the SERVER section:
 and if you don't want to install it on your server, you can still run it from your local machine:

					# ssh root@server 'cat /var/log/apache2/access.log' | goaccess -a -

[2019-10-11 11:45] ventouris commented on #1565
I see. If I judge from the date that the issue was created, it's a long shot that we will have this functionality soon :(

[2019-10-11 14:50] jaywilliams commented on #1554
What an amazing workaround, allinurl. However, I think the bigger issue is that the application is using JSON for logging.

[2019-10-11 16:49] pauloxnet commented on #1554
Why do you think using JSON for logging is an issue?
We're storing log as [JSON lines](http://jsonlines.org/) and it's very helpful to read them directly in Python loading each line as a dictionary.

[2019-10-11 16:52] allinurl commented on #1554
Glad that worked. Closing this.

[2019-10-11 16:52] #1554 closed

[2019-10-11 17:33] jaywilliams commented on #1554
@pauloxnet, it depends on what you're using the logs for, but a well written plain-text log file, paired with the the UNIX coreutils is an amazing combo. In 30 years, I doubt people will be using JSON, as there will be some new format on the block, but plain-text will always exist.

[2019-10-11 21:51] pauloxnet commented on #1554
But in this case JSON Lines format is only plain text with coma separator and key value format, it's human readable and it's easy to to import line by line and analyze.

[2019-10-12 14:02] frinck opened #1567 "the web interface real-time can't work"
`/usr/bin/goaccess -f /var/log/nginx/access.log -o /usr/share/nginx/html/2.html --real-time-html  -p /tmp/goaccessrc `

but open the web is blank!!!,,,however the static can work

[2019-10-12 14:58] allinurl commented on #1567
Can you please post the output from your browser's console? Thanks

[2019-10-12 15:00] allinurl commented on #1565
Still there are a few major things that need to be implemented before this. Though, I do keep an eye on the most requested stuff and prioritize accordingly. Thanks for the heads up.

[2019-10-12 15:00] allinurl commented on #1565
Closing this as it is a dup. Feel free to reopen it if needed.

[2019-10-12 15:00] #1565 closed

[2019-10-12 15:04] allinurl commented on #1566
Are you getting some sort of error? For static HTML should work fine. There's an opened issue #945 that affects the real-time feature through ssh.

[2019-10-12 15:06] allinurl commented on #1564
Have you tried any of [these](https://askubuntu.com/a/846162)?

[2019-10-12 16:23] Guyver1wales commented on #1566
ah i was trying real-time, it was erroring

[2019-10-12 22:17] myoriginalusername opened #1568 "Ubuntu: unrecognized option '--ssl-cert'"
Apologies if I'm missing something straightforward here but I'm not able to use the `--ssl-cert` or `--ssl-key` commands.

The error I get is:
[code]
goaccess is installed on an Ubuntu 18.04 LTS box and I made sure to install it from the Official GoAccess Debian & Ubuntu repository (i.e. deb.goaccess.io) as I know the standard Ubuntu repo can be outdated.

Any ideas?

[2019-10-13 00:57] frinck commented on #1567
browser's console?????this is the url you can hava a try:
`https://www.xierunfa.top/2.html`

[2019-10-13 03:40] allinurl commented on #1568
What's the output of `goaccess -V`?

[2019-10-13 03:44] allinurl commented on #1567
Seems like you are using HTTPS but not `wss`. Please take a look at the `--ws-url` option under server [options](https://goaccess.io/man#options) and `--ssl-cert` & `--ssl-key`

[2019-10-13 06:51] frinck commented on #1567
thanks for your patience,now the using` wss` and `--ssl-cert`, `--ssl-key`

`[root@frinck cert]# goaccess /var/log/nginx/access.log -o /usr/share/nginx/html/4.html  -p /tmp/goaccessrc --real-time-html --ws-url=wss//www.xierunfa.top --ssl-cert=a.pem --ssl-key=a.key`
output:
`WebSocket server ready to accept new client connections`
but still like order,[site](www.xierunfa.top/3.html)

[2019-10-13 08:19] frinck commented on #1567
use chrome work well

[2019-10-13 08:53] frinck commented on #1567
however the data always is statistic ,do not update even use the --real-time-html

[2019-10-14 00:00] bvisness commented on #1461
Yeah, this behavior is extremely weird, and basically renders percentages useless as far as I can tell. It makes sense to calculate hit percentages based on total number of hits, but as far as I can tell it is not going by total number of hits but instead by the first row of the table.

For example, here I am sorting by hits:

<img width="385" alt="image" src="https://user-images.githubusercontent

[2019-10-14 15:32] XOR-LIFE opened #1569 "Custom format with only IP and UA"
here is my nginx access_log conf
[code]

a sample of the access log file
[code]

[2019-10-15 13:58] allinurl commented on #1569
GoAccess requires the following fields:

[2019-10-15 14:38] XOR-LIFE commented on #1569
@allinurl
What is the minimum log format in Nginx?

[2019-10-15 14:40] allinurl commented on #1569
Not sure. I'm guessing only one field?

[2019-10-15 14:44] XOR-LIFE commented on #1569
my current log format as you saw is
[code]

as i'm only interested in logging IP's, OS and Browsers.

What else should I add as a minimum so that goaccess would accept my log file ? or anyway i could bypass that?

[2019-10-15 16:16] XOR-LIFE commented on #1564
go to `/etc/apt/sources.list.d/`
and check the duplicate file/line and delete it.

[2019-10-15 16:22] XOR-LIFE commented on #1569
@allinurl

As per your guideline, this is my log format now
[code]

and when i start goaccess i use this command
[code]

Then I choose `NCSA Combined Log Format` and then I delete ` %s %b "%R"` from log format

My question is how can I append this to my command?

[2019-10-15 16:37] XOR-LIFE commented on #1569
**I found the solution and its working great !!**
I just need you to confirm if it's right

[code]

[2019-10-15 16:37] XOR-LIFE commented on #1569
**I found the solution and its working great !!**
I just need you to confirm if it's right

[code]

[2019-10-15 16:45] allinurl commented on #1569
Glad you got it work. That looks right to me for the minimum amount of data.

[2019-10-15 16:46] allinurl commented on #1564
Any updates on this?

[2019-10-15 17:05] allinurl commented on #1569
--ignore-panel=REQUESTS_STATIC --ignore-panel=NOT_FOUND --ignore-panel=VISIT_TIMES --ignore-panel=REFERRERS --ignore-panel=REFERRING_SITES --ignore-panel=KEYPHRASES --ignore-panel=STATUS_CODES

[2019-10-15 17:05] allinurl commented on #1569
or if you prefer & cleaner, through the config file.

[2019-10-15 17:09] XOR-LIFE commented on #1569
@allinurl

Well, I will stick with this now. Thank you very much for your time :)

[2019-10-15 17:09] #1569 closed

[2019-10-15 22:04] 0FiRE0 opened #1570 "HTML Graph Rendering Error"
The generated HTML file is causing an error in the browser while rendering the page, which causes all the graphs to disappear.
The error is caused by extra 2 characters appended at the end of the script which are "j!" before closing the "</script>" tag.

Issue appearance:
![Goaccess Issue](https://user-images.githubusercontent.com/19993814/66873748-eb73de80-efb1-11e9-9d8d-9118561ae374.PNG)

Extra

[2019-10-16 03:09] Artgerry opened #1571 "macOS 10.15 nginx access_log Token doesn't match specifier '%d"
Hello,

 I keep on getting this error no matter what I do:

`Token '16/Oct/2019' doesn't match specifier '%d'`

The command I am using is:
`goaccess test.nginx.com.log -o ../html/report.html --real-time-html --time-format='%H:%M:%S' --date-format='%d/%b/%Y' --log-format=COMMON`

I tried other methods and it was the same error.example:
`goaccess test.nginx.com.log -o ../html/report.html --real-time

[2019-10-16 11:34] stbc opened #1572 "Merging logfiles up front?"
Hi everybody, got a question regarding logfiles from a cluster. We got a varnish plus cluster running, each node writing its own logfile. Do we need to merge them after we ship them to the goaccess host for analysis? Or is it sufficient to use the multiple log file feature. Note: those files and thus their entries are from the same time span.

[2019-10-17 11:59] allinurl commented on #1572
There's no need for merging them. I'd just feed the into goaccess, e.g.,

    goaccess cluster1.log cluster2.log

[2019-10-17 13:54] allinurl commented on #1570
Thanks for reporting this. I don't see any `j!` characters on the [generated report](view-source:https://rt.goaccess.io/?20190828082924). Are you using a different char encoding? Does it happen when parsing only a few lines, e.g., 5 lines? Thanks

[2019-10-17 13:56] allinurl commented on #1571
Looks like your access log has english dates while your system locale is set to Chinese.

    LANG="en_US.UTF-8" bash -c 'goaccess access.log --log-format=COMBINED'

[2019-10-17 14:04] allinurl commented on #1566
Closing this as  #945 should fix the the real-time issue.

[2019-10-17 14:47] Artgerry commented on #1571
it work!
I added it`LANG="en_US.UTF-8"` in front of the command line.

The command I am using is:
`LANG="en_US.UTF-8" bash -c  'goaccess test.nginx.com.log -o ../html/report.html --real-time-html --time-format='%H:%M:%S' --date-format='%d/%b/%Y' --log-format=COMMON'`

Maybe the system language affects the match

anyway,Thank you very much!

[2019-10-17 14:48] #1571 closed

[2019-10-17 16:37] allinurl commented on #1567
@frinck `The page you are looking for is not found.`

[2019-10-17 18:16] 0FiRE0 commented on #1570
The character encoding had not been changed, it used to work just fine, and this issue appeared after updating from the verified commit on "13 Apr 2019" (where everything was fine) to the latest verified commit.

The parsed nginx log was more than 1,000 lines.

Please note that I am using the Docker image, and changing the Dockerfile by commenting the `CMD ["--help"]` line because it is causing th

[2019-10-18 09:20] szazo opened #1573 "Unknown operating system"
Firstly thank you for your hard work.

I parsed an IIS log file (in W3C format), and in the result, most of the operating system was "Unknown"

In the log file, user agents stored in the following format:
`Mozilla/5.0+(Windows;+U;+Windows+NT+6.0;en-US;+rv:1.9.2)+Gecko/20100115+Firefox/3.6)`

I checked the source and found that however in the code (parser.c line 1226) there is a comment that `+` sy

[2019-10-18 11:53] sunardo opened #1574 "Custom Log with delimiter didn't work"
Hi,

I have costum log Apache HTTPD:
`LogFormat "%{%Y%m%d,%H%M%S}t,%{msec_frac}t,%h,%D,\"%r\",%B,\"%{Referer}i\",\"%{User-agent}i\",%P,%v,%>s"`

Output:
`20191018,133018,277,202.51.110.214,1171,"GET / HTTP/1.1",3503,"-","Mozilla/5.0 (redhat-x86_64-linux-gnu) Siege/3.0.8",1127,mediasport.id,200`

I try with this but It didn't work :
[code]

Please help me

Thank you.

[2019-10-20 18:48] myoriginalusername commented on #1568
Nevermind. User error on my part as I had two conflicting installations of goaccess.

[2019-10-20 18:48] #1568 closed

[2019-10-21 00:25] pomusa commented on #1548
if you are using centos... couple of thing to check if you are on Centos.
1. if you have SeLinux running, turn it off
# getenforce  -- to check
if you have permissive Enforced, turn it off
e.g.
# getenforce
Enforcing
# setenforce Permissive

2. Check your firewall, if you have  the port 7890 enabled
# firewall-cmd --list-ports
# firewall-cmd --list-services

e.g.
# firewall-cmd --list-services
coc

[2019-10-21 14:30] allinurl commented on #1574
Please try:

    goaccess access.log --log-format='%d,%t,%^,%h,%D,"%r",%b,"%R","%u",%^,%v,%s' --date-format=%Y%m%d --time-format=%H%M%S

[2019-10-21 14:32] allinurl commented on #1573
Thanks for reporting this. Interesting, are you in the latest version?

[2019-10-21 14:42] phatjak commented on #1455
I am running goaccess 1.1.1 (cygwin64 terminal on Windows 10), and passing the command:

$ goaccess -f access.log -o report.html --log-format=COMBINED --real-time-html

There seems to be an issue with parsing (real-time) as it stalls at some point and never comes back.

Nonetheless, I was able to produce static html reports and run goaccess via terminal as well.

[2019-10-21 15:42] szazo commented on #1573
I am using 1.3 version from release page (GoAccess 1.3 - Friday, November 23, 2018)

Now I checked `parser.c` on master, it also doesn't contain code for decoding `+` into space for the UserAgent

[2019-10-22 16:23] gawlk opened #1575 "Errors: unexpected token: '!' + AreaChart is not defined"
Hi,

I tried to play a little bit with this wonderful analyzer, I must admit that it was a bit a struggle but I got it working. The page loads but sadly it won't show any graphs and print two erros in the console:

- SyntaxError: unexpected token: '!'
- ReferenceError: AreaChart is not defined

Does anyone have any idea how to fix it ?

Thanks,

K

[2019-10-22 16:44] allinurl commented on #1575
I'm guessing this is related to #1570. Did you build from development/upstream?

[2019-10-22 19:29] gawlk commented on #1575
Indeed !

[2019-10-23 09:34] milhangit commented on #668
@allinurl  my Log format is below on Nginx, can you assist as im getting the same error.

-------------------------------------------
  log_format  main    '$remote_addr - $remote_user [$time_local] $request '
                        '"$status" $body_bytes_sent "$http_referer" '
                        '"$http_user_agent" "$http_x_forwarded_for"';
    log_format  bytes   '$body_bytes_sent';

[2019-10-23 09:37] billy34 commented on #1560
Had the same problem and solved it by pre-creating an empty index.html file

[2019-10-23 09:49] milhangit opened #1576 "Custom log format - Verify your log/date/time format"
My nginx config file

[code]

[2019-10-23 09:59] milhangit commented on #1576
175.157.227.243 - - [23/Oct/2019:15:28:11 +0530] GET /article/user/getArticleUser?id=5da7070fd2fcda6c53e53c2c&appId=5be4092d2a1a363867061d8d&deviceUUID=d4dab4cd13d91308&MSISDN=94774075077 HTTP/1.1 "200" 386 "https://xxxxxxxx/developer/xxxxxx/temp/5bx090b2ax363x061d8c/progressiveTxplates/5be40xxxd2a1a3638670xx1d8d/?157182x675395=" "Mozilla/5.0 (Linux; Android 5.1.1; A37fw Build/LMY47V; wv) AppleWeb

[2019-10-23 10:04] giopas opened #1577 "[Help] Realtime HTML not working"
Hi,

I am trying to use goaccess to analyse logs from Caddy.

**GoAccess v. 1.3**

GoAccess starting path:

```goaccess --no-global-config -o /share/Web/goaccess/index.html --real-time-html --config-file=/share/Public/script/goaccess/goaccess.conf --geoip-database /share/Public/script/goaccess/GeoIP/GeoLite2-City.mmdb  ```

goaccess.conf:

[code]
**Problem:**

I can access from the browser the `in

[2019-10-23 10:54] GainfulShrimp commented on #1577
From this snippet of the error that you shared... `connection to 'wss://[my ip]:7890/' failed`, it looks like your browser is trying to make a secure websockets connection (i.e. `wss:` not `ws:`) to gwsocket.

For that to work, you'll either need to compile goaccess for TLS and configure it with a cert and key, or you'll need to reverse-proxy the websocket server using Nginx (or, in your case, Cad

[2019-10-23 11:54] GainfulShrimp commented on #1548
Thanks for the comment @pomusa, but I don't think it's relevant to this issue, unfortunately.

I don't use Centos anyway, but the problem is that I've got websocket connections working fine, yet the 'Last Updated' value never changes (the statistics/charts do though).

[2019-10-23 15:24] allinurl commented on #1490
Any updates on this? If still not working, please feel free to attach the access log so I can run on it on y end.

[2019-10-23 15:25] allinurl commented on #1497
Closing this. Feel free to reopen it if needed.

[2019-10-23 15:25] #1497 closed

[2019-10-23 15:25] allinurl commented on #1500
Closing this. Feel free to reopen it if needed.

[2019-10-23 15:25] #1500 closed

[2019-10-23 15:25] allinurl commented on #1509
Closing this. Feel free to reopen it if needed.

[2019-10-23 15:25] #1509 closed

[2019-10-23 15:26] allinurl commented on #1528
Closing this. Feel free to reopen it if needed.

[2019-10-23 15:26] #1528 closed

[2019-10-23 15:26] allinurl commented on #1511
Closing this. Feel free to reopen it if needed.

[2019-10-23 15:26] #1511 closed

[2019-10-23 15:27] allinurl commented on #1352
Closing this. Feel free to reopen it if needed.

[2019-10-23 15:27] #1352 closed

[2019-10-23 15:28] allinurl commented on #1574
Closing this. Feel free to reopen it if needed.

[2019-10-23 15:28] #1574 closed

[2019-10-23 15:28] allinurl commented on #1539
Closing this. Feel free to reopen it if needed.

[2019-10-23 15:28] #1539 closed

[2019-10-23 15:29] allinurl commented on #1446
Closing this. Feel free to reopen it if needed.

[2019-10-23 15:29] #1446 closed

[2019-10-23 15:30] allinurl commented on #1348
Closing this. Feel free to reopen it if needed.

[2019-10-23 15:36] allinurl commented on #1121
Closing this. Feel free to reopen it if needed.

[2019-10-23 15:36] #1121 closed

[2019-10-23 15:37] allinurl commented on #1517
Closing this. Feel free to reopen it if needed.

[2019-10-23 15:37] #1517 closed

[2019-10-23 15:37] allinurl commented on #1538
Closing this. Feel free to reopen it if needed.

[2019-10-23 15:37] #1538 closed

[2019-10-23 16:08] allinurl commented on #1548
@GainfulShrimp Working on this...

[2019-10-23 16:18] allinurl commented on #1557
Thanks for sharing this. Would you be able to submit a PR?

[2019-10-23 17:41] giopas commented on #1577
Hi!

Thanks for the quick feedback! Indeed, I am connecting through a TLS reverse proxy. But generally everything is handled by Caddy (which automatically registers through Letsencrypt and ensures automatic http to https redirect).

If I connect through HTTP it seems working (but I will double check).

What would I need to change on goaccess in case I want to connect through TLS?

Thanks

[2019-10-23 17:55] UpperCenter commented on #1559
Thanks for your reply, I ended up just resting my NGINX config and reinstalling Goaccess, I lost some logs, but It's not the end of the world. Thanks anyway!

[2019-10-23 17:55] #1559 closed

[2019-10-23 19:44] shioku commented on #1560
Thank you for the tip. It worked perfectly.

[2019-10-23 19:44] #1560 closed

[2019-10-24 03:53] milhangit commented on #1576
@allinurl  Great, it worked. Thank you.

[2019-10-24 03:53] #1576 closed

[2019-10-25 08:19] romanek-adam commented on #1575
Same here on sources from master. Reverted back to v1.3 and it's all good.

[2019-10-25 20:55] rahra commented on #1557
Just filed a PR.

[2019-10-25 22:02] 25808383 opened #1579 "Token '﻿2015-09-09' doesn't match specifier '%d'"
Did a fair amount of digging and still not seeing what i'm missing here.

[code]

[2019-10-25 22:06] allinurl commented on #1579
This works for me:

    goaccess access.log --log-format='%d %t %h %^ %^]%m %U %q %s %D %b %^' --date-format=%Y-%m-%d --time-format=%T --http-protocol=no --ignore-panel=OS --ignore-panel=BROWSERS --ignore-panel=REFERRING_SITES

[2019-10-25 22:14] 25808383 commented on #1579
Same result, I am using CowAxcess if that makes a difference.

bash-4.4$ goaccess output.log --log-format='%d %t %h %^ %^]%m %U %q %s %D %b %^' --date-format=%Y-%m-%d --time-format=%T --http-protocol=no --ignore-panel=OS --ignore-panel=BROWSERS --ignore-panel=REFERRING_SITES

Parsed 1 linesproducing the following errors:

Token '﻿2015-09-09' doesn't match specifier '%d'

[2019-10-25 22:16] allinurl commented on #1579
What's your locale? e.g., `locale -a`

[2019-10-26 15:17] MatthiasLohr commented on #1280
Is there any option for not hardcoding the reverse proxies hostname in the goaccess configuration?

Currently, I have: `domain.tld:443/stats/ws` - is there any option to get rid of `domain.tld` in the configuration? I want to run the same setup on different nodes with different hostnames. Somehow I would expect that the link resolution is similar to HTML: If you specify a relative path, it's based

[2019-10-27 14:03] 25808383 commented on #1579
I tried it in ubuntu (on windows) and got the same result. Cygwin bundled with goaccess didn't have the locale command built-in. I also tried setting the LANG variable but didn't make a difference.

**goaccess output.log --log-format='%d %t %h %^ %^]%m %U %q %s %D %b %^' --date-format=%Y-%m-%d --time-format=%T --http-protocol=no --ignore-panel=OS --ignore-panel=BROWSERS --ignore-panel=REFERRING_SI

[2019-10-27 14:26] 25808383 commented on #1579
When I look at the file in VI/VIM I don't show a space before the first line but I do see it when I view via "head". When I delete the first line the space shows up on whatever is the first line.

$ head output.log
 ﻿2015-09-09 18:20:26 192.168.3.35 - - [3]GET /EFTClient/Shared/forms.css - 200 3687 353 - 443
2015-09-09 18:20:26 192.168.3.35 - - [5]GET /EFTClient/Shared/PTCs.js - 200 2195 371 - 443

[2019-10-27 15:46] 25808383 commented on #1579
The space was the issue, I still don't get where that is coming from and why it persists (on the new first line) when I delete the line but I just read the files in backward with tac and was able to get my data imported.

[2019-10-27 15:46] #1579 closed

[2019-10-28 02:43] SeaMonkey82 commented on #625
I'm able to run real-time for both of my sites individually, but when I try doing them at the same time using the instructions above, the second one just hangs at 'Parsing. . . [0] [0/s]'. CTRL+C won't stop the process either.

Here are my commands:
`zcat -f /var/log/apache2/www.site1.access.log.*.gz | goaccess /var/log/apache2/www.site1.access.log -a -d -o /var/www/html/site1.html --real-time-htm

[2019-10-28 07:44] omidraha commented on #136
Worked for me:

`$ goaccess -f nginx.log  --log-format="%h %^[%d:%^] \"%r\" %s %b \"%R\" \"%u\""   --date-format="%d/%b/%Y"  --time-format="%T"  -a > report.html
`

[2019-10-28 09:15] pangxudong commented on #1427
@allinurl - hi，I have below log format in nginx.

**nginx.conf**
`log_format  main 'v1{|]$remote_addr:$remote_port{|]$http_x_forwarded_for{|]$upstream_addr{|]$time_iso8601{|]$request_method{|]$server_name{|]$uri{|]$args{|]$status{|]$http_referer{|]$body_bytes_sent{|]$request_time{|]$upstream_response_time{|]$http_user_agent{|]$sent_http_location{|]$http_cookie{|]$http_expect';
`

**log sample**
`v

[2019-10-28 13:50] allinurl commented on #625
@SeaMonkey82 I'm guessing you are using the on-disk storage. You will need different path where the DB files are stored `--db-path=/path/instance1/`.

[2019-10-28 16:07] SeaMonkey82 commented on #625
Nope.

[2019-10-28 20:51] welchr commented on #1570
I was having this same issue as well, but updated to the latest docker image and it seems to be resolved. I'm using:

[code]

Maybe it was fixed in 9271b97c4e1bdcad143e9263e9f1e89dde5fa5e5?

[2019-10-29 14:10] allinurl commented on #1557
Merged. Thank you!

[2019-10-29 14:10] #1557 closed

[2019-10-29 17:30] Jkkarr2015 opened #1582 "[Help]Is there a way to only view data from a set range date?"
I want to be able to see how many "200" status codes in a month. Is there any way for me to get that kind of data? I saw there was a date parameter but it looks like it only takes one date and not a date range.

[2019-10-29 18:12] #1582 closed

[2019-10-31 03:38] inisis opened #1583 "Format Error"
Hi,

    goaccess is amazing!
    But I encountered a problem,

    I use this 'goaccess -a -d -f /var/log/nginx/access.log --log-format=%h %^[%d:%t %^] "%r" %s %b "%R" "%u" %D --date-format=%d/%b/%Y --time-format=%T -o /root/report.html --real-time-html' to parse my log, but I get following error.

Token '185.56.159.254 - - [31/Oct/2019:06:35:30 +0800] "GET / HTTP/1.1" 200 11 "-" "Mozilla/5.0 (Wi

[2019-10-31 11:06] Jkkarr2015 opened #1584 "[Help]Date filtering only works for today's date"
I'm not sure what I'm doing from but I am trying to get a filter working for say yesterday. I used the format from this section on [filtering](https://github.com/allinurl/goaccess#filtering) results. Here is the command I try to run :

`sed -n '/30\/Oct\/2019/,$ p' /var/log/nginx/access.log | goaccess -a - -p /etc/goaccess.conf`

For some reason, this gives me no results, but if I try this:

sed -

[2019-10-31 11:43] Jkkarr2015 commented on #1584
I figured out a way to fix the status results. If I type this in it will work;

`sudo zcat -f /var/log/nginx/access.log* | awk '$9~/200|400/' | goaccess -a - -p /etc/goaccess.conf`

I tried to add the date range filter to this string but it would not work. It gave me very bizarre results. I typed this in:

`sudo zcat -f /var/log/nginx/access.log* | sed -n '/29\/Oct\/2019/,$ p' | awk '$9~/200|400/'

[2019-10-31 15:01] fmartineza opened #1585 "Problem with the log format"
Hello
The first thank your help
I have the following error
 Token for '% b' specifier is NULL.

I have the default format after installing ssl (yum install mod_ssl)

[2019-10-31 15:23] fmartineza commented on #1585
I use
CustomLog logs/ssl_request_log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

[2019-10-31 20:06] d-pollard opened #1586 "What does the config file look like for the demo?"
For whatever reason, I cannot get the dropdown to work on my goaccess server:

<img width="1332" alt="Screen Shot 2019-10-31 at 3 04 54 PM" src="https://user-images.githubusercontent.com/16292606/67982010-d624c400-fbef-11e9-902a-4ed21eda4a91.png">

Mind sharing the (non-private) config information with me?

[2019-10-31 21:55] giopas commented on #1577
So, here is what I tried:

On caddy.conf:
[code]

On the start goaccess script:

 `goaccess --no-global-config -o /share/Web/goaccess/index.html --real-time-html --config-file=/share/Public/script/goaccess/goaccess.conf --geoip-database /share/Public/script/goaccess/GeoIP/GeoLite2-City.mmdb –ws-url=wss://wss.domain.com`

However, I still do not get the green dot...

What am I missing again?

[2019-11-01 02:30] allinurl commented on #1586
Looks like a log-format issue. Please post a few lines from your access.log.

[2019-11-01 02:42] allinurl commented on #1584
what's the output of:

    sudo zcat -f /var/log/nginx/access.log* | sed -n '/29\/Oct\/2019/,$ p' | awk '$9~/200|400/' | less

[2019-11-01 02:43] allinurl commented on #1583
Please enclose the log-format in single quotes:

    goaccess -a -d -f /var/log/nginx/access.log --log-format='%h %^[%d:%t %^] "%r" %s %b "%R" "%u" %D' --date-format=%d/%b/%Y --time-format=%T -o /root/report.html --real-time-html

[2019-11-01 08:07] #1583 closed

[2019-11-01 11:33] Jkkarr2015 commented on #1584
The same date range of 10/22 - 10/29.

[2019-11-01 15:58] d-pollard commented on #1586
Oddly, I got it to work by making it so only 1 panel showed on a row

[2019-11-01 16:05] allinurl commented on #1586
Great, here's the config file from the demo site:
[code]

[2019-11-01 16:08] allinurl commented on #1586
Sorry, I originally misread this post. Can I ask which dropdown are you referring to? Thanks

[2019-11-01 16:15] d-pollard commented on #1586
@allinurl - the one in the screenshot - I have them open, they are from the demo

[2019-11-01 16:15] d-pollard commented on #1586
I probably should have clarified that

[2019-11-01 16:19] allinurl commented on #1586
You would need to enable `agent-list true` or `-a`

[2019-11-01 16:21] allinurl commented on #1585
Can you please post a few lines from your access log? Thanks

[2019-11-01 16:24] allinurl commented on #1570
@welchr is right. @0FiRE0 please try building from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) as I think this was already fixed upstream.

[2019-11-01 16:36] #1586 closed

[2019-11-01 17:22] allinurl opened #1587 "Add theme-color Meta Tag to report html"
`<meta name="theme-color" content="##1e1e2f">`

[2019-11-01 17:28] allinurl opened #1588 "Provide a valid apple-touch-icon to HTML report"
For ideal appearance on iOS when users add to the home screen, define an apple-touch-icon. It must point to a non-transparent 192px (or 180px) square PNG (base64).

[2019-11-03 12:39] TravelTrader opened #1589 "Possible for a Shared Server?"
I would like to install `goaccess` on a shared server. I do not have `make` or a `sudo`-access. Is there any possibility?
The logfiles are located under /.../basicdirectory/logs.

Thank you!

[2019-11-04 15:24] allinurl commented on #1589
Technically you should be able to, however, you would need to build it on a different machine with the same architecture and just copy/scp the binary to the shared server.

[2019-11-04 22:02] giopas opened #1590 "Problem with Geo Location (Unknown)"
I am running GoAccess to gather some stats on several reverse proxies handled by Caddy.

To launch GoAccess I have customized a startup script:

[code]
goaccess.conf is the following:
[code]
If I go on goaccess.log, I have the following type of entries:
[code]
Does anyone understand why I only get "Unknown" in the Geo Location tab?

Thanks

[2019-11-05 15:21] TravelTrader commented on #1589
Puh, I will try it... any hints or instructions for that online? I didn't find anything.

[2019-11-06 01:17] lepture opened #1591 "Log format of full URL"
Here is an example of my access log:

[code]

So I tried with `%v`

[code]

But goaccess told me that `%v` is NULL.

[2019-11-06 05:47] yourmoonlight commented on #989
had the same issues here

[2019-11-06 12:27] MacGyver27 commented on #716
same for Debian 10!!
Debian 4.19.67-2+deb10u1 (2019-09-20) x86_64 GNU/Linux
[code]

[2019-11-06 12:28] MacGyver27 opened #1592 "GoAccess debian repository install does not work on Stretch (libssl1.0.2)"
same as #716
[code]

[2019-11-06 15:25] vitaocode opened #1593 "read from one host several sites on other servers"
Hi, first of all congratulations for the great work.
I have 3 servers each server has apache with vhosts configured.
The servers are in the cloud and each access via ssh with private key.

I have a local server, I'm using this server to connect to one of the cloud servers and parse the other_vhosts_access.log of this server, works fine with this command:

    ssh -i chave.pem user@address 'tail -f

[2019-11-06 18:07] allinurl commented on #1593
Please take a look at [**this**](https://github.com/allinurl/goaccess/issues/625#issuecomment-272905761) issue, it looks like it will address your question. i.e., Different pipes (FIFOs) `--fifo-in=/path/in.1` `--fifo-out=/path/out.1`.

[2019-11-06 22:25] allinurl commented on #989
@yourmoonlight I think this was addressed upstream. Could you please try building from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) and let me know if that solved the issue? Thanks.

[2019-11-06 22:29] allinurl commented on #1591
Closest you could get due to the parser needing a delimiter between specifiers would be

    goaccess log --log-format='%h - [%d:%t %^] "%m %^://%v/%U %H" %s %b "%R" "%u" "%T"' --date-format='%d/%b/%Y' --time-format=%T

[2019-11-07 02:24] lepture commented on #1591
Thanks, that's what I'm doing now.

[2019-11-07 02:45] ljybill opened #1594 "goaccess match date'string error on macos"
hi, guys.
I am sorry, my English is very weak.
Please see the picture below

![goaccess-question](https://user-images.githubusercontent.com/31462342/68355689-fe11ab80-014a-11ea-864b-4b32c8f19ba3.gif)
left is macos and right is centos7 with virtualBox

I use the same access.log file, but macos failed， centos 7 success.
I can't understand this phenomenon.

access.log:
[code]

version： macOS 10.14.5

[2019-11-07 11:27] ahelito opened #1595 "No charts on HTML output"
Hi
I run goaccess like:
`cat access_log.* | goaccess --log-format=COMBINED -a -o stats.log.html`
But i can't see any chart on the browser, I get only tables.
goaccess shows no error while parsing

My log lines are like follows:
[code]

[2019-11-07 12:56] ahelito commented on #1595
Just saw Issue #1570 [https://github.com/allinurl/goaccess/issues/1570](url)
And revovig the extra "j!" fixes the problem

[2019-11-07 13:50] almoreau opened #1596 "IIS 8.5 : Token 'server' doesn't match specifier '%m'"
Hello,

I have the following issue and tried a lot of answers from other threads, but no one did it for me :

my log is like that  :

[code]

Unfortunately,  when using

.\goaccess.exe -f u_ex181005_x.log --log-format='%d %t %^ %m-%m-%-%-% %U %q %^ %^ %h %u %^' --date-format=%Y-%m-%d --time-format=%T

I have this result

[code]

I tried a lot of other log format configurations, but i am stuck here

[2019-11-07 15:38] allinurl commented on #1596
This should work:

    goaccess access.log --log-format='%d %t %^ %^ %^ %m %U %q %^ %^ %h %H %u %^ %R %v %s %^ %^ %b %L %^' --date-format=%Y-%m-%d --time-format=%T

[2019-11-07 15:48] allinurl commented on #1595
Did you build from development to fix this issue?

[2019-11-07 16:23] vitaocode commented on #1593
Works fine after created diferent pipes...thanks a lot.

[2019-11-07 16:34] ahelito commented on #1595
No, I got it installed from the SuSE Leap 15.0 repo (v1.3)
What fixed the issue was to manually edit the html output and remove the "j!"

[2019-11-07 16:39] allinurl commented on #1595
Would you be able to build from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) and confirm that it fixes the issue? Thanks.

[2019-11-07 16:40] allinurl commented on #1593
Glad that solved the issue. Closing this. feel free to reopen it if needed.

[2019-11-07 16:40] #1593 closed

[2019-11-07 16:40] allinurl commented on #1591
Glad that solved the issue. Closing this. feel free to reopen it if needed.

[2019-11-07 16:40] #1591 closed

[2019-11-07 17:01] ahelito commented on #1595
[code]
gives error to me:

[code]

I tried
[code]
and I could build, but html output is still broken (needs to be fixed manually)

[2019-11-07 18:51] srikarrampa opened #1597 "No config file used error"
Hi!
I have recently started using goaccess on my Windows PC through CowAxess and I'm encountering the following issue when I enter
goaccess C:\cowaxess_x64\Logfles\access.log.1 -c
(I have selected the NCSA Combined Log Format)
GoAccess - version 1.3 - Jul 18 2019 15:50:59
Config file: No config file used

Fatal error has occurred
Error occurred at: src/parser.c - read_log - 2728
Unable to open the

[2019-11-07 20:50] #1597 closed

[2019-11-08 00:38] lepture commented on #1591
Thanks.

[2019-11-08 02:35] xxiaocheng commented on #1563
It`s work for me ,thank you.

[2019-11-08 09:05] almoreau commented on #1596
Thank you very much, it is ok now!!

[2019-11-08 16:17] vitaocode opened #1598 "group requested files (URLS)"
good afternoon
I have two portals on the same server on a single vhost.

The difference between the two is in the image below:
![image](https://user-images.githubusercontent.com/31347646/68491458-a8f89700-0229-11ea-8618-ca8328ab139e.png)

both begin with the letter P but one ends with the letter O and the other with the letter T.
so we call p1p0 and p2pt.

would like to group REQUESTED FILES (URLS

[2019-11-10 21:59] zhongxinghong opened #1599 "GoAccess 1.3 crashed by Sig 11"
[code]

[2019-11-11 11:27] phatjak opened #1600 "Token '2019-08-07' doesn't match specifier '%h'"
I am trying to load an IIS log file to goaccess, and I get the message above.

Any suggestions? I have tried to edit the goaccess.conf file but no progress.

[2019-11-11 18:12] allinurl commented on #1596
Glad that worked. Closing this.

[2019-11-11 18:12] #1596 closed

[2019-11-11 18:20] allinurl commented on #1597
Just for the record, seems like the issue is related to not finding the access log and not the config file. The `No config file used` is just a note not part of the error.

Feel free to reopen it if needed.

[2019-11-11 18:21] allinurl commented on #1594
This may be an issue related to locale. Are you able to run it as:

    LANG="en_US.UTF-8" bash -c 'goaccess access.log'

[2019-11-11 23:27] allinurl commented on #1600
Please post a few lines from your access log and the description of each field.

[2019-11-11 23:29] allinurl commented on #1599
Thanks for reporting this. Would you be able to run this through `gdb` and/or `strace`?

[code]

[2019-11-11 23:30] allinurl commented on #1598
Have you checked this section of [**README**](https://github.com/allinurl/goaccess#virtual-hosts)?

[2019-11-11 23:38] vitaocode commented on #1598
Yes, i read Full readme before any questions, but i not understand How to group...Sorry man.
You can Help?

[2019-11-12 09:37] phatjak commented on #1600
#Software: Microsoft Internet Information Services 10.0
#Version: 1.0
#Date: 2019-06-25 00:47:37
#Fields: date time s-ip cs-method cs-uri-stem cs-uri-query s-port cs-username c-ip cs(User-Agent) cs(Referer) sc-status sc-substatus sc-win32-status time-taken
2019-06-25 00:47:37 10.22.1.7 POST /apc/apcwebservice.asmx - 443 - 3.216.62.60 Mozilla/4.0+(compatible;+MSIE+6.0;+MS+Web+Services+Client+Protoc

[2019-11-12 09:48] ljybill commented on #1594
tks，this command is useful！

[2019-11-12 09:48] #1594 closed

[2019-11-12 10:18] zhongxinghong commented on #1599
Oh, It's so sad that I can't reproduce this bug now ... I run the same command `tail -f access.log | egrep -v "jsapiver|token|hasnew|images|info|search" | goaccess -`, but this time it works well. Maybe farther observation is required.

[2019-11-12 10:19] zhongxinghong commented on #1599
Actually I could only encount this bug when I use the `grep` or `egrep` command in pipe, if I directly use `tail -f access.log | goaccess -` or `goaccess -f access.log`, there is no bug at all.

[2019-11-12 10:39] zhongxinghong commented on #1599
I tried to build from src today. When I ran command `./configure --enable-debug --enable-tcb=btree --enable-geoip=legacy --enable-utf8`, I encounted these two errors:
[code]
[code]
I ran these two commands, then everything went well.
[code]

I updated `goaccess` to the latest version from apt by following the README.md guide under this repo two days ago.
[code]

Today I checked the version of this

[2019-11-12 10:42] zhongxinghong commented on #1599
I've also ran `gdb` as mentioned above, but no error occured.

[2019-11-13 16:44] vitaocode commented on #1598
Good Morning,
I was able to test the recommendation. like:
tail -f -n +1 /var/log/apache2/other_vhosts_access.log | stdbuf -o0 awk '$8=$1$8'

however what happens is:
the domain is one!
What changes are the folders that will be accessed.

for example.

domain / folder1
domain / folder2
domain / folder1 /
domain / folder2 /
I want to group domain / folder1 with domain / folder1 /
and
domain / folde

[2019-11-14 03:50] allinurl commented on #1598
This sounds very similar to [**this**](https://github.com/allinurl/goaccess/issues/673#issuecomment-283457620). Essentially you would need to prepend your domain/folder name to the request via awk and pass it to goaccess.

[2019-11-14 15:29] vitaocode commented on #1598
works fine... thanks in advanced

[2019-11-14 15:38] vitaocode opened #1602 "How to edit html"
Hi,
I want to edit HTML to translate the language to pt-br.
Wich files do i have to change to recompile

[2019-11-14 15:38] allinurl commented on #1598
Closing this. Feel free to reopen it if needed.

[2019-11-14 15:38] #1598 closed

[2019-11-14 15:54] vitaocode commented on #1602
It's labels.h?

[2019-11-14 17:03] allinurl commented on #1602
Here are the steps for Spanish. Please take a look at [**this**](https://github.com/allinurl/goaccess/issues/858#issuecomment-320257517) post. Thanks

[2019-11-14 17:05] allinurl commented on #1602
BTW, seems like pt-br is already [**there**](https://github.com/allinurl/goaccess/blob/master/po/pt_BR.po).

[2019-11-14 17:13] vitaocode commented on #1602
Very good,
How do I add this file?
because I'm looking file by file and the folder "po" has no pt-br

[2019-11-14 17:14] allinurl commented on #1602
Please build from development.

[2019-11-14 17:24] vitaocode commented on #1602
following the compilation steps, I get this error named "autoreconf -fiv"
What can it be?

![image](https://user-images.githubusercontent.com/31347646/68880634-6122b580-06ea-11ea-9e3c-577c4821bf6a.png)

[2019-11-14 17:26] allinurl commented on #1602
apt-get install autopoint

[2019-11-14 17:38] vitaocode commented on #1602
it worked apt-get install autopoint
Now I can't export the variable LC_ALL
any more suspicions?

![image](https://user-images.githubusercontent.com/31347646/68881638-43565000-06ec-11ea-826e-42620112799f.png)

[2019-11-14 17:43] allinurl commented on #1602
Can you please run it through gdb?

[code]

[2019-11-14 18:49] vitaocode commented on #1602
this?

![image](https://user-images.githubusercontent.com/31347646/68886648-5a9a3b00-06f6-11ea-9c2d-e1e086c87c46.png)

[2019-11-14 19:12] vitaocode commented on #1602
i reinstalled linux ubuntu 16.04.5 lts, ​​i will try again.

[2019-11-14 22:02] Manuel83 opened #1603 "Response Time Chart for a Day"
It would be nice to have a response time chart over the day. This would help to track down performance issues in a web app.

[2019-11-15 04:14] jevy-wangfei opened #1604 "goaccess docker generated json or html file geolocation is empty"
Use docker:
[code]
geolocation section:
[code]

Use Ubuntu installed goaccess to process the same log, everyting is OK:
[code]

[2019-11-15 05:05] vitaocode commented on #1595
@allinurl
eu compilei from development sem erros hoje e nao exibiu graficos, notei a presença do "!J" como no print abaixo:
![image](https://user-images.githubusercontent.com/31347646/68918235-1cc80180-074c-11ea-845e-a8b6cc20aca4.png)
@ahelito

how did you do to revovig the extra "j!"?

[2019-11-15 06:12] giopas commented on #1590
Hi @allinurl ,

Do you have any hint on where to look at or if I need to provide a better explanation on it?

Here is a screenshot:

![Screenshot_20191115-071038__01](https://user-images.githubusercontent.com/15943762/68920922-2f0b6500-0777-11ea-9696-4369a14e2b6a.jpg)

Thanks

[2019-11-15 07:52] ahelito commented on #1595
I edit the html output each time i generate output. I use sed:
`sed -i -e 's/j!<\/script>/<\/script>/g' log.html`

[2019-11-15 08:02] vitaocode commented on #1602
I was able to translate by downloading the stable goaccess package and added the ptbr language files manually.
it worked ok.
Thanks a lot

[2019-11-16 03:43] #1602 closed

[2019-11-16 03:45] vitaocode commented on #1595
I compiled it through the stable version and it worked well.

[2019-11-16 03:51] allinurl commented on #1595
@ahelito @vitaocode can I ask you to please build again from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) as we just pushed some new commits and see if that solves the issue. Thanks.

[2019-11-16 03:51] allinurl commented on #1602
Glad that worked :)

[2019-11-16 03:52] allinurl commented on #1590
Let me look at this from my end and I'll post back.

[2019-11-16 03:53] allinurl commented on #1604
Thanks for reporting this. Is this the only panel displaying these numbers?

[2019-11-16 05:21] gpailler commented on #1595
I just built GoAccess from the latest sources and I can confirm the charts are back. Thanks!

[2019-11-16 06:47] vitaocode commented on #1595
@allinurl i build from development and works fine! the charts are back. :)
![image](https://user-images.githubusercontent.com/31347646/68989330-ba423480-0823-11ea-8338-9e4a290ef573.png)

[2019-11-16 17:08] cgzones opened #1606 "geoip-city-data flag"
`geoip-city-data` is an alias for `geoip-database`, but only if compiled with GeoIP Legacy (not GeoIP2).

Please either deprecate (and document so) `geoip-city-data` or enable it for GeoIP2 as well.

[2019-11-17 03:06] vitaocode commented on #1606
I got geoip2 with city database with this steps.
first:
i am using ubuntu 16.04 - apt install geoip-database
second compile with "mmdb":
./configure --enable-utf8 --enable-geoip=mmdb --with-getline --with-openssl
#mmb = geoip2

third:
download geoip2-database and extract
# wget -N http://geolite.maxmind.com/download/geoip/database/GeoLite2-Country.mmdb.gz
# gunzip GeoLite2-Country.mmdb.gz

four:
a

[2019-11-18 03:56] hurgh commented on #988
Hi All,
I am running into the same issue here.
My log format is the same as posted above (Squid 3.5.27), and when running with the suggested formate posted on 13th Jan 2018 by @allinurl I get the error:
`Token '' doesn't match specifier '%h'`

I note that "SQUID" is one of the supported log formats, but when running with just --log-format=SQUID I get a similar error:

`Token '/<URL>' dosen't match

[2019-11-18 16:07] allinurl commented on #1595
Great to hear that. Thank you guys for the update! Stay tuned for the upcoming updates :)

[2019-11-18 16:07] #1595 closed

[2019-11-18 18:05] vitaocode opened #1607 "how to read multiple log from remote host and output multiple reports"
Good afternoon, I am reading log files as follows:
`ssh -i chave.pem ubuntu@IPADDRESS 'tail -f -n +1 /var/log/apache2/other_vhosts_access.log' | goaccess -o /var/www/html/SERVER1.html -p /usr/local/etc/goaccess/goaccess.conf  --real-time-html --exclude-ip=IPADDRESS --fifo-in=/tmp/FILE.in --fifo-out=/tmp/FILE.out --port=7890`
As in the drawing:
![image](https://user-images.githubusercontent.com/313

[2019-11-18 22:01] giopas commented on #1590
Hi @allinurl,

Did you manage to have a look at it?

Thank you a bunch!

[2019-11-19 03:54] allinurl commented on #1590
You will need to build with `mmdb` support.

    --enable-geoip=mmdb

Here's what I get:

![2019-11-18-215521_410x162_scrot](https://user-images.githubusercontent.com/5005367/69115389-f78a0a80-0a4d-11ea-8137-c9c6e168b550.png)

[2019-11-19 04:06] allinurl commented on #1607
You may get a broken pipe doing that way. What I'd do is consolidate your logs on a centralize server and use goaccess against that centralized server. Please take a look at [this](https://github.com/allinurl/goaccess/issues/532) post.

[2019-11-19 10:44] wilyarti commented on #1280
I can confirm that this works for me. It allows for the entire session to be encrypted. I placed the location in the HTTPS block.
[code]

[2019-11-19 10:47] MatthiasLohr commented on #1280
That still leaves the question how you can get rid of MY_FQDN in goaccess options. If not specified, it should automatically take the current host or just use a relative URL for the websocket.

[2019-11-19 11:26] giopas commented on #1590
Thanks, I will check if this was done it!

[2019-11-19 12:54] vitaocode commented on #1607
I'm not explain myself well because I'm using translator, sorry.

what I want to do is something like:
`ssh -i chave.pem ubuntu@IPADDRESS 'zcat /var/log/apache2/other_vhosts_access.log.2.gz | cat /var/log/apache2/other_vhosts_access.log.1 |tail -f -n +1 /var/log/apache2/other_vhosts_access.log' | goaccess -- options.`

i can't goaccess access.log access.log.1 because I am preprocessing the remote

[2019-11-19 13:26] vitaocode commented on #1607
I managed to do the way below.
![image](https://user-images.githubusercontent.com/31347646/69150162-dc9fb080-0ab6-11ea-9616-27c6a26c4aa5.png)

however, it is not dynamic when rotating the log.

![image](https://user-images.githubusercontent.com/31347646/69150224-f8a35200-0ab6-11ea-9bf3-70c18b6f52ba.png)

I want to have this vision of more days on min teen days

[2019-11-19 19:46] wilyarti commented on #1280
I specified my FQDN in the --ws-url option and everything works just fine.

[2019-11-19 21:07] lencell commented on #1280
I think you could easily solve that problem either by using a wrapper script that would call goaccess with the option `--ws-url=wss://$(hostname --fqdn):PORT/URI` on its command line, or better through a SystemD unit or whatever is used by your system to manage services

[2019-11-20 22:25] hnzufx commented on #1251
This would be a nice feature, especially when you can specify it by seconds. This way you can use goaccess to monitor log files live (apache, nginx and varnish).

[2019-11-21 07:05] halloleo opened #1609 "Filter out some IP addresses?"
I'd like to filter out some IP addresses, so that tehy do not show up in the report - can GoAccess do this natively or should I pre-process the logs for this?

[2019-11-21 09:58] cawa-93 commented on #1273
@allinurl I have the same problem but neither option helps:
[code]

[code]

I tryed:
[code]
And all predefined log format options

[2019-11-21 12:46] stephenreay commented on #919
A dedicated cache status indicator would definitely be useful for us too.

[2019-11-22 08:52] jostle opened #1610 "Build from GitHub (Development) documentation error"
In the Build from GitHub (Development) section of the page https://goaccess.io/download the line
`$ ./configure --enable-geoip --enable-utf8`
should include a value `=legacy` or `=mmdb` for the `--enable-geoip` option.

[2019-11-22 13:44] giopas commented on #1590
That was indeed the issue, now it is solved, thanks!!

[2019-11-22 13:45] #1590 closed

[2019-11-22 13:45] giopas commented on #1590
Issue solved

[2019-11-22 16:08] allinurl commented on #1570
This should be fixed per #1595.

Closing it, feel free to reopen it if needed.

[2019-11-22 16:08] #1570 closed

[2019-11-22 16:08] allinurl commented on #1575
This should be fixed per #1595.

Closing it, feel free to reopen it if needed.

[2019-11-22 16:13] allinurl commented on #1610
Thanks for reporting this. This section has been updated as well as the Docker section.

[2019-11-22 16:13] #1610 closed

[2019-11-22 17:13] biblioallen opened #1611 "Token error help!"
[code]
I get `Token 'ET' doesn't match specifier '%s'`
None of the default formats work!

[2019-11-22 17:28] allinurl commented on #1611
Please use this:

    goaccess access.log --log-format='%h %^[%d:%t %^]  %T %^"%r" %s %b "%R" "%u" %^' --date-format=%d/%b/%Y --time-format=%T

[2019-11-22 18:24] #1611 closed

[2019-11-22 20:40] allinurl commented on #1609
You can do this natively. Please take a look at the [**man page**](https://goaccess.io/man#options) under parse options:

    -e --exclude-ip <IP|IP-range>

[2019-11-22 23:29] #919 closed

[2019-11-23 00:00] allinurl commented on #919
This has been implemented. Feel free to build from development to test it out, otherwise it will be pushed out in the upcoming release.

[2019-11-23 08:22] DestinyWang opened #1612 "Token '23/Nov/2019' doesn't match specifier '%d'"
## nginx: 1.16.1
## goaccess: 1.3_1

![image](https://user-images.githubusercontent.com/17758731/69475765-2d434080-0e0c-11ea-87c9-0b45931badc2.png)

## nginx access log format:

[code]

## nginx access log example:
[code]

## error message
[code]

[2019-11-24 03:32] allinurl commented on #1612
Please use the following, I'm guessing your log has English dates and your machine has a different locale.

    LANG="en_US.UTF-8" bash -c 'goaccess access.log'

[2019-11-24 20:38] 0FiRE0 commented on #1570
Thank you @allinurl
I have pulled the latest commit from the `master` branch and re-built it again, and it solved the issue.

[2019-11-25 11:38] halloleo commented on #1609
Thanks @allinurl. Makes sense.

[2019-11-25 11:38] #1609 closed

[2019-11-25 22:17] karlicoss commented on #945
Thanks everyone, adding dash helped!
Not sure what's the reason it works without the dash when you run interactively (that made diagnosing it hard).

I've found multiple closed issues (e.g. at least https://github.com/allinurl/goaccess/issues/1107, https://github.com/allinurl/goaccess/issues/1048) and this one, so wonder if I can help to prevent this issue in future by one of these options:

- alw

[2019-11-26 05:26] noszone commented on #1604
Used command:
goaccess /var/log/apache2/access.log -o /var/www/html/report.html --log-format=COMBINED

and got an empty html file. Tried other options, pls help.

[2019-11-26 16:13] #1607 closed

[2019-11-28 04:20] jevy-wangfei commented on #1604
Yes, only the geolocation panel has zero metadata and empty data.

Also notice that goaccess docker will generage the hosts panel  with item field at data attribute, but generage items field at Goaccess on linux.

The GoAccesss version on my WSL:

[code]

[2019-11-28 13:39] manues50 opened #1614 "Proxy & VPN detection solution"
Hello Team
Do you have a solution with VPN and Proxy detection?
The intention is to get the details of clients those who are accessing my website using proxy or VPN?
Thank You

[2019-11-28 14:15] stephenreay commented on #594
It seems this would also allow loading the GeoIP v4 and v6 databases concurrently? As I understand it @allinurl there's no way to do this currently?

[2019-11-28 16:31] allinurl commented on #1614
Not at the moment, but I think this would be an interesting feature to add. Please keep it open so I can look into it. Thanks!

[2019-11-28 19:38] #1548 closed

[2019-11-28 19:38] allinurl commented on #1548
This has been fixed upstream. Please feel free to build from development and let me know how it goes. Else, will be deployed in the upcoming release.

[2019-11-28 19:42] allinurl commented on #594
@stephenreay As far as I recall maxmind doesn't support this, but I'd need to take a look again and see if it's supported in the new lib.

[2019-11-28 19:49] allinurl commented on #1604
You will need to download and specify the db file. e.g.,

    --geoip-database=GeoLite2-City.mmdb

[code]

[2019-11-28 19:52] allinurl commented on #1273
@cawa-93 It sounds like a locale issue, I'm guessing your log has the date in english while your machine has a different locale, please try:

    LANG="en_US.UTF-8" bash -c 'goaccess access.log'

[2019-11-28 19:56] #1606 closed

[2019-11-28 19:56] allinurl commented on #1606
Deprecated option `--geoip-city-data` in favor of `--geoip-database`. This will be pushed out in the upcoming release.

[2019-11-28 20:09] allinurl opened #1615 "Add macOS Catalina"

[2019-11-28 20:10] #1615 closed

[2019-11-28 20:10] allinurl commented on #1615
Added.

[2019-11-29 09:10] ufo56 opened #1616 "Custom log with php execution time"
Hi

My apache2 logs also time that takes to execute php request.

`domain xx.xx.xxx.xxx - - [25/Nov/2019:00:00:00 +0200] "GET /link/calculator/calculate?amount=1139.00 HTTP/2.0" 200 119 "https://domain/link/link/" "Mozilla/5.0 (Linux; Android 9; EML-L29) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Mobile Safari/537.36" (60642713-6.779)`

At moment i use ` --log-format='%v %h %^ %^

[2019-11-29 14:18] allinurl commented on #1616
This should do it:

    goaccess access.log --log-format='%v %h %^ %^ [%d:%t %^] "%r" %s %b "%R" "%u" %^-%T)' --date-format=%d/%b/%Y --time-format=%T

[2019-11-30 15:50] ChrisWiegman opened #1617 "Each run is re-adding log data from all previous runs"
My command looks something like the following:

`goaccess /var/log/nginx/access.log -a --keep-db-files -o /var/www/analytics/index.html --log-format=COMBINED --load-from-disk --db-path=/var/goaccess/www`

It runs on, successfully, on a cron at whatever schedule. The issue is that it is fully parsing the log with each subsequent run rather that just new data. For example, if I have, say 1000 visito

[2019-11-30 16:35] allinurl commented on #1617
Great question and this is part of a long conversation. Please take a look at this [**workaround**](https://github.com/allinurl/goaccess/issues/334#issuecomment-307569697). However, note that since the on-disk storage is being replaced with a different solution, the current workaround won't work going forward.

[2019-11-30 16:55] ChrisWiegman commented on #1617
This gets me a start. Thanks!

[2019-11-30 20:03] allinurl commented on #1617
Closing this as it is a dup. Feel free to reopen it if needed.

[2019-11-30 20:03] #1617 closed

[2019-12-01 07:35] johntyree commented on #695
Besides being buggy, none of the regex solutions here work after goaccess has parsed the logs already. If I have a year's worth of data in a big on-disk database and I realize that it would be better if I filtered out some path, I can't unless I've also saved the original request logs.

[2019-12-02 03:26] rocketme opened #1618 "log/date/time/format"
goaccess.conf

date-format %d/%b/%Y
log-format %h %^ %^ [%d:%t %^] "%m %U %H" %v %s %b "%R" "%u" "~h" "%T"
log-file /goaccess/access.log
output /goaccess/index.html
real-time-html true

Token already set for '%h' specifier.

[2019-12-02 04:04] rocketme commented on #1618
I has found the problem that the key "log-format" has change to "log_format"...

[2019-12-02 04:04] #1618 closed

[2019-12-02 14:57] evitalis opened #1619 "Create project development branch?"
It looks like there is only a `master` branch for this repo at this time. This has caused any commits to affect PRs which now show large numbers of conflicts. Would it be possible to get a development branch or other instructions as to how PRs should be made to avoid this situation going forward?

[2019-12-02 15:33] stephenreay commented on #1005
Any update on getting this implemented @allinurl ?

[2019-12-03 06:53] giopas commented on #1577
Question: how can I put `-ws-url=wss://wss.domain.com:443` in the config file?

[2019-12-03 14:59] allinurl commented on #1577
@giopas simply add (space in between):

    ws-url wss://wss.domain.com:443

[2019-12-03 14:59] allinurl commented on #1577
Glad that solved the issue. Closing this, feel free to reopen it if needed.

[2019-12-03 14:59] #1577 closed

[2019-12-03 15:02] allinurl commented on #1005
@stephenreay haven't had a chance to look into this. I need to finish first the new on-disk storage. I'll bump this up on the to-do list though.

[2019-12-04 21:32] giopas opened #1620 "Help on stack trace error"
Hi,
Probably pursuant to an update, I am.now getting the below error:

[code]

GoAccess is compiled as follows:

[code]

The permissions on `index.html` are the following:

[code]

What could it be? Could someone please help me out with this error?

Thanks

[2019-12-05 07:03] teejaswin opened #1621 "log format errors"
goaccess nginx.log --log-format='%d\t%t\t%m\t%h\t%^\t%R\t%u\t%b\t%^\t%^\t%v\t%T\t%s\t%^\t%U\t%^' --date-format=%Y-%m-%d --time-format=%T
Parsed 10 lines producing the following errors:

Token for '%d' specifier is NULL.
Token for '%d' specifier is NULL.
Token for '%d' specifier is NULL.
Token for '%d' specifier is NULL.
Token for '%d' specifier is NULL.
Token for '%d' specifier is NULL.
Token for

[2019-12-05 08:57] teejaswin commented on #1264
goaccess nginx_01.log --log-format='%h %^[%d:%t %^] "%r" %s %b "%R" "%u" %^ %D' --date-format=%d/%b/%Y --time-format=%T
Parsed 10 lines producing the following errors:

Token 'aurora_web_01_nginx.2.v91jxf20sutt@aurora-prod-web-1' doesn't match specifier '%h'
Token 'aurora_web_01_nginx.2.v91jxf20sutt@aurora-prod-web-1' doesn't match specifier '%h'
Token 'aurora_web_01_nginx.2.od8mdsws01ai@aurora-pr

[2019-12-05 20:22] vitaocode opened #1623 "how to show only one requests"
good afternoon,
How can I only show a single address on my dashboard?
I have these other_vhost_accesslog lines:
`www.domain.com.br:443 IPVISITOR - - [05/Dec/2019:16:57:37 -0300] "GET /portalclaro/img/image.png HTTP/1.1" 200 192898 "**https://domain.com.br/folder1/**" "Mozilla/5.0 (Linux; Android 9; SM-A505GT) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Mobile Safari/537.36"`
and
`w

[2019-12-05 20:38] igigua78 opened #1624 "No update realtime goaccess from other machine distinct to server run goaccess"
no update goaccess realtime from chrome other machine distinct server run goaccess why?

[2019-12-05 22:53] vitaocode commented on #1623
I think I could do it this way:
`ssh -i /root/chave.pem ubuntu@IPREMOTESERVER 'tail -f /var/log/apache2/other_vhosts_access.log' | grep 'domain/folder1\|www.domain.com.br/folder1'| goaccess -p /usr/local/etc/goaccess/goaccess.conf -o /var/www/dashboard.com.br/goaccess.html --real-time-html --fifo-in=/tmp/portalnet.in --fifo-out=/tmp/portalnet.out --port=7891`
this way I was able to create a dashbo

[2019-12-06 00:40] iRknRob opened #1625 "Can't Build from GitHub (Development), GeoIP library config error"
I'm a GitHub noob, first time trying to build from GitHub, so please be gentle! Trying to install GoAcess on Ubuntu 18.04 with NGINX server. I'm following the "Build from GitHub (Development)" instructions on the GoAccess download page. I've made it through the first 3 steps, but I'm stuck on "./configure --enable-utf8 --enable-geoip=legacy". Here are the exact commands I entered:

1. git clone ht

[2019-12-06 16:40] giopas commented on #1620
It seems to be linked to the fact that I did not specified a log file in this case.

[2019-12-06 16:40] #1620 closed

[2019-12-06 16:53] giopas opened #1626 "Help on custom log"
Hello,

I am trying to configure (in the config file) this type of log:

[code]

On Caddy the log is set to "{hostonly} {combined} {latency_ms}", but I do not know how to translate it to make it readable to goaccess.

 How should I set it to work on goaccess.conf?

Thanks!

[2019-12-06 18:54] iRknRob commented on #1625
Issue solved, noob mistake. First lesson for building from source: must install all needed dependencies. Duh! Once I installed libncursesw5-dev and libmaxminddb-dev I was able to successfully run ./configure --enable-utf8 --enable-geoip=mmdb.

[2019-12-06 18:54] #1625 closed

[2019-12-07 16:06] giopas commented on #1626
I arrived ti do so, but it still does not work:
`%d %t %v %h %^[%d:%t %^] "%r" %s %b "%R" "%u"`
Any help is really appreciated!!

[2019-12-08 03:41] allinurl commented on #1626
Can you please describe what's the last field? Thanks

[2019-12-08 07:29] Murkur opened #1627 "Unable to connect to WebSocket realtime HTML"
ive been attempting to connect to the Real time HTML but I believe im doing it completely wrong
im starting the server over SSH under Super User using
[code]

I have built using openSSL so thats not the issue the issue is me trying to actually connect to the websocket at https://argonopenreach.ddns.net:7890/
does it not support using a ddns? or am I configuring wrong
console reads
[code]
I plan to

[2019-12-08 07:29] giopas commented on #1626
Thanks @allinurl , I think it is {latency_ms}, but I don't know if it is really necessary to keep it.

Reading here[1], it seems to correspond to `%L`. Correct?

[1] https://lemanchet.fr/articles/optimizing-caddy-logs-for-goaccess.html

[2019-12-08 11:47] Murkur commented on #1627
I did nothing and it works all of the sudden time wasted great software

[2019-12-08 11:47] #1627 closed

[2019-12-08 19:46] Murkur opened #1628 "Is my configuration file incorrect? (doesnt start with config)"
been trying to start GoAccess with `goaccess -p /usr/local/etc/goaccess/goaccess.conf` it says its daemonized GoAccess but it doesnt connect to websocket neither does that daemon stay active but when starting with `goaccess /var/log/apache2/access.log -o /var/www/html/ProjectModal/CDN/Models/Myrkur/report.html --log-format=COMBINED --real-time-html --daemonize --ws-url=argonopenreach.ddns.net:7890

[2019-12-09 10:38] FinlayDaG33k commented on #1133
I'm also in for having this feature.
Due to the setup my project (and future projects) will have, using basic-authentication is not possible :\

[2019-12-09 14:12] Gill-Bates opened #1629 "Dependency Issue with Debian Buster"
On Debian Buster, libssl1.1 is installed

`apt install libssl1.1
Reading package lists... Done
Building dependency tree
Reading state information... Done
libssl1.1 is already the newest version (1.1.1d-0+deb10u2)`

But GoAccess requieres an older version and terminates the installation

`The following packages have unmet dependencies:
 goaccess : Depends: libssl1.0.2 (>= 1.0.2) but it is not insta

[2019-12-10 06:08] giopas commented on #1626
Hi @allinurl can you  please have a look at the above? 1000 kudos!

[2019-12-11 11:08] cassianotartari opened #1630 "Help with log format"
Hi!

Sorry to bother but I can't figure it out this log format from nginx:
[code]
Log samples (I have simplified the log body and masked private data)
[code]

What I have tried:
[code]
Output:
[code]
I've also tried with changing the end of format to ``| %^\n\n`` and  ``| %^``

[2019-12-11 18:40] cassianotartari commented on #1630
I think I figure it out, the log-format don't work with ``|``, I've replaced it for ``%^`` and the last, ``%r_body\n\n`` also I replaced with ``%^``

[code]

[2019-12-11 21:28] giopas commented on #1626
Hi @allinurl , I apologise for chasing you, but am I on a bad track? Could you please help me out? Thanks a bunch!

[2019-12-12 14:27] houssem-alt commented on #233
this my log please help
Dec 18 11:54:40 apihost01 dialog.apis.edatis.com-ext 192.168.20.131 via 83.136.214.165 -  18/Dec/2018:11:54:39 +0100 GET 401 /app.php   /api/dataweb/dimensions/3/data.json /var/www/apiv1/web/app.php 71 cpu:37.79 allocatedmem:3

[2019-12-12 15:35] houssem-alt commented on #985
I , have problem with my log :

Dec 18 10:06:14 apihost01 domain-ext x.x.x. via x.x.x.x-  18/Dec/2018:10:06:05 +0100 GET 200 /app.php   /api/report/campaigns/354/summary.json /var/www/apiv1/web/app.php 0 cpu:6.82 allocatedmem:4

[2019-12-12 15:55] allinurl commented on #985
@houssem-alt please describe each field from your access.log. Thanks

[2019-12-12 15:58] houssem-alt commented on #339
Hello , sir
i have problem with my log :

Dec 18 10:06:14 apihost01 domain.com-ext x.x.x.x via x.x.x.x -  18/Dec/2018:10:06:05 +0100 GET 200 /app.php   /api/report/campaigns/354/summary.json /var/www/apiv1/web/app.php 0 cpu:6.82 allocatedmem:4
please help

[2019-12-12 15:59] allinurl commented on #339
@houssem-alt Please post only your issue only in one thread. I already posted my question to you on the previous issue. Please describe the fields within your log.

[2019-12-12 16:02] houssem-alt commented on #985
Dec 18 10:06:14 apihost01 domain.com-ext x.x.x.x via x.x.x.x -
18/Dec/2018:10:06:05 +0100 GET 200 /app.php
/api/report/campaigns/354/summary.json /var/www/apiv1/web/app.php 0
cpu:6.82 allocatedmem:4

On 12/12/2019 16:55, Gerardo O. wrote:

[2019-12-12 16:03] allinurl commented on #985
@houssem-alt as I mentioned above, please describe what each field means.

[2019-12-12 16:20] houssem-alt commented on #985
Dec 18 10:06:14 apihost01 dialog.apis.edatis.com-ext 158.255.69.87 via 83.136.214.164 -  18/Dec/2018:10:06:05 +0100 GET 200 /app.php   /api/report/campaigns/354/summary.json /var/www/apiv1/web/app.php 0 cpu:6.82 allocatedmem:4

I try this command :+1:
goaccess access.log --log-format=COMBINED -a -o acces.html

Parsed 1 linesproducing the following errors:

Token 'Dec' doesn't match specifier '%h'

[2019-12-12 16:33] allinurl commented on #985
@houssem-alt To help you out, I'd need to know what the following fields are:

    /app.php /api/report/campaigns/354/summary.json /var/www/apiv1/web/app.php 0 cpu:6.82 allocatedmem:4

[2019-12-12 16:43] houssem-alt commented on #985
in fact these are centralized logs with rsyslog

[2019-12-12 17:10] allinurl commented on #985
This should do it:

    goaccess access.log --log-format='%^ %^ %^ %^ %v %h %^ %^ %^ %d:%t %^ %m %s %U %R %^ %L %^' --date-format=%d/%b/%Y --time-format=%T --ignore-panel=OS --ignore-panel=BROWSERS

[2019-12-13 09:30] houssem-alt commented on #985
@allinurl   thank you very much sir .

[2019-12-13 14:16] houssem-alt commented on #985
Hello again, please,
I still have problems with these two log files I need your help Thanks to you cordially

Feb  1 11:09:00 webhost07 houssem.v7.digi.com: [Thu Feb 01 11:09:00.756041 2018] [:error] [pid 29413] [client 83.136.214.179:48578] PHP Notice:  Trying to get property of non-
object in /var/www/V7/src/Dialog/Extension/Twig/DialogExtension.php on line 302

---------------------------------

[2019-12-13 15:08] allinurl commented on #1626
This should work:

    goaccess log --log-format='%d %t %v %h %^[%^] "%r" %s %b "%R" "%u" %L' --date-format=%Y/%m/%d --time-format=%T

[2019-12-13 15:09] allinurl commented on #985
@houssem-alt you can't parse error logs.

[2019-12-13 15:12] allinurl commented on #1630
Glad you got a workaround. Yes, the pipe delimiter issue is part of #1303. This will be fixed in the upcoming version though.

Closing it as it is a dup from 1303. Feel free to reopen it if needed.

[2019-12-13 15:12] #1630 closed

[2019-12-13 15:13] #1564 closed

[2019-12-13 15:14] #1428 closed

[2019-12-13 15:15] houssem-alt commented on #985
@allinurl , Ok ,
and for this log ,
Feb  1 09:49:15 webhost07 houssem.v7.digi.com: 37.71.178.6 - - [01/Feb/2018:09:49:14 +0100] "GET /dialog/reporting/parameter HTTP/1.0" 200 8738 "https://houssem.v7.digi.com/d

[2019-12-13 15:16] allinurl commented on #985
@houssem-alt seems it's missing the end part?

[2019-12-13 15:27] houssem-alt commented on #985
### **This my log , :**

Feb  1 09:49:58 webhost07 dialog.v7.houssem.com: 196.203.219.155 - - [01/Feb/2018:09:49:58 +0100] "GET /dialog/campaign HTTP/1.0" 200 27570 "https://1042066294.v7.houssem.com/dia
log/reporting/emailing/home" "Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:58.0) Gecko/20100101 Firefox/58.0"

[2019-12-13 15:30] allinurl commented on #1624
Probably your firewall. Please post the error message from the browser's console.

[2019-12-13 15:33] allinurl commented on #985
@houssem-alt

    goaccess log --log-format='%^ %^ %^ %^ %^ %v %h %^[%d:%t %^] "%r" %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T

[2019-12-13 15:41] allinurl commented on #1628
Can you please post what's the output of your browser's console?

[2019-12-13 15:42] houssem-alt commented on #985
@allinurl  thank you in advance sir :+1:

[2019-12-13 15:43] allinurl commented on #1620
Thanks for reporting this. Are you able to reproduce it? I tried with the command you posted above but I do not get any segfaults.

[2019-12-13 15:45] allinurl commented on #1627
Just adding to the notes, it should be `--ws-url=wss://argonopenreach.ddns.net:7890` no https but wss.

[2019-12-13 15:45] Murkur commented on #1628
post the console output when using that confile?

[2019-12-13 15:46] allinurl commented on #1628
Yes please.

[2019-12-13 15:48] allinurl commented on #1623
So basically you want to create a different report for each unique request?

[2019-12-13 15:49] allinurl commented on #1264
@teejaswin please post some sample lines from your access log.

[2019-12-13 15:51] Murkur commented on #1628
which paramter would i need to use to load the config when starting go access? `-p /usr/local/etc/goaccess/goaccess.conf` ?

[2019-12-13 15:51] allinurl commented on #1619
Thanks for pointing that out. To be honest that was completely my bad. I mistakenly did a force push and thus the conflicts. Did you have a lot of conflicts?

[2019-12-13 15:51] allinurl commented on #1621
Please post some lines from your access log.

[2019-12-13 15:53] allinurl commented on #1628
That's correct. e.g.,

    goaccess -p /usr/local/etc/goaccess/goaccess.conf

then take a look at your browser's console and post a screenshot or the error message you may be getting.

[2019-12-13 15:54] Murkur commented on #1628
okay will do just going to do a full reboot to make sure nothing is running in background

[2019-12-13 15:58] Murkur commented on #1628
![image](https://user-images.githubusercontent.com/20288698/70813425-6fbac600-1d97-11ea-8deb-c79e61421f66.png)
im not sure why its trying to connect through wss

[2019-12-13 16:01] Murkur commented on #1628
running the command i specified earlier it works find connecting to the websocket but refuses here?
this command `goaccess /var/log/apache2/access.log -o /var/www/html/ProjectModal/CDN/Models/Myrkur/report.html --log-format=COMBINED --real-time-html --daemonize --ws-url=argonopenreach.ddns.net:7890 --ssl-cert=/etc/letsencrypt/live/argonopenreach.ddns.net/fullchain.pem --ssl-key=/etc/letsencrypt/li

[2019-12-13 16:05] allinurl commented on #1628
Please try in your config file (you need wss if opening the reporting in an https connection):

    ws-url wss://argonopenreach.ddns.net
    port 7890

[2019-12-13 16:17] Murkur commented on #1628
still nothing seems after it deamonizes it stops the daemon after starting as i cant see the daemon running using `ps -eo 'tty,pid,comm' | grep ^?`

[2019-12-13 16:19] Murkur commented on #1628
this is my console now
![image](https://user-images.githubusercontent.com/20288698/70814904-74cd4480-1d9a-11ea-9d99-3a0e4d469227.png)

[2019-12-13 16:20] vitaocode commented on #1623
Good afternoon, Geraldo.
sorry not to post before, but I solved the problem as follows:
ssh -i /root/chave.pem ubuntu@IPADDRESS "tail -f -n +1 /var/log/apache2/other_vhosts_access.log" | grep "domain/FOLDER1" | goaccess -p /usr/local/etc/goaccess/goaccesscontrole.conf -o /var/www/dashboard-dkvox.com.br/FOLDER1.html --real-time-html --fifo-in=/tmp/ceo.in --fifo-out=/tmp/ceo.out --port=7896
AND
ssh

[2019-12-13 17:12] giopas commented on #1626
Indeed it works, thanks!

I only see the "keyphrases from Google's search" tab empty, but I think it is because the info is not available in the log.

[2019-12-13 17:17] #1575 closed

[2019-12-13 17:20] allinurl commented on #1455
Closing this as no updates from OP. Feel free to reopen it if needed.

[2019-12-13 17:20] #1455 closed

[2019-12-13 17:24] giopas commented on #1620
I think it was because I was not pointing to any log to chew. '-)

[2019-12-14 15:35] domolicious commented on #117
This would be a fantastic enhancement! Is there an issue for the on-disk storage replacement, if so, can you please link it?

[2019-12-14 15:56] allinurl commented on #117
@domolicious I agree, this would be of great value! Issue **#1274** Stay tuned!

[2019-12-14 21:31] archon810 commented on #852
FYI: for OpenSUSE 15.1, I had to `zypper install libGeoIP-devel`.

[2019-12-16 13:45] evitalis commented on #1619
My PR, #1608, shows a lot of conflicts. All I did was add a column to the table in the readme though.

[2019-12-16 13:55] pmitrea opened #1631 "Logfile cannot be analysed on Mac with this logconfig, on Windows it works"
Hello!

I'm trying to analyse Confluence access logs with the same exact date/time/logconfig as my colleague. However, it never works for me - always giving me the following error

The strange thing is, my colleague tested it with the same logfile and config - for him with Goaccess 1.2 on Windows 10 it worked like a charm.

I'm using an mac OS Mojave system with Goaccess version 1.3. Here are my c

[2019-12-16 16:23] C-Cyborg commented on #1019
Hi, any suggest about my nginx format?

'$http_x_forwarded_for - $remote_user [$time_iso8601] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" $request_time $upstream_response_time $pipe $upstream_addr';

Thanks

[2019-12-16 16:33] allinurl commented on #1019
@C-Cyborg Please open a new issue and post a few lines from your log.

[2019-12-18 13:34] houssem-alt commented on #233
@allinurl Hello sir ,
How to monitor multiple websites with 'goaccess’？  , I tested to execute two log in parallel with the command --real-time I got an error as preview below
Config file: /etc/goaccess.conf

Fatal error has occurred
Error occurred at: src/websocket.c - ws_socket - 2782
Unable to set bind: Address already in use.

[2019-12-18 13:40] houssem-alt commented on #985
@allinurl  Hello sir ,
How to monitor multiple websites with 'goaccess’？ , I tested to execute two log in parallel with the command --real-time I got an error as preview below
Config file: /etc/goaccess.conf

Fatal error has occurred
Error occurred at: src/websocket.c - ws_socket - 2782
Unable to set bind: Address already in use.

[2019-12-18 14:07] houssem-alt commented on #985
@allinurl , it's good problem solved, thanks in advance :)

[2019-12-18 15:12] allinurl commented on #1631
Please try this, it should do it:

    goaccess access.log --log-format='[%d:%t %^] %^ "%u" %h %^ "%r" %b %s %D %^' --date-format=%d/%b/%Y --time-format=%T

[2019-12-18 15:30] allinurl commented on #985
@houssem-alt https://github.com/allinurl/goaccess/issues/625#issuecomment-272905761

[2019-12-18 16:16] darekkay opened #1632 "GoAccess processes only the last 12 months"
I've been using GoAccess 1.2 for a long time. My server logs are going back to September 2018. GoAccess 1.2 was processing/displaying all the entries. Today, I've updated to the latest development version from GitHub and now I can only see the results for the last 12 months. Was this change indended? Is there an option to turn it off? I couldn't find it anywhere.

[2019-12-18 16:29] pmitrea commented on #1631
Thank you for the advice but we still get the "Token '09/Dec/2019' doesn't
match specifier '%d'" error. However, we have deleted the timezone offset
from our log file and finally could analyze it with goaccess using the
configuration from before.

Kind regards!

Am Mi., 18. Dez. 2019 um 16:12 Uhr schrieb Gerardo O. <
notifications@github.com>:

[2019-12-18 16:32] allinurl commented on #1631
I'm guessing your log has English dates and your machine has a different locale. You could always try:

    LANG="en_US.UTF-8" bash -c 'goaccess access.log'

Closing this as it seems you got it to work. Feel free to reopen it if needed.

[2019-12-18 16:32] #1631 closed

[2019-12-21 15:23] allinurl commented on #1632
There hasn't been a change on that. Can you please confirm that using something like `--max-items=1095` works as you expected? Thanks.

[2019-12-22 10:07] darekkay commented on #1632
Thank you very much, `--max-items` was the option I was looking for. From the [documentation](https://goaccess.io/man):

I wasn't using this option in version 1.2 (it was commented out in my goaccess.conf) and yet I could see more than the default 366 days. Interestingly, I am using the HTML output (no real-time), and yet it's working (I can now see more than 366 days in the generated HTML file ag

[2019-12-24 14:40] flipchan opened #1633 "install guide for openbsd"
How do i compile this on openbsd?

[code]

[2019-12-24 15:04] allinurl commented on #1632
Good question. The docs are still relevant for 1.3. The --max-items change allowing more than 365 items is a recent change upstream. Docs will be updated in the upcoming release.

[2019-12-25 08:34] almirus opened #1634 "doesn't work two parameters together"
goaccess /var/tmp/access.log-20191201 /var/tmp/access.log-20191208 -a **-o report.html**  **--config-dialog**

[2019-12-25 08:36] almirus opened #1635 "Token '' doesn't match specifier '%h'"
if LOG have leading space, get error Token '' doesn't match specifier '%h'
`[SPACE]10.88.241.31 - - [24/Nov/2019:03:34:04 +0300] "GET /" 200 21139 "-" "-"`

[2019-12-25 09:44] MosheElisha opened #1636 "Output file not created when using tail"
Hi,

When I use "tail", pipe and "--output" the output file is not created. Not while goaccess is running and not after I signal it to stop (Ctrl+C).

```tail -F /var/log/nginx/access.log | /usr/local/bin/goaccess --output=/tmp/report.html --time-format='%T' --date-format='%d/%b/%Y' --log-format='%h - %^ [%d:%t %^] "%r" %s %b "%R" "%u" "%^" %T %^ %^ %^'```
Output is `Parsing... [10] [0/s]`

I trie

[2019-12-25 11:01] MosheElisha commented on #1636
I saw that if I use SIGPIPE (kill -13) on the "tail" command, the goaccess exists softly and the output file is written.

In my case, I have a Java program that searches the ELK API and writes the response into a goaccess process. In the Java program, I know when I finished writing all the messages to the process but I don't know how to make goaccess stop listening for more.

[2019-12-25 11:09] almirus opened #1637 "date format in html report and russian locale"
![image](https://user-images.githubusercontent.com/16898685/71444030-abeb1080-271f-11ea-8d7b-7f1f6ee78ca5.png)

[2019-12-26 13:04] mcing5 opened #1638 "Having problems with time format and log formal"
Hi everybody, this is a sample of my log file
[code]

The follow error is displayed: Verify your log/date/time format
And also I am having problems with the log-format.
If someone could help me I would appreciate it.
Thanks in advance.

[2019-12-26 14:57] entrepaman opened #1639 "Token '26/12/2019' doesn't match specifier '%d'"
My Log format is

[code]

***used command***

[code]

it's showing error
[code]

[2019-12-26 16:01] allinurl commented on #1639
Please try this, it should do it:

     goaccess access.log --log-format='%d %t %^ ~h{,| } %^"%r" %s %b "%R" "%u"' --date-format=%d/%m/%Y --time-format=%T

[2019-12-26 16:02] allinurl commented on #1638
You would need a web access log. GoAccess requires the following fields:

1. a valid IPv4/6 `%h`
2. a valid date `%d`
3. the request `%r`

[2019-12-26 16:04] allinurl commented on #1637
Does your browser renders okay the rest of the report (all the russian text)?

[2019-12-26 16:06] allinurl commented on #1636
Can I ask you to try adding the additional single dash to the pipe? e.g.,

    tail -F /var/log/nginx/access.log | /usr/local/bin/goaccess - --output=/tmp/report.html --time-format='%T' --date-format='%d/%b/%Y' --log-format='%h - %^ [%d:%t %^] "%r" %s %b "%R" "%u" "%^" %T %^ %^ %^'

[2019-12-26 16:09] allinurl commented on #1635
You will need to use a custom log format. e.g.,

    goaccess access.log --log-format=' %h %^[%d:%t %^] "%m %U" %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T --http-protocol=no

[2019-12-26 16:12] allinurl commented on #1634
When outputting to a file, you can't prompt the config dialog as ncurses is disabled. You will need to specify the log either in your config file or using a CLI option.

[2019-12-26 16:20] allinurl commented on #1633
https://github.com/allinurl/goaccess/issues/120

[2019-12-26 17:17] MosheElisha commented on #1636
Hi,

Thanks for replying. The dash did not help. I also tried `tail -f` instead of `tail -F` but same result (I did Ctrl+C after few some time)

[code]

I am OK with closing the stream into goaccess in order to gracefully shut it down and have the output file but if you want to pursue this, I will be happy to help if I can.

[2019-12-26 20:11] almirus commented on #1634
I tried using config file, but can't add leading space #1639
#log-format [space]%h %^[%d:%t %^] "%r" %s %b "%R" "%u"

[2019-12-26 20:14] almirus commented on #1637
Report rendered in english, only date (months) was in russian

[2019-12-27 05:36] #1639 closed

[2019-12-27 08:18] mcing5 commented on #1638
Thank you @allinurl  for your quick answer!

[2019-12-27 22:11] carolyn-shannon opened #1640 "goaccess.conf not found in homebrew MacOS install"
In homebrew MacOS 10.14 install, `goaccess.conf` is not found when running `goaccess`, including `goaccess -dcf`.

Cause appears to be that `goaccess.conf` is created in
`\Cellar\goaccess\1.3_1\conf\etc\goaccess`, but the binary looks for it in `\Cellar\goaccess\1.3_1\conf\etc`.

Moving `goaccess.conf` into `\Cellar\goaccess\1.3_1\conf\etc` resolves the issue.

[2019-12-28 17:35] allinurl commented on #1640
Thanks for reporting this. I believe this has been fixed upstream per [this commit](https://github.com/allinurl/goaccess/commit/6efcac6179859a504d60a7b96e2549e6da853c95). It will be pushed out in the upcoming version, though you may be able to get the latest changes via brew and passing `--HEAD` to the command.

[2019-12-29 12:08] Hill-98 commented on #1506
I encountered the same problem and solved it.
I use CentOS 8, which by default has only `en_ *` locale (-a` view by `llocale), the solution is to install all locales:` dnf install glibc-all-langpacks`, you can try.

[2019-12-29 12:11] Hill-98 commented on #1468
@bhui
You can try: https://github.com/allinurl/goaccess/issues/1506#issuecomment-569499437

[2019-12-29 12:13] Hill-98 commented on #1506
@allinurl It proposed to add to the document: If you want to use the corresponding i18n system must support the corresponding language.

[2019-12-29 12:48] flipchan commented on #1633
Will try:
[code]

[2019-12-30 09:50] vandat07 opened #1641 "Run Goaccess from local machine to monitor apache log in remote server."
Hello,

I have tried Goaccess to monitor the Apache log file in my local machine (windows 10). Now I am trying to run Goaccess in realtime to monitor the log file in remote server (windows server 2016), but I am unable to do it.

Could you please tell me if there is any ways to do this.

Thanks a lot.
Van Dat

[2019-12-30 22:51] Giszmo opened #1642 "goaccess gets confused by the system time being corrected"
My server's time was off by 20 minutes and after fixing this, goaccess stopped working and complains `Format Errors - Verify your log/date/time format`.

I suppose it is this line where it fails:

[code]

Can't find more details on the error but it occurred right after fixing the time as I fixed the time for the purpose of having more accurate goaccess output.

[2019-12-30 23:55] allinurl commented on #1506
@Hill-98 Thanks for reporting this. Are you referring to add this to the man page?

Closing this as it appears the issue was missing locales on the machine.

[2019-12-30 23:55] #1506 closed

[2019-12-31 00:53] allinurl commented on #1641
To be honest I'm not familiar with Windows Server. Are you able to somehow ssh into the remote server? or can you mount the remote log e.g., sshfs into your local machine?

[2019-12-31 02:15] allinurl commented on #1642
What log-format are you using in goaccess?

[2019-12-31 02:19] allinurl commented on #1633
Actually you can ignore glib2.

[2019-12-31 02:19] allinurl commented on #1638
Closing this. Feel free to reopen it if needed.

[2019-12-31 02:19] #1638 closed

[2019-12-31 02:21] allinurl commented on #1637
Could you please share some sample lines from your log file so I can try to reproduce on my end? Also, what distro are you using and what locale is it using? Thanks!

[2019-12-31 04:30] Giszmo commented on #1642
The first (NCSA Combined Log Format) had always worked before fixing the date. Ah, now I understand this might be helpful:

[code]

Apparently the logging rolled over and generated the first gz file in the folder. Sorry.

[2019-12-31 04:30] #1642 closed

[2019-12-31 10:16] ripperdoc opened #1643 "Performance issues"
Not sure if this is a bug but I am seeking some clarification. I'm trying to run goaccess on a 5GB large log file (1 year of traffic on a smallish site, approximately 23M hits, most of it crawlers of course). I struggle with performance.
On my local (old) MacBook Pro it's using one core fully and starts at 12000 lines/s but after a minute starts falling down to 3000. This is in-memory (when I ran

[2019-12-31 11:11] tomaytotomato commented on #1641
This might be of use to you.

I have a small VPS instance which is not powerful enough to run goaccess, so what I do is use `scp` to pull down my latest access log file to a temporary location. Then I run goaccess on that local file.

So for you the best would be to setup SFTP and a user that has read only access to the directory of your access logs.
Then from your local server using cygwin pull d

[2019-12-31 15:15] allinurl commented on #1643
I'm guessing the culprit is `-d`. Please try without resolving the IPs and let me know how it goes. For 23M hits, I'd still use the in-memory store.

BTW, what processor do you have and ram? Thanks

[2020-01-01 07:31] mipon opened #1644 "Token '...' doesn't match specifier '%h' - log without IP v4/6"
Hi,

Spent several hours trying to figure this out. I get an error.

Could you help? Thank you.

**access_log**
[code]

**Command**
[code]

I tried.
[code]

Also tried many other variations but they don't work.

**Version**
[code]

[2020-01-01 07:33] rishatiwari opened #1645 "Avg T.S., Cum T.S. and Max T.S. showing 0us .Please help!!"
Please help me with the following issue:

I have enabled goaccess for a web server wherein columns Avg T.S., Cum T.S. and Max T.S. showing 0us . I think I am doing something wrong while compiling the output html

Command I am using:

    goaccess ../access_logs/old/* --log-format='%h %^[%d:%t %^] "%r" %s %b "%R" "%u" %D' --date-format=%d/%b/%Y --time-format=%T -o ../reports/demo_Today.html

My log

[2020-01-02 10:02] ripperdoc commented on #1643
I tested running it without -d. It has the same performance, starting at 12k slowing down to 2.5k/s. I have 2,6 GHz Intel Core i7 Macbook Pro.

[2020-01-02 15:16] allinurl commented on #1645
Please try:

    goaccess access.log --log-format='~h{ } %^[%d:%t %^] "%r" %s %b "%R" %^ "%u" %^@ %D %^' --date-format=%d/%b/%Y --time-format=%T

[2020-01-02 15:18] allinurl commented on #1634
Please try using single quotes. e.g.,

    goaccess access.log --log-format=' %h %^[%d:%t %^] "%r" %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T

[2020-01-02 16:41] sarcanon opened #1646 "Parsing Error on Log Turn-Over Message"
OpenBSD 6.6-current
Nginx 1.16.1
GoAccess 1.3

Hello. I am getting the following error when attempting to parse a Combined Log File format log:

[code]

The first line of the log being parsed is:

`2019-12-30T05:00:01.564Z vergil newsyslog[20784]: logfile turned over`

In the configuration file, relevant formats are set as:

[code]

Just speculating here, but perhaps the time format in the newsysl

[2020-01-02 17:02] allinurl commented on #1646
Are you parsing a web access log?

[2020-01-02 22:17] vitaocode commented on #1644
not sure but try:
goaccess "access_log" --log-format=VCOMBINED

[2020-01-03 04:37] mipon commented on #1644
I see.

It seems the second field is mixed with a client host name and an IP address. Some items have a normal IP address. It is Apache2 log that the shared host gives and they prohibit the users from accessing http.conf. So I have no ways to change the format.

Seems like there is no workarounds at the moment.

What about implementing an ability to auto-detect of mixed usage of IP addresses and h

[2020-01-03 10:54] RobDelafontaine opened #1647 "No real-time output when running goaccess locally from a remote access log"
Sorry to bother you. I do appreciate the tremendous amount of work and talent you're putting into this. I have the following problem.

I have installed GoAccess on a local machine. I'm trying to monitor the logs on a remote shared server over ssh. I'm doing this:

    ssh user@ssh.example.com cat '/remoteserver/logs/access.log' | goaccess -p /usr/local/etc/goaccess.conf -o /localserver/Documents/r

[2020-01-03 15:18] allinurl commented on #1644
@mipon If you build from [development](https://github.com/allinurl/goaccess#build-from-github-development), please try using `--no-ip-validation` as noted [here](https://github.com/allinurl/goaccess/blob/f331860b37525c276add9a3dd2a842ffbed25a31/config/goaccess.conf#L528).

[2020-01-03 15:25] allinurl commented on #1647
Great question. `cat` will only pull the file once. So you can try using `tail -f`, however, please note that there are reports #1282 of goaccess getting stuck while processing. I still need to look into this, though you can try:

    ssh -t username@server 'tail -f -n +1 /var/log/nginx/access.log' | goaccess -o /path/to/report.html --real-time-html -

Alternatively you could use `sshfs` and mount

[2020-01-03 15:31] allinurl commented on #1643
To address your first question, currently there's no way to use more than one core. #377 will address this.

Are you able to test this out on a different Mac? I just want to know if this might be an isolated issue. Also, you could try [building](https://github.com/allinurl/goaccess/blob/master/Makefile.am#L198) goaccess with `-O3` and see if that helps, or even using `./configure --enable-debug` t

[2020-01-03 20:01] RobDelafontaine commented on #1647
Thanks for your reply.
I tried using 'tail -f', but I'm sorry to say with no luck.
The report loads perfectly, but won't update.
I'll look into sshfs now.

[2020-01-04 14:49] RobDelafontaine commented on #1647
Okay. Don't laugh at me. I was checking the "Last Updated: ..." sign in the right top corner. Contents of that sign don't update, but the various panels do. Which means this problem has been solved.

[2020-01-04 14:51] #1647 closed

[2020-01-05 21:40] szepeviktor commented on #1365
Packages from deb.goaccess.io for Debian buster are compiled with libssl1.0.2 which is not part of buster.
Please rebuild that packages with libssl1.1

Thank you.

[2020-01-06 04:01] librenauta commented on #1635
hi! same problem, sorry im very new to this , my log is

- [06/Jan/2020:04:53:22 +0100]
 "GET / HTTP/1.1" 200 3658 "-" "Mozilla/5.0 (X11; Fedora; Linux x86_64; rv:69.0) Gecko/20100101 Firefox/69.0" "-"
- [06/Jan/2020:04:53:22 +0100]
 "GET /css/base.css HTTP/1.1" 200 10887 "https://mesh.copiona.com/" "Mozilla/5.0 (X11; Fedora; Linux x86_64; rv:69.0) Gecko/20100101 Firefox/69.0" "-"
- [06/Jan/2020:0

[2020-01-08 12:34] Ryesen commented on #750
Is there any update on this?

[2020-01-08 23:01] allinurl commented on #1635
@librenauta GoAccess requires the following fields:

[2020-01-08 23:02] allinurl commented on #750
@Ryesen still on the works.

[2020-01-08 23:03] allinurl commented on #1365
@szepeviktor I'm doing some major updates to the repo server right now, so I'll work on this as well. Thanks for pointing that out.

[2020-01-08 23:05] allinurl commented on #1647
@RobDelafontaine yes, that bug of 'last updated' has been fixed upstream. It will be pushed out in the upcoming release.

[2020-01-09 23:17] CFin86 commented on #1640
I didn't see the troubleshooting section on this doc when trying to install GoAccess. I ran into this issue and was able to resolve it by creating `~/.goaccesrc` and copying the contents of goaccess.conf

[2020-01-10 08:45] dcalsky commented on #989
This port's protocol WS rather than HTTP, so You can not get response by visiting this address and port with HTTP.

[2020-01-10 18:26] szepeviktor commented on #1629
Same as #1365

[2020-01-10 18:27] szepeviktor commented on #1629
[code]

[2020-01-12 11:05] MosheElisha opened #1648 "Time Served columns are missing when piping messages from Java"
Hi,

I have a Java process that reads messages from Elasticsearch and pipes them to goaccess.

If I use the  `--real-time-html` option when I start goaccess process from within Java, the Time Served columns (Avg, Max, Cum) are missing (attached real-time-report-without-ts).

This is the command I use from within Java:

[code]

If I don't use the `--real-time-html` option when starting `goaccess`,

[2020-01-12 13:41] maitrenageur opened #1649 "How to configure GoAccess - configure file is missing"
Hello,
I want to configure the source code with:

`./configure --enable-utf8 --enable-geoip=legacy`

but the configure files are missing. How can i start the procedure?

[2020-01-12 19:40] maitrenageur commented on #1649
Ahhh, i have not realized to start the autoreconf process.

[2020-01-12 19:40] #1649 closed

[2020-01-15 08:40] sakuya-go commented on #1025
I have the same problem, nohup dosen't work, but I find another way to solve it, use tmux tool, it is more practical.

[2020-01-15 12:36] uschwarz opened #1650 "Doc: static requests are not requests"
It seems that requests handled as static are not counted towards ordinary requests. That's fine by me, since it's easy to set the list of static extensions to `.thiscanthappen` only to count everything, but I don't think you can tell that behaviour from the docs.
Saying "This panel displays the most highly requested **(non-static)** files" in the description of the requests panel would make this c

[2020-01-15 13:28] oleh-dizhak opened #1651 "Can't create log-format for Nginx logs"
Hello guys!

I have a problems with parsing Nginx log file using goaccess. Please can you help me to create the correct log-format:

For example:
[code]

Thank you so much!

[2020-01-15 15:38] ali-bugdayci opened #1652 "Goaccess gives 'IPv4/6 is required.' even if I do not have a domain parser field"
1. Can not parse the following with go access:

[code]

My parser is:

[code]

it gives
[code]

2. The only domain field I have is virtual host %v

go access still gives me the error without it:

[code]

3. Could not find a verbose option. Is there a way where we can give smthg like "--verbose"

[2020-01-15 15:42] allinurl commented on #1652
As it says the message, goaccess requires a valid IP. You may be able to get around this by using `--no-ip-validation`, you will need to build from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) for this option though.

[2020-01-15 15:43] allinurl commented on #1651
This should work:

    goaccess access.log --log-format=COMBINED

[2020-01-15 15:59] ali-bugdayci commented on #1652
I do not fetch any IP related fields

The following format does not have an IP parse field, but it still gives the error:

goaccess demo --log-format='%^ %^[%d:%t %^] %^ "%m %U %H" %s %b "%^" "%u" %T' --date-format=%d/%b/%Y --time-format=%T  --http-protocol=no

[2020-01-15 16:00] ali-bugdayci commented on #1652
Also if I try the "virtual host" field, example.com is a valid domain:

- - - [15/Jan/2020:06:27:31 +0100] "example.com" "GET / HTTP/1.1" 200 2275 "-" "FreshpingBot/1.0 (+https://freshping.io/)" 0.012

[2020-01-15 16:02] oleh-dizhak commented on #1651
@allinurl I have the error message:
[code]

Thanks!

[2020-01-15 16:14] allinurl commented on #1651
Seems like your log has english dates but your machine different locale.

    LANG="en_US.UTF-8" bash -c 'goaccess access.log --log-format=COMBINED'

[2020-01-15 16:16] allinurl commented on #1652
Like I said, in order for goaccess to parse your access log, it needs an IP within your log request. e.g.,

    192.168.0.1 - - [15/Jan/2020:06:27:31 +0100] "example.com" "GET / HTTP/1.1" 200 2275 "-" "FreshpingBot/1.0 (+https://freshping.io/)" 0.012

[2020-01-15 16:22] ali-bugdayci commented on #1652
By the way I am using nginx default log-format. MEaning that I do not have a custom log format.

Do you have any clues why it is not writing request IP to logs ?

[2020-01-15 16:30] allinurl commented on #1650
Thanks for pointing that out. I've updated this.

Closing this. Feel free to reopen it if needed.

[2020-01-15 16:30] #1650 closed

[2020-01-15 16:32] allinurl commented on #1652
The closest you can do is to use `--no-ip-validation` as I posted above.

Please post your nginx access log format.

[2020-01-15 16:35] ali-bugdayci commented on #1652
I do not have an access log format.

I am using the default

nginx version: nginx/1.11.4

[2020-01-15 16:42] ali-bugdayci commented on #1652
building goaccess 1.3 from source codes

$ ./configure --no-ip-validation
configure: error: unrecognized option: `--no-ip-validation'
Try `./configure --help' for more information

[2020-01-15 16:42] allinurl commented on #1652
nginx has a log format, please look into and post it otherwise I can't help you.

Also, please look at my first post for instructions on how to use that flag.

[2020-01-15 16:50] ali-bugdayci commented on #1652
Did not find it on your post.

Would it work if I appended it to :

[code]

[2020-01-15 16:53] allinurl commented on #1652
You will need to build from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) for `no-ip-validation` to work.

[2020-01-15 16:55] ali-bugdayci commented on #1652
Sorry, I was using package manager to install, So when I see development, tohught building from source :)

[2020-01-15 17:13] #1652 closed

[2020-01-15 19:52] finalhit commented on #1179
@allinurl any update on this?

[2020-01-15 20:00] allinurl commented on #1179
@finalhit Haven't got to this. Will bump it on the to-do list.

[2020-01-16 11:25] ank-everstake commented on #1461
Any updates on this? It makes stats useless or maybe hard to understand.

[2020-01-16 13:56] Schnouki commented on #868
Hi there! Same issue here: I'm trying to run goaccess as a non-root user but it fails because of this error.

I have a patch that sort of fixes this problem here: https://gist.github.com/Schnouki/4fa18190eeab91a924df6747005ad797. The solution is to set stdin as non-blocking even if goaccess can't open a pseudo-terminal.
The issue is that this patch "breaks" output to stdout as stdin is now used by

[2020-01-16 23:02] allinurl commented on #868
@Schnouki Thanks for sharing that patch. Could you please share some command examples where it **wouldn't** work so I can better understand the implications of applying it upstream? Thanks!

[2020-01-17 06:21] librenauta commented on #1635
thnks, i edit my conf nginx with:
http {
log_format specialLog '$remote_addr forwarded for $http_x_real_ip - $remote_user [$time_local]  '
                      '"$request" $status $body_bytes_sent '
                      '"$http_referer" "$http_user_agent"';
access_log /var/log/nginx/blog/access.log specialLog;
}

and run with:
Please try this (assuming the client IP is on the first field)

    g

[2020-01-17 08:59] Schnouki commented on #868
@allinurl Sure. For context, on my server the `http` user is only in the `http` group, and `/dev/pts/*` are writable by the `tty` group.

- `tail -F -n +0 access.log | sudo -u http goaccess --log-format='...' -` doesn't work: UI is shown but can't control it via keyboard (as stdin is used by the pipe)
- `tail -F -n +0 access.log | sudo -u http goaccess --log-format='...' -o logs.html --real-time-h

[2020-01-17 11:26] MRuy opened #1653 "Is the amount of --ignore-referer limited to 64?"
Hello,

I found out that MAX_IGNORE_REF is set to 64 in goaccess/src/settings.h

Im using the [referer spam list](https://raw.githubusercontent.com/piwik/referrer-spam-blacklist/master/spammers.txt) from piwik with over 1500 entries but i noticed that some of them doesnt get ignored.

That doesnt seem right or does it?

[2020-01-17 15:11] allinurl commented on #1653
Like you said, it will only take 64. You will need to increase `MAX_IGNORE_REF` and build again.

[2020-01-17 15:20] allinurl commented on #1635
@librenauta Please try:

    goaccess accesslog --log-format='%h %^[%d:%t %^] "%r" %s %b "%R" "%u" %^' --date-format=%d/%b/%Y --time-format=%T

[2020-01-17 15:21] allinurl commented on #1461
@ank-everstake I already have a working copy of this, I'll push it over the weekend. Stay tuned.

[2020-01-17 15:25] librenauta commented on #1635
it's works, thank u for that support

[2020-01-17 15:30] allinurl commented on #1648
Thanks for pointing out the `--log-debug`, I'll have this fixed.

Are you able to run your code through gdb? or perhaps strace just to see if TS is actually being logged and how goaccess is reading it. let me know. e.g.,

[2020-01-17 15:30] allinurl commented on #1635
Awesome. Closing this. Feel free to reopen it as needed.

[2020-01-17 15:30] #1635 closed

[2020-01-17 19:38] TrentonAdams opened #1654 "Graph issue over time"
I'm working on an error in our software right now.  We're seeing 404s because some javascript broke and isn't doing the right thing.  I'm using that feature 8 - Time Distribution, and it's really great.  One thing I'd like to see though is a graph by hour over the course of a few days.  Right now, if I feed it say 3 days worth of data it will graph per hour only, so 09 is 09 for all 3 days.

So, i

[2020-01-18 12:16] x4nd1-2 opened #1655 "Unknown browser behind apache reverse proxy"
Hi,

my webserver is behind an apache reverse proxy. Therefore my apache LogFormat looks like this:
`LogFormat "%a %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" proxy`

Output:
`192.168.99.1 - - [18/Jan/2020:13:37:36 +0100] "GET /favicon.ico HTTP/1.1" 301 232 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:72.0) Gecko/20100101 Firefox/72.0"`

If i choose the "Common Log Format (CLF)

[2020-01-20 21:03] #1461 closed

[2020-01-20 21:04] allinurl commented on #1461
This has been reverted back to its original behavior per this [commit](https://github.com/allinurl/goaccess/commit/658a6bfce2f97c6ea29437aa3b513d576db3800f).

[2020-01-21 01:53] allinurl commented on #868
Got it. I think it's safe to apply it. Please feel free to submit a PR and I can merge it upstream. Thanks again!

[2020-01-21 01:54] allinurl commented on #1655
Looks like the COMBINED format. Please try passing

    goaccess access.log --log-format=COMBINED

Otherwise, feel free to post a few lines from your access log and I can take a look. Thanks

[2020-01-21 01:57] allinurl commented on #1654
Thanks for suggesting this! I like the idea, so essentially have the option for show (perhaps all) panels in a  time series way?

[2020-01-21 02:20] TrentonAdams commented on #1654
Yeah, that might work, if they could all do that.

I was thinking about that type of graphing, and I think your horizontal ansi graph would probably still be the best way of doing it for space reasons.  For example, if I wanted to graph the hours of each day, over 3 days, you might just go...

[code]

I could also intersperse a "trend line" with one of the bar segments being a trend line color.

[2020-01-21 10:11] zefferno opened #1656 "logformat for haproxy log and error log"
Hi,

Could you assist on how to create custom log format for parsing haproxy logs based on the following
log-format:
log-format "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %sslv %sslc %{+Q}r"

Description of fields above:
https://www.haproxy.com/documentation/hapee/1-7r1/traffic-management/log-format-rules/

Example:
80.1.2.3:2842 [21/Jan/20

[2020-01-21 19:23] x4nd1-2 commented on #1655
Thank you, that works!

[2020-01-21 19:23] #1655 closed

[2020-01-22 14:04] NHOrus opened #1657 "Another custom log format request"
Hello!
My log format line in apache is
[code]
It produces lines looking like (edited):
[code]
Goaccess refuses to parse with following:
[code]

time-format %H:%M:%S
date-format %d/%b/%Y

and log-format from above. Help, please?

[2020-01-22 22:51] evitalis opened #1658 "Possible unsafe code in use"
Ran this through LGTM which I found via another project and it reported some unsafe code in the project.

https://lgtm.com/projects/g/allinurl/goaccess/?mode=list

As I am not too familiar with the code base or C++ I am not sure how important these findings are but figured I would share for review.

[2020-01-23 01:35] #1547 closed

[2020-01-24 17:18] allinurl commented on #875
@abdulmutal You would need to log that from your web server. For apache you would use `%D`.

[2020-01-26 10:40] MosheElisha commented on #1648
Thanks for replying.

I ran the following strace command:

[code]

The strace.log is attached - [strace.zip](https://github.com/allinurl/goaccess/files/4113351/strace.zip)

[2020-01-28 20:25] rogierlommers opened #1660 "Error parsing traefik access logs"
Sorry for the million traefik-log-parsing questions, but I also have a problem. Here are a couple of example logs:

[code]

Now I'm trying to run goaccess with this command:

``
goaccess traefik.log -c
``

But then what? What should I pick as the log format? `Common Log Format (CLF) with Virtual Host`? If I do so, then it gives me the following error:

[code]

In the [Traefik documentation](https:

[2020-01-29 08:43] agutierrezrodriguez commented on #1436
Same problem here with the last version.

[2020-01-29 15:00] allinurl commented on #1660
Please try COMBINED. or better yet,

    goaccess access.log --log-format='%h %^[%d:%t %^] "%r" %s %b "%R" "%u" %Lm' --date-format=%d/%b/%Y --time-format=%T

[2020-01-29 19:59] rogierlommers commented on #1660
Thanks; that indeed did the trick? What format is this?? Is this CLF???

[2020-01-29 19:59] #1660 closed

[2020-01-30 14:58] allinurl commented on #1660
Custom but closest to NCSA extended/combined log format.

[2020-01-30 20:06] mtorromeo opened #1662 "Unix domain sockets support"
Hi,
would it be possible to have support for binding to a unix domain socket instead of a addr:port?

Thanks!

[2020-01-30 22:01] if-kenn commented on #418
Saw this issue recently on CentOS 7.7 that I had to run a script with `sudo` where I had previously not run under `sudo`.

[2020-02-01 15:30] allinurl commented on #1436
Awesome, thanks for confirming this. I have [updated](https://github.com/allinurl/goaccess/commit/b1547e5614dcc1784469f51cd5964c95bb78cdc3) the format upstream. Please feel free to build from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) and let me know if that works on your end.

Closing this.

[2020-02-01 15:30] #1436 closed

[2020-02-02 07:13] Elepover opened #1663 "Realtime Stats WebSocket Gets Disconnected After 1 Minute of Inactivity"
## Symptom
Every after exactly **1 exactly** minute of inactivity, the WebSocket gets disconnected like this:

![image](https://user-images.githubusercontent.com/11826985/73604463-271bce00-45cc-11ea-8c1e-b6af7b1e8c29.png)

On servers with a large amount of requests, the problem may not appear for the stats are always being updated quickly and therefore the WebSocket is always active. But on small

[2020-02-03 10:16] manues50 commented on #1479
Hello

Can you please give an update?

[2020-02-03 18:50] colender opened #1664 "AWS Beanstalk Custom Access Log Format"
Im trying to figure out how to set the custom access log for Beanstalk

The example

I hope this helps

[2020-02-03 23:59] allinurl commented on #1664
Please try:

    goaccess access.log --log-format=COMBINED

[2020-02-04 00:02] allinurl commented on #1479
Are you able to provide some samples from goaccess and their relevant 95th percentile column and calculation, I may be able to quickly add it (depending on its complexity). Thanks

[2020-02-04 00:02] colender commented on #1664
It worked thank you!!

[2020-02-04 00:18] allinurl commented on #1663
Thanks for reporting this and pointing that out. Like you said (+ [here](https://stackoverflow.com/questions/10585355/sending-websocket-ping-pong-frame-from-browser)), we could use pings to resolve this or just reconnect when you need to use the socket again. I'm more incline for sending a ping/pong frame.

I can look into this.

[2020-02-04 13:44] manues50 commented on #1479
Hello
![bandwith](https://user-images.githubusercontent.com/40825150/73749875-33498c00-4782-11ea-8f2f-d1614ce6fd0a.png)
[goaccess.zip](https://github.com/allinurl/goaccess/files/4153639/goaccess.zip)

Thank you for the update.

Here I am attaching the report form goaccess and 95 percentile bandwidth calculation from our current system.
 I have already mentioned log format in the ticket 1427

[2020-02-04 13:45] manues50 commented on #1479
[goaccess.zip](https://github.com/allinurl/goaccess/files/4153649/goaccess.zip)

[2020-02-04 22:38] colender commented on #1664
How would I be able to get the X-FORWARDED ip the part (45.56.150.80, 172.31.13.163) with COMBINED it doesn't get the ip from the user Im just getting the ip from the server. I have tried to use.
`--log-format= %h (~h{,}) -- [%d:%t %^] "%m %U %H" %s %b "%R" "%u" --date-format=%d/%b/%Y --time-format=%T`
 I tried that but I get a %h has been specified error

[2020-02-05 17:26] allinurl commented on #1664
Close, this should work:

    goaccess access.log --log-format='%^ (~h{, }) %^[%d:%t %^] "%r" %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T

[2020-02-05 19:12] radoslav-stefanov opened #1665 "Exposing port 7890"
Hi guys,

I have a running real time goaccess setup that is exposing websockets port to the web (goaccess is running from a Docker container). What are the security implication of this and how bad of an idea is to leave it open for everyone?

The web interface for viewing reports is protected by SSO authentication.

Thanks!

[2020-02-05 23:58] allinurl commented on #1665
Great question. Please take a look at [**this**](https://security.stackexchange.com/a/78811) for the implication of having a port opened. There are no known or outstanding security issues with goaccess, however, this does not mean it's 100% free of potential issues.

[2020-02-06 11:50] radoslav-stefanov commented on #1665
@allinurl Good to know that there are no known security issues. I plan to use goaccess for one of my next projects.

Thanks for the reply! I am closing the issue.

[2020-02-06 11:50] #1665 closed

[2020-02-06 20:08] srikarrampa opened #1666 "Too many failed requests"
While running goaccess I'm encountering too many failed requests only for one log file. Also all the requests are not being read. What might be the reason?

Example log file content:

207.151.54.49 - "scbj6xd9" [05/Feb/2020:11:20:30 -0500] "POST https://libproxy1.usc.edu:8443/Shibboleth.sso/SAML2/POST HTTP/1.1" 0 302 0 "https://shibboleth.usc.edu/idp/profile/SAML2/POST/SSO?execution=e1s3" Mozilla/

[2020-02-06 20:53] srikarrampa commented on #1666
Was able to solve this.
The log file wasn't able to read properly because there was no \n at the end of each line resulting in improper reading of log file by goaccess

[2020-02-06 20:53] #1666 closed

[2020-02-09 02:14] Hexhu commented on #182
Any updates in aggregating 206 reposes?

[2020-02-10 14:26] rgarrigue opened #1667 "Help with my log format"
Hi there

I'm trying to parse this king of lines, from a python flask service whose log format is `%(asctime)s [%(process)d] (%(levelname)s) (%(name)s): %(message)s`

[code]

So far I got this

    goaccess --date-format "%F" --time-format "%T,%s" --log-format "%d %t [%^] (%^) (%^): request: %m %U {'Host': '%e', 'X-Script-Name': '%^', 'X-Forwarded-For': '~h', 'Connection': '%^', 'Accept': '*/*', '

[2020-02-10 14:38] rgarrigue commented on #1667
So, just don't bother for me. The logs are too irregular to be dealt with. But the last remark about the doc lacking a full example still make sense imho.

[2020-02-12 14:10] egar1m opened #1668 "Parsing access log date and time in a single variable tab delimited"
Hi all, I'm new to goaccess and I'm trying to my web access log to be inspect:

this is my apache log format:

`LogFormat "%V\t%h\t%{SSL_PROTOCOL}x\t%{SSL_CIPHER}x\t%{SSL_CLIENT_S_DN_CN}x\t%u\t%{%d/%m/%Y %T %Z}t\t%{UNIQUE_ID}e\t%{JSESSIONID}C\t%H\t%m\t%U\t\"%q\"\t%>s\t%b\t\"%{Referer}i\"\t\"%{User-Agent}i\"\t%D\t%X\t%I\t%O" mycustumlog
`

example output:

    www.test.it   192.168.253.176

[2020-02-12 15:14] allinurl commented on #1668
For this log:

[code]

This should work:

    goaccess access.log --log-format='%v\t%h\t%^\t%^\t%d %t %^\t%^\t%^\t%H\t%m\t%^\t%U\t"%q"\t%%s\t%b\t^"%R"\r"%u"\t%D\t%^' --date-format=%d/%m/%Y --time-format=%T

[2020-02-13 08:12] egar1m commented on #1668
thank you so much! I add some extra %^ to parse "-" chars and now the magic string:
 goaccess access.log --log-format='%v\t%h\t%^\t%^\t%^\t%^\t%d %t %^\t%^\t%^\t%H\t%m\t%^\t%U\t"%q"\t%%s\t%b\t^"%R"\r"%u"\t%D\t%^' --date-format=%d/%m/%Y --time-format=%T

thanks for help! Great software!!!

[2020-02-13 14:50] allinurl commented on #1668
Glad that did the job :)

[2020-02-13 14:50] #1668 closed

[2020-02-13 23:20] majkelo opened #1669 "Tomcat 8.5.47 COMBINED"
Hi, I use lastest release:
[code]

I have set up server.xml as

[code]

than after restart new file generated logs like:

### COMBINED
 after running
`$ goaccess ./logs/api-example_access_log.2020-02-13.txt --log-format=COMBINED`

I received:

same error pops up if I start goaccess without `--log-format` param and choose `NCSA Combined Log Format `

same issue if I run
`$ LANG="en_US.UTF-8" bash -

[2020-02-13 23:37] majkelo commented on #1669
### Solution

`LC_ALL="en_US.UTF-8" bash -c 'goaccess ./logs/api-example_access_log.2020-02-13.txt --log-format=COMBINED'`

### Explanation

my system has different locale:

[code]
I had to explicitly enforce US locale (for alphabetic name of the month)

[2020-02-13 23:37] #1669 closed

[2020-02-13 23:40] majkelo commented on #1612
sometimes you have to use a bit different command:
`LC_ALL="en_US.UTF-8" bash -c 'goaccess access.log --log-format=COMBINED'`

explained in:
https://github.com/allinurl/goaccess/issues/1669

[2020-02-14 00:36] allinurl commented on #1669
Good call on that. Probably a better error message should be displayed on those cases.

[2020-02-14 00:37] allinurl commented on #1612
@majkelo Thanks for pointing that out. Closing this. @DestinyWang feel free to reopen it if needed.

[2020-02-14 00:37] #1612 closed

[2020-02-17 02:49] allinurl commented on #182
@Hexhu Thanks for the reminder. I'll bump this up as I think it should be up on the to-do list.

[2020-02-17 15:10] helen119 opened #1670 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-18 09:17] svenba commented on #1085
The legacy db is very outdated. Any update on this?

[2020-02-18 11:08] helen225 opened #1671 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 14:29] allinurl commented on #1085
@svenba mmdb will be pushed out in the upcoming binary release.

[2020-02-18 14:39] allinurl commented on #1657
Sorry for the delay on this, this should work:

    goaccess access.log --log-format='[%d:%t %^]\t%h\t%v\t%D\t%^"%r" %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T

[2020-02-19 10:43] svenba commented on #1085
v1.3 was released on Nov 23, 2018.

Is there an ETA for the next release?

[2020-02-19 15:14] allinurl commented on #1085
@svenba I completely agree that this coming release is way behind. Though, I'm 2/3 the way onto finishing the new on-disk storage, which is the main change I've been meaning to push out since early v1. That would clear the way for a lot of updates/changes that are in the pipeline. If it all goes well, it would be before or by the end of March.

[2020-02-19 17:22] kate5586 opened #1672 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 18:31] renata117 opened #1673 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 19:25] dschaper opened #1674 "Docker image and Tokyocabinet - build with Debian instead?"
The current docker image is a multistage build using Alpine as the builder. Alpine doesn't have a native package for tokyocabinet so complexity increases with compiling from source and pathing the libraries.

Instead of using Alpine for the build stage, is there interest in using an image with tokyocabinet as a native package? The build artifacts would still be copied to the actual busybox runtime

[2020-02-19 22:14] kobajagi commented on #1646
Same issue here. OpenBSD writes that line when rotating access log and it's in different format then the rest of the logs. Skipping the first line will make goaccess process log just fine.

[2020-02-20 00:54] allinurl commented on #1646
@kobajagi Can you please try running goaccess with `--num-tests=1` and see if that does the trick? Thanks.

[2020-02-20 08:34] milena5511 opened #1677 "HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰💰💰"
HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰 💰 💰
ESCROW VERIFIED💎💎💎
👇 👇 👇

https://tinyurl.com/sr7r3e4

[2020-02-20 15:43] sarcanon commented on #1646
@allinurl I have tried with the `--num-tests` flag and get the exact same error:

[code]
To reiterate, first line of log file is the rotate message, all subsequent lines are properly formatted log entries that can be parsed but for the first line that goaccess is choking on.

Thank you.

[2020-02-20 15:46] rihardse opened #1678 "Can't locate GeoIP because it isn't in the default directory."
This might be more of a Linux issue than GoAccess, but I hope someone can help me.

So when first trying to `$ ./configure --enable-utf8 --enable-geoip=legacy`
I got:
`checking for GeoIP_new in -lGeoIP... no
configure: error:
    *** Missing development files for the GeoIP library`

I installed GeoIP in domain/goaccess. I can't install it in the default location because I'm on shared hosting.
Then

[2020-02-20 15:51] allinurl commented on #1674
Great question. I'm 2/3 the way into replacing tokyocabinet as the on-disk storage, I'm shooting to have this out before or by the end of March. Though, I do appreciate you bringing this up.

[2020-02-20 17:31] allinurl commented on #1678
Did you run after installing GeoIP? e.g.,

[code]

[2020-02-20 17:32] allinurl commented on #1646
Sorry, please try `--num-tests=2` or `--num-tests=10`

[2020-02-20 17:41] dschaper commented on #1674
Great news! The concept is something to keep in mind then, since multistage decouples the build and deployment images. No longer a need to have a stripped down building stage just to keep the deployment lightweight.

[2020-02-20 17:43] rihardse commented on #1678
Do you mean `$ cd goaccess-1.3`?

Directory tree
--domain
    |--goacces
    |     |--GeoIP files
    |--goacces-1.3
    |     |--instalation files for goaccess

[2020-02-20 17:47] sarcanon commented on #1646
Unfortunately, same results:

[code]

[2020-02-20 17:49] allinurl commented on #1678
`$ cd goaccess-1.3`

[2020-02-20 17:49] allinurl commented on #1646
@sarcanon Could you please post the first 10 lines of that log? Thanks.

[2020-02-20 17:59] rihardse commented on #1678
Looks like I'm missing some packages to run `autoreconf -fiv`
This looks like I'm gonna go down a rabbit hole of downloading packages. In my case with shared hosting and not beign able to access /bin, /lib and so on, How should I go about installing packages?

[2020-02-20 18:08] allinurl commented on #1678
You could omit `--enable-geoip=legacy` or you could try building on a different machine with the same arch and just copy the binary and see if that would solve the issue. Otherwise you could ssh to the shared hosting or/and fetch the logs from that shared hosting via sshfs. e.g.,

    # ssh root@server 'cat /var/log/apache2/access.log' | goaccess - --log-format=COMBINED

or

    # sshfs root@serve

[2020-02-20 18:18] rihardse commented on #1678
Does omitting mean not getting Geolocation data?
How would logs help me? After running `autoreconf -fiv` I got:

autoreconf: Entering directory `.'
autoreconf: running: autopoint --force
Can't exec "autopoint": No such file or directory at /usr/share/autoconf/Autom4te/FileUtils.pm line 345.
autoreconf: failed to run autopoint: No such file or directory
autoreconf: autopoint is needed because this

[2020-02-20 18:37] sarcanon commented on #1646
[code]

[2020-02-24 10:02] MyTheValentinus opened #1680 "How the bandwith are calculated ?"
Hello,
This is a question about the bandwith statistics, how goacces get this info. ?
In my log format i don't have this information

Thanks

[2020-02-24 13:29] allinurl commented on #1680
If it's not as part of your log, then it won't be able to calculate it.

[2020-02-24 18:18] MyTheValentinus commented on #1680
Hello, what’s is TX and RX in the report ?

Sent from my iPhone

[2020-02-24 19:07] allinurl commented on #1680
There's only T.X. It's the accumulated "bandwidth" from the access log.

[2020-02-24 19:12] MyTheValentinus commented on #1680
Yeah, but in my access log i not have bandwith

[2020-02-24 19:23] allinurl commented on #1680
It would need to be in the log, otherwise there's no way to report it out.

[2020-02-25 01:17] KarelWintersky opened #1681 "Custom log format request"
My custom log format are:
[code]
How I can use it with GoAccess?

[2020-02-25 13:23] allinurl commented on #1680
Closing this. Feel free to reopen it if needed.

[2020-02-25 13:23] #1680 closed

[2020-02-25 14:53] allinurl commented on #1681
Please post a few lines from your access log. Thanks

[2020-02-25 21:29] #1599 closed

[2020-02-26 01:33] KarelWintersky commented on #1681
[code]

Can I define custom log format at commandline or inside config file using something like directive:
[code]
?
Or attach nginx config as rule ?

[2020-02-26 05:37] abdulmutal commented on #875
Thanks for your Response

[2020-02-26 16:31] aadlung opened #1682 "How to ignore empty referer"
Hi,

is there a way to ignore an empty referer, e.g. if a log file just has a `"-"` as referer?

I've tried just `--ignore-referer="-"` as well as `--ignore-referer='"-"'` but it didn't work.

For sure - I would be able to preprocess the log files before and exclude by regex.

Regards,
Andy

[2020-02-26 19:24] gerhard-tinned opened #1683 "parsing stopps at first empty logfiles"
I am using goaccess version 1.2 which I knowis not the latest version. Still I have seen no issue about this, not even a closed one. I was wondering if I do something wrong.

I use goaccess to generate a summary of all current logs of all my webhosts like this.

[code]

I noticed after log rotate was triggered (and some logs stay empty for a while) that the processing stopped at the first empty lo

[2020-02-27 19:58] gromovadarya90 opened #1684 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-28 00:29] allinurl commented on #1683
Interesting, I can't tell you if this is an issue on v1.3 until I can run some sort of test. Are you able to reproduce this without the auto  rotation? Thanks

[2020-02-28 00:48] allinurl commented on #1681
This should do it:

    goaccess access.log --log-format='(%s) %^[%d:%t %^] %^ %h %^: %T %^"%r" %^"%R"' --date-format=%d/%b/%Y --time-format=%T

[2020-02-28 00:50] allinurl commented on #1678
It should resolve the issue posted above. However, sounds like it's easier to ssh into the machine and run goaccess locally or sshfs the access log.

[2020-02-28 10:26] KarelWintersky commented on #1681
I'll try, thank you.

[2020-02-28 13:32] gerhard-tinned commented on #1683
Short Answer, I can trigger that behaviour.

Long one, ... My Setup looks like that. I have a very simple shell script to generate the goaccess html reports. The procedure looks like that:

1.) I go through all the webhosts and define the path to the log files like that:
   "/path/to/$WEBHOST/logs/*.access.*log-*"
   That pattern with "log-*" at the end only matches already rotated logs.
2.) I use

[2020-02-29 07:58] lerit opened #1688 "no-ip-validation not work"
config goaccess.conf:
no-ip-validation true
throw:
unrecognized option: no-ip-validation

goaccess -V:1.3

[2020-02-29 08:11] lerit commented on #1688
deploy my app in different environment,access direct or behind slb.
so xff not set if access directly.
[code]
this is my log:
[code]
does no-ip-validation  resolve this?

[2020-02-29 12:47] lerit opened #1689 "only less table colums display in my html page"
my html page show less table column different with offical demo:
**offical demo:https://rt.goaccess.io/?20200209201008**
![image](https://user-images.githubusercontent.com/4743467/75607654-5d4d5e80-5b34-11ea-93e9-6ab0faa69566.png)

**my html:**
![image](https://user-images.githubusercontent.com/4743467/75607666-7bb35a00-5b34-11ea-96fa-144fb433f124.png)

[2020-02-29 13:29] lerit commented on #1689
i can see the data in browser network:
[code]

[2020-02-29 16:35] allinurl commented on #1689
Are you logging that data in your access log? Can you please post a few lines from your access log? Thanks

[2020-02-29 17:02] allinurl commented on #1688
You could use that flag (build from development as it hasn't been deployed) as long as the format is the same.

[2020-02-29 17:19] lerit commented on #1689
@allinurl
**my goaccess.conf:**
[code]
**my nginx format:**
[code]
**my nginx log:**
[code]

[2020-02-29 17:24] lerit commented on #1688
thanks!

[2020-02-29 21:09] ruben-p opened #1690 "Token 'ET' doesn't match specifier '%s'"
:/var/log/nginx# goaccess access.log --log-format=COMBINED
Parsed 1 linesproducing the following errors:

Token 'ET' doesn't match specifier '%s'

Format Errors - Verify your log/date/time format

[code]

`# sudo locale
LANG=en_US.UTF-8
LANGUAGE=en_US:en
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8

[2020-02-29 22:34] mdavids commented on #594
Any news on this?

[2020-02-29 23:08] allinurl commented on #594
@mdavids I'm right i'm in the midst of replacing the on-disk storage, once I get that done (prob around March) which is long due, I'll be able to take a look at this and several other requests on my to-do list. Thanks for the heads up.

[2020-02-29 23:12] allinurl commented on #1690
This should do it:

    goaccess access.log --log-format='%h %^[%d:%t %^]%^"%r" %s %b "%R" "%u" %^' --date-format=%d/%b/%Y --time-format=%T

[2020-02-29 23:45] ruben-p commented on #1690
work, thanks!

[2020-02-29 23:46] #1690 closed

[2020-03-01 13:00] lerit commented on #1688
@allinurl
i build goaccess with development,now goaccess start without error.
but  has no data in html page.
network info:{total_requests:10,valid_requests:0,failed_requests:10}
does this options resolve xxf  with '-'?
if xxf address is valid,goaccess work well

[2020-03-02 02:16] allinurl commented on #1689
The following format works for me, v.1.3

    goaccess access.log --log-format='%^[%d:%t %^] "%r" %s %b "%R" "%u" %^ %T ~h{", }' --date-format=%d/%b/%Y --time-format=%T -o a.html

Producing:

![2020-03-01-201519_1319x831_scrot](https://user-images.githubusercontent.com/5005367/75640117-75d37c80-5bf9-11ea-859f-cca1b5ce5a63.png)

[2020-03-02 02:16] allinurl commented on #1688
Sounds like the wrong format. Please take a look at the other issue you opened.

[2020-03-02 03:58] lerit commented on #1689
@allinurl
thank you. i try ,but nothing different.
i fact,shell work fine:
![2020-03-02 11-56-07屏幕截图](https://user-images.githubusercontent.com/4743467/75644340-fc7d6d80-5c7c-11ea-838c-eb1cf0b14879.png)
html not work:
![2020-03-02 11-56-36屏幕截图](https://user-images.githubusercontent.com/4743467/75644345-fedfc780-5c7c-11ea-93e4-1f5600ed48b8.png)

[2020-03-02 04:06] allinurl commented on #1689
Are you piping data in or reading directly from the log? This seems related or a dup of #1501

[2020-03-02 04:07] allinurl commented on #1689
Also, please attach your HTML report file here. Thanks

[2020-03-02 04:23] lerit commented on #1689
generate html:
[index.zip](https://github.com/allinurl/goaccess/files/4273407/index.zip)
I don't know what's mean piping data.i use a docker conatainer to generate the html page

[2020-03-02 04:31] lerit commented on #1689
i use a custom [docker](https://github.com/GregYankovoy/docker-goaccess),with nginx to serve the html page

[2020-03-02 12:21] gerhard-tinned commented on #1683
Reproducable with following test procedure using goaccess 1.2:
1. placed two log files into a directory. both contain some apache access log lines.
2. Run goaccess to verify correct behaviour -> OK
[code]
3. create an empty file matching the input file pattern
[code]
4. Run the goaccess command again with different out filename.
[code]

The result is one generated file called "working.html" but no

[2020-03-02 15:05] allinurl commented on #1683
Thanks for sharing those details, let me look into this and I'll post back.

[2020-03-03 15:51] chamdan55 commented on #1021
what the meaning uncomment log/date/time format?

[2020-03-03 22:17] clusin opened #1691 "Custom logging string not with vhost setup"
Hi I have a custom Nginx log format configuration for an nginx setup running vhosts:
[code]

Per the documentation there's a helpful script to convert custom NGINX log strings to goaccess log strings. I run that:
[code]

Which gives output:
[code]

I put that into my /etc/goaccess.conf. My config script loks like:
[code]
Running produces failures:
[code]

In my access log there's some knuckleheads

[2020-03-03 22:30] allinurl commented on #1691
This should do it.

    goaccess access.log --log-format='%d:%t %^ %^ %^ %^=%h %^=%s %^=%b %^="%r" %^="%R" %^="%u"' --date-format=%d/%b/%Y --time-format=%T

I think the helper script may need an update for more complex formats.

[2020-03-03 22:41] clusin commented on #1691
Ah I understand the issue now. Thank you.

[2020-03-03 22:50] allinurl commented on #1691
Glad that did it. Closing this. Feel free to reopen it if needed.

[2020-03-03 22:50] #1691 closed

[2020-03-04 02:22] allinurl commented on #1021
@chamdan55 You either need to specify those three options as command line options or via the config file (meaning remove the leading `#`).

[2020-03-04 09:10] letwang opened #1692 "goaccess git:(master) make error"
[code]

[2020-03-04 09:14] letwang commented on #1688
https://github.com/allinurl/goaccess/issues/1692

[2020-03-04 09:15] letwang commented on #1688
为什么我编译 报错？
https://github.com/allinurl/goaccess/issues/1692

[2020-03-04 15:11] allinurl commented on #1692
I'm not sure why you are getting that issues. Please try adding `"Language-Team: \n"` to the top of the `**de.po**` file. e.g., https://github.com/allinurl/goaccess/blob/master/po/es.po

[2020-03-04 15:13] allinurl commented on #1688
@lerit any updates?

[2020-03-04 15:29] lerit commented on #1688
@allinurl
nothing update.you tell me [this](https://github.com/allinurl/goaccess/issues/1688#issuecomment-593094435) relate to #1689

would you please help me  resolve that issue

[2020-03-04 15:31] allinurl commented on #1688
I'm looking at the other issue, I'll close this then.

[2020-03-04 15:31] #1688 closed

[2020-03-04 18:37] JoshDebris opened #1693 "How to analyze zipped log files on a remote webserver?"
I want to set up goaccess on my local RaspberryPi and after that I want to analyze logfiles from a few remote server of the same provider. This provider stores all the logfiles in /logs

So far so good...

But... all these logfiles are zipped like: access_log_2020-03-03.gz
Is it somehow possible to read these zipped logfiles with goaccess?

Thanks in advance... :)

[2020-03-04 19:10] allinurl commented on #1693
Great question. I'd use `sshfs` and mount that directory on your RaspberryPi.

[2020-03-04 20:09] JoshDebris commented on #1693
Thank you for that tip.

I'm totaly overwhelmed wth the whole Linux stuff.... but I will read the documentaion about sshfs.
Hopefully I can get goaccess running at all? ;-)

[2020-03-04 20:32] allinurl commented on #1693
You should be able to run it as (assuming debian on the RaspberryPi):

[code]

[2020-03-05 05:22] EpochalEngineer commented on #969
Did you have any success replicating?

I was able to replicate on my end with the curl commands and with a cookie set returning 400.  Opening goaccess incognito is successful.

[2020-03-05 08:10] rmmcclay opened #1694 "Report is Created But Won't Load in Firefox or Chrome or Other Browser - Spinner Spins"
Successfully compiled and installed goaccess.  It runs successfully and creates "report.html". The file is about 4K, but it won't load.  Just an endless spinner. Any ideas?

Also, the command line generates the reports perfectly on the console.

[2020-03-05 10:10] MrSorcus commented on #1694
What `Console` tab says in an Inspect Code mode?

[2020-03-05 10:21] rmmcclay commented on #1694
Nothing. No errors, no warnings.

[2020-03-05 10:24] MrSorcus commented on #1694
Can you provide a link?

[2020-03-05 10:32] rmmcclay commented on #1694
Yes, though it is temporary:
http://pqcstudio.com/report.html

[2020-03-05 10:45] MrSorcus commented on #1694
@rmmcclay your `report.html` doesn't contain 2 last js scripts.
If you open it, you will see 2 empty `<script></script>`.
And if use paste manually missed code from https://rt.goaccess.io/ (for example) you've got it work.
But why it happen i don't know.
What version you use? 1.3 release or `master` branch?

[2020-03-05 10:49] MrSorcus commented on #1694
@rmmcclay i found a similar issue, that might help you - https://github.com/allinurl/goaccess/issues/1415

[2020-03-05 12:07] jamieburchell opened #1695 "Purple display issues in terminal"
When starting goaccess I always have display issues as can be seen in the images below. I'm not sure if this is a bug in goaccess or the terminal or terminal configuration:

![Capture](https://user-images.githubusercontent.com/3270426/75980084-bb35c980-5ed9-11ea-9762-9ef836189de8.PNG)
![Capture2](https://user-images.githubusercontent.com/3270426/75980089-bd982380-5ed9-11ea-9f51-f460bfb74bb1.PNG)

[2020-03-05 12:12] MrSorcus commented on #1695
Did you try other terminals?

[2020-03-05 12:41] jamieburchell commented on #1695
You are right; it works fine in the terminal provided by Windows. Looks like I should ditch ConEmu.

[2020-03-05 13:14] MrSorcus commented on #1695
You can create issue here https://github.com/Maximus5/ConEmu
Maybe they fix it if bug is the affected to their terminal.

[2020-03-05 15:17] allinurl commented on #1694
@MrSorcus Thanks for posting that. @rmmcclay Please try building from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) as I believe this has been fixed upstream. Let me know if that solves the issue. Thanks!

[2020-03-05 18:38] lelas commented on #1080
Mind sharing your findings? I'm having the same issue.

[2020-03-06 05:20] rmmcclay commented on #1694
Thanks @MrSorcus and allinurl for your comments and help.  I think my machine (CentOS 5) is too old.  I tried building from development, but git clone throws SSL errors, but then downloaded it from another server.  Then autoconf and autom4te errors. Compiled latest versions of those, but still not able to succeed.

[2020-03-06 10:08] ottok commented on #465
I think this was addressed in https://github.com/allinurl/goaccess/pull/1395

[2020-03-07 00:59] clusin opened #1696 "Configure html output to hide specific table columns for given chart"
Hi,

Is it possible to leverage the `html-prefs` configuration option some way to hide specific table columns by default in the generated report?

I was digging around a bit in the HTML and it looks like there's a `hide` attribute somewhere in the page's generated prefs structure. But I wasn't sure how to go about setting it via configuration or if it's possible.

Is this supported?