[2019-01-18 01:36] allinurl commented on #1337
Is Chinese locals installed on the machine? e.g., ‘locale -a’

[2019-01-18 06:36] vincentbernat opened #1354 "Compatibility with IP obfuscation"
One way to ensure we don't collect personal data in logs is to obfuscate the IP address. Some users may just remove the last byte of the IP, but this makes it more difficult to count visits. On the other hand, for IPv6, this is not enough as the first 8 bytes are considered enough to identify most users.

nginx has a third-party module called [ipscrub](https://github.com/masonicboom/ipscrub). It h

[2019-01-18 18:03] sdeuvarow opened #1355 "Error on processing Tomcat access log file"
Hi, my access log is
        **pattern**="_%h %l %u %t &quot;%r&quot; %s %b %D %I_"

So it writes lines like:

_0:0:0:0:0:0:0:1 - - [17/Jan/2019:05:56:42 -0600] "GET a/b/c HTTP/1.0" 200 45 3 http-nio-8080-exec-10
0:0:0:0:0:0:0:1 - - [17/Jan/2019:05:56:52 -0600] "GET a/b/d HTTP/1.0" 200 45 2 http-nio-8080-exec-6
0:0:0:0:0:0:0:1 - - [17/Jan/2019:05:56:54 -0600] "POST a/e HTTP/1.0" 200 905 20 http-ni

[2019-01-19 18:37] SleepyMario opened #1356 ""Last Updated entry" gives goaccess startup time, not time of last update."
Hello. The "last updated" entry on top of the html life graph is displaying the time of startup of goaccess instead of the 'last updated' time. This makes sense because I use tail to parse the most current log file, but do you know of a way to make it actually display the real 'last updated' time when it's doing a live update? You can see the live-html feed at https://sleepymario.com/all/site-stat

[2019-01-20 08:13] mmihael opened #1357 "Avg, Cum and Max T.S not shown on html report"
Avg, Cum and Max T.S are not shown on html report.
Log pattern is configured fine since on cli interface these properties are shown.

I installed goaccess with brew, and version installed is 1.2

[2019-01-20 11:02] allinurl commented on #1357
I believe this was fixed in v1.3. Could you please try using the latest version and see if that fixes the issue for you? Thanks

[2019-01-20 13:05] mmihael commented on #1357
Updated to v1.3.
I found that issue is only there if I use --real-time-html flag if I run command without it then it works fine.

[tail -f from ssh] | goaccess -a -o report.html --real-time-html -

[2019-01-20 23:20] Glujaz opened #1358 "Homebrew with-geoip formulae not up to date"
Hello,

Sorry for bothering, but installing goaccess with geo location via Homebrew is not possible anymore since High Sierra.

Is it possible to update it ?

If not, do you have a precise guide to do so ? In another issue report about this, the links are not valid anymore. Moreover, I've never done this before...

Thanks :)

[2019-01-21 00:03] jidanni opened #1359 "TIME DISTRIBUTION HTML graph times should be right to left, not left to right"
TIME DISTRIBUTION HTML graph times should be right to left, not left to right:
23 20 17 14 11 08 05 02

[2019-01-21 00:08] jidanni opened #1360 "Compilation options that don't belong on the man page"
[code]
These are compilation options that don't belong on the man page.

[2019-01-21 00:11] jidanni opened #1361 "The only way to avoid the dialog..."
ne would think a
[code]
file would be read. But in fact it is not.

One still enters the quiz dialog.

One would also think
[code]
would get it read. It does not.

The only way to avoid the dialog turns out to be
[code]
(Seen on Debian.)

[2019-01-21 00:11] jidanni commented on #1361
Oops... one moment please.

[2019-01-21 00:11] #1361 closed

[2019-01-21 00:15] jidanni opened #1362 "Newline not added after "[xxx] [xxx/s]":"
Newline not added after "[4,724] [4,724/s]":
[code]
Anyway, the number end up where the user is supposed to be typing the next Unix command.
Some lack of CR LF.

[2019-01-24 17:07] jazzl0ver commented on #1352
Here is my config for haproxy:
[code]
HTH

[2019-01-24 23:42] shaal commented on #716
I have the same issue on Ubuntu 18.10
I tried using the instructions here https://goaccess.io/download#official-repo
but still no success

[2019-01-25 03:09] tstack opened #1363 "Pressing CTRL+C at the startup config window doesn't cause an exit"
version: goaccess v1.2 (the latest version in OS X brew)
command-line: goaccess /path/to/log

While "Log Format Configuration" is displayed, pressing CTRL+C causes "SIGINT caught!" to be displayed and then "Closing GoAccess...", but nothing actually happens and you're stuck in the screen.  Pressing CTRL+C again just gives the same message.  Pressing 'q' does work (although, I didn't notice that te

[2019-01-26 08:48] szepeviktor opened #1364 "2 configs in Debian package"
Could it be that the Debian package from deb.goaccess.io contains 2 config files?

[code]

[2019-01-26 09:01] szepeviktor opened #1365 "libssl Depends problem in Debian packge"
Depends says: `libssl1.0.0 | libssl1.0.1 | libssl1.0.2` but the binary is linked to version 1.0.0

[code]

libssl1.0.2 package in Debian stable has only `libssl.so.1.0.2`

Please advise.

[2019-01-26 09:09] szepeviktor commented on #1365
I'm sorry, I've installed the jessie package in stretch.

[2019-01-26 16:47] rctgamer3 opened #1366 "goaccess-tcb update to 1.3 not working"
Latest version available is still 1.2

[2019-01-26 16:49] rctgamer3 commented on #1366
Running Debian stretch, somehow apt still reports 1.2 as the latest version, however I can see that 1.3 is on the repo.

[2019-01-26 16:50] rctgamer3 commented on #1366
[code]

[2019-01-29 15:52] atc0005 commented on #1312
---

@plantroon I thinkk what @allinurl  was asking is what *specific* steps you took to enable use of the upstream goaccess repo. I think the goal is to be certain that when you ran `apt install goaccess` the upstream package was installed instead of the package from the Ubuntu repos.

FWIW, I too am seeing goaccess take a long time to quit. In my case I've asked it to resolve IPs, so I suspect t

[2019-01-29 17:25] allinurl commented on #1352
@valcenirh can you please post a few lines from your access log?

[2019-01-29 19:00] atc0005 opened #1367 "How do you extend the number of entries that show within a panel for HTML output?"
I've tried the following to limit the generated HTML panels list to just the "HOSTS" panel with the hope that it would expand to include more entries, but no such luck:

[code]

I assume I'm doing something wrong, but the entries in the panel appear to be limited to 7 items.

What I'm really trying to accomplish is either a longer listing of top visitors *or* a grouping of visitors by domain inste

[2019-01-29 19:18] allinurl commented on #1367
You can set the number of items through the preferences (HTML report) or through your config file, e.g.,

    html-prefs {"autoHideTables":true,"layout":"horizontal","perPage":15,"theme":"darkPurple"}

Please note you may need to reload the report (Ctrl+Shift+r)

[2019-01-29 19:20] atc0005 commented on #1367
omg, I am so blind. Thank you for patiently/kindly pointing that out. :)

[2019-01-29 19:33] allinurl commented on #1367
Glad to hear you were able to spot it :)

[2019-01-29 19:33] #1367 closed

[2019-01-29 19:49] atc0005 opened #1368 "Feature request: Group by source domain or subnet"
This is a tangent from the report on #1367. My apologies if I overlooked existing support (as I did with that earlier report).

Goal: Generate stats for bots from a domain or subnet by grouping the results together. For example, instead of displaying top X host entries with separate FQDNs for each resolved source bot IP, show stats collectively for example.org isntead of crawl10.xx.example.org, cr

[2019-01-30 08:22] zwebmedia commented on #1163
Thank you profusely for making this program open source. Total Linux newbie so please be gentle. Installed on DO Ubuntu 18.04 with real time browser output. Browser page loads with tons of JS in the source, but circular waiting never goes away (page never renders). Trying to go through your last recommendation and getting error:

`:~# autoreconf -fiv

autoreconf: 'configure.ac' or 'configure.in' i

[2019-01-30 12:35] zwebmedia commented on #1163
Continuing to test, and yeah! I am seeing some analytics results. I installed a few packages and also needed the ws host config:

`ws-url wss://mysite.com:8080`

I think I have turned on SSL but when I un-comment the SSL cert and key, I get error about unknown option --SSL-cert

Please don't ask how I built anything because I wouldn't know what that means. I used Ubuntu package manager:

`apt-get

[2019-01-31 01:42] frankfuu commented on #1042
hey @drozzy , did you end up finding a solution?

[2019-02-01 20:41] evemilano opened #1369 "how to show full requested URL instead of relative link"
Hello, I have some websites running on the server and it would be useful to have a full URL in the report instead of relative URL.
How can I get it? Is it possible?

Thank you

[2019-02-04 09:56] MasoudKaviani opened #1371 "laravel log format doesn't match specifier"
I have a laravel file and i want to run goaccess on it:
Here is my sample log format:

`[2019-02-04 08:27:54] debuge.ERROR: Symfony\Component\Debug\Exception\FatalThrowableError: Class 'Illuminate\Mail\MailServiceProvider' not found in /home/api/domains/dayacom.ir/public_html/vendor/laravel/lumen-framework/src/Application.php:176
Stack trace:
#0 /home/api/domains/dayacom.ir/public_html/bootstrap/a

[2019-02-04 10:22] frankfuu commented on #1042
Thanks @drozzy.  I'll look into that

[2019-02-05 14:44] allinurl commented on #1003
Unfortunately I haven't been able to reproduce this on my side. I'm thinking this could be related to the btree storage, though the odd thing is that you said the tables are working fine...

[2019-02-05 14:48] #1354 closed

[2019-02-05 14:51] allinurl commented on #1371
Unfortunately your log format doesn't appear to be from an access log so goaccess won't be of much help. You will need to try a different tool though.

[2019-02-05 14:51] #1371 closed

[2019-02-05 14:54] allinurl commented on #1369
How does your log look like? Can you please post an example of what you are expecting the report to look like? Thanks.

[2019-02-05 15:01] allinurl commented on #1163
@zwebmedia it looks like you have installed goaccess without ssl support. Did you use the office deb repo (deb.goaccess.io) to install goaccess? if not, you will need use the official repo or simply build from source.

[code]

[2019-02-05 15:05] jazzl0ver commented on #1003
What if I archive the current tcb files along with goaccess.conf and send them to you? Would you be able to try them onto your side?

[2019-02-05 15:10] allinurl commented on #1368
Thanks for suggesting this. It sounds like you would be able to do this when #117 is implemented as it will give you the ability to filter by specific field, e.g., `192.168.0.1/24` or `example.org` which should give you an overview of that specific bot/subnet.

The workaround right now would be to preprocess the log, e.g., awk, sed, grep and pipe the output to goaccess. Please take a look at the [

[2019-02-05 15:11] allinurl commented on #1003
Before doing that, would you be able to try this out by building goaccess without btree support but instead using the default hash tables? Thanks

[2019-02-05 15:12] jazzl0ver commented on #1003
will it still be able to keep db files on disk?

[2019-02-05 15:17] jazzl0ver commented on #1003
just built it and now it complains:
[code]

[2019-02-05 15:19] allinurl commented on #1003
It won't persist data on disk, I just want to make sure it's not related to the btree storage. Just for testing purposes.

[2019-02-05 15:22] jazzl0ver commented on #1003
But how to load the db files in this case?

[2019-02-05 15:24] allinurl commented on #1003
For now you can't, you will need to run goaccess against the current access log and see if the charts still get stalled. e.g.,

    goaccess access.log --port=7890 -o /var/www/html/report.html --real-time-html

[2019-02-05 15:31] allinurl commented on #1003
does it stall with the hash tables as well after some time?

[2019-02-05 15:32] jazzl0ver commented on #1003
i didn't check that. i need to keep history

[2019-02-05 15:34] allinurl commented on #1003
That's why I said if you could help test it out. Otherwise I'm not sure I can fix this since btree is going away (being replaced) and we're not sure if it's happening only with btree or hash tables as well.

[2019-02-05 15:37] jazzl0ver commented on #1003
ok. i'll try to run w/o btree. will let you know if/when it happen

[2019-02-05 15:48] evemilano commented on #1369
this is how the log is

185.211.245.167 - - [01/Feb/2019:20:55:05 +0000] "**GET /example-html** HTTP/1.1" 301 194 "http://giobrazo.com/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_34_87) AppleWebKit/532.93.46 (KHTML, like Gecko) Chrome/57.5.0410.5782 Safari/534.53 Edge/34.69610"

this is how I would like

185.211.245.167 - - [01/Feb/2019:20:55:05 +0000] "**GET https://example/example.html/** HTTP/

[2019-02-05 16:31] jazzl0ver commented on #1003
the counters are growing but the charts are empty:
![image](https://user-images.githubusercontent.com/2444175/52288102-8ffe4500-297c-11e9-8bd5-a3a5ae63f56c.png)
[code]

[2019-02-05 17:19] jazzl0ver commented on #1003
oh boy.. i've figured it out. there was an error in log_format line:
[code]
and it failed to parse the log lines like this:
[code]
while successfully parsed, for example:
[code]
so, i ended up with this workaround:
[code]
and now it works as expected!

I truly apologies for bothering you with this :((

[2019-02-07 09:24] M034B5 commented on #1080
how can this be solved in docker? because i'm getting the same error.

i have created /srv/logs/access.log
and i mounted it in the docker command like this `-v "/srv/goaccess/logs:/srv/logs"`

[2019-02-08 02:21] allinurl commented on #1080
@M034B5 Did you follow [**this**](https://github.com/allinurl/goaccess#docker)?

[2019-02-08 02:26] allinurl commented on #1369
I see. Are you recording the vhost somehow? e.g., https://example would it be always part of the referrer?

[2019-02-08 02:56] allinurl commented on #1356
Yep, I can confirm this. I'll look into it and post back asap. Thanks for reporting it!

[2019-02-08 14:14] tellustheguru commented on #701
I have translates GoAccess to Swedish, how do I send it to you?

[2019-02-08 14:47] allinurl commented on #701
@tellustheguru Thanks for offering to translate it to Swedish. Please submit a PR so I can merge it here. Here you can find the [steps](https://github.com/allinurl/goaccess/issues/858#issuecomment-320257517) to do the translation if needed.

Let me know if you have any questions. Thanks!

[2019-02-08 15:25] tellustheguru opened #1373 "Swedish Translation"
Here is the Swedish translation, I have tried it and it works...

[code]

[2019-02-11 07:12] M034B5 commented on #1080
Oops forgot to update my post, everything ran smoothly. I skimmed through some closed issues back then and solved my problem, Documentation lacks a lot of information. But all good now. Thanks!

[2019-02-11 10:56] balazsbaranyi commented on #377
Any news about this one?

[2019-02-11 13:06] idreamsoft opened #1374 "make error on FreeBSD 11.1-RELEASE"
[code]

[2019-02-11 13:08] idreamsoft commented on #1374
fixed
src/gholder.c
add
`#include <sys/socket.h>`

[2019-02-11 14:43] allinurl commented on #1374
Thanks for reporting this. Did you build from source? [**this**](https://github.com/allinurl/goaccess/blob/master/src/gholder.c#L35) is already added.

[2019-02-11 14:48] idreamsoft commented on #1374
@allinurl
Downloaded from `https://tar.goaccess.io/goaccess-1.3.tar.gz`,
on this page `https://goaccess.io/download`

[2019-02-11 14:50] allinurl commented on #1374
Got it. This was fixed on Dec 3, 2018 upstream. Closing this. Thanks!

[2019-02-11 14:50] #1374 closed

[2019-02-12 16:44] chevybeef commented on #1362
I have noticed this too.

[2019-02-13 06:46] hurricane1988 opened #1375 "how to rename the dashboard"
Hi, guys!
How to modify the name of dashboard?

[2019-02-13 12:59] allinurl commented on #1375
Please use `--html-report-title='My Awesome Web Stats'`

[2019-02-13 13:01] allinurl commented on #1373
Thanks for posting this. Would you be able to submit this as a PR? or is it okay I commit this myself?

[2019-02-13 13:03] allinurl commented on #377
@balazsbaranyi still on the works. I need to address a few other issues on the to-do list before getting to this.

[2019-02-13 13:03] marcelboccato commented on #1348
@allinurl can you help-me on this?

I'm got following error:

Parsed 1 linesproducing the following errors:
Token '▒▒"2019-02-12' doesn't match specifier '%d'
Format Errors - Verify your log/date/time format

The configurations are:

# Start GoAccess
/usr/local/bin/goaccess /var/log/azure/Microsoft.Azure.Networking.ApplicationGateway.LogProcessor/access.log* -o /var/www/html/report.html --real-tim

[2019-02-13 13:12] tellustheguru commented on #1373
Hello,

Im a newbie on Github so I don´t no what a PR is :)

So you can commit it..

[2019-02-13 17:00] gadelkareem opened #1376 "Support Beego JSON format"
Is it possible to parse this json https://github.com/astaxie/beego/pull/2863 ?

[2019-02-13 17:02] allinurl commented on #1376
Looks like it is possible. Please feel free to post a few samples lines. Thanks.

[2019-02-13 17:09] gadelkareem commented on #1376
[code]

[2019-02-14 18:20] leepoi opened #1377 "goaccess 1.3 html no display"
Thank you for your excellent software.

But.....  I have a strange HTML display problem , I spent two nights trying to solve this problem, but I had no idea.

I have two Centos 6.9 servers with the same problem .  And I used the same log to experiment

I compiled version 1.3, which works normally under the shell window, but the exported HTML does not display the content, only turns around  and  ch

[2019-02-15 09:05] andreasemer opened #1378 "OSX Mojave issues with"
Hello,

i have issues to install Goaccess on OSX Mojave.

Xcode Version 10.1 (10B61), the command line tools and the Path settings were already present.

Here is my install log:

[code]

Maybe someone already faced this issue and can help me to install Goaccess on OSX.

[2019-02-15 13:05] allinurl commented on #1375
Closing this. Feel free to reopen it if needed.

[2019-02-15 13:05] #1375 closed

[2019-02-15 14:59] allinurl commented on #1377
Thanks for reporting this. Like you said, it's seems related to the locale. Can you please try to set your locale and then build again? e.g.,

[code]

[2019-02-15 14:59] allinurl commented on #1377
By the way, is the terminal output also broken for your locale? Thanks

[2019-02-15 15:56] leepoi commented on #1377
1#   I remember trying it before, but it doesn't work. To confirm it again, I just reinstalled it according to your instructions. It's still not normal.

2#   It works perfect in terminal output

[2019-02-15 16:41] leepoi commented on #1377
haha  I solved it.

The reason is that someone set some strange I18N config  when installing the operating system

when i type  command  "locale"  in terminal
the wrong config is below :

LANG=en_US.UTF-8
LC_CTYPE="zh_CN"
LC_NUMERIC="zh_CN"
LC_TIME="zh_CN"
LC_COLLATE="zh_CN"
LC_MONETARY="zh_CN"
LC_MESSAGES="zh_CN"
LC_PAPER="zh_CN"
LC_NAME="zh_CN"
LC_ADDRESS="zh_CN"
LC_TELEPHONE="zh_CN"
LC_MEASUREM

[2019-02-15 18:25] filipecifali opened #1379 "Docs improvement on HTML template"
First of all, thanks for GoAccess, it looks good and runs smooth!

I've faced some customization requirements for my needs and didn't find in the site man pages / faq / examples section the right way to customize resources/tpls.html.

I've managed to do what I wanted but I'm considering expanding the section via PR in case anyone finds it interesting?

Basically what I needed was to have a second

[2019-02-16 10:05] #1377 closed

[2019-02-16 15:14] lukaslew opened #1380 "Suggestion: Daily uptime chart"
It would be nice if it would be possible to see Daily Uptime of a system based on source of an access.log file. Each 2XX and 3XX status codes would be treated as the system was available when 4XX and 5XX status codes would be treated as the system was unavailable.

For instance:

We have the following number of status codes in the access.log file:

Date | No of 2XX | No of 3XX | No of 4XX | No of

[2019-02-16 18:28] roma-glushko commented on #1352
Hi @allinurl , I'm also using Haproxy + Httpd and got only a couple of IPs detected. My access log looks like this

`127.0.0.1 - - [16/Feb/2019:00:00:00 -0500] "GET /path?auto HTTP/1.1" 302 - "-" "Go-http-client/1.1"`

`127.0.0.1 67.67.67.67, 163.241.184.49 - [16/Feb/2019:00:00:00 -0500] "GET /customer/xx/yy?xx=www HTTP/1.1" 200 785 "https://www.website.com/" "Mozilla/5.0 (Windows NT 10.0; Win64;

[2019-02-17 17:21] NatoBoram opened #1382 "Snap Package"
Hello!

Would it be possible to add a Snap package? There's a [documentation for C / C++ applications](https://docs.snapcraft.io/c-c-applications/7817).

There's already a version on the Snap Store [here](https://build.snapcraft.io/user/cprov/goaccess-snap) and there's a GitHub repo [here](https://github.com/cprov/goaccess-snap), but I'd like to have it from the official source.

[2019-02-17 23:02] ThomasCr commented on #988
I have also a problem with squid log format:```

Token '/98' doesn't match specifier '%x'
Token '/clientservices' doesn't match specifier '%x'
Token '/sluk' doesn't match specifier '%x'
Token '/tile-service' doesn't match specifier '%x'
[code]
1550353239.789      0 rd1.domain.lan TCP_DENIED/403 4335 GET http://98.157.215.153/ - HIER_NONE/- text/html
1550374020.692     83 desktop-o1g07qt.domain.lan

[2019-02-17 23:12] ThomasCr opened #1383 "squid logfile: doesn't match specifier '%x'"
I have also a problem with squid log format:
[code]
I think this are the problematic lines:
[code]
my logformat in squid is:
`logformat squid      %ts.%03tu %6tr %>A %Ss/%03>Hs %<st %rm %ru %[un %Sh/%<a %mt`

this is the default:
`logformat squid      %ts.%03tu %6tr %>a %Ss/%03>Hs %<st %rm %ru %[un %Sh/%<a %mt`

So I only changed a to A

Source: http://www.squid-cache.org/Doc/config/logformat/

I

[2019-02-18 15:46] marcelboccato commented on #989
Facing same problem here:

curl -v http://127.0.0.1:8080/report.html
*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to 127.0.0.1 (127.0.0.1) port 8080 (#0)

< HTTP/1.1 400 Invalid Request
* no chunk, no close, no size. Assume close to signal end
<
* Closing connection 0

[2019-02-18 23:32] irab commented on #1378
Also have the same issue here. brew reinstall gettext did not help.

[2019-02-19 07:04] surajmb commented on #1322
Hi @rskeel the issue could be with the SAS URI used in your case is created from the Storage account level. However, for GoAccess to access the logs, you might need to provide container-level SAS URI for "insights-logs-applicationgatewayaccesslog".

Please check the updated ReadMe document here for further instructions on SAS URI generation: https://github.com/Azure/azure-quickstart-templates/blob

[2019-02-19 13:09] allinurl commented on #1369
Any updates on this? Basically you want to prepend the referer to the request?

[2019-02-19 13:12] evemilano commented on #1369
not the referrer, but the full domain of the requested page
if a bot asks for /abc
i would like to see in the lig example.com/abc

is it possible?

*Distinti saluti | With kind regards | Mit freundlichen Grüßen | Med venlig
hilsen*

*Giovanni Sach**eli*
Partner & Head of SEO

*Email:* giovanni@searcus.dk
*Skype:* Giovanni Sacheli
*Office CH: *+41 (0)79 8643035
*Mobile:* +39 339 3668879
*Website:*

[2019-02-19 15:03] allinurl commented on #1369
As long as the host (e.g., example.com) is being logged somewhere, then yes, otherwise, goaccess has no idea which host to prepend.

[2019-02-19 15:10] allinurl commented on #1378
Thanks for all the reports. Can you please try either or both:

    # port install gettext
    # brew link gettext --force

Otherwise, let me know and I can try to get a hold of a machine w/ macOS Mojave.

[2019-02-19 15:12] allinurl commented on #989
@marcelboccato I'm not able to reproduce this on my side. Are you able to post a bit more about your environment? also, are you able to test this out on a different machine and see if it's isolated to a particular box? Thanks.

[2019-02-19 15:15] allinurl commented on #1382
Thanks for suggesting this. Sounds doable. Are you familiar with Snap? Would you be able to submit a PR and I can take a look? Let me know. Thanks.

[2019-02-19 19:07] NatoBoram commented on #1382
I am not familiar with building C++ apps, but perhaps @cprov could help!

[2019-02-20 18:35] allinurl commented on #1383
Could you please post the goaccess log-format that you are currently using? Thanks.

[2019-02-20 18:38] allinurl commented on #1352
@roma-glushko there are some inconcensticnes in your log. For instance, some of the posted lines have commas in between IPs, others don't. Which one is the actual client IP that you want to track?

[2019-02-20 18:40] allinurl commented on #1380
I like this idea. Let me look into this.

[2019-02-20 18:42] allinurl commented on #1377
Glad you got it to work. However, is the Chinese output still broken? If it is, would you be able to send me a few lines from your log that are in fact causing the report to break? Thanks

[2019-02-20 18:51] allinurl commented on #1376
Sorry for the delay on my reply. This should work:

    goaccess access.log --log-format='%d %t.%^ %^ %^:"%h",%^:"%^",%^:"%^",%^:"%r",%^:"%^",%^:"%v",%^:%s,%^,%^,%^:"%R",%^:"%u",%^:"%e"' --date-format=%Y/%m/%d --time-format=%T

I'm not sure the `elapsed_time` values are in microseconds? If they are, you could try:

    goaccess access.log --log-format='%d %t.%^ %^ %^:"%h",%^:"%^",%^:"%^",%^:"%r",%

[2019-02-20 18:55] allinurl commented on #1348
Sorry for the delay on my reply. So is the log that you are trying to parse w/ goaccess the former or the latter? e.g.,

    { "resourceId": "/SUBSCRIPTIONS/subscriptionid/RESOURCEGROUPS/resource/PROVIDERS/MICROSOFT.NETWORK/APPLICATIONGATEWAYS/TVSTGAPPGTW", "operationName": "ApplicationGatewayAccess", "time": "2018-12-21T15:00:04Z", "category": "ApplicationGatewayAccessLog", "properties": {"instan

[2019-02-20 20:23] gadelkareem commented on #1376
Great thanks!  the elapsed_time is in nanosecond. The parsing is taking quite some time to finish but the end result is amazing!

[2019-02-20 20:25] allinurl commented on #1376
great to hear it worked. though, you won't be able to parse the elapsed_time w/o some preprocessing of the log. closing this. feel free to reopen it if needed.

[2019-02-20 20:25] #1376 closed

[2019-02-20 21:33] ThomasCr commented on #1383
I used the predefined squid log format

[2019-02-21 19:49] marcelboccato commented on #1348
Hi @allinurl
I don't know why, but reinstalling GoAccess 1.2 (was using 1.3), apparently back to normal and working without problems so far.

I'll close this issue. Thank you!

[2019-02-21 19:53] shreyasnagare commented on #386
This did not work for me. ERROR:

[code]

My log file is in the following format:

[code]
Can you suggest a [log format for uwsgi](https://uwsgi-docs.readthedocs.io/en/latest/LogFormat.html) which would work for goaccess but still log all the details?

[2019-02-22 02:03] leepoi commented on #1377
:-)   Now the Chinese display is perfect, there is no need to modify anything else.

[2019-02-22 08:30] saclin opened #1384 "didn't enable real-time-html, but comes out: websocket ready to accept new client"
here is my command:
goaccess api.crm.51zan.production.access.log -a -o test.html
then comes out:
WebSocket server ready to accept new client connections

in the access.conf, I didn't enable real-time too!!!
![image](https://user-images.githubusercontent.com/30526808/53229583-9ea86400-36bf-11e9-8a03-bae913f028e8.png)

[2019-02-25 08:02] Zewy commented on #1066
@allinurl I also have the same problem. I also used the nginx2goaccess.sh to try to get the log format but no result at all or errors for me.

[code]

When I run this line I get Parsing... [0] [0/s] vistors adds like 2000 lines/s

`goaccess -f /var/log/nginx/access.log --log-format='%h - %^ [%d:%t %^] "%r" %s %b "%R" "%u" "%^" %T "%^"' --date-format=%d/%b/%Y --time-format=%T`

example line
`192.16

[2019-02-26 12:51] allinurl commented on #1066
@Zewy Please try this, should do it:

    goaccess access.log --log-format='%h %^[%d:%t %^] "%r" %s %b "%R" "%u" "%v" %T %^' --date-format=%d/%b/%Y --time-format=%T

[2019-02-26 12:52] allinurl commented on #1384
Can you please post the output of `goaccess --dcf` and please attach the goaccess.conf here. Thanks.

[2019-02-26 14:17] Zewy commented on #1066
@allinurl

Got it working with this line after server reboot.
`goaccess -f /var/log/nginx/access.log --log-format='%h - %^ [%d:%t %^] "%r" %s %b "%R" "%u" "%v" %T "^%"' --date-format=%d/%b/%Y --time-format=%T`

[2019-02-26 15:28] wrek opened #1386 "I can't figure out which format from Microsoft Azure Web App"
Here are the first few lines of my log files... any help is appreciated.

I tried the 6 built in configs: NCSA, Common, W3C and Squid.

[code]

[2019-02-27 05:39] xingjianhui opened #1387 "it has been running with large log file"
* 80 millions lines nginx log file (30G)
* version: 1.3
* save on memory
1. confiuration:
 ``` ./configure --enable-utf8 && make && make install ```
2. command: goaccess -a -r
3. it out of memory kill by system when feeding 8 millions logs
* save on disk
1. confiuration:
[code]
2. command: goaccess -a -r
3. it has been working (4days 20h)
```Parsing... [26,054,204] [63/s]```

thanks

[2019-02-27 08:02] guoweikuang commented on #989
goaccess 1.3 version
![2019-02-27 4 01 00](https://user-images.githubusercontent.com/12684035/53474770-f02e6580-3aa8-11e9-8f74-6e3431b5ffc1.png)
![2019-02-27 4 01 14](https://user-images.githubusercontent.com/12684035/53474775-f290bf80-3aa8-11e9-8915-ce2e71d84c4d.png)

[2019-02-27 09:46] andreasemer commented on #1378
```brew link gettext --force```
Did the trick for me, thank you very much!

[2019-02-27 09:46] #1378 closed

[2019-02-28 11:02] guoweikuang commented on #919
@allinurl
I think adding a dedicated panel that shows this metric is very useful,
Sometimes I only need to monitor the cache hit rate.

[2019-02-28 11:13] cprov commented on #1382
Hi @NatoBoram, sorry for not letting this notification slip during last week.

I've proposed https://github.com/allinurl/goaccess/pull/1388 with the snapcraft.yaml I cooked some time ago for `goaccess-cprov`. I didn't have much time to iterate more since then, but I am happy to resume that work now that there is interest.

@allinurl can you please follow the instructions to register the name `goac

[2019-02-28 11:19] SlackMaker opened #1389 "goaccess with zabbix"
Hi, Srs !

I need to implement the goaccess panel inside zabbix, has anyone managed to do this?

[2019-02-28 16:30] travisnewman opened #1390 "Help with log format"
Hi folks, I've tried modifying a few examples I've seen here to no avail. I'm attaching the tail of access.log with some redactions

[code]

The ones that are 123-123-123-123.cust.isp.net are outside connections, the host.domain.com are internal and are coming from an app that has also been redacted.

Any help on the format for this? Thanks!

EDIT:

Actually it seems like if I grep for a single IP

[2019-03-01 11:24] Power2All opened #1391 "TokyoCabinet corruption with lot's of traffic"
I try using GoAccess for a while now.
Problem is, that if the TokyoCabinet database is not exited correctly (or closed so to speak), it appears to get corrupted really quickly, and GoAccess won't be able to continue, or crashes, and won't be able to boot it up anymore, unless I remove all the TokyoCabinet files.
I hope that an option to use local or remote influxDB or any other metrics recording d

[2019-03-01 13:08] allinurl commented on #1391
Thanks for reporting this. There're  a few reports on this bug as well. As you mentioned, the plan #1274 is to replace TC. I'm still looking for options in terms of DBs and what would work best. How stable has been for you influxdb?

[2019-03-01 13:09] allinurl commented on #1390
Are you resolve the IPs to hostnames? Are you able to change that? goaccess currently requires a valid IP

[2019-03-01 13:16] allinurl commented on #1387
Do you have enough memory on the machine? I'd recommend trying the default storage (hash tables).

FWIW, here's a quick test on a 100M log (w/o `-a`).

![goaccess-100m](https://cloud.githubusercontent.com/assets/5005367/20352065/7bdfb75a-abdb-11e6-8d66-36f703658929.png)

1. Use `-g` to use the standard GeoIP database for less memory usage (if using geolocation).
2. Use `-q` to strip the request's

[2019-03-01 13:25] allinurl commented on #1382
@cprov Thanks for sending that PR. I was trying to register `goaccess` but it appears it has already been registered. Do you know what I am missing? Here's what I get:

![2019-03-01-072307_721x519_scrot](https://user-images.githubusercontent.com/5005367/53640899-03e5e300-3bf3-11e9-87e6-d362e53c4671.png)

[2019-03-01 14:01] Power2All commented on #1391
Very, the hosting company I worked for (with some high availability companies) uses it for it's monitoring. Tickstack is using InfluxDB, and some other companies use it too. InfluxDB is also pretty simple and easy in use, and would be very nice for this kind of metrics as well. Also, InfluxDB is very fast and it supports clustering to loadbalance. It would be a good option for GoAccess next to Tok

[2019-03-01 15:11] travisnewman commented on #1390
I figured that part out. Well, kinda. It wasn't set to resolve but it still was. A reboot fixed it, not sure what exactly was going on there.

I'm curious as to why hostnames won't work, is it just a matter of it being hard to account for all the different ways it could be formatted?

[2019-03-01 15:19] allinurl commented on #1390
Originally was designed to validate those IPs and resolve them within goaccess, if you build from development, then a recent patch was added that could work in your case, please use the flag `--no-ip-validation` and let me know if that does the job for you.

[code]

[2019-03-01 15:19] pazufr opened #1392 "hostname resolution not protected when --no-ip-validation is set"
Hello,

Taking opportunity of new --no-ip-validation flag, I have parsed logs with some hostname recorded instead of ip on some lines - I have inherited some mixed archived log files -.  Having keeping -d option crashes. When removing -d, it runs as expected.

Version is GitHub Dev one installed on March 1st.
[code]

[2019-03-01 15:21] travisnewman commented on #1390
I'm fine without it, I'd prefer they not resolve as the user accesses the server anyway. I was just curious about reasoning. That's good to know, though, in case something changes.

Thanks for the info and the truly amazing program!

[2019-03-01 15:21] #1390 closed

[2019-03-03 02:34] err931 opened #1393 "Proposal: Unification of coding style by the source code formatter."
### Hey brother! There are kool product, today!

[ClangFormat](https://clang.llvm.org/docs/ClangFormat.html)

As the name suggests, it formatter for C++ that comes with Clang. Of course you can use "ANSI C".
**(Although it's not already done well)** I'm trying replace to [LevelDB](https://github.com/google/leveldb) from TokyoCabinet.

So I used this tool to check the overall picture.
As a referenc

[2019-03-03 05:20] ZenImagine opened #1394 "Request for support"
I discovered this program after reading a lot of article on how to analyze log access, it looks really good.

However, I have several questions:

1) Is there an opportunity to display visitors on a real-time map?

2) Is there the possibility of posting a calendar with schedules and dates of consultation? This allows you to locate the times and dates when the site is most consulted.

3) Can this pr

[2019-03-03 22:33] lahwaacz opened #1396 "Config file option for --browsers-file"
The path for `--browsers-file` should be configurable in the config file.

[2019-03-04 06:19] ZenImagine commented on #1384
Hi, I have exactly the same problem and your documentation does not seem to be up to date. Here's how I installed GoAccess :

# echo "deb http://deb.goaccess.io/ $(lsb_release -cs) main" | sudo tee -a /etc/apt/sources.list.d/goaccess.list
# wget -O - https://deb.goaccess.io/gnugpg.key | sudo apt-key add -
# sudo apt update
# sudo apt install goaccess
**Configurer GoAccess en décommettant les ligne

[2019-03-04 15:20] allinurl commented on #1384
@ZenImagine can you please verify that if there's a config file under: `/etc/goaccess/goacces.conf`? Thanks

[2019-03-04 15:21] allinurl commented on #1396
You should be able to set it through the conf file. Are you getting an error message?

[2019-03-04 15:22] ZenImagine commented on #1384
@allinurl No, there is no configuration file at this location

[2019-03-04 17:56] ZenImagine commented on #1384
@allinurl There is also a problem with the https.

I activated https with let's encrypt, the page starts to load (a circle runs in the middle of the screen) and the navigator displays:

![capture d ecran de 2019-03-04 18-51-50](https://user-images.githubusercontent.com/29839861/53752565-34f23c00-3eaf-11e9-8633-91acf2e08f86.png)

[2019-03-04 21:41] lahwaacz commented on #1396
Sorry, didn't see the option commented in my config file, so I assumed it was missing...

[2019-03-04 21:41] #1396 closed

[2019-03-05 06:47] luwfls opened #1397 "bug"
```tail -f /usr/local/nginx/logs/access.log  | goaccess --log-format=COMBINED -q -a -o /data/visit/status.html --real-time-html```

Output all the time  like "Parsing... [520,438] [1,112/s]"，but no result。

[2019-03-05 12:51] allinurl commented on #1397
Can you please try adding the extra dash in there,

    tail -f access.log | goaccess - --log-format=COMBINED

[2019-03-05 12:53] allinurl commented on #1396
Are you using the latest version? The [**option**](https://github.com/allinurl/goaccess/blob/master/config/goaccess.conf#L433) should be there...

[2019-03-05 12:55] allinurl commented on #1384
@ZenImagine Are you in v1.2? or v1.3? Your browser (console) should be able to tell you what content is insecure, then please post it here...

[2019-03-05 12:59] allinurl commented on #1391
Thanks for suggesting this. I definitely plan to replace TC. I'll look into InfluxDB. Although one of the key features of goaccess is having an embedded db just for simplicity.

[2019-03-05 13:01] allinurl commented on #1389
Can you post some additional details about this? I'm not familiar with zabbix, however, it would be interesting to know what exactly you are trying to do.

[2019-03-05 13:40] luwfls commented on #1397
tanks,but not helpful

[2019-03-05 14:35] allinurl commented on #1397
Are you in v1.3?

[2019-03-05 15:01] Power2All commented on #1391
I agree, but it should also be a option to use other metrics databases.
There is no harm to keep support of TokyoCabinet in place for people who like to use it, even if it's unstable or insecure when it comes to high traffic usage.
ElasticSearch is also often used for metrics, but InfluxDB is still the best option, it's also free and open source ( see https://github.com/influxdata/influxdb ) and t

[2019-03-05 17:13] lahwaacz commented on #1396
Yes, but before https://github.com/allinurl/goaccess/commit/126f61a1e7fe52ae9f7358ec7e2f0232f887bc5c#diff-bb2cd4651768482b99cb1c52d29ceffd, that file was not used by default so I was looking in `/etc/goaccess.conf` which didn't contain the new options.

[2019-03-05 17:19] ZenImagine commented on #1384
@allinurl I am on version 1.3 because your deposit does not work on Ubuntu 18.04

[code]

In screenshot the message of the console.

![capture d ecran du 2019-03-05 18-16-24](https://user-images.githubusercontent.com/29839861/53823928-0b024d80-3f73-11e9-821c-e01b5c58aed2.png)

[2019-03-05 17:25] allinurl commented on #1384
Are you running this through `wss`?

[2019-03-05 17:26] allinurl commented on #1396
Thanks for pointing that out. The upcoming version fixes this :)

[2019-03-05 18:03] ZenImagine commented on #1384
@allinurl I do not understand, what should I do

[2019-03-05 19:03] allinurl commented on #1384
You need to set the URI scheme using `--ws-url=<[scheme://]url[:port]>` for encrypted connections.  e.g.,

    --ws-url=wss://analytics.s1biose.com

[2019-03-05 19:11] ZenImagine commented on #1384
@allinurl Here is my current configuration for nginx, but I do not know if it is correct (I start with nginx). I have a question waiting for an answer :

https://serverfault.com/questions/956888/how-to-configure-multiple-servers-on-the-same-ip-address-with-nginx

# sudo nano /etc/nginx/sites-available/analytics-domaine-com
[code]

[2019-03-05 19:44] cosmokid opened #1398 "Unable to use live report due to time format missing"
I run `goaccess -f /var/log/nginx/access.log -a ` and it then shows me `Log Format Configuration` I select the first one. Works fine.

However, when I use ` goaccess access.log -o /usr/share/nginx/www/rt.goaccess.io/report.html --real-time-html` It doesn't work and gives me

Config file: /usr/local/etc/goaccess.conf

Error occurred at: src/parser.c - parse_log - 2764
No time format was found on yo

[2019-03-05 20:10] allinurl commented on #1384
How are you running goaccess? can you please attach the conf file here as well? Thanks.

[2019-03-05 20:11] allinurl commented on #1398
You will need to set your log/date/time-format under `/usr/local/etc/goaccess.conf` or run goaccess as:

    goaccess access.log --log-format=COMBINED -o /usr/share/nginx/www/rt.goaccess.io/report.html --real-time-html

[2019-03-05 20:25] ZenImagine commented on #1384
@allinurl /etc/goaccess.conf

[goaccess.txt](https://github.com/allinurl/goaccess/files/2932706/goaccess.txt)

[2019-03-05 20:35] cosmokid commented on #1398
This is my goaccess.conf file:

# Apache log date format. The following date format works with any of the Apache's log formats below.
#
date-format %d/%b/%Y
# NCSA Combined Log Format with Virtual Host
#
log-format %^:%^ %h %^[%d:%^] "%r" %s %b "%R" "%u"
#
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
"/usr/local/etc/goaccess.conf" 7L, 225C                       1,1           All

This still doesn't work. What am

[2019-03-05 20:48] allinurl commented on #1398
How are you running goaccess when it doesn't work?

[2019-03-05 20:52] cosmokid commented on #1398
I honestly have no idea. What do you mean?

[2019-03-05 20:57] allinurl commented on #1398
Based on the error you are getting, I'm guessing you didn't specify the `log-file` option in the config file. i.e., `log-file /var/log/apache2/access.log`.

As far as the `--real-time-html` not being live, please take a look at the browser's console and see what error you are getting. By default, GoAccess will use the host name of the generated report. Optionally, you can specify the URL to which

[2019-03-05 21:10] cosmokid commented on #1398
[https://i.imgur.com/9gCs58C.png](url) Is this what you wanted me to show you? As far as the console goes, it's just blank: [https://i.imgur.com/anrugQL.png](url)

Running `goaccess access.log -o report.html --real-time-html --ws-url=goaccess.io` returns:

[code]

[2019-03-06 01:56] luwfls commented on #1397
thanks , I use 1.1.1，its work in 1.3

[2019-03-06 02:35] #1397 closed

[2019-03-06 13:33] #1393 closed

[2019-03-06 15:11] allinurl commented on #1393
I do like the code style. Any reason as to why you closed it? I'll give it a shot and let you know.

[2019-03-06 16:55] ZenImagine commented on #1384
@allinurl Here is the message that is displayed in the chrome console :

[2019-03-06 18:57] ZenImagine commented on #1384
@allinurl I followed your tutorial :

[code]

When I do :

`$ sudo apt-get update`

I have the following error :

[code]
I am currently on Ubuntu 18.04 and GoAccess is in version 1.2 which explains the page of error (I am in HTTPS).

Here is the content of /etc/apt/sources.list.d/goaccess.list

`deb http://deb.goaccess.io/ $ (lsb_release -cs) main
`
How can I install version 1.3 ?

[2019-03-06 21:20] cosmokid commented on #1398
Any update sir?

[2019-03-07 01:27] allinurl commented on #1398
The time-format issue is as a result that you haven't specify the `time-format` variable. Please take a look at the default config file. I see there's a console error on the first screenshot you posted, can you please click on it and post what is that about.

[2019-03-07 01:28] allinurl commented on #1384
Yep, you need to use `wss`. Take a look at the example I posted before. To install goaccess, please build from source.

[2019-03-07 02:34] ZenImagine commented on #1384
@allinurl  I will try the sources. Is it normal that the repository does not work and that version 1.3 is not available for ubuntu ?

[2019-03-07 03:40] ZenImagine commented on #1384
@allinurl Are your instructions correct ?

[code]

If I replace HTTP with HTTPS in sources it works :

[code]

[2019-03-07 09:43] err931 commented on #1393
**I missed the operation...**
A problem occurred when I tried to edit it into formal sentences. Probably it's due to development tools.

Code style is sensitive problem. If necessary, please start a discussion. :muscle:

I'll leave it in your hands. Reopened this issues or start a new one.

[2019-03-07 13:03] allinurl commented on #1384
It should certainly work for Ubuntu 18.04, I need to look what's going on... If you need the binary, let me know and I can post a direct link.

Can you please post a few lines from your access log? You don't have the right log format given that error. Also, please take a look at the documentation on how to enable more panels.

[2019-03-07 13:52] subhasis-tsipl opened #1399 "Parsing error : For Spark Log"
Hi I am trying to use goaccess for first time. While trying to parse my log file getting below error.

Parsed 1 linesproducing the following errors:
Token '' doesn't match specifier '%m'

command : goaccess -f /home/demoUser/source-log.log  -o spark-log-report.html --real-time-html --ws-url=host -p config/goaccess.conf

output :
/home/demoUser/spark-log.log
Parsed 1 linesproducing the following er

[2019-03-07 14:29] cosmokid commented on #1398
How do I edit the config file correctly to support this?

[2019-03-07 15:58] cosmokid commented on #1398
Hello, just a quick update. Managed to get the `report.html` setup. However, it's not in real time, it's only static and only refreshes if I close the connection and re-do the command.

`root@college:/var/www/html# goaccess -f /var/log/nginx/access.log -o /var/www/html/report.html --real-time-html --ws-url=ws://ip:7890
WebSocket server ready to accept new client connections
`

[2019-03-07 17:13] ZenImagine commented on #1384
@allinurl Here is my log of access :

[code]

[2019-03-07 17:44] ZenImagine commented on #1384
@allinurl OK it works, I changed the format. Which code do you use in the demo to display all the links in the menu ?

It works in real time but when I execute the command, the terminal displays:

WebSocket server ready to accept new client connections

If I do CTRL + C it stops the tracking in real time.

[2019-03-08 01:12] err931 opened #1400 "About the date display of report. #1310"
I'm troubled. How do you solve this problem.

I suggested before. #1310
I fork and verified the repository to see how this should be resolved. And I found a way to solve this problem.

[code]

This is a part of the log recorded in the **Combined format,** but I was able to confirm that the date and time are in British expression.
Which source code should I change to convert this to RFC3339 format?

[2019-03-08 12:00] okoester opened #1401 "GoAccess in Docker env: no real time updates"
Hi,

I've set up GoAccess in Docker environment following [this](https://hub.docker.com/r/allinurl/goaccess
)

I created a config file as described:

The given log file is processed, but when it is updated by the Apache Webserver, the GoAccess dashboard isn't...

After starting docker container docker logs gave me the following output:

The websocket seems to be open when trying to access with nc

[2019-03-08 12:48] allinurl commented on #1399
Seems like you are trying to parse a spark log. Please note that goaccess is a web/access log analyzer, so you won't be able to use for a spark log.

[2019-03-08 12:48] #1399 closed

[2019-03-08 12:51] allinurl commented on #1398
Are you able to telnet to that port?

[2019-03-08 12:54] allinurl commented on #1384
Glad that worked. You need to ensure all `ignore-panel` are commented. SIGINT is doing what's supposed to do. You can use `--daemonize` if needed. Please take a look at the documentation for all the options available.

[2019-03-08 12:55] cosmokid commented on #1398
No, sorry. `telnet: Unable to connect to remote host: Connection refused
`

[2019-03-08 12:56] allinurl commented on #1398
That's probably the reason. Did you open the port?

[2019-03-08 13:00] allinurl commented on #1400
Just so I understand, are you trying to parse this specific format `[07/Mar/2019:01:48:21 +0900]` or  display  it in different format?

[2019-03-08 13:20] cosmokid commented on #1398
Actually, yes. I typed it without typing `goaccess -f /var/log/nginx/access.log -o /var/www/html/report.html --real-time-html --ws-url=ws://ip:7890`

Now, I'm able to Telnet it. What would you like me to try now? It's still static.

[2019-03-08 13:24] err931 commented on #1400
Parser don't modify. I will convert internal data and make it compliant with RFC3339 format.

[2019-03-08 16:02] ZenImagine commented on #1384
@allinurl Thanks, can you share the command you enter in the terminal to create "Live Demo" ?

[2019-03-08 16:21] ZenImagine commented on #1398
I test the following command but there is no update in real time :

[code]

[2019-03-08 16:22] ZenImagine commented on #1384
I test the following command but there is no update in real time :

[code]

[2019-03-08 16:24] allinurl commented on #1384
Please start with the bare minimal.

    sudo goaccess /var/log/nginx/access.log -o /var/www/analytics-example-com/web/report.html --real-time-html

and work your way up to determine which option is causing the issue. Let me know.

[2019-03-08 16:27] allinurl commented on #1398
Can you please try to establish an HTTP handshake and upgrade the connection to WS via telnet?

[2019-03-08 16:29] ZenImagine commented on #1384
@allinurl Sorry it works there is "--" which was automatically replaced by "-" in the word processor.

What is the order for the live demo please?

[2019-03-08 16:41] allinurl commented on #1384
Not sure I follow, is the live report working?

[2019-03-08 17:47] ZenImagine commented on #1384
@allinurl Yes now it works in the background. I wanted to know the command for live demo as an example. With all the panels

[2019-03-08 17:55] allinurl commented on #1384
All in the conf file.

[code]

[2019-03-08 18:07] ZenImagine commented on #1384
@allinurl Thank you, if I understood correctly, we can put the parameters directly in the configuration file instead of a command of several lines ?

[2019-03-08 19:13] ZenImagine commented on #1384
@allinurl There is a panel "VIRTUAL HOSTS" what is it for? It does not appear on my server.

If I specify all the parameters in the config file. How to run Goaccess, what is the command ?

I added the log and html path in the file :

[code]

[2019-03-08 20:11] cosmokid commented on #1398
I've actually managed to fix it! Not sure what I did, just endlessly tried different commands and it finally worked! `goaccess -f /var/log/nginx/access.log -o /var/www/html/report.html --real-time-html --ws-url=ws://ip:7890
`
However, since enabling HTTPs with LetsEncrypt, it stopped loading completely and console shows

`report.html:1 Mixed Content: The page at 'https://website.com/report.html' w

[2019-03-08 22:28] jrichet opened #1402 "haproxy format string problems"
It would be really great if there was a tool to build format strings from an example string provided.

I've gotten goaccess to work on many different log formats, but this one is not working for me...

As it is, my log looks like this:
[code]
the format strings I've tried include but are not limited to the following:
[code]
And goaccess keeps telling me "nothing valid to process"
I am getting pret

[2019-03-08 22:52] jrichet commented on #1402
bonus points for providing answer on SO as well https://stackoverflow.com/questions/55072107/goaccess-format-for-haproxy

[2019-03-09 14:32] Kevinjil commented on #708
I am getting similar results when running an image built with [Dockerfile](https://github.com/allinurl/goaccess/files/2948464/Dockerfile.txt).
I'm tryping to run it for the first time, using the this [goaccess.conf](https://github.com/allinurl/goaccess/files/2948467/goaccess.txt) file.
file The log files it parses are also cleaned, such that they only contain a few requests.

I also tried building

[2019-03-09 14:34] allinurl commented on #1402
I can certainly take a look. Could you please describe these fields: `0/0/0/1/1 200 1825 - - ---- 2/2/0/0/0 0/0`? Thanks.

[2019-03-09 14:37] allinurl commented on #708
@Kevinjil Thanks for reporting this. There's a known issue using the on-disk storage and docker. If you need to run it inside a docker container, then please use the default hash tables (if possible). There are plans to replace the on-disk storage, thus this issue hasn't been addressed yet.

[2019-03-09 14:38] allinurl commented on #1398
Please use `--ws-url=wss://ip:7890` when using HTTPS. This is described in the man page.

[2019-03-09 15:08] cosmokid commented on #1398
Didn't work sir.

`goaccess -f /var/log/nginx/access.log -o /var/www/html/report.html --real-time-html --ws-url=wss://ip:7890 --ssl-cert=/etc/letsencrypt/live/www.website/cert.pem -ssl-key=/etc/letsencrypt/live/www.website.com/privekey.cem
goaccess: unrecognized option '--ssl-cert=/etc/letsencrypt/live/www.website.com/cert.pem'`

[2019-03-11 10:00] pengwenwu opened #1403 "why cannot show chinese on html by docker?"
when i run it by docker, get html within english language。How can i solve it，tks。

![](http://pic.pwwtest.com/20190311175929.png)

[2019-03-11 13:30] err931 commented on #1403
Please pass `-e LANG=zh_CN` option when `docker run`. **Enjoy!**

[2019-03-11 16:45] allinurl commented on #1398
did you build with [openssl](https://goaccess.io/man#configuration) support?

[2019-03-11 17:08] cosmokid commented on #1398
No, I didn't. I didn't have SSL at the time of setup.

[2019-03-11 18:10] allinurl commented on #1398
Please do so that way the ssl support will be active.

[2019-03-12 01:33] pengwenwu commented on #1403
thank you, it works.

[2019-03-12 01:33] #1403 closed

[2019-03-13 05:54] err931 opened #1404 "Proposal: Renew Dockerfile"
I have used the **GoAccess** in business. It has achieved great results and is well received in the company.

However, the size of official Docker image is so large that security audits may not pass.
So I wrote an unofficial Dockerfile and operated it in-house. It has been in operation for about half a year, but it's stable enough.

I will submit `Dockerfile` if you accept it.
Apply **Apache Licen

[2019-03-14 08:59] roben opened #1405 "Font Awesome missing in HTML Report"
I noticed Icons being broken in the HTML Report using GoAccess 1.2 from Debian testing. Viewing the page source revealed that the font is loaded from files (which do not exist):

`src:url('../fonts/fontawesome-webfont.eot?v=4.7.0')`

Which is in contrast to `https://github.com/allinurl/goaccess/blob/master/resources/css/fa.min.css`.

Maybe the debian guys changed the inlining to external files due

[2019-03-14 09:16] roben commented on #1405
I just tested v1.3 using the official repository and can confirm icons working just fine there. So it seems to be an issue with the debian package.

[2019-03-14 10:49] roben commented on #1364
This happened for me after changing from the debian repo to the official one. The official repo creates `/etc/goaccess/goaccess.conf` but not `/etc/goaccess.conf`. Nevertheless, the binary tries to load `/etc/goaccess.conf` and exits with an error if it does not exist. I have symlinked the file for now to fix this.

[2019-03-14 11:08] AreYouLoco opened #1406 "[Solved] Processing logs with goaccess and logrotate - question."
Hi!

I am using this command to print real-time html output:
goaccess /path/to/access.log --log-format=COMBINED -o /path/to/www/root/report.html --real-time-html --real-os --all-static-files --agent-list --http-protocol=yes --http-method=yes --hl-header

And it shows statistics only from one day (current day). There is also files like access.log.12.gz due to logrotate. How can I use all of the dat

[2019-03-14 13:51] allinurl commented on #1406
Please try using:

    zcat access.log.*.gz | goaccess access.log --log-format=COMBINED - -o /path/to/www/root/report.html

Also note that each active panel has a total of 50 entries in the real-time HTML report instead of the 366 in static mode.  Let me know how that goes.

[2019-03-14 13:53] allinurl commented on #1404
Would it work still the same way as it's in the [**docs**](https://github.com/allinurl/goaccess#docker)? I'm all for any improvements and this sounds like it has several of them :)

[2019-03-14 13:58] allinurl commented on #1405
Thanks for reporting this. It looks like some changes were done to the debian package as listed [**here**](https://metadata.ftp-master.debian.org/changelogs/main/g/goaccess/goaccess_1.2-4_changelog). Like you said, it might be a licensing thing. Please feel free to report this to the debian maintainer, or using this [**link**](https://bugs.debian.org/cgi-bin/pkgreport.cgi?pkg=goaccess;dist=unstabl

[2019-03-14 13:59] allinurl commented on #1364
I believe this was fixed in #1395 please feel free to build from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) and let me know if that resolve the issue for you. Thanks!

[2019-03-14 14:02] allinurl commented on #1384
Yes you can certainly do that, just remove the `--` from the beginning of the option.

If you have the `%v` specifier in your log-format, then it will display the virtual host.

Closing this as it appears to be resolved. Feel free to reopen it if needed.

[2019-03-14 14:02] #1384 closed

[2019-03-14 14:05] allinurl commented on #1400
To answer your question, yes, you are probably looking at `get_visitors_date` which should take care of the displaying of the parsed dates.

[2019-03-14 18:52] AreYouLoco commented on #1406
Yup it works. issue can be closed and marked solved. I switched to static pages and your pipe trick and now I can see all the data which is more than disturbing.
Why people would like to break into my phpmyadmin, why?:D

[2019-03-14 18:56] #1406 closed

[2019-03-14 22:20] allinurl commented on #1402
Any updates on this?

[2019-03-15 03:38] err931 commented on #1404
Regarding your question, **most of them work.** :+1:
However, I have disabled **GeoIP** and **Tokyo Cabinet**.

Not to mention the latter, but there is a reason for **GeoIP**. Because it must respond to [GDPR](https://ec.europa.eu/info/law/law-topic/data-protection_en).
**GDPR also protects IP addresses**, which must be excluded if a viewer refuses to retrieve data.

However, it's difficult to rec

[2019-03-15 15:58] pjfaria opened #1407 "Enabling geo capabilities in GoAccess installed with yum"
How to I enable geo capabilities in a server where GoAccess was installed via yum?

[2019-03-17 04:47] err931 commented on #1400
Thx! If conversion to RFC3339 format is successful, send PR.

[2019-03-17 04:47] #1400 closed

[2019-03-17 20:28] elementfani opened #1408 "Error occured at: src/goaccess.c - main - 1033"
This is configuration in /etc/goaccess.conf:

[code]

This is my nginx access log format: xxx.log
[code]

And then when i was run the goaccess command, there is an error occurred like this:

[code]

Please help me.

[2019-03-19 03:34] SampsonCrowley commented on #1363
Thank you for opening this issue, just ran into this as well

[2019-03-19 11:51] allinurl commented on #1363
Thanks for reporting this. I'll look into it and post back.

[2019-03-19 11:59] allinurl commented on #1408
Please give this a shot:

    goaccess access.log --log-format='%d %t %^: %^: %^: %h, %^: %v, %^: "%r" %^: %^: "%R"' --date-format=%Y/%m/%d --time-format=%T

[2019-03-19 12:08] allinurl commented on #1407
Unfortunately you won't be able to. Please feel free to [**build**](https://github.com/allinurl/goaccess#build-from-release) from source. Let me know if you have any questions about this process. Thanks.

[2019-03-19 12:08] #1407 closed

[2019-03-20 01:09] err931 commented on #1404
This is the [Dockerfile](https://github.com/err931/project-corvus/blob/master/Dockerfile) I'm planning to pull request.
Please see the attached.

[2019-03-21 11:59] allinurl commented on #1404
Looks good to me. Regarding the IP and GDPR, shouldn't this concern be addressed with the `--anonymize-ip` option? Also, I just want to make sure the build [**docs**](https://github.com/allinurl/goaccess#docker) would still apply with this Dockerfile, can you confirm this? Thanks

[2019-03-21 12:02] allinurl commented on #1401
Can you post your browser's console output? Also, do you see a green green dot icon as in the [**live**](https://rt.goaccess.io/?20181123091935) version active or is grayed out? Thanks.

[2019-03-21 15:37] mejasonroar opened #1409 "Unique Visitors and Unique Visitors Per Day - Global Unique or sum?"
Quick question regarding Unique Visitors and Unique Visitors Per Day.  It appears that Unique Visitors is just a summation of the values from Unique Visitors Per Day, but wanted to confirm.  Is there any other kind of global unique analysis happening to generate the sum or is it possible that unique user A could be counted multiple times if they logged in on multiple days over the period being ana

[2019-03-21 19:03] allinurl commented on #1409
It is certainly possible that unique user A could be counted multiple times if they logged in on multiple days. At the moment, the closest to a real unique would be the total visitors by IPs. e.g., **56,608**

![2019-03-21-140210_744x379_scrot](https://user-images.githubusercontent.com/5005367/54778214-13e55700-4be2-11e9-8a4d-1601a7bd0672.png)

[2019-03-21 19:15] aittam commented on #797
@allinurl uhm but the log format in the file you are [linking](https://github.com/allinurl/goaccess/blob/master/config/goaccess.conf#L87) is actually not the one you [posted](https://github.com/allinurl/goaccess/issues/797#issuecomment-306370715) some comments above.
The second one does work perfectly with AWS Application Load Balancer. Is it the one in [here](https://github.com/allinurl/goaccess/

[2019-03-22 08:37] err931 commented on #1404
Yes, I also considered it. But I don't think it makes sense to anonymize IP addresses if GeoIP can identify **Location**.
I'm putting it on hold because I can't say that the accuracy is good and it may cause unexpected complaints.

There was no problem here. `Volume mounts` and `port forwarding` in **Docker options** are not affected by **Dockerfile**.
However, I have the idea that the configurati

[2019-03-22 11:33] allinurl commented on #1404
I see. I do like the idea. Please feel free to submit the PR and also please don't forget the update the README.md accordingly.

[2019-03-22 20:50] elementfani commented on #1408
goaccess doesn't work without flaf `-f`

[code]

I wrote an example from a file `error.log`.
But with flag `-f` also doesn't work.

[code]

Last lines from file:
[code]

[2019-03-23 03:27] err931 commented on #1404
Thx! :sunglasses:
Because it's likely to be deployed in a staging or production environment, perform additional testing using possible patterns. That will improve the reliability.

Organize your documents at the same time. It will also add what should be included in the document. (For example, #1403 etc...)
This issue closes. I will send you a pull request as soon as I pass the test and organize t

[2019-03-23 03:27] #1404 closed

[2019-03-24 21:11] anderbubble opened #1412 "GoAccess 1.3 crashed by Sig 11"
[code]

[goaccess.conf.gz](https://github.com/allinurl/goaccess/files/3000851/goaccess.conf.gz)

[2019-03-25 09:23] ms-1212 opened #1413 "How can I set the custom log format in GoAccess"
revision:r2.    host:www.xxxxx.com    msec:1530934819.780    time_local:07/Jul/2018:03:40:19 +0000    remote_addr:10.10.10.120    x_forwarded_for:111.88.777.55    protocol:HTTP/1.1    method:GET    uri:/api/Page/Items/gets/99999    query:-    status:200    request_length:2827    bytes_sent:949    request_time:2827    upstream_addr:10.10.10.140:9000    upstream_status:200    upstream_response_time:

[2019-03-25 11:46] cprov commented on #1382
@allinurl go ahead and "claim" the reserved name.

`goaccess` is protected because it's a uploaded as a DEB in debian/ubuntu. The store team will be more than happy to grant you access as the upstream.

[2019-03-25 17:02] jazzl0ver commented on #1402
@jrichet I use this format:
[code]
What actually matters here is the 2nd key **%~**, which skips the extra space when the date number becomes 1 digit. I had hard time figuring it out and bombing @allinurl with false bug reports ;-\

[2019-03-25 17:07] jazzl0ver commented on #1167
It would also be cool to have daily and weekly stats toggle. And even more - the flexible date range control. Any chances to get that implemented?

[2019-03-29 01:33] xiaotianhu commented on #1380
Really need this ,too.I'm running goaccess in daemonize mode,and I want to see every day's differences,but now I can only find the total count.

[2019-04-01 07:10] err931 commented on #1373
@tellustheguru Hi.

I created a language file based on the template you posted and merged it into the latest version.
If you want to see it right away, you need to clone and build the latest version.
If you plan to perform ongoing maintenance, you may find the following Web site helpful: [Pull Request Tutorial](https://yangsu.github.io/pull-request-tutorial/)

Hej då!

[2019-04-01 12:09] linermgn opened #1414 "Meaning of Init. Proc. Time"
Please, give description of Init. Proc. Time indicator, what it shows? It is unclear and I have no luck to find it at documentation.

[2019-04-01 12:58] okoester commented on #1401
Hi, there is this grey dot close to the settings icon. It popup tess disconnected...

And the console output states that my browser cannot connect to wss://<sitename>:7890

I think it is because of the apache configuration on my host system.
I do not use reverse proxy but link from /var/www/goaccess/index.html to the index.html in the docker environment.
I'd prefer reverse proxy setup but do not k

[2019-04-02 16:38] partsauthority opened #1415 "not able to open report.html"
I am able to see interactive screen with all statistics for my access log but not able to load the html from browser. It says loading but never loads. Please help me out with loading the html report generated.

command used:

/usr/local/bin/goaccess /opt/IBMIHS/logs/webqa/access_log.20190321 --log-format='%h %v %U %s [%d:%t %^] %D "%u"' --date-format='%d/%b/%Y' --time-format=%T --enable-panel=REFE

[2019-04-02 16:41] allinurl commented on #1415
Please post a screenshot of your browser's console. Thanks.

[2019-04-02 16:43] allinurl commented on #1401
Seems you are not specifying any host. Please take a look at the man page for --ws-url
If you are using docker, please take a look at this [instructions](https://github.com/allinurl/goaccess#docker).

[2019-04-02 16:46] allinurl commented on #1414
Initial processing time. Essentially how long it took to parse the whole log from scratch. Thanks for bringing this up. I can certainly add some title and description to the docs about this.

[2019-04-02 16:50] partsauthority commented on #1415
![image](https://user-images.githubusercontent.com/49204615/55420772-aa900d00-552c-11e9-8cf9-b31deb9b2537.png)

[2019-04-02 19:34] BenLubar opened #1416 "goaccess 1.3 not installable on Ubuntu Cosmic"
Installing 1.2 from the Ubuntu package repository worked; however, installing 1.3 from the goaccess repository fails:

[code]

[2019-04-03 03:59] allinurl commented on #1415
Please post the browser's console (second tab).

[2019-04-03 03:59] allinurl commented on #1416
Need to look into this. Thanks for reporting it!

[2019-04-03 04:03] CristyDry opened #1417 "[ERROR] Invalid filename extension used, must be any of .csv, .json, or .html"
GoAccess - version 1.3 - Apr  3 2019 10:24:48

time-format %T
date-format %d/%b/%Y
log-format %h - %^ [%d:%t %^] requesthost:"%v"; "%r" requesttime:"%T"; %s %b "%R" - %^"%u"

log-file /www/a.log
output /www/report.html
real-time-html true

sudo=> goaccess -config-file=/usr/local/etc/goaccess/goaccess.conf
[ERROR] Invalid filename extension used, must be any of .csv, .json, or .html

sudo=> goacces

[2019-04-03 16:24] partsauthority commented on #1415
![image](https://user-images.githubusercontent.com/49204615/55495634-34ee7480-55f2-11e9-8bac-c8ca6bc0ba5e.png)

its not writing anything in console tab

[2019-04-03 16:27] partsauthority commented on #1415
[reporthtml.docx](https://github.com/allinurl/goaccess/files/3039740/reporthtml.docx)

[2019-04-03 16:33] allinurl commented on #1417
Can you please build from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) and see if this issue has already been fixed? Thanks

[2019-04-03 16:35] allinurl commented on #1415
Can you please attach this as an html file? Thanks

[2019-04-03 16:39] partsauthority commented on #1415
html file extension is not supported to upload in here

[2019-04-03 16:40] partsauthority commented on #1415
[report.zip](https://github.com/allinurl/goaccess/files/3039792/report.zip)

[2019-04-03 16:41] partsauthority commented on #1415
I zipped the html file and uploaded it. Hope you can see the file

Thanks

[2019-04-03 16:41] CristyDry commented on #1417
Thank you. I'm using yum install 1.2 now. I'll try your advice.

[2019-04-03 16:41] #1417 closed

[2019-04-03 16:48] allinurl commented on #1415
I dont see any loading scripts in the dom. How did you build goaccess? Are you able to build from [development](https://github.com/allinurl/goaccess#build-from-github-development) and see if that solves the issue? Thanks

[2019-04-03 16:53] partsauthority commented on #1415
I followed this steps to install goaccess except for the --enable-geoip=legacy

$ wget https://tar.goaccess.io/goaccess-1.3.tar.gz
$ tar -xzvf goaccess-1.3.tar.gz
$ cd goaccess-1.3/
$ ./configure --enable-utf8
$ make
# make install

I have not tried it building from development

[2019-04-04 16:49] shreyasnagare opened #1418 "Unable to parse uWSGI logs"
This did not work for me. ERROR:

[code]

My log file is in the following format:

[code]
Can you suggest a [log format for uwsgi](https://uwsgi-docs.readthedocs.io/en/latest/LogFormat.html) which would work for goaccess but still log all the details?

_Originally posted by @shreyasnagare in https://github.com/allinurl/goaccess/issues/386#issuecomment-466142476_

[2019-04-05 11:07] palant opened #1419 "Confusing references to both hide-referer and ignore-referer-report in changelog"
https://github.com/allinurl/goaccess/blob/master/ChangeLog currently has the following entries for GoAccess 1.3:

This had me confused. Turns out, both entries mean the same feature which was checked in as `ignore-referer-report` initially and renamed into `hide-referer` later in the development cycle. Maybe remove that `ignore-referer-report` line so nobody else has to research this?

[2019-04-05 11:52] cprov commented on #1382
@allinurl Do you need help with any other detail of the snap name registration process ?

[2019-04-05 16:46] augustinonline commented on #985
Hi,
can anyone help on this log format [
10.247.0.2 - - [07/Mar/2019:23:58:57 -0500] XIH2kQryBjAAADqBoQcAAAG7 "GET /lbcheck.html HTTP/1.1" 200 33 612
10.247.0.2 - - [07/Mar/2019:23:58:58 -0500] XIH2kgryBjAAAEWSlZ8AAAA- "GET /lbcheck.html HTTP/1.1" 200 33 846
10.247.0.2 - - [07/Mar/2019:23:59:00 -0500] XIH2lAryBjAAAEWSlb0AAAAj "GET /lbcheck.html HTTP/1.1" 200 33 804
10.247.0.3 - - [07/Mar/2019:23:5

[2019-04-05 16:51] augustinonline commented on #985
Hi,
Can anyone help on the log format for the below access log.

10.247.0.2 - - [07/Mar/2019:23:58:57 -0500] XIH2kQryBjAAADqBoQcAAAG7 "GET /lbcheck.html HTTP/1.1" 200 33 612
10.247.0.2 - - [07/Mar/2019:23:58:58 -0500] XIH2kgryBjAAAEWSlZ8AAAA- "GET /lbcheck.html HTTP/1.1" 200 33 846
10.247.0.2 - - [07/Mar/2019:23:59:00 -0500] XIH2lAryBjAAAEWSlb0AAAAj "GET /lbcheck.html HTTP/1.1" 200 33 804
10.247.0

[2019-04-05 17:03] augustinonline opened #1421 "Custom log format apache with UNIQUE_ID"
Hi,
Can anyone help on the log format for the below access log.

[code]

[2019-04-06 10:19] okoester commented on #1401
Thanks, that helped. Statistics seem to be updated in real time now.
I've opened the ws port and had to add the certs to make it work. Accessing the website via https:// requires to access the web service also via wss:// not ws:// ;-)
And now this green dot icon is really green :-D

Thanks for support!

[2019-04-06 10:19] #1401 closed

[2019-04-07 19:15] xorock commented on #1415
I'm having the same issue.

[code]

Console has 4 errors

[code]

[2019-04-08 06:05] CristyDry opened #1422 "timelion"
It is recommended to increase the number of requests per second. like kibana timelion

[2019-04-08 14:24] ottok commented on #1389
How to implement a new panel in Zabbix is completely a Zabbix question and thus I recommend you close this issue as there is nothing in GoAccess to design/implement in this regard.

[2019-04-08 16:59] allinurl commented on #1422
Can you please elaborate a bit more?

[2019-04-08 17:00] allinurl commented on #1389
Closing this. @SlackMaker feel free to post additional details if needed.

[2019-04-08 17:00] #1389 closed

[2019-04-08 17:22] allinurl commented on #1415
@xorock How did you build goaccess? Are you able to build from [development](https://github.com/allinurl/goaccess#build-from-github-development) and see if that solves the issue? Thanks

[2019-04-08 18:26] mback2k commented on #966
@jdel I am using the following log format to also catch the authenticated user and consider the double quoted virtual host "frontend name" and ignored "backend host":

[code]

[2019-04-08 19:49] xorock commented on #1415
There must be some package errors. I've compiled 1.3 version and works as expected.
https://build.opensuse.org/package/show/server%3Ahttp/goaccess
Spec file https://build.opensuse.org/package/view_file/server:http/goaccess/goaccess.spec?expand=1 shows, it is basically the same config.

[2019-04-09 07:13] gogoqixin opened #1423 "Docker installation error"
Config file: /srv/data/goaccess.conf
Fatal error has occurred
Error occurred at: src/parser.c - read_log - 2728

[2019-04-10 05:46] KeyvanJS commented on #716
Same issue with Ubuntu 18.10

[2019-04-10 10:29] CristyDry commented on #1422
It can display the number of logs collected by goaccess per second. Sorry, I use translation software.

[2019-04-10 12:20] mbejda commented on #1423
This may be helpful.
<img width="919" alt="Screen Shot 2019-04-10 at 8 19 34 AM" src="https://user-images.githubusercontent.com/5429780/55877989-78ecf680-5b69-11e9-9c63-6254cdf7d5b6.png">

[2019-04-11 03:16] ltm commented on #969
@allinurl I just experienced this issue as well. I believe it occurs when the total size of the request is larger than 1024 bytes, which is likely to happen if you have several cookies already set for the domain.

As such, a request of 1025 bytes (note `printf '%819s'`) returns 400:
[code]

While a request of 1024 bytes (note `printf '%820s'`) returns 101:
[code]

[2019-04-11 09:20] gogoqixin commented on #1423
Execute goaccess access.log after entering the container
The error was reported as follows:

Fatal error has occurred
Error occurred at: src/parser.c - read_log - 2728
Unable to open the specified log file. No such file or directory

Copy the config/goaccess. Conf
And it's increased
The log - format COMBINED
The log file/SRV/logs/access. Log
The output/SRV/report/index. HTML
True real - time - HTM

[2019-04-11 23:55] bvbmedia commented on #243
For CentOS 6 run:
yum -y install geoip geoip-devel

[2019-04-12 08:17] Shagon94 commented on #117
not sure if this feature was deprioritized but would love to have this feature, seeing as this was opened 5 years ago I wanted to check if this is still being worked on?

[2019-04-12 15:05] kenzoawa opened #1424 "syncing logs from elb - live report"
Hey guys, i just tried GoAccess and it works like a charm once you get to know it.

It's not a issue but more of a logical question.

I am successful in parsing the s3/elb logs that are stored there with s3cmd sync command to EC2.
What i am trying to do is having that sync from s3 to GoAccess live - incrementally because sync works that way, only new logs are shipped and i want those new ones adde

[2019-04-12 17:36] MartinBruner opened #1425 "issue sync logs IIS"
i have tried to get the report, but i got this error.

[code]

This is the command that i run

    root@prd# goaccess /mnt/e/Logs/logs/u_ex190327.log --log-format='%d %t %^ %m %U %q %^ %e %h %u %s %^ %^ %L' --date-format=%Y-%m-%d --time-format=%T --http-protocol=no --ignore-panel=REFERRING_SITES -o /var/www/html/report.html

This are the logs.

[code]

[2019-04-13 14:47] allinurl commented on #1425
This should do it:

    goaccess access.log --log-format='%d %t %h %m %U %q %^ %^ %e %v %^ %s %^ %^ %L' --date-format=%Y-%m-%d --time-format=%T --http-protocol=no --ignore-panel=REFERRING_SITES --ignore-panel=BROWSERS --ignore-panel=OS

[2019-04-13 14:51] allinurl commented on #1424
You could use find and see the latest mod files:

For example, the files with last edition in a maximum of 5 minutes, are given by:

    find  /tmp/s3/ -cmin -5 -name "*.log" -exec cat {} \; | goaccess -a --log-format=AWSELB -p /usr/local/etc/goaccess/goaccess.conf -o /var/www/html/report.html --real-time-html

[2019-04-13 14:53] allinurl commented on #117
@Shagon94 certainly still on top of the list. however, there's an outstanding issue with the on-disk storage that needs to be worked on before this. stay tuned though.

[2019-04-13 14:54] allinurl commented on #1423
@gogoqixin are you still getting this error?

[2019-04-13 14:56] allinurl commented on #969
@ltm Thanks a lot for pointing this out. Let me try to reproduce this on my end and I'll post back.

[2019-04-13 15:00] allinurl commented on #1415
Good to know is a SUSE build issue. I can add it to the docs. What's the command to install it on suse?

[2019-04-13 15:03] allinurl commented on #1421
goaccess access.log --log-format='%h %^[%d:%t %^] %v "%r" %s %^ %b' --date-format=%d/%b/%Y --time-format=%T

[2019-04-13 15:10] allinurl commented on #1382
@cprov Thanks for the reminder. I'm still getting the same error message. Do you know if I'm missing some step? Thanks

[2019-04-13 15:11] #1419 closed

[2019-04-13 15:12] allinurl commented on #1419
Thanks for the heads up on this. Your PR has addressed this issue.

[2019-04-13 16:42] MartinBruner commented on #1425
Allinurl, thank you very much for your quick response. Its works, but now i have all but, the geolocation is not working. all the ip address have unknown.

[2019-04-13 16:46] allinurl commented on #1425
Can you please post a screenshot of what you are seeing? Thanks.

[2019-04-13 16:50] MartinBruner commented on #1425
yes, sure. thanks!

![image](https://user-images.githubusercontent.com/19714013/56082762-0c852800-5df3-11e9-9444-84c523076482.png)

[2019-04-13 17:40] MartinBruner commented on #1425
i have changed the logformat like this, and it works.

goaccess /mnt/e/Logs/logs/* --log-format='%d %t %^ %m %U %q %^ %^ %h %v %^ %s %^ %^ %L' --date-format=%Y-%m-%d --time-format=%T --http-protocol=no --ignore-panel=REFERRING_SITES --ignore-panel=BROWSERS --ignore-panel=OS

[2019-04-14 07:08] xorock commented on #1415
[code]

Or with OneClickInstall https://software.opensuse.org/download.html?project=server%3Ahttp&package=goaccess

[2019-04-15 07:27] nils-schween commented on #671
Hi there,
I just started using goaccess and it is a really nice program. Unfortunately I ran into the same problem as the original issue filer. I checked the changelogs of the last two releases but I couldn't find a feature "delete data older then N days". @allinurl Did you already add it and I missed it? Thank you for all your work!

Nils

[2019-04-15 08:56] kenzoawa commented on #1424
Thank you very much allinurl!
You are a saver.

I will try the command and give feedback here.

[2019-04-15 20:51] mattgphoto opened #1426 "Another docker installation/configuration error"
Hey guys, so I'm running into some issues with doing a docker installation. I ran into [https://github.com/allinurl/goaccess/issues/1423](url) already, but that turned out to be me making a mistake in my volume flags. Now I'm running into something more... obtuse.

[code]

So it seems like it can't create a html file.

For reference this is what I have in my docker-compose:
[code]
And here are the

[2019-04-16 02:51] cpt-kernel commented on #988
Any update on this?
Same issues

[2019-04-16 13:12] manues50 opened #1427 "Token '2019-01-09' doesn't match specifier '%h'"
I am trying to parse the media server logs but I am getting some error

Parsed 1 linesproducing the following errors:

Token '2019-01-09' doesn't match specifier '%h'

Format Errors - Verify your log/date/time format

I tried with most of the log formations all are getting different errors

[2019-04-16 13:55] manues50 commented on #1427
Following is my log sample

2019-04-16 12:29:11.431 200 0 299 /ClanHD/tracks-v1a1/mono.m3u8 138084009cec21a7bd52b940a550413e6f4483ad 183.83.174.147

[2019-04-16 22:04] nikosvaggalis opened #1428 "How to enable geoip when installing with the package manager?"
I'm on Ubuntu and install with apt-get geoaccess.
how can I enable geoip? I see that all tutorials require to build and configure from source to enable it.Is that so?

[2019-04-17 02:26] mattgphoto commented on #1426
Figured it out myself.

[2019-04-17 02:26] #1426 closed

[2019-04-17 15:09] PitySOFT commented on #1280
I have the same issue with my setup. I have nginx as a proxy server to serve secure websocket and the port is appended to the wss url.

It will be nice to ignore the port append if the port is set as 0.

[2019-04-17 15:20] MJC2 opened #1429 "Custom Log format GoAccess Nginx"
Hi
My name is MJ

I have problems with the format I add it manually or in the conf file and I do not consider the date or time.

What can you suggest?

    [root@ip~]# /tmp/goaccess-1.3/goaccess -f /tmp/LOGS/LT/error.log-20190411 --log-format=%d %t %^, %^, client: %h, server: %^, request: "%r", host: "%v", referrer: "%R", %^, host "%v"

Parsed 1 linesproducing the following errors:

    Token '201

[2019-04-17 20:37] allinurl commented on #1428
If you used the debian repo, yes, you would need to build from source or use the [official](https://github.com/allinurl/goaccess#official-goaccess-debian--ubuntu-repository) deb repo.o.

[2019-04-17 20:42] allinurl commented on #1426
Would you be able to share what was the issue/solution? Thanks

[2019-04-17 20:46] allinurl commented on #1429
Looks like you are trying to parse an error log instead of an access log. You will need a different tool for that.

[2019-04-17 20:56] allinurl commented on #1427
Please describe your log format. Thanks

[2019-04-17 20:57] allinurl commented on #988
@cpt-kernel still working on it. thanks for the reminder

[2019-04-17 20:59] allinurl commented on #671
@nils-schween I haven't as I plan to replace the existing on-disk storage with something more robust. Hoping to add this when the storage engine is replaced. Thanks for the reminder.

[2019-04-18 05:13] mattgphoto commented on #1426
Yep, I had the wrong directories mounted in volume arguments in docker.

[2019-04-18 12:34] nils-schween commented on #671
Thanks for the answer. Then, I'll just wait and check regularly for new versions.

[2019-04-18 13:52] allinurl commented on #1425
Glad to hear that. Feel free to reopen if needed.

[2019-04-18 13:52] #1425 closed

[2019-04-19 02:25] Placidina opened #1430 "how is the log format for my custom access log"
[code]

_Output example:_
[code]

[2019-04-19 02:32] iWoodsman opened #1431 "real-time-html appeared not to be working but actually was. (pitfall)"
I spent a lot of time trying to figure out why goaccess was not updating the html page, including all the fixes I found in these Issues. It turned out that the real-time updates HAD been occurring all along, but my site traffic was very low so the incrementing counters were subtle. The main problem was that I kept watching for the "Last Updated" field on the HTML page to change: it does not, yet r

[2019-04-19 10:03] kenzoawa commented on #1424
Works like a charm, thanks allinurl!

[2019-04-19 10:03] #1424 closed

[2019-04-19 16:04] alflinux commented on #1092
Hi ,

I tried different strings to have goaccess working but always get doesn't match specifier '%s'

This is my haproxy log format

%ci:%cp\ [%T]\ %ft\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ %hr\ %hs\ %{+Q}r

Thanks

[2019-04-19 16:12] allinurl commented on #1431
Thanks for reporting this. Glad you got it to work. #1356 will address this issue in the upcoming version. Closing this as it's part of #1356.

[2019-04-19 16:12] #1431 closed

[2019-04-20 15:38] allinurl commented on #1430
This should do it:

    goaccess access.log --log-format='[%d:%t %^] %^ %^= %^=%h %^=%s %^=%T %^="%u" %^="%r" %^' --date-format=%d/%b/%Y --time-format=%T

[2019-04-20 15:39] allinurl commented on #1092
@alflinux Please post a few sample lines from your log.

[2019-04-20 17:14] dragonandy opened #1432 "HTML report /favicon.ico 404"
You may notice that every time you open up the html report generated by the goaccess in the browser, your browser will request a favicon.ico file from the root uri.
The [demo site](https://rt.goaccess.io/?20181123091935) also have this issue.
When the `image/x-icon` is not set in the html file, the browser will try to request a favicon.ico file from "https://rt.goaccess.io/favicon.ico" which may c

[2019-04-20 19:16] mattgphoto opened #1433 "Docker install - Can't read multiple logs"
Hey there @allinurl I'm just trying to tune up goaccess as much as possible before I tackle trying to deal with websockets in nginx reverse proxy config (certbot container)...

I've come across a few hitches so far when making edits to the config file:

1. In my goaccess.conf, I have this for instance:
[code]
That works fine! However if I do something like this:
`
log-file /srv/logs/access.log /sr

[2019-04-21 02:22] hank commented on #1164
Bump - what ever happened here? Has this been addressed in 1.3?

[2019-04-22 03:26] mattgphoto commented on #1433
Figured out one of the issues. You don't daemonize something that's in a docker container. :-) Might want to add a note in the example config with something along the lines of:
[code]
Still need help with the first issue.

[2019-04-22 16:28] #1312 closed

[2019-04-23 04:18] sg552 commented on #365
in my case, the config file is "space sensitive", that is , if in the log file there are 2 space keys between "%r" and "%s", you have to add these 2 space keys in the config file.

[2019-04-23 04:32] mattgphoto commented on #1433
Figured it out myself. Now it's just a matter of figuring out multiple log formats within the .conf file.

[2019-04-23 04:32] #1433 closed

[2019-04-23 04:37] mattgphoto commented on #1430
I'd like to chime in on this as well. My nginx error log is as follows:
[code]
But my access log is as follows:
[code]
And when I specify multiple files, I get this error in goaccess logs:
[code]
How can goaccess parse both?

I have this specified in the goaccess.conf file:
Time Format Options:
`time-format %H:%M:%S`
Date Format Options:
`date-format %d/%b/%Y`
Log Format Options (required):
`# NCS

[2019-04-23 11:00] Fieel opened #1434 "armv6 support"
Hello.

I've been using Goaccess for a while now, I always had problems of some kind but always wanted to properly install it once and for all, on my old raspberrypi2b running an armv6l architecture.

Unfortunately, I had no luck, both browsing this repo issues or with google.

What's the correct, best way to install and run Goaccess on my raspberry pi 2b running an armv6l architecture? I want a r

[2019-04-23 19:01] #1434 closed

[2019-04-24 11:33] kenzoawa opened #1435 "SSL problem"
Hi guys,

I have installed goaccess but i want to use it with SSL.

So far i have installed with --with-openssl and i have this input line

`find /home/ubuntu/s3/ -cmin -300 -name "*.log" -exec cat {} \; | goaccess -a - --log-format=AWSELB -p /usr/local/etc/goaccess/goaccess.conf -o /var/www/html/index.html --ssl-cert=/home/ubuntu/s3/server.crt --ssl-key=/home/ubuntu/s3/server.key --ws-url=wss://p

[2019-04-24 12:23] kenzoawa commented on #1435
So basically you are saying that i just insert the SSL certs and keys to the apache that is running local and skip the SSL flags .. etc right ?

[2019-04-24 12:58] iWoodsman commented on #1435
Correct. The report page it’s self is a plain old static page served by Apache, and if you have configured Apache for SSL, then the report page will be delivered as such. You only need to explicitly tell goaccess about SSL and certificates if you want the real time HTML data that is transferred between the goaccess websocket and the end-user’s browser to be encrypted. That’s when you specify the c

[2019-04-24 13:24] allinurl commented on #1434
Have you tried running goaccess simply as:

    goaccess -f /var/log/nginx/access.log -o /var/www/domain.name/goaccess/report.html --real-time-html --log-format=COMBINED --ws-url=wss://domain.name:7890 --ssl-cert=/etc/letsencrypt/live/domain.name-0001/fullchain.pem --ssl-key=/etc/letsencrypt/live/domain.name-0001/privkey.pem --ignore-crawlers

without the systemd script? does it work? if it doesn'

[2019-04-24 13:26] allinurl commented on #1430
@mattgphoto goaccess can only parse the access log. You can simply use:

    goaccess access.log --log-format=COMBINED

[2019-04-24 13:28] allinurl commented on #1433
At the moment it can only parse one log format. #213 will address the ability to have multiple log formats

[2019-04-24 13:30] allinurl commented on #1164
@nyid are you still getting this issue in 1.3? how are you running it? thanks

[2019-04-24 13:35] allinurl commented on #1432
That's awesome. Thanks for sharing this. Would you be able to submit a PR for this?

[2019-04-24 14:17] mrchief opened #1436 "AWSELB log format doesn't work"
goaccess currently has a common name for Amazon ELB logs `AWSELB       | Amazon Elastic Load Balancing`

ELB logs are slightly [different](https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-access-logs.html#access-log-entry-format) and this format works:

[code]

Can this be updated please?

[2019-04-24 17:56] Placidina commented on #1430
Worker for me

[2019-04-25 08:56] kenzoawa commented on #1435
Hey @iWoodsman thanks for the advice, much appreciated! I was successful.

I have installed the SSL on the apache and works like a charm if you are not using --real-time-html.

If anyone stumbles across that problem - just use ssl on the apache without real time report.

[2019-04-25 08:56] #1435 closed

[2019-04-25 08:57] kenzoawa commented on #1436
Hi @mrchief

AWS ELB logs work fine on my side, which version of goaccess you have ?

I use `--log-format=AWSELB -p /usr/local/etc/goaccess/goaccess.conf`

[2019-04-25 15:51] mrchief commented on #1436
I'm on 1.3

![image](https://user-images.githubusercontent.com/781818/56749612-0fb3d880-6750-11e9-8778-1f3114e981c8.png)

The [default](https://github.com/allinurl/goaccess/blob/master/config/goaccess.conf#L88) format doesn't account for `type` it seems and the error message confirms that. Am I missing something here?

[2019-04-26 00:09] nyid commented on #1164
I just now installed goaccess 1.3 from Unraid Community Applications and it appears to be working right out of the box. The issue I was having earlier is no longer present.

[2019-04-26 00:09] #1164 closed

[2019-04-26 06:32] dragonandy commented on #1432
done. the code worked on my mac.

[2019-04-26 10:24] alflinux commented on #1092
Apr 19 10:47:28 ha01 haproxy[37144]:   9.3.1.3:47548 [19/Apr/2019:10:47:28 +0000] cdn-https~ ats/ats04082 288/0/0/61/349 200 832 - - ---- 37/25/0/1/0 0/0 {js.xm-cdn.it|Mozilla/5.0 (Windows NT 6.1; rv:66.0) Gecko/20100101 Firefox/66.0|https://www.pippo.it/} {http/1.1 ats.xx01.lost.dev-84 (a-cdn [uAcRw f p eS:t cCDi p s ])} "GET /prova/http/config.js HTTP/1.1"

[2019-04-26 10:50] bard commented on #1042
In case anybody is still looking and really keen on docker + live stats, you can hack around this by tailing the docker log of your webserver into `goaccess` from within the `goaccess` container itself.

Here's how it looks like with Docker Swarm, with nginx service being `frontend_nginx`.

[code]

[2019-04-28 01:09] narrowizard commented on #757
## summary
I ran into the same issue.  I have provided some info in next section `info`.
I have restarted the goaccess service at the turning point in monitor chart below.
it seems that goaccess takes normal memory when started, and take more and more mem as time goes on.
## info
here's my memory usage monitor in last 14 days.
![image](https://user-images.githubusercontent.com/11383928/56856742-84

[2019-04-28 01:45] pfergi42 commented on #882
Would still be nice to have date filters in the HTML output. ;)

[2019-04-28 02:22] #1430 closed

[2019-04-28 07:27] apelsinkabl opened #1440 "log-format | nginx | doesn't match specifier .."
Could not configure log-format. Can you help me? Please.

    GoAccess - 1.2.

Now I have nginx log like this:

    Apr  5 07:29:28 vh1 nginx: domain.com 123.123.123.1 - - [05/Apr/2019:09:39:14 +0300] "GET / HTTP/1.1" 200 20933 "-" "Mozilla/5.0 (compatible; YandexMetrika/2.0; +http://domain.com/bots dabs01)" "3.80" "-" "127.0.0.1:8081"

What I should do? Cut/sed/awk to make "classic" format and th

[2019-04-29 08:56] DragonHacker1 commented on #1440
Might need same help what specificed up, but mine are a bit more customized.
`[28/Apr/2019:09:16:12 +0000] - 200 200 - GET https web.***.**** "/" [Client 188.13*.***.***] [Length 139] [Gzip 1.23] [Sent-to 1**.2**.4*.*1] "Mozilla/5.0 (X11; Linux x86_64; rv:66.0) Gecko/20100101 Firefox/66.0" "http://a**.**:81/nginx/proxy"`
Is a bit diferent because i using only nginx proxy, logs are modified alot, t

[2019-04-29 13:30] markgraf opened #1441 "Token '25' doesn't match specifier '%d'"
Running...
<pre>$ goaccess -p /etc/goaccess/goaccess.conf -f peak.log -a > peak.html</pre>
I get the following error

<pre>Parsed 1 linesproducing the following errors:

Token '25' doesn't match specifier '%d'

Format Errors - Verify your log/date/time format</pre>

Which is weird, because "25" is a valid value of %d (day of month).

/etc/goaccess/goaccess.conf contains:
<pre>
time-format %H:%M:%S

[2019-04-30 08:56] fail2010 opened #1442 "Token '"GET' doesn't match specifier '%m'"
my config:
[code]

my access.log is :

    [30/Apr/2019:06:26:55 +0800] "200" 111.213.101.177 - 111.27.173.6 - -  "GET /aaa/g/get/bbb/123?v=2.2.5&id=dddddd HTTP/1.1"  140  "https://s.taobao.com/search?q=help"  "Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36"  "-" rt=0.006 rl=1395 bs=504

do i samething wrong?
and how i setting log-for

[2019-04-30 09:19] hoswey opened #1443 "Token '30/Apr/2019' doesn't match specifier '%d'"
when I run the below command

    goaccess temp.log --date-format='%d/%b/%Y' --time-format='%T' --log-format="[%d:%t] %T"

error:

access log
[code]

[2019-04-30 10:28] fail2010 commented on #1442
if log-format:
log-format [%d:%t %^] "%s" %h - %^ - %^ "%r" %b "%R" "%u" "%^" rt=%T rl=%L bs=%^

that request method and request protocol display  "---"

[2019-04-30 14:13] allinurl commented on #1442
Please try this, it should work:

    goaccess access.log --log-format='[%d:%t %^] "%s" %h %^"%r"  %b  "%R"  "%u" %^ %^=%T %^' --date-format=%d/%b/%Y --time-format=%T

[2019-04-30 14:16] allinurl commented on #1443
Please post a few sample lines from your access.log. Thanks

[2019-04-30 14:17] allinurl commented on #1441
Please post a few sample lines from your access.log. Thanks.

[2019-04-30 14:19] allinurl commented on #1440
Can  you please both describe the fields on your log format. Thanks.

[2019-04-30 14:20] allinurl commented on #882
@pfergi42 **#117** would address this.

[2019-04-30 14:29] allinurl commented on #757
@narrowizard Thanks for posting this. Just curious, are you running the latest version? Could you please post the exact command you are running? Also, I see that every few days the mem usage goes down, are you restarting goaccess? and last, could you please run it with the most minimal settings and without geoip support? e.g.,

    goaccess --no-global-config access.log --log-format=COMBINED

Than

[2019-04-30 14:31] allinurl commented on #1042
@bard Thanks for sharing that!

[2019-04-30 14:39] DragonHacker1 commented on #1440
Mine i used ** because i actually web.** - domain, also client 188.13**.***.*** - ip of user logging the browser, and last http://a**.**:81/nginx/proxy should don't mention because actually where did redirected, like visiting into that domain will automatically redirect other specific, so
`[28/Apr/2019:09:16:12 +0000] - 200 200 - GET https DOMAIN "/" [Client IP] [Length 139] [Gzip 1.23] [Sent-to S

[2019-05-01 11:44] apelsinkabl commented on #1440
I need to process only the default log.
Can I ignore some columns? What do I need to use? or should format my log to default and use default log-format for goaccess?

[2019-05-02 07:27] bajigithub opened #1444 "Haproxy log format help"
Can you please help me to convert the below log format/line to work with goaccess?

log-format = [%pid]\ [%Ts.%ms]\ %ac/%fc/%bc/%bq/%sc/%sq/%rc\ %Tq/%Tw/%Tc/%Tr/%Tt\ %tsc\ %ci:%cp\ %fi:%fp\ %si:%sp\ %ft\ %sslc\ %sslv\ %{+Q}r\ %ST\ %b:%s\ "%CC"\ "%hr"\ "%CS"\ "%hs"\ req_size=%U\ resp_size=%B

Log line:

    Apr 30 08:38:15 usw02-rel-dataservices-ts-timeseries-lb haproxy[849]: [849] [1556613495.891]

[2019-05-02 11:06] daBee commented on #418
I just tripped over an installation on `CentOS 7`:

    GoAccess - version 1.2 - Jul 23 2017 03:05:48
    Config file: /etc/goaccess.conf

    Fatal error has occurred
    Error occured at: src/tcabdb.c - tc_adb_create - 119
    Unable to open an abstract database: /tmp/-1mdb_agent_keys.tcb#lcnum=1024#ncnum=512#lmemb=128#nmemb=256#bnum=32749#opts=l#mode=wct

Any suggestions?

[2019-05-02 12:10] daBee opened #1445 "No Such File or Directory"
$ goaccess -p /usr/local/etc/goaccess/goaccess.conf mylog.log-20190502 ~/desktop/alpha.html

	GoAccess - version 1.3 - Apr 29 2019 17:12:23
	Config file: /usr/local/etc/goaccess/goaccess.conf

	Fatal error has occurred
	Error occurred at: src/parser.c - read_log - 2728
	Unable to open the specified log file. No such file or directory

	$ ll
	-rwxr-xr-x   1 rich  admin    21K Oct 15  2018 mylog.log

[2019-05-02 12:11] Niek commented on #716
Same here on Ubuntu 18.10:
[code]

[2019-05-02 14:38] allinurl commented on #1445
Please specify the output flag. e.g.,

    $ goaccess -p /usr/local/etc/goaccess/goaccess.conf mylog.log-20190502 -o ~/desktop/alpha.html

[2019-05-02 18:58] mwarnett opened #1446 "Goaccess will no longer parse my logs"
I am running KUbuntu:

No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.2 LTS
Release:        18.04
Codename:       bionic

I run Goaccess every month on my server logs, it has worked well for me.

I use the COMBINED log format

This month it refuses to parse my log file:

Parsed 1 linesproducing the following errors:

Token 'node3.virginia.node.siteuptime.com' doe

[2019-05-02 19:56] daBee commented on #1445
That was it.  Not sure how I missed that.

[2019-05-02 19:56] #1445 closed

[2019-05-03 00:50] juanqr08 opened #1447 "goaccess 1.3 - Apache 2.5 - Token '14/Apr/2019' doesn't match specifier '%d'"
Good evening, sorry I am new to this, I have installed goaccess 1.3 and I need to graph Apache 2.5 logs, try the combined format and it does not allow me to throw the following error:

"$ goaccess -f access_log-20190421 --log-format = COMBINED --real-time-html -a -o report.html
access_log-20190421]
Parsed 1 linesproducing the following errors:

Token '14 / Apr / 2019 'does not match specifier'% d

[2019-05-03 04:29] bajigithub commented on #1444
Any pointer to the documentation on how to convert would also help?

[2019-05-03 07:34] alexvanvucht opened #1448 "Feature request: Session analysis"
Atlassian Jira's Tomcat configuration records the X-ASESSIONID header by default in their access_log valve. See [this Atlassian developer's comment](https://community.atlassian.com/t5/Jira-Core-questions/What-are-the-fields-in-slow-queries-log/qaq-p/270126).

More applications are recording session IDs in response headers, and can be written to access_log  - it would be valuable to report the aver

[2019-05-03 12:25] Fieel commented on #1434
@allinurl yeah it worked.

2 years ago, when I first tried using goaccess, I had lots of problems and barely managed to make it work. Soon after I opened this issue the installation completed flawlessly and everything works :).

[2019-05-04 17:01] besnik commented on #411
Hi @allinurl , is there any timeline to support nginx $request_length ? As I understand this variable is not yet supported.

[2019-05-04 18:15] allinurl commented on #411
@besnik not yet. I can move this to the 1.4 milestone. Thanks for the heads up.

[2019-05-04 20:53] patelanuj28 commented on #1273
Trying my head around to write custom format,

[02/May/2019:12:20:47 -0700] addr=10.2.252.240 request="GET /javascripts/libs/modernizr-2.6.2.min.js HTTP/1.1" 200 sent=4853 uri="/javascripts/libs/modernizr-2.6.2.min.js" us="- [-] (-)"
[02/May/2019:12:20:47 -0700] addr=10.2.252.240 request="GET /javascripts/libs/jquery-migrate-3.0.1.js HTTP/1.1" 200 sent=7048 uri="/javascripts/libs/jquery-migrate-3.

[2019-05-05 00:57] narrowizard commented on #757
Actually, I ran goaccess in docker container. With Dockerfile [here](https://github.com/narrowizard/dockerfiles/blob/master/goaccess/mmdb/Dockerfile), build in master branch of this repo.
I do restart goaccess once few days.
As your suggestion, I will run goaccess without geoip, and post another report in next days.
Thanks for your reply. @allinurl

[2019-05-06 06:26] hoswey commented on #1443
@allinurl  it has attach the access log, it just a simple text "[30/Apr/2019:00:10:04] 0.373
"

[2019-05-06 07:24] VIEWSION opened #1450 "Please help me with my Apache log"
Hi,

I just can't get it run with my Apache log I downloaded. Can somebody help me with the right format? This is an example line:

`195.57.112.0 www.mydomain.com - [05/May/2019:11:24:32 +0200] "POST /path/index.php?api-call=test HTTP/2.0" 503 299 "https://www.mydomain.com/path/index.php?page=demo" "Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.99 Safari/537.

[2019-05-06 11:57] #1432 closed

[2019-05-06 13:32] shantanu2694 commented on #374
the report is generated using this log formate but I am not getting proper browser hit in the report.
![image](https://user-images.githubusercontent.com/46651167/57228433-6dd69a80-7031-11e9-9e23-79b785999e1a.png)

[2019-05-06 13:32] shantanu2694 commented on #374
Plz help!!!

[2019-05-07 11:51] allinurl commented on #374
@shantanu2694 you probably got the wrong format. Please sample lines from your access log. Thanks.

[2019-05-07 11:52] allinurl commented on #1450
Could you please describe what are the last two fields? Thanks.

[2019-05-07 11:54] allinurl commented on #1443
GoAccess requires the following fields:

- a valid IPv4/6 %h
- a valid date %d
- the request %r

[2019-05-07 11:54] #1443 closed

[2019-05-07 11:58] allinurl commented on #1273
@patelanuj28

    goaccess access.log --log-format='[%d:%t %^] %^=%h %^="%r" %s %^=%b %^' --date-format='%d/%b/%Y' --time-format=%T --ignore-panel=BROWSERS --ignore-panel=OS

[2019-05-07 12:01] allinurl commented on #1448
Can you please describe how the report should look like for this field? Thanks

[2019-05-07 12:05] shantanu2694 commented on #374
Hi Gerarado,

Thank you for the reply. My log sample is

May  7 17:33:28 localhost haproxy[3761]: 103.246.243.242:54417
[07/May/2019:17:33:28.235] main~ app_IVTS/ivts_clustr1 0/0/0/4/4 200 12935
- - --VN 6/6/1/2/0 0/0 {} "GET /IVTS/js/topslider/jquery_003.js?v=6.27
HTTP/1.1"

On Tue, May 7, 2019 at 5:21 PM Gerardo O. <notifications@github.com> wrote:

[2019-05-07 12:06] shantanu2694 commented on #374
i have given a log sample on mail please check and thank you for the response

[2019-05-07 12:06] allinurl commented on #1446
Please post the exact command and attach the config file that you are running. Thanks

[2019-05-07 12:08] allinurl commented on #418
@daBee have you tried if running the above works? I'm not sure if this will ever get fixed as goaccess is moving to a different on-disk storage.

[2019-05-07 12:39] daBee commented on #418
@allinurl Yes.  It was a permissions issue.  `CentOS 7` parks the logs behind permissions only `root` can see, so I had to `cron` an `rsync` to something local, then do the same to my workstation where `goaccess` performs on that second copy.  So, it's fixed for now.  Beta testing this setup, moving to weekly reports Sunday morning.

Not sure what you mean about the 'movement' you mentioned.  Can

[2019-05-07 12:50] VIEWSION commented on #1450
Hey... I asked the hosting provider and he sent me the log file format config:

"%v:#:%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\"
%I %O"

I guess this is something with I/O ... and btw this is probably the same string or at least parts to use for goAccess settings, right?

[2019-05-07 13:59] manues50 commented on #1427
These logs are from a media server named flussonic.

Sample logs for one channels.

2019-05-03 09:10:43.878 200 4 935488 /CHANNEL1/tracks-v3a1/2019/05/03/09/10/32-06000.ts 44ecbde929494680a0ba31ef000e704bcdc628d2 76.18.17.234

Here

200 - http code
4 - backend runtime in ms
935488 - content size in bytes
84539db6d480d7d656259cd2fda7977e4a613946  - client session_id

[2019-05-07 14:59] 0Styless commented on #1282
I have the exact same problem, so I can confirm that too.

[code]

This is just a very small logfile and there are hardly any new requests during the parsing process. I have let it stand there for hours and it still says:

[code]

[code]

So is there any suggestion to this?

[2019-05-08 07:53] shantanu2694 commented on #374
plz rply

On Tue, May 7, 2019 at 5:35 PM Shantanu Shukla <
shantanushuklacse2017@gmail.com> wrote:

[2019-05-08 07:54] VIEWSION commented on #1450
I tried the following. But I always get this Token '././.' doesn't match specifier '%d'. I am on Mac/Mojave - any known issues here? I also tried '%d/%b/%Y' (in quotation marks)... same thing.

[code]

[2019-05-08 09:03] VIEWSION commented on #1450
Hey... found it... the local setting (German) was the reason. Entering

export LANG="en_US.UTF-8"

before you call GoAccess does the job. Is there a need to reset it after to the German setting? Or is this just a temporarily set for the current terminal session?

[2019-05-08 11:20] markgraf commented on #1441
Sorry for the delay :-( Are 20 lines enough?
<pre>
xxx.xxx.xxx.xxx - - [08/May/2019:11:37:52 +0200] "GET /panorama/polizei-sucht-_huehnerkiller_-30880912.html?_XML=AMP HTTP/1.1" 200 15618 "https://www.swp.de/blaulicht/crailsheim/frauenleiche-in-wohnung-gefunden-lebensgefaehrte-verhaftet-30881568.html?_XML=AMP" "Mozilla/5.0 (Linux; Android 9; SM-G950F) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/

[2019-05-08 19:22] vbrandl opened #1451 "Certificate for deb.goaccess.io expired"
The current certificate for `deb.goaccess.io` (`03:40:33:2C:8B:AC:AF:10:1B:CE:4D:9D:65:81:CF:AB:5F:2F`) expired today (exactly `May 8, 2019, 6:36:27 PM GMT`) and is no longer valid.

[2019-05-08 19:41] allinurl commented on #1451
Thanks a lot for the heads up on this. It should be back up again.

[2019-05-08 19:52] vbrandl commented on #1451
Yes. Looks fine from here. Thanks for the fast response.

[2019-05-08 19:52] #1451 closed

[2019-05-09 12:06] allinurl commented on #1441
This should do it:

    goaccess access.log --log-format='~h{, } %^[%d:%t %^] "%r" %s %b "%R" "%u" %^/%D**' --date-format=%d/%b/%Y --time-format=%T

[2019-05-09 12:07] allinurl commented on #1282
Thanks for the reminder. I haven't had a chance to look at this. A workaround right now is to use a local file and read that file with goaccess.

[2019-05-09 12:10] allinurl commented on #1427
This should do it:

    goaccess access.log --log-format='%d %t.%^ %s %L %b %U %^ %h' --date-format=%Y-%m-%d --time-format=%T --ignore-panel=OS --ignore-panel=BROWSERS --http-method=no --http-protocol=no

[2019-05-10 07:39] markgraf commented on #1441
That seems to be working until I reach a count of roundabout 1,6 Million lines.
I tried multiple times. the exact numbers changes a little, but the error is always this one:

<pre>
$ goaccess access.log --log-format='~h{, } %^[%d:%t %^] "%r" %s %b "%R" "%u" %^/%D**' --date-format=%d/%b/%Y --time-format=%T -f peak.log -o peak.html
Parsing... [1,611,867] [30,997/s]
GoAccess - version 1.3 - Nov 25 20

[2019-05-10 11:09] linsuaw opened #1452 "How can I set my custom JSON log format in GoAccess"
Thank you for providing very good program
I have some questions to ask about my log format
This is my nginx log format
[code]

These is some log line
[code]

and this is my goaccess log format
[code]

but it's not work

Could you tell me how to adjust this
Thank you!

[2019-05-10 14:52] manues50 commented on #1427
This information was helpful
Thank  You

[2019-05-13 08:51] magenest-dev opened #1454 "Wrong date in report."
Hi,

I think there's a bug in the report where I have logs from 11,12, 13/May and it's showing 01, 02, 03/May.
I started recording from 08, 09/May everything works fine but starting from 10, it reports back to 01?

date-format %d/%b/%Y
log-format %h %^ &^ [%d:%t %^] "%r" %v %s %b "%R" "%u" %^ %^ %^ %^"%T"

My logs:  ....- - [13/May/2019:01:46:42 +0000] ....

Here is how my report is showing. It's

[2019-05-13 14:26] allinurl commented on #1033
@artfulrobot thanks for sharing that!

[2019-05-13 16:19] just4testing1 opened #1455 "GoAccess Realtime Not Working"
I'm able to get the `report.html` up and running, however it's still not in realtime despite using those parameters in SSH.

`/goaccess-1.3# goaccess /var/log/apache2/access.log -o /var/www/html/report.html --log-format=COMBINED --real-time-html
Error Opening file /usr/local/share/GeoIP/GeoIP.dat
WebSocket server ready to accept new client connections
`

Have tried installing GeoIP.dat

`:~/goacce

[2019-05-14 01:17] narrowizard commented on #757
after a week's test, i think this issue is something about geoip support. here is my system monitor(not exactly, but never reappear this issue) after disable geoip support.
![image](https://user-images.githubusercontent.com/11383928/57663913-9a3d7880-7628-11e9-8dc2-b1f0df2f3696.png)
Do you have any idea about that? @allinurl

[2019-05-14 07:52] hirsebrand commented on #213
bump

[2019-05-15 00:24] Bluscream commented on #1455
I have a similar problem, I am using

[code]

But after GET'ing anything on my site it doesn't refresh even with F5 it just shows same amount.

[2019-05-15 01:51] allinurl commented on #1455
Could you both please the output of your browser's console. Also, please try with the bare minimal number of options. e.g.,

    goaccess access.log -o report.html --log-format=COMBINED --real-time-html

[2019-05-15 01:54] allinurl commented on #757
@narrowizard Good to hear it ran fine w/o geoip. I've never seen this before, although, I usually test with GeoIP legacy, so I'm guessing it could be mmdb. Could you please try running geoip legacy instead and post back? Thanks.

[2019-05-15 01:56] allinurl commented on #1454
Interesting... Are you running v1.3? can you please run goaccess with `--json-pretty-print` and check the source code of the generated report to see if it's bootstraping the dates correctly or if it's a JS thing. Thanks.

[2019-05-15 01:57] allinurl commented on #1454
Also, could you please run in via terminal and see if it outputs the same thing? Thanks.

[2019-05-15 01:57] allinurl commented on #1427
Great. Closing this, feel free to reopen it if needed.

[2019-05-15 01:57] #1427 closed

[2019-05-15 02:20] Bluscream commented on #1455
Can't use your command, have to pass my config
[code]

[2019-05-15 05:56] shantanu2694 commented on #374
so how should I enable that

[2019-05-15 11:19] Bluscream opened #1456 "Always "Temporary failure in name resolution""
![image](https://user-images.githubusercontent.com/3318223/57771816-1c569b80-7714-11e9-9d78-7b2de714c6e3.png)

[2019-05-15 14:46] allinurl commented on #1456
If it's happening to all IPs, then it sounds like it's a DNS issue on your end. Try running:

    nslookup IP

Also, you could try temporarily changing your DNS to use Google's nameservers 8.8.8.8, e.g.,

    sudo nano /etc/resolv.conf

[2019-05-15 14:48] allinurl commented on #1455
Looks like an issue reaching the host. Please make sure you have the port opened. Also, try using telnet to see if you can reach that port. e.g.,

    telnet host 7890

[2019-05-15 20:21] pyataevsv opened #1458 "Config file: No config file used"
Hellow

I'm sorry, I'm completely newbie at coding and server administration but I very need to get GoAccess on my website.

I've installed successfully GoAccess on my server but when I'm trying to set up log format with a command

`# goaccess access.log -c`

I got answer

[code]

I've tried to to find anny files accoiciated with "access.log" and "goaccess" via
[code]
which gave me no files with s

[2019-05-15 20:24] allinurl commented on #1458
Which webserver are you using? i.e., apache, nginx, etc You can try running:

    # find / -name access.log

then run goaccess as e.g.,

    # goaccess /var/log/apache2/access.log -c

[2019-05-15 20:50] pyataevsv commented on #1458
I use  bitnami lamp stack

There is no such file `access.log` on my server.

I've tried
[code]

Can It be with a different name?
May be it means server configuratin file like `httpd.conf`?

[2019-05-15 23:16] jeffbilder commented on #1273
How about a format like this:
10.4.7.5 - - [13/May/2019:17:49:19 +0000] "GET /STARS/Account/Login?ReturnUrl=%2fSTARS%2fAccountHome HTTP/1.1" TLSv1.2/ECDHE-RSA-AES256-GCM-SHA384 302 17567 "-" hag="Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36" xfw="61.54.5.251"rt="295.178" uct="0.000"ua="10.4.7.125:80" us="302" uht="295.177" urt="

[2019-05-16 00:24] Bluscream commented on #1456
[code]

[2019-05-16 00:35] Bluscream commented on #1456
I tried adding more now:

[code]

[code]

[2019-05-16 03:51] magenest-dev commented on #1454
Yes, I'm using 1.3.
![image](https://user-images.githubusercontent.com/44190478/57825280-58e3cf00-77c8-11e9-8ec7-eb25782cb1b8.png)

I exported a few lines from the main log to run from terminal
![image](https://user-images.githubusercontent.com/44190478/57825293-68631800-77c8-11e9-810a-6599cf952ccd.png)

I think it's not a js thing.
![image](https://user-images.githubusercontent.com/44190478/57825

[2019-05-16 07:33] pcart-grandjean commented on #1455
Hello,
I also can't have a live report. Unfortunately I have no error message to work with.

When I create the server with the command
`goaccess /var/log/nginx/access.log --log-format=COMBINED --output=/var/www/goaccess/report.html --real-time-html`
I get the proper response:
`WebSocket server ready to accept new client connections`

When I open the page in my browser (from my laptop), I can see t

[2019-05-16 07:45] Bluscream commented on #1455
@pcart-grandjean have you tried the telnet thingy @allinurl suggested?

[2019-05-16 09:46] pcart-grandjean commented on #1455
@Bluscream , yes I have and I get the `Connected to` message.

But I tried even better: I connected to the websocket with a client application. And I could see the data coming from the websocket open by goaccess.

[2019-05-16 10:12] pyataevsv commented on #1458
I found out my log file as a access_log.
Other problems solved.

Thank you for product.

[2019-05-16 10:12] #1458 closed

[2019-05-16 13:02] fievelk opened #1459 "Plot average TS over time"
Hi, I would like to see a graph showing me the average `response_time` during the different hours of the day.

For example: my website had 2 seconds average response time on Monday at 9am, but then performance worsened at 4pm. How do I see this graph? As far as I understand, the "Time Distribution" graph only shows the number of hits and visitors over time, but not the avg response time.

[2019-05-16 13:26] Luka188 opened #1460 "goaccess one dashboard per vhost"
Is there a way to create a dashboard for each vhost without running one goaccess process per vhost ? One alternative would be to have only one dashboard but be able to filter per vhost. I would like to know the proper way of doing this, thank you.

[2019-05-17 11:40] pcart-grandjean commented on #1455
I tried again with a Linux Desktop and it works fine when browsing from the Desktop. It doesn't work when browsing from the outside. I seem to be missing a configuration parameter for that. Any help is welcome.
Thanks.

[2019-05-17 17:00] electrotype commented on #1005
+1

This and the ability to filter by date range in the HTML output and I will be very happy!

Thanks for GoAccess!

[2019-05-18 18:04] edavis opened #1461 "Seemingly incorrect hit percentage"
Hi — I'm not sure if this is a bug or just something I'm not understanding. I'm using GoAccess 1.3.

I've got everything seemingly working, except the "h%" column shows "100%" for the first line within each module. Is that the correct behavior? The screenshots on the homepage don't show that, so I'm assuming not.

Shouldn't the first row in "Requested Files" have a h% value of 32.78% (19536 Hits/5

[2019-05-19 02:18] allinurl commented on #1461
You are right. This is based on the topmost row of each panel. #649 addressed this. However, I'm trying to find who requested this. To be honest, I find it odd as well when I looked at my stats. Originally was done as you expected, based of valid requests and then changed. I may need to revert this or add some sort of option...

[2019-05-19 02:31] allinurl commented on #1455
@Bluscream I see that your connection is done through `wss`, you will need to use a certificate for that and ensure you are going through HTTPS.

[2019-05-19 02:32] allinurl commented on #1005
@electrotype definitely coming... stay tuned :)

[2019-05-19 02:33] allinurl commented on #1460
You will need to run a separate process. #117 will address the filtering part and handle this case.

[2019-05-19 03:06] Bluscream commented on #1455
Yes i use cloudflares certificate

[2019-05-19 03:33] allinurl commented on #1455
Did you specify the certificate and key in goaccess?

[2019-05-19 13:53] mback2k commented on #966
[code]
Unfortunately even this configuration still causes parts of the User-Agent or numeric values to appear inside the Virtual Host statistic. Does anyone have some additional ideas how to fix this?

<img width="765" alt="Screenshot of Virtual Hosts" src="https://user-images.githubusercontent.com/231943/57983083-3662e780-7a4e-11e9-95cb-2650e9fea67a.png">

[2019-05-19 16:52] MrSorcus commented on #1086
Nginx log format
[code]
Logs
[code]
Nginx version 1.15.12

[2019-05-19 17:03] MrSorcus commented on #1086
Something similar for AWS here - https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/AccessLogs.html (`ssl-protocol` & `ssl-cipher`)

[2019-05-20 01:54] Bluscream commented on #1455
But wouldn't i need another cert if i say `--ws-url=<different>` because cloudflare protection doesnt let other traffic than 80/443 through?

[2019-05-20 02:00] allinurl commented on #1455
You definitely need a certificate to use with goaccess if you are routing through HTTPS. You are probably right, however, I can't help you with cloudflare as I'm not familiar with their system. You may be able to find similar issues here.

[2019-05-20 02:02] allinurl commented on #1086
So essentially you want to display a panel containing the TLS version and cipher?

[2019-05-20 02:02] Bluscream commented on #1455
I wanted to use the original server ip (bypassing cloudflare completely) for the report because it's behind a `Auth: Basic` wall anyway

[2019-05-20 02:23] magenest-dev commented on #1454
Sorry for this. I had a typo in the log-format

"&^"  should have been "%^"

This is what was messing up the date. It works fine now.

[2019-05-20 07:48] MrSorcus commented on #1086
Not sure how must it be present in GoAccess.

[2019-05-20 08:04] tagirb commented on #868
Same issue here on CentOS 7.6, goaccess 1.2. Stracing the root and non-root goaccess calls respectively shows the following crucial difference:
[code]
This won't work for a non-root user, because of the `/dev/pts/1` permissions:
[code]

[2019-05-21 15:08] wappguru opened #1462 "Noob Question - GoAccess command not working"
I installed GoAccess successfully on a CentOS7 web server.

I configured it as well to the best of my ability.

Whenever I try to run any command from the 'get started' documentation I get the following:

`[root@web7 httpdocs]# goaccess access.log -o /home/browns/httpdocs/report.html --log-format=COMBINED --real-time-html
-bash: goaccess: command not found`

`[root@web7 ~]# goaccess access.log -c

[2019-05-22 01:08] allinurl commented on #1462
Can you please post how did you configure/build goaccess? Thanks

[2019-05-22 01:22] allinurl commented on #868
@tagirb thanks for pointing that out. I'll need to look which call is exactly doing this and refactor if necessary.

[2019-05-22 11:43] bodrick commented on #1304
So just wanted to add that I also have this problem and it would be good to have some sort of option to treat the dash as empty or something along those lines, or even have the ability to do some simple logic or regex but I see that as more complications.

[2019-05-22 13:56] #1362 closed

[2019-05-22 13:58] allinurl commented on #1454
Good to hear that. Closing this. Feel free to reopen it if needed.

[2019-05-22 13:58] #1454 closed

[2019-05-22 14:00] allinurl commented on #966
@mback2k Can you please post a few sample lines from your access log? Thanks.

[2019-05-22 14:04] allinurl commented on #1456
This appears to be an issue with your DNS and not with goaccess. Essentially goaccess uses the dns resolver configured on your machine. From your nslookup output above, it couldn't resolve the IP and thus the same output in goaccess. I'd recommend posting a question on https://serverfault.com/ to see what might be the issue with your DNS.

[2019-05-22 14:04] #1456 closed

[2019-05-22 14:07] allinurl commented on #1273
@jeffbilder can you please describe the fields you got in your sample line above? Thanks.

[2019-05-22 14:22] allinurl commented on #1452
Sorry for the delay on this. This should work:

    goaccess access.log --log-format='%^: "%dT%t+%^",%^:%^:%^: "%h",%^:%^: "%v",%^: %b,%^:%^:"%T",%^:%^:%^:%^: %s,%^: "%r",%^:%^: "%R",%^,%^: "%u"%^' --date-format='%Y-%m-%d' --time-format=%T

[2019-05-22 14:24] allinurl commented on #1441
Sounds like a permissions issue on your file. Can you try to isolate this by creating a new file and reading that file with goaccess? e.g.,

    # cat access.log > /home/user/test.log
    # goaccess test.log

[2019-05-22 17:48] mback2k commented on #966
@allinurl Attached you will find an example [access.log](https://github.com/allinurl/goaccess/files/3208644/access.log) extract with dummy IPs.

[2019-05-22 17:59] allinurl commented on #966
@mback2k this should work:

    goaccess access.log --log-format='%h %^ %e [%d:%t %^] "%r" %s %b "%R" "%u" %^ "%v" %^ %Lms' --date-format=%d/%b/%Y --time-format=%T

[2019-05-23 03:30] FranklinYu commented on #981
Many logs are rotated with Gzip; consider supporting this natively?

[2019-05-23 18:03] mback2k commented on #966
@allinurl Thank you. I re-created the report from all logs of April and May, but there are still numbers showing up as Virtual Hosts. Any other ideas? Is there some way to debug this, e.g. let it output the detected fields during parsing to check if something is off?

[2019-05-23 18:07] zfrisch opened #1464 "GoAccess on Windows Commands just give Help"
All I get every time I use a GoAccess command in cygwin is the helpfile.

Every time. No matter what I put in. Why? I keep going to different pages and trying out different report things, but nothing seems to work.

I wish the installation instructions were more clear since I'm not even sure if I installed everything correctly. I download cygwin with all the packages that were listed, I pulled the

[2019-05-23 18:37] allinurl commented on #1464
Please make sure to use the latest version v1.3 for that specific command to work. If you still would like to stick with v1.1.1 (no longer supported), please try:

    $ goaccess -f logfile.txt -a -o report.html

[2019-05-23 19:35] zfrisch commented on #1464
Oh, I see, thanks!

Should I open another question regarding formatting? Currently my format is this:

10.80.23.176 - - [31/Dec/2018:14:27:14 -0600] "GET /fast/images/friday.png HTTP/1.1" 200 1131

Is this right?:

log format is: %h %^[%d:%^] \"%r\" %s %b \"%R\" \"%u\"

the date format is: %d/%b/%Y

the time format is: %T

[2019-05-23 19:37] allinurl commented on #1464
If using a the latest version you can use:

    goaccess logfile.txt -a -o report.html --log-format=COMMON

else

    goaccess -f logfile.txt -a -o report.html --log-format='%h %^[%d:%t %^] "%r" %s %b' --date-format=%d/%b/%Y --time-format=%T

[2019-05-24 00:05] zfrisch commented on #1464
Thanks very much!

On Thu, May 23, 2019, 2:37 PM Gerardo O. <notifications@github.com> wrote:

[2019-05-24 00:31] #1464 closed

[2019-05-24 21:57] allinurl commented on #966
@mback2k sounds like a format issue to me. For the lines you posted above it worked well. Do you have a sample of those problematic lines that I can test?

[2019-05-25 08:43] mback2k commented on #966
@allinurl I guess I have found the lines breaking the format. Some attacker is trying out weird URLs like this:

[code]

I guess there is nothing I can do to avoid these log lines showing up. The attacks these people are trying are useless, but they will show up anyway.

[2019-05-27 06:25] rainbowfhb opened #1465 "there is nothing in static html"
HI, I use the command "

    goaccess access-2019-05-18.log  --time-format='%T' --date-format='%d/%B/%Y' --log-format="%h %^ %^ [%d:%t %^]  %m %U %H "%s" %^ "%R" %u %^ %^" --geoip-database='GeoLite2-City.mmdb' -o report.html

but when i use browser to open the static html, there is nothing displayed.

if I dont use the parameter '-o report.html', I can see the result in linux screen.

[2019-05-27 07:02] rainbowfhb commented on #1465
![image](https://user-images.githubusercontent.com/33643321/58401448-71899a00-8090-11e9-99be-69ae0785d157.png)

[2019-05-27 07:03] rainbowfhb commented on #1465
![image](https://user-images.githubusercontent.com/33643321/58401479-8c5c0e80-8090-11e9-8900-c61ef8c94290.png)

[2019-05-27 17:08] allinurl commented on #1465
Strange, have you made any updates to the code? Also, can you post a few lines from your access log? Thanks

[2019-05-27 18:33] #1363 closed

[2019-05-28 00:42] drequivalent commented on #1459
Honestly, I'm surprised that there is no such functionality in here. This would be really, really useful.

[2019-05-28 01:54] rainbowfhb commented on #1465
121.228.250.179 - - [18/May/2019:00:14:27 +0800] "GET /aep_product_management/product?productId=8725 HTTP/1.1" 200 1571 "-" "Apache-HttpClient/4.4.1 (Java/1.7.0_151)" "-" "121.228.250.179"
121.8.136.7 - - [18/May/2019:00:14:27 +0800] "GET /login/index.html?true&returnURL=https%3A%2F%2Fwww.ctwing.cn%2Flogin%3Furl%3D%252F HTTP/1.1" 500 5205 "https://www.ctwing.cn/" "Mozilla/5.0 (Macintosh; Intel Mac

[2019-05-28 01:56] rainbowfhb commented on #1465
121.228.250.179 - - [18/May/2019:00:14:27 +0800] "GET /aep_product_management/product?productId=8725 HTTP/1.1" 200 1571 "-" "Apache-HttpClient/4.4.1 (Java/1.7.0_151)" "-" "121.228.250.179"
180.101.149.101 - - [18/May/2019:00:14:27 +0800] "GET /echo HTTP/1.1" 200 675 "-" "Go-http-client/1.1" "-" "180.101.149.101"

[2019-05-29 21:35] andygr opened #1467 "Freebsd 11.2 - Missing development files for libmaxminddb library"
Hello,

I installed freebsd 11.2 and i am trying to compile goaccess 1.3. My configure command is:

`sudo ./configure --enable-geoip=mmdb
`

However i am getting this error:

[code]
The pkg info for this library is:

[code]

Do you know when goaccess is failing to compile it?

Thanks

[2019-05-30 23:44] allinurl commented on #1467
Are you building this from source (tar.gz) or upstream (github)?

[2019-05-30 23:47] allinurl commented on #1465
Please try:

    goaccess access.log --log-format='%h %^[%d:%t %^] "%r" %s %b "%R" "%u" %^' --time-format='%T' --date-format='%d/%B/%Y'

[2019-05-31 07:34] andygr commented on #1467
Yes from source, I used this tar file:
goaccess-1.3.tar.gz

[2019-05-31 10:31] mcmidget opened #1468 "Add language configuration at runtime"
It would be nice to have the language configuration available at runtime (available at goaccess.conf or passing option like --language) so we can generate reports on different languages at runtime.

Thanks and keep the great work!

[2019-06-02 13:58] alexwbaule opened #1469 "User-agent with Phone model"
Hi,

Im using the COMBINED config to parse log files, im using nginx as a webserver.
There is possible, to include the celphone model in the parser ? Or is a configuration to parser log, to include it ?

My Logs line is linke this:

170.150.96.6 - - [02/Jun/2019:01:40:27 -0300] "GET /models/insert_models.sha256 HTTP/1.1" 304 0 "-" "Dalvik/2.1.0 (Linux; U; Android 8.1.0; Redmi Note 5 MIUI/V10.3.1.0

[2019-06-02 19:08] alexreg opened #1470 "`--enable-geoip` option does not work"
I get:
[code]
What's going on here?

(Version 1.3.0 on macOS.)

[2019-06-03 10:45] remin23 opened #1471 "Barracuda web log log format help"
goaccess  logs.csv   --log-format='%^,%ci,%cp,%ai,%ap,%si,%sp,%m,%p,%u,%v,%cu,%id,%h,%ua,%^,%s,%ch,%bs,%br,%tt,%st,%pf,%wmf,%pmf,%rtf,%^,%q,%c,%px,%pp,%ua,%au,%cs1,%cs2,%cs3' --date-format='%Y-%m-%d' --time-format=%H:%M:%S

Parsed 1 linesproducing the following errors:

Token 'ay/395faffc-6196-44b3-b13c-207736688b9e","200","0","1839","1011","4","4","Unprotected","Val' doesn't match specifier '%s'

[2019-06-04 20:07] JamesSkemp opened #1472 "Missing space in error output for invalid request protocol"
With GoAccess 1.3 (Ubuntu via Windows Subsystem for Linux, built from release), I'm parsing W3C logs (converted from IIS) with the following:

    goaccess /path/to/log.log
        --log-format="%d %t %m %U %q %e %h %H %u %R %s %b %L"
        --date-format="%Y-%m-%d"
        --time-format="%H:%M:%S" -a -o /path/to/report.html

I'm getting the following error message in the console:

I know the iss

[2019-06-05 08:47] swar0g opened #1473 "Error occurred at: src/parser.c - read_log - 2728"
Hi,

I am getting the following error trying to parse nginx error.log with goaccess:
[code]
But the file definitely exists in the location:

[code]
Just in case, here is the goaccess config file:

[code]

[2019-06-06 10:20] DarksideMike opened #1474 "Feature request: Extend "Remote User" Panel"
Hey, i would like to make a small request for extending the "Remote Use" panel.

If you enable the list of user-agents by host (agent-list true in the config or calling goaccess with -a), the host panel shows for every host also the user-agents which were used.
It would be nice to have something similar for the "Remote User" panel.
Is it possible to create a new option which extends the "Remote Us

[2019-06-07 13:40] develforever commented on #953
Hi, this may be  helpful information:

https://goaccess.io/man

[2019-06-08 22:46] antongiacomo commented on #1440
Same here, thank you for your work

[2019-06-09 17:01] MartinPerry opened #1475 "Token doesn't match specifier '%d' - Cygwin"
I have this log:

[code]

When I try to parse it (`--log-format=COMBINED`), I have got:

[code]

I have tried all other inbuild log-formats and none of them work. I have also tried to write is by myself, but always with the same error.

I have build GoAccess with Cygwin, Windows10 x64. Building did not produced any errors.

[2019-06-09 17:09] allinurl commented on #1475
What is the output of running `date`?

You could also try running goaccess as:

    LANG="en_US.UTF-8" bash -c 'goaccess access.log --log-format=COMBINED'

[2019-06-09 17:13] MartinPerry commented on #1475
@allinurl
Thank you, setting up LANG helped.

[2019-06-09 17:13] #1475 closed

[2019-06-09 17:14] allinurl commented on #1475
Awesome. Feel free to reopen it if needed.

[2019-06-10 01:18] madawei2699 opened #1476 "nginx custom log format"
here is my nginx access log:

`66.249.64.155 - - [10/Jun/2019:01:15:31 +0000] 10.6.96.6:4000 "GET /tag/umzugnaht HTTP/1.1" 429 17 "-" "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"`

how can I config goaccess log format?

thanks!

[2019-06-10 01:54] allinurl commented on #1476
Please try:

    goaccess access.log --log-format='%h %^[%d:%t %^] %^ "%r" %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T

[2019-06-10 02:04] madawei2699 commented on #1476
thanks!

[2019-06-10 02:06] #1476 closed

[2019-06-10 09:37] Ala321 opened #1477 "Log Format"
Hi i want to ask to help with  configure log format.
My apache config is set to

    LogFormat "%h %a %l %u [%{%d/%b/%Y:%T}t.%{msec_frac}t %{%z}t] \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %T %{cookie}n %I %O (%{ratio}n) %X|%D (%{mpuid}C) (%{resolution}C)" combined

    192.168.10.100 213.94.152.272 - - [10/Jun/2019:11:26:07.242 +0200] "GET /main/art/thumb/115989/120/90.html HTTP/1.1" 302 -

[2019-06-10 15:04] allinurl commented on #1477
Can you please describe the fields you have in your format? Thanks

[2019-06-10 15:13] allinurl commented on #1477
Please try:

    goaccess access.log --log-format='%^ %h %^[%d:%t.%^] "%r" %s %b "%R" "%u" %^|%D %^' --date-format=%d/%b/%Y --time-format=%T

[2019-06-11 03:34] wukele commented on #1473
我也遇到同样的问题，怎么解决的

[2019-06-11 07:15] elixiao commented on #1475
@allinurl
what's the difference between LANG="en_US.UTF-8" and LANG="zh_CN.UTF-8" ?

[code]
nginx.log file content:

[code]

goaccess 1.3 add supports for French, Spanish, Chinese and Japanese. How can I get Chinese html file without doesn't match specifier '%d' error ?

[code]

[2019-06-11 17:18] allinurl commented on #1475
Great question. The issue here is that your web server is logging in English and thus you see `[17/Feb/2017:00:08:11 +0800]`. GoAccess uses `strftime` and `strptime` to do the date conversions using the current locale. To have the output be in Chinese, you can try changing `LC_TIME`  instead of LANG.

[2019-06-11 17:20] allinurl commented on #1473
Can you please try running goaccess without specifying the config file?

[2019-06-11 17:29] allinurl commented on #1440
@apelsinkabl This should work:

    goaccess access.log --log-format='%^:%^:%^: %^ %h %^[%d:%t %^] "%r" %s %b "%R" "%u" "%T" %^' --date-format=%d/%b/%Y --time-format=%T

[2019-06-11 17:34] antongiacomo commented on #1440
Hi,Token '+0000]' doesn't match specifier '%h'

[2019-06-11 17:35] antongiacomo commented on #1440
Hi,
The error now is:

Token '+0000]' doesn't match specifier '%h'
Token '+0000]' doesn't match specifier '%h'
Token '+0000]' doesn't match specifier '%h'
Token '+0000]' doesn't match specifier '%h'
Token '+0000]' doesn't match specifier '%h'
Token '+0000]' doesn't match specifier '%h'
Token '+0000]' doesn't match specifier '%h'
Token '+0000]' doesn't match specifier '%h'
Token '+0000]' doesn't ma

[2019-06-11 17:36] allinurl commented on #1440
@antongiacomo Please describe the field from your log.

[2019-06-11 17:36] #1440 closed

[2019-06-11 17:39] antongiacomo commented on #1440
@allinurl
Exactly the same of @DragonHacker1 ones

[2019-06-11 17:51] allinurl commented on #1440
@antongiacomo @DragonHacker1

    goaccess access.log --log-format='[%d:%t %^] %^ %s %^ %^ %m %^ %v "%U" [%^ %h] [%^ %b] %^"%u" "%R"' --date-format=%d/%b/%Y --time-format=%T --http-protocol=no

[2019-06-11 17:53] allinurl commented on #1474
I think #117 should cover this as you would be able to filter by remote user and would display everything that that specific user used.

[2019-06-11 17:54] antongiacomo commented on #1440
Worked like a charm thanks!

[2019-06-11 17:58] allinurl commented on #1472
Thanks for reporting this. It has been fixed per this [https://github.com/allinurl/goaccess/commit/71c624a3adfe2a4d664c6fbcfca7ed736d5a2272#diff-bfbbcdf73459e9ea8fb4afa8455ce74d](https://github.com/allinurl/goaccess/commit/71c624a3adfe2a4d664c6fbcfca7ed736d5a2272#diff-bfbbcdf73459e9ea8fb4afa8455ce74d). It will be fixed in the upcoming release, otherwise, feel free to build from [**development**](h

[2019-06-11 17:58] #1472 closed

[2019-06-11 20:28] allinurl commented on #1470
Did you build with geoip? Please take a look at [**this**](https://github.com/allinurl/goaccess#build-from-release).

[2019-06-11 20:30] allinurl commented on #1469
It's not currently possible. Are you looking to have a different panel for cellphone models? or within the same panel?

[2019-06-11 20:34] allinurl commented on #1467
Please try:

    setenv LDFLAGS -L/usr/local/lib

[2019-06-11 20:35] allinurl commented on #1468
A workaround would be doing something like this

    LANG="en_US.UTF-8" bash -c 'goaccess access.log --log-format=COMBINED'
    LANG="zh_CN.UTF-8" bash -c 'goaccess nginx.log --log-format=COMBINED -o result.html'

[2019-06-11 20:37] evitalis commented on #1467
It looks like there may already be a port/package for this. Is this something you can use instead of building it yourself? If not the Makefile there may point you in the right direction.

https://www.freshports.org/sysutils/goaccess/

[2019-06-11 20:37] alexwbaule commented on #1469
Hi @allinurl , A different Panel to mesure this will be nice !

[2019-06-11 20:42] allinurl commented on #1469
I'll look into this. Thanks for the suggestion!

[2019-06-11 22:04] alexreg commented on #1470
I used the Homebrew build. Doesn't that enable it?

[2019-06-12 02:38] alexreg commented on #1470
Ah, my mistake... I misread the docs, sorry. It's a configuration option for the build, not for the actual progoram!

[2019-06-12 02:42] alexreg commented on #1470
Incidentally, is there a way to view data per city in the HTML report? I only see a per continent/country breakdown.

[2019-06-12 05:46] elixiao commented on #1475
@allinurl
Thank you very much. The following cmd works like a charm!

[code]

[2019-06-12 16:03] allinurl commented on #1470
Currently the city is reported only in the hosts panel (per IP).  #750 will handle this.

[2019-06-12 21:14] alexreg commented on #750
This would be super, thanks!

[2019-06-12 21:14] alexreg commented on #1470
Okay, thanks for that notice. I'll go ahead and close this because the original problem is solved.

[2019-06-12 21:14] #1470 closed

[2019-06-13 10:34] DragonHacker1 commented on #1440
Thank you, is working like a charm :)

[2019-06-13 13:07] andygr commented on #1467
Yes i used the port initially but i couldn't use the legacy or new geo DB. I don't remember the error but didn't work.
Then i decided to build it from source and use the configure command to be able to use mmdb DB.

Also i tried setenv LDFLAGS -L/usr/local/lib but i am getting "command not found". Looks like i need to check the shell

[2019-06-13 20:46] sundedo opened #1478 "Token for '%h' specifier is NULL. - nginx access log"
I've scoured over previous format questions but still can't find the right log-format for our nginx access.log. Here is the sample log:

`127.0.0.1 - - [13/Jun/2019:20:40:16 +0000] "POST /soap3/api.php HTTP/1.1" 200 557 "-" "PHP-SOAP/5.6.35"`

We have tried the following log-formats:

log-format %h %^ %^ [%d:%t %^] "%r" %s %b "%R" "%u"

log-format %h %^[%d:%^] "%r" %s %b "%R" "%u"

Still get this

[2019-06-14 10:17] andygr commented on #1467
This is in the Makefile:
LDFLAGS+=       -L${NCURSESLIB} -L${LOCALBASE}/lib

@allinurl, is the same as your suggestion?
LDFLAGS -L/usr/local/lib

[2019-06-14 12:19] evitalis commented on #1467
@andygr It may or may not be for your system. In the Makefile it uses environment and system variables to fill in the appropriate values based on your system.

I do recommend you use the port or package if you can. If it errors then provide said error message. The maintainers try their best to get things working and may either not know about your bug, your OS version or other library may not be ri

[2019-06-14 12:37] andygr commented on #1467
Thanks, @evitalis  for the information.
I installed goacces via port and i uncomment the line for GeoIP:
geoip-database /usr/local/share/GeoIP/GeoLiteCity.dat

I copied the GeoLiteCity.dat file in the folder and applied the permissions (drwxr-xr-x for folder and -rwxr-xr-x for file )

However when i run this command, i am getting an error for the file:
_/usr/local/bin/goaccess -f /var/log/nginx/lo

[2019-06-14 13:13] manues50 opened #1479 "95th percentile calculation"
Hello,

I already have a goaccess installed
How can we monitor the bandwidth usage in the 95th percentile

https://en.wikipedia.org/wiki/Burstable_billing

[2019-06-14 14:26] andygr commented on #1467
Also in the config file there is this line:
# GeoIP Options
# Only if configured with --enable-geoip

I presume that when i install it via ports is using the above option, otherwise, i will need to install it from source which is going back to the initial  issue

[2019-06-14 14:27] zmiguel opened #1480 "Real Time while using VirtualHosts"
Hi, I'm looking for some help on how to configure goaccess to work with realtime html while taking into account virtualhosts.

I'm running nginx and with the command
[code]

I get the virtualhost information on the URLs, however, it doesn't update because the log file is being pushed by awk.

If I remove the awk part of the command I get the real-time information but I lose the host information on

[2019-06-14 14:51] zmiguel commented on #1480
Figured it out, I had to tail the file, pipe it to awk and then to go access.

Final command:
[code]

[2019-06-14 14:51] #1480 closed

[2019-06-16 02:35] allinurl commented on #1467
Please take a look at [**this**](https://github.com/allinurl/goaccess/issues/494#issuecomment-239926180) to see if that helps.

[2019-06-16 02:38] allinurl commented on #1479
It's not currently available. It will be added when #497 is implemented.

[2019-06-16 02:39] allinurl commented on #1478
goaccess access.log --log-format=COMBINED

[2019-06-16 17:02] andygr commented on #1467
Hi @allinurl ,
There is a small progress now. I managed to complete the following steps:

[code]

The results from the configure is:

[code]

Until now everything looks ok, however when i try make i get this error:
[code]

Stop.
make[2]: stopped in /tmp/goaccess-1.3
*** Error code 1

Stop.
make[1]: stopped in /tmp/goaccess-1.3
*** Error code 1

Stop.
make: stopped in /tmp/goaccess-1.3

[2019-06-16 17:08] andygr commented on #1467
Also i found this issue:
https://github.com/allinurl/goaccess/issues/1374

I added #include <sys/socket.h> in src/gholder.c but now i am getting this error:
[code]

[2019-06-17 03:24] allinurl commented on #1467
Can you please try to build from [**development**](https://github.com/allinurl/goaccess#build-from-github-development)? I think this was fixed upstream.

[2019-06-17 05:31] err931 opened #1481 "Automatic build stopped on Docker Hub"
**The automatic image build seems to have stopped because the token has been revoked.**
It will return to normal if you tie it again. Please do the procedure.

[2019-06-17 07:00] andygr commented on #1467
Hello,

Thanks for the info.
Can you please let me know how to get the development version?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Gerardo O. <notifications@github.com>
Sent: Monday, June 17, 2019 4:25:02 AM
To: allinurl/goaccess
Cc: andygr; Mention
Subject: Re: [allinurl/goaccess] Freebsd 11.2 - Missing development files for libmaxminddb library (#

[2019-06-17 19:39] allinurl commented on #1481
Which token would that be?

[2019-06-17 19:40] allinurl commented on #1467
Please take a look at the link I posted on the previous comment. Thanks

[2019-06-17 20:32] andygr commented on #1467
ok i saw the development.

I tried the following:

$ git clone https://github.com/allinurl/goaccess.git
$ cd goaccess
$ autoreconf -fiv
$ ./configure --enable-utf8 --enable-geoip=legacy
$ make
# make install

The configure that you have didn't work,
legacy geoip error:
checking for GeoIP_new in -lGeoIP... no
configure: error:
    *** Missing development files for the GeoIP library

however the fol

[2019-06-18 10:30] err931 commented on #1481
A while ago, an accident occurred inside the Docker Hub.
As a result, all github tokens associated with Docker Hub were revoked.

You need to access Docker Hub and re-associate your github account.

[2019-06-18 10:51] TomHetmer commented on #873
I'm trying to use GeoLite2-ASN.mmdb (http://geolite.maxmind.com/download/geoip/database/GeoLite2-ASN.tar.gz) converted with
https://github.com/sherpya/geolite2legacy
./geolite2legacy.py -i GeoLite2-ASN-CSV.zip -o out -d

GoAccess displays just an empty panel.

[2019-06-18 12:42] jordan26 opened #1482 "Nginx time parse"
Hi, I am getting the following regarding my nginx error log and the date format it seems.

`goaccess error.log -o report.html --log-format=COMBINED`

`2019/06/18 11:57:49 [error] 17288#17288: *1290772 open() "/srv/www/domain.com/current/web/apple-touch-icon-120x120.png" failed (2: No such file or directory), client: 169.239.14.66, server: sheffield.theoriginalbierkeller.com, request: "GET /apple-t

[2019-06-19 08:52] #1482 closed

[2019-06-20 10:42] l36t opened #1483 "crontab execute very slow"
hi,my goaccess version is 1.3. redhat 6.8  When I execute under commander "/home/software/goaccess/goaccess   -q --no-query-string --hour-spec=min --date-spec=hr -p /root/.goaccessrc  -f /home/software/goaccess/goaccess_log/history/test.log > /home/software/goaccess/goaccess_html/test.html".
It's very fast and the log size is 200M.
However,if I execute from crontab :
39 18 * * * /home/software/goa

[2019-06-20 14:51] edisonh opened #1484 "Custom log format parsing error"
Hi
Thx for great tool.

Using goaccess version 1.3

log sample:
[code]

## problem one: date parsing error

command line:
[code]
error:
[code]

## problem two: server name parsing error
Ignore problem one: set '%^' at '%d' position
commad line:
[code]
error:
[code]

[2019-06-20 21:13] MACscr opened #1485 "Disable Geo Location when using prepackaged binary"
I am using the deb.goaccess.io repo for my Debian Jessie systems and it seems to have geolocation enabled by default. I dont see a way to disable it, only to hide the panel. Everytime i start goaccess, i get 'Error Opening file /usr/share/GeoIP/GeoIP.dat'. I dont have it enabled it the config file or at the cli. Am i missing something? Im running 1.3 and it seems to by default been built with lega

[2019-06-21 02:46] waferbaby opened #1486 "Issue with custom database path"
I'm trying to keep incremental logs in the btree DB. My initial command was:

```zcat /usr/local/www/usesthis.com/log/access.log.*.gz | goaccess --keep-db-files --db-path=/usr/local/share/stats/usesthis/ --log-format=COMBINED -o /usr/local/www/usesthis.com/public/stats.html -```

Which worked great, I can see a ton of data - I want to start from a solid base of old logs, etc. I want to set up a cr

[2019-06-21 02:49] waferbaby commented on #1486
(Now I'm wondering if this is something to do with using v1.2, not 1.3, which doesn't seem to be available via `apt` directly.)

[2019-06-21 02:52] waferbaby commented on #1486
Updated to 1.3, and starting from scratch, I now get:

[code]

[2019-06-21 04:47] waferbaby commented on #1486
Updated to 1.3 - same issue (different line in the C code):

[code]

[2019-06-21 06:35] #1483 closed

[2019-06-21 07:13] Panchom1977 commented on #1473
got the same with a big file and small one same just before analysis finished.

[fmillan@FMillanMacbookAir:access_log]$ goaccess intranet.log --log-format=VCOMBINED  --log-format="%v %h %^ %^[%d:%t %^] "%r " %s %b "%R" "%u" %^ %^ [%^/%D]" -e -d -q -a  -o uno.html --num-tests=0 -
Parsing... [1,174,758] [6,282/s]
GoAccess - version 1.3 - Jun 17 2019 02:48:47
Config file: No config file used

Fatal e

[2019-06-21 09:44] joydashy commented on #255
I am also looking to do this, but have a problem or I don't understand fully:

If you run this multiple times, it keeps adding duplicate records to the DB. So how to make a rolling stats file that is updated say every minute?

[2019-06-21 09:51] joydashy commented on #255
Ah right, found https://github.com/allinurl/goaccess/issues/334 now.

[2019-06-22 02:23] allinurl commented on #1473
This seems like an isolated issue to your machine. Are you able to try reading the log on a different machine? Also, please make sure that you are using the right log format AND make sure you have access to write the file `uno.html`

[2019-06-22 02:23] allinurl commented on #1483
Did you resolve this issue?

[2019-06-22 02:25] allinurl commented on #1486
Can you please try with `--no-global-config`? Thanks

[2019-06-22 02:27] allinurl commented on #1485
Can you please post the output of `goaccess --dcf`?

Thanks

[2019-06-22 02:30] allinurl commented on #1484
Can you please try this:

    goaccess access.log --log-format='%^ %^ %h: %^[%d:%t %^] "%m %U" %s' --date-format='%d/%b/%Y' --time-format=%T --http-protocol=no

[2019-06-22 02:33] allinurl opened #1487 "Add a new panel to display "HTTP request processing time" panel"
Y-axis is "HTTP Processing Time" vs X-axis is "Number of HTTP Processed” with the given processing time.

[2019-06-22 02:37] allinurl commented on #873
@TomHetmer Do you have any docs about this database?

[2019-06-22 02:48] allinurl commented on #1481
Should be re-linked now. Please take a look and let me know if that's the case for you.

Gerardo

[2019-06-22 02:51] allinurl commented on #1467
Sorry it doesn't tell much the `make[2]: stopped in /tmp/goaccess *** Error code 1`. Are you able to output in verbose mode? Thanks.

[2019-06-22 03:32] Panchom1977 commented on #1473
I try in another server same problem same line
the server was Centos 7
local OSX Mojave
and got the same results in both
I'll try it on another laptop

[2019-06-22 05:34] Panchom1977 commented on #1473
same with another OS, but, when i try custom on console it works OK
`~$ goaccess -f Desktop/intranet.log   --log-format=VCOMBINED --log-format="%v %h %^ %^[%d:%t %^] "%r " %s %b "%R" "%u" %^ %^ [%^/%D]" -e -d -q -a -o uno.html --num-tests=0 -c
Parsing... [1,175,137] [3,329/s]
GoAccess - version 1.2 - Jun 19 2017 12:55:29
Config file: /etc/goaccess.conf

Fatal error has occurred
Error occured at: s

[2019-06-22 13:24] waferbaby commented on #1486
@allinurl Unfortunately, exact same issue.

[code]

[2019-06-22 13:50] waferbaby commented on #1486
(@allinurl Happy to send you the log files or my .tcb files if that helps.)

[2019-06-22 20:00] andygr commented on #1467
Thank you for hte reply...

This is the info with -v from make:

[code]

[2019-06-22 21:16] allinurl commented on #1467
You would need to install `gettext`.

[2019-06-22 21:23] andygr commented on #1467
I installed it:

[code]

but got the same error:

[code]

[2019-06-22 21:30] allinurl commented on #1467
seems like it's unable to find a reference to `gettext`. I'd try setting `setenv LDFLAGS -L/usr/local/lib` or to wherever your libraries are.

[2019-06-22 22:59] andygr commented on #1467
I have the following in the env:

[2019-06-23 15:24] andygr commented on #1467
I found this:

https://www.gnu.org/software/gettext/FAQ.html#integrating_undefined

There is a section for: I get a linker error “undefined reference to libintl_gettext”
and they explain about this error

[2019-06-23 20:00] vincenzocapel commented on #1348
HI,
can you help to identify this log format?
I did lot of test but without success.
thanks

   "timestamp":"2016-10-06T22:47:51+02:00",
   "remote_addr":"10.10.10.10",
   "http_x_real_ip":"-",
   "server_name":"10.10.10.11",
   "uri":"/index.html",
   "status":"200",
   "body_bytes_sent":"118",
   "request":"GET / HTTP/1.1",
   "request_time":"0.000",
   "http_user_agent":"Mozilla/5.0 (X11; Linux

[2019-06-23 22:36] andygr commented on #1467
@allinurl ,

I installed freebsd in AWS and I compiled again the development version (as above). This time I could configure, make and make install.
However when I am trying to run the following command I am getting an error:

/usr/local/bin/goaccess -f /var/log/nginx/access.log  --log-format=COMBINED -o /home/test.html

error: goaccess: unrecognized option `--geoip-database'

[2019-06-24 05:05] Panchom1977 commented on #1473
I did another test on squid logs and worked ok with a similar log-format
nginx custom: caseworkpractice.intranet.facs.nsw.gov.au 172.26.72.26 - p_xie [21/Jun/2019:03:12:02 +1000] "GET /__data/assets/file/0010/345709/Contract-foster-carer-assessment.docx HTTP/1.1" 200 641/78311 "-" "Mozilla/5.0 (compatible; Funnelback)" "f5qohqbvnnietorlmdj42c2ghfij9i3dhf7t03g064fdbvo9k2gtdg6lu3m56d4q58lb467jl4fniv

[2019-06-24 12:19] TomHetmer commented on #873
I think it's this https://dev.maxmind.com/geoip/geoip2/geolite2-asn-csv-database/

From the CSV files
[code]

[code]

So just the columns are different and it should show both the AS number and the AS name.
It looks like there's no need to construct a radix tree, the lookup should be the same as for regular Maxmind City DBs.

[2019-06-24 16:38] 0Styless commented on #1282
Hey @allinurl

anything new to this? Sadly, local files are not really a great workaround.

[2019-06-25 05:34] Jamalc0m commented on #1282
Right, @allinurl if you could please fix this issue would be appreciated.

[2019-06-25 19:24] antonioreyna commented on #198
i have the same problem on mac

[2019-06-26 14:12] allinurl commented on #198
@antonioreyna this should work fine on the latest release.

[2019-06-28 01:04] ichier commented on #1167
hey, i recently stumbled upon goaccess and really like it over webalizer. but the monthly statistics is painfully missing. thats - on a long term - actually more or less the most important information out of statistics, i believe. and of course yearly and daily would be great.
best would be switches (absolute/yearly/monthly/daily) on every panel and/or globally.

also really nice would be a time-f

[2019-06-28 01:11] ichier opened #1488 "[Feature] switch for Crawlers"
Since there is the option to build reports without crawlers - way cooler would it be to have them allways in there (unless you want to save resources), but have a global switch in the ui(s) to include them in the reports or filter them out.

[2019-06-28 01:57] allinurl commented on #1488
Agree on this! Thanks for the suggestion!

[2019-06-28 10:50] andygr commented on #1467
Hello,

Can you please explain this code?

[code]

Now i am getting this error:
GoAccess - version 1.3 - May 18 2019 03:27:12
Config file: /usr/local/etc/goaccess.conf

Fatal error has occurred
Error occurred at: src/geoip2.c - init_geoip - 92
Unable to open GeoIP2 database: /home/cdnlotus/GeoLite2-City.dat

[2019-06-29 03:53] allinurl commented on #1467
This function opens a handle to a MaxMind DB file. You can try adding:

    FATAL ("Unable to open GeoIP2 database: %s\n", MMDB_strerror(status)));

[2019-06-29 12:09] allinurl commented on #1167
@ichier thanks for bringing that up! would certainly look into this. #117 should address the time filter part.

[2019-06-29 14:20] xzm1274913976 opened #1489 "CUSTOM LOG/DATE FORMAT ERROR"
`
 log_format test '$remote_addr - - $time_iso8601 "$request_method $scheme://$host$request_uri $server_protocol" $status $bytes_sent "$http_referer" "$http_user_agent" $upstream_cache_status:TCP $request_length $request_time $upstream_response_time $server_addr';
`

- - - 2019-06-29 21:51:03 "GET https://www.myblogsite.top/report.html?2 HTTP/1.1" 200 96676 "-" "Mozilla/5.0 (Windows NT 10.0; Win64

[2019-06-30 00:35] allinurl commented on #1489
This should work:

    goaccess log --log-format='%d %t "%r" %s %b "%R" "%u" %^ %^ %T %^ %h' --date-format=%Y-%m-%d --time-format=%T

[2019-06-30 02:31] xzm1274913976 commented on #1489
Thanks very much .I use :
`--log-format='- - - %d %t "%r" %s %b "%R" "%u" %^ %^ %T %^ %h' --date-format=%Y-%m-%d --time-format=%T`

GoAccess start working!

[2019-06-30 14:11] #1489 closed

[2019-07-01 21:14] Glujaz opened #1490 "Mac OS Server Log Format"
Hello,

I'm sorry for bothering, but I simply can't find the correct log format to use with Mac OS Server High Sierra's built in Apache Server. (Yes, I know about Mac OS Server... but will still wait 1 extra year before changing)

Even the config file is a bit strange to understand...

`  LogFormat "%a %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
    LogFormat "%v %a %l %u %

[2019-07-02 01:44] allinurl commented on #1490
This should do it:

   goaccess access.log --log-format='%v %h %^[%d:%t %^] "%r" %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T

[2019-07-02 01:57] allinurl commented on #1478
Any updates on this?

[2019-07-02 01:57] allinurl commented on #1484
Any updates on this?

[2019-07-02 01:58] allinurl commented on #1477
Any updates on this?

[2019-07-02 01:58] allinurl commented on #1452
Closing this, feel free to reopen it if needed.

[2019-07-02 01:58] #1452 closed

[2019-07-02 01:58] allinurl commented on #1477
Closing this, feel free to reopen it if needed.

[2019-07-02 01:58] #1477 closed

[2019-07-02 01:58] allinurl commented on #1484
Closing this, feel free to reopen it if needed.

[2019-07-02 01:58] #1484 closed

[2019-07-02 01:58] allinurl commented on #1478
Closing this, feel free to reopen it if needed.

[2019-07-02 01:58] #1478 closed

[2019-07-02 01:59] allinurl commented on #1446
Any updates on this?

[2019-07-02 01:59] allinurl commented on #1429
Closing this, feel free to reopen it if needed.

[2019-07-02 01:59] #1429 closed

[2019-07-02 01:59] allinurl commented on #1408
You will need to install the latest version. Closing this, feel free to reopen it if needed.

[2019-07-02 01:59] #1408 closed

[2019-07-02 02:00] allinurl commented on #1398
Closing this, feel free to reopen it if needed.

[2019-07-02 02:00] #1398 closed

[2019-07-02 02:00] allinurl commented on #1343
Closing this, feel free to reopen it if needed.

[2019-07-02 02:00] #1343 closed

[2019-07-02 02:00] allinurl commented on #1334
Closing this, feel free to reopen it if needed.

[2019-07-02 02:00] #1334 closed

[2019-07-02 02:01] allinurl commented on #1442
Closing this, feel free to reopen it if needed.

[2019-07-02 02:01] #1442 closed

[2019-07-02 02:01] allinurl commented on #1450
Closing this, feel free to reopen it if needed.

[2019-07-02 02:01] #1450 closed

[2019-07-02 02:15] allinurl commented on #1421
Closing this, feel free to reopen it if needed.

[2019-07-02 02:15] #1421 closed

[2019-07-02 02:16] allinurl commented on #1402
Take a look at https://github.com/stockrt/nginx2goaccess

Closing this, feel free to reopen it if needed.

[2019-07-02 02:16] #1402 closed

[2019-07-02 02:18] allinurl commented on #1485
Closing this, feel free to reopen it if needed.

[2019-07-02 02:18] #1485 closed

[2019-07-02 02:20] allinurl commented on #1473
So is this working now?

[2019-07-02 02:20] allinurl commented on #1471
Can you please post a few sample lines from your access log?

[2019-07-02 02:21] allinurl commented on #1481
Closing this, feel free to reopen it if needed. Thanks!

[2019-07-02 02:21] #1481 closed

[2019-07-02 03:50] Panchom1977 commented on #1473
when run the console it parse the file, but when i try to export to html does not work and failed at a few lines before the file ends

[2019-07-02 04:44] remin23 commented on #1471
Pls check the below examples for further...

"2019-05-29 17:09:24.794","xxx.xxx.xxx.IP","53581","xx.xx.xx.IP","443","10.0.0
.116","443","GET","TLSv1.3","/Flight/ProcessGetFareCalenderValues","HTTP/1.1",
"-","-","example.com","IN","https://example.com/Flight/Display/3b4b8278-4e41-4023-92c0-329342dac92e","200","0","18171","
1591","656","647","Unprotected","Valid","Default","Server","","From=DEL&To=K

[2019-07-02 05:13] Glujaz commented on #1490
Thank you for your help, but it still doesn't work...
I get this error message :

`Token '' doesn't match specifier '%h'
`

[2019-07-02 07:39] wx-Yao opened #1491 "Green dot disconnected automatically after a period of time"
Hi :)

Thanks for the great project. I've got everything running and everything's cool. The goaccess is hosted on my VPS and I reverse proxy the goaccess and ws using Nginx in realtime http mode. I read the log via my Mac browser.

Now the problem is, if I open the web interface, everything works. And there's a green dot below to gear/bar icon (I guess that indicates the websocket is connected suc

[2019-07-02 11:30] allinurl commented on #1491
Are you running the latest version?

It's not designed that way. Take a look at the https://rt.goaccess.io
I'll need more info on this as I can't really help without the details. Can you please run goaccess with `strace` and see what is it doing when it hangs, please post the output here. Thanks.

[2019-07-02 11:31] allinurl commented on #1490
For the lines you posted above, it works for me. Can you please post/attach a good sample from your access log and how you are running goaccess?

[2019-07-02 11:42] allinurl commented on #1473
if it fails right before it writes to it, it is likely due to some sort of permissions on that folder. who owns the goaccess  process and the destination folder? can you run it as root?

[2019-07-02 23:50] Panchom1977 commented on #1473
run it as root as well in Linux server, run it with sudo in the mac run it as root in the Linux that I sent the image as the error says it looks like goaccess can't read the source file (the log file)
I'll try to reinstall in the mac now and try again.

[2019-07-03 05:43] dawapaljor commented on #195
@allinurl  I can see json export from the html output panel. But I can't find the CSV export options.. Please how can we do that. Thanks @

[2019-07-03 06:54] lanurmi opened #1492 "Add statistics about IPv4/IPv6"
Suggestion: Add a statistics panel that shows the percentage of site hits came through IPv4, and IPv6. Similarly, statistics about transferred bytes per protocol could be interesting.

[2019-07-03 12:38] waferbaby commented on #1486
@allinurl Let me know if I can do anything else to help debug, too.

[2019-07-03 13:51] wx-Yao commented on #1491
I'm running the latest version. The `--version` gives:

[code]
which includes my compling options.

I ran the strace and record until the green dot grayed out. Then i hit Ctrl-c. Here's strace output ( strace -o strace.txt bla). Hopefully I didn't leak anything sensitive though it's personal server. Those log doesn't make a lot of sense to me lol.

[strace.txt](https://github.com/allinurl/goaccess

[2019-07-03 14:40] wappguru opened #1493 "GoAccess not showing 'Tx.' Amount"
Hello everyone,

I've configured goaccess for one of our servers to show data for our individual websites 'apache vhosts'.

Everything works great at first, but the one thing missing is the bandwidth amount 'the reason I installed it'.

Is there anything specific I should check as to why it won't show the bandwidth?

https://imgur.com/a/TUz7Sv3

[2019-07-03 14:49] allinurl commented on #1486
It seems it's failing on the `stat()` [**call**](https://github.com/allinurl/goaccess/blob/master/src/tcbtdb.c#L78). Are you able to run it through strace and post/attach the output here. Thanks

[2019-07-03 14:50] allinurl commented on #1493
Probably wrong log-format. Can you post a few lines from your access log and the log-format you are using with goaccess?

[2019-07-03 18:04] Glujaz commented on #1490
Hello, sorry for the late reply,

here are some other lines. I try to avoid showing up to much, as I don't won't it to be public. Hope you can understand :/

`
files.example.fr 195.25.118.37 - - [02/Jul/2019:15:06:52 +0200] "POST /?module=fileman&section=get&page=tree HTTP/1.1" 200 2 "https://files.example.fr/" "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0

[2019-07-03 18:10] allinurl commented on #1490
This works for me:

    goaccess access.log --log-format='%v %h %^[%d:%t %^] "%r" %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T --no-global-config

![a](https://user-images.githubusercontent.com/5005367/60615039-d4f39f80-9d93-11e9-93a0-64b76ef6015c.png)

[2019-07-03 18:17] Glujaz commented on #1490
I still have the same error...
Is it because I have this as my first line ?

[2019-07-03 18:18] Glujaz commented on #1490
Removing the first line gives me this error now :

[2019-07-03 18:19] allinurl commented on #1490
Could be, you could try passing `--num-tests=0` and see if that's the issue. Let me know!

[2019-07-03 18:19] allinurl commented on #1490
what's the output of `date` from your terminal?

[2019-07-03 18:23] Glujaz commented on #1490
This is my output :

By the way, using the argument `--num-tests=0` seems to open everything now
!
Though, it stops at the first of July when my log file starts in June...
[Capture d’écran 2019-07-03 à 20 21 44](https://user-images.githubusercontent.com/44747485/60615788-43565300-9dd0-11e9-9fc4-e2ebdd08a4b0.png)

[2019-07-03 18:27] allinurl commented on #1490
Please try:

    LANG="en_US.UTF-8" bash -c 'goaccess access.log --log-format='%v %h %^[%d:%t %^] "%r" %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T --no-global-config'

[2019-07-03 18:28] Glujaz commented on #1490
Nope, now it's asking for a log format configuration.

Sorry again :(

[2019-07-03 18:31] allinurl commented on #1490
So did it work?

[2019-07-03 18:33] Glujaz commented on #1490
Negative, it is not going further then July, when my log file starts on June...

[2019-07-03 18:36] allinurl commented on #1490
Not sure what you mean with start on June but can't go further than July. Can you attach the access log? what would the output of `head access.log` and `tail access.log` is?

[2019-07-03 18:43] Glujaz commented on #1490
Is it possible to keep an attached file as private ?

Head access_log (yeah, not proud of it's content, but it isn't available in france...) :

Jun 5 01:30:01 server newsyslog[63679]: logfile turned over due to size>20480K
files.example.fr 127.0.0.1 - - [05/Jun/2019:01:30:02 +0200] "GET /dav.php/@Home/Downloads/Aria%20Downloads/Chernobyl.S01E04.720p.WEBRip.x264-TBS%5BTGx%5D/chernobyl.s01e04.720p.w

[2019-07-03 18:44] Glujaz commented on #1490
And as you can see in a previous message, I attached a screen capture with go access starting only at the 1st of July, whereas the head of access_log clearly start at the 5th of June

[2019-07-03 23:09] allinurl commented on #1490
Probably not possible to attach a private link. You can always hosted on your site and share the link to me via hello [at] goaccess.io. Are you able to run this on a different machine just to see how it performs?

[2019-07-04 07:11] Glujaz commented on #1490
Hello,
I sent you a link via email :)

By the way, I had it working with live HTML view for a few month, up until an update of go access remove my script with the command because I stupidly placed it at a wrong place...
And I completely forgot that I had backups of my server old enough to recover these files. So I did it a few minutes ago, and ran it with no success.
Adding --num-test=0 helped a b

[2019-07-04 13:00] rachid-debu opened #1494 "Docker-compose : Goaccess cannot find log"
Hi there,

Can't find why this is not working.

If i uncomment the `command` part for goaccess in my docker-compose file i get this error below :
[code]

If I keep it commented (like I saw @coldfix was doing here https://github.com/allinurl/goaccess/issues/1042#issuecomment-371940111), I get the `man goaccess` displayed ^^.

Here's my docker-compose (simplified, removed completely unrelated stuff)

[2019-07-04 13:02] rachid-debu commented on #1494
While I was posting this, I realized the `nginx/logs` folder was owned by root. So I changed it to my user (I kept the `-rw-r--r--` rights though). still not working, sadly

[2019-07-04 13:50] rachid-debu commented on #1494
ow... I've just read the `Dockerfile` of the goaccess repo I've cloned (according to instructions here : https://hub.docker.com/r/allinurl/goaccess/)

[2019-07-04 15:41] luzowuy commented on #801
This would be very useful and would allow me to finally ditch google analytics for good.

[2019-07-04 17:23] meulie opened #1495 "Typo on https://goaccess.io/man"
Shouldn't that read 'tenth of an hour'?

[2019-07-05 05:46] wx-Yao commented on #1491
Any idea what happened pls :)

[2019-07-05 07:07] LubosMertak commented on #1118
I have the same problem.

[2019-07-05 10:33] waferbaby commented on #1486
Here's the breaking bit:

[code]

[2019-07-05 12:01] allinurl commented on #1486
Could you please post a few lines before the Fatal error message? Thanks

[2019-07-05 12:24] waferbaby commented on #1486
@allinurl https://gist.github.com/waferbaby/0e78effbcda87a18d79464b217aec7c7

[2019-07-05 13:33] allinurl commented on #1486
Are you running this as root? From that output, it seems like `stat("/usr/local/shared/stats/usesthis/", 0x7ffc4971a700) = -1 ENOENT (No such file or directory)` doesn't exist. Also, just to be sure, please try using v1.3 as there were some fixes that could have affected this. Thanks!

[2019-07-05 14:28] waferbaby commented on #1486
Oh my god, it was a typo. It was a typo! You can ignore this now.

[2019-07-05 14:28] #1486 closed

[2019-07-07 17:06] chrisx8 opened #1496 "GoAccess fails to install on Debian Buster"
I tried to install Goaccess on Debian Buster (now stable) from the official Debian repo and I ran into some dependency issues. Goaccess depends on `libssl1.0.2`, but Debian Buster only includes `libssl1.1` in their repos.

My OS version: `Debian GNU/Linux 10 (buster)`

Here's my repo config in `/etc/apt/sources.list`:
[code]

Here's the error I'm encountering:
[code]

[2019-07-07 20:08] andygr commented on #1467
Hi @allinurl ,

Didn't work.
Can you please let me know which is the best/ideal way to use Geo in goaccess? Shall I switch to the new DBs? or shall I use the new one?
What you recommend?

[2019-07-07 22:12] jayze opened #1497 "logging format"
Hi,

With COMBINED I get blanco results

[code]

any idea what the pattern should look like?

thanks.

[2019-07-08 09:09] dawapaljor opened #1498 "Does GoAccess GeoIP supports City coordinates ?"
I have Maxmind mmdb (GeoIP2-City_20190108.tar.gz). So when I configured in Goaccess. Geolocation shows only CONTINENT > COUNTRY. City is not showing.
in my configuration file(goaccess.conf)  **geoip-database**  is set to GeoIP2-City_20190108.mmdb
 Does anyone have any Idea please help me to figure it out.
`i am not using GeoIpCityLite

[2019-07-09 21:02] ip75 commented on #121
see carefully locale.
export LANG=en_US.UTF-8 before run goaccess if your month name in English

[2019-07-10 13:38] wappguru commented on #1493
`172.24.32.12 - - [10/Jul/2019:08:31:55 -0500] "GET /event_calendar_large.php?pageID=293&month=&day=&year=&calstart=1559288611&filterCat=11&jump=&calcats= HTTP/1.0" 200 29613 "-" "-"
46.229.168.149 - - [10/Jul/2019:08:31:55 -0500] "GET /site.php?calstart=1559288611&filterCat=11&pageID=293 HTTP/1.1" 200 34730 "-" "Mozilla/5.0 (compatible; SemrushBot/3~bl; +http://www.semrush.com/bot.html)"
12.152.1

[2019-07-11 11:37] manues50 commented on #1479
Any ETA ?

[2019-07-12 02:34] smitthhyy opened #1499 "Config file has two fifo-in lines (typo)"
config/goaccess.conf
Line 321 "`#fifo-in /tmp/wspipeout.fifo`" should be "`#fifo-out /tmp/wspipeout.fifo`"

[2019-07-12 03:20] allinurl commented on #1499
Thanks for reporting this. I missed merging this. #1347 addressed it.

[2019-07-12 03:20] #1499 closed

[2019-07-12 05:08] wappguru commented on #1493
Any help would be greatly appreciated. Let me know if there is anything I can do in return.

[2019-07-12 13:59] allinurl commented on #1493
goaccess log --log-format=COMBINED

[2019-07-13 11:45] allinurl commented on #1479
There's some stuff I need to implement/fix before this. So unfortunately I don't have yet an ETA.

[2019-07-13 11:47] allinurl commented on #1498
City DB is used for displaying city stats per IP. Please take a look at the `Visitor Hostnames and IPs` panel. #206 should address this.

[2019-07-13 11:50] allinurl commented on #1497
This is what I get with `--log-format=COMBINED`

![2019-07-13-065024_958x1066_scrot](https://user-images.githubusercontent.com/5005367/61171241-6e604580-a53a-11e9-9067-2e4232cee147.png)

Are you on the latest version? can you try passing `--no-global-config`

[2019-07-13 11:52] allinurl commented on #1467
Either way is fine. Legacy has better support for most OSs. What output did  you get with the line I posted above?

[2019-07-13 11:55] allinurl commented on #1118
Need to figure this out. Do you have any app reference that already do this using openssl/libressl, preferably in C?

[2019-07-13 12:00] allinurl commented on #1491
I don't see any issues other than you hitting a `SIGINT`. Does it always happen at the same time or it can vary? Are you able to try this on a different machine? Can you run it with the reverse proxy as it could be the issue as well? Please post the results here. Thanks.

[2019-07-13 12:01] allinurl commented on #1491
** without the reverse proxy

[2019-07-13 12:05] allinurl commented on #1494
@rachid-debu thanks for reporting this. Let me forward this to @err931 as he wrote the Dockerfile. @err931 Do you know what might be the issue here? Thanks

[2019-07-15 04:59] dawapaljor commented on #1498
@allinurl  thanks for the response.  I got an ideas from what you share thanks. So is there a way to display the Geo coordinates like **Region>City**  after the **continent>Country**  Identifying the Geo cordinates of city is important for us.. thanks.

[2019-07-15 05:00] dawapaljor commented on #1498
@allinurl thanks for the response. I got an ideas from what you share thanks. So is there a way to display the Geo coordinates like Region>City after the continent>Country Identifying the Geo cordinates of city is important for us.. thanks.

[2019-07-15 09:32] shiyan0109 opened #1500 "Unable to parse custom JSON log format"
I am trying to use goaccess to analyze my nginx log, my log is customized with json,like this

    {"time_date": "2019-07-15T08:22:45+00:00","client": "172.30.148.128", "host": "test.my-9c-clu.xx.xxx", "scheme": "http", "request_method": "GET", "request_uri": "/PingServlet", "request_id": "817c80d5e6791c10bf459b166cb311ad", "status": 200, "upstream_addr": "172.30.78.203:8000", "upstream_status": 2

[2019-07-15 13:42] allinurl commented on #1498
Not at the moment, but are you looking to have a new panel for this or within the existing continent/country panel?

[2019-07-15 14:25] evitalis commented on #1467
@andygr Have you reached out to the port maintainer about this? I see a patch for maxminddb.h listed.

Haven't tried this myself but the port maintainer may have this solved.

https://www.freshports.org/sysutils/goaccess

@allinurl Would any of those patches be beneficial to merge into the project to make packaging and usage easier? May not be applicable, and I don't know much C, so just a questio

[2019-07-15 15:56] wappguru commented on #1493
That worked! Thank you so much!!

[2019-07-15 16:04] #1493 closed

[2019-07-16 13:46] allinurl commented on #1467
@evitalis Those patches would certainly help as long as they don't break the build. I'm guessing they're mostly a header includes.

[2019-07-16 13:51] allinurl commented on #1500
This should do it:

    goaccess access.log --log-format='%^: "%dT%t+%^",%^: "%h",%^: "%v",%^,%^: "%m",%^: "%U",%^,%^: %s,%^,%^,%^: %T,%^' --date-format=%Y-%m-%d --time-format=%T --ignore-panel=BROWSERS --ignore-panel=OS --ignore-panel=REFERRING_SITES --http-protocol=no

[2019-07-16 15:50] Dr-Escher opened #1501 "Missing data TX and T.S. values in web mode but present in json output and terminal"
Missing data TX and T.S. values in web mode but present in json output and terminal

The traffic and timing data are missing in all tables, unlike in the goaccess live demo. However the values are present in the JSON output and shown in terminal mode as well. I tried several browsers including Firefox 68 and Chrome 75 without any noticeable differences.

Please take a look at the example below.

A

[2019-07-16 15:53] allinurl commented on #1501
Under "Panel Options", are these missing columns checked or unchecked? Thanks

[2019-07-16 15:59] Dr-Escher commented on #1501
The plot metrics option seems to be missing at least one entry. The empty radiobox is not checkable.

All the other panel options are working as intended, including the three 'hits', 'visitors', 'data' columns.

![panel](https://user-images.githubusercontent.com/48136347/61309906-739be980-a7f3-11e9-98f8-1dd2856da3c6.png)

[2019-07-16 16:01] Dr-Escher opened #1502 "Visitor country missing in web mode but present in json output"
The little arrow in front of each category/continent is missing in the geo section for me. However the country is corrently determined and included in the JSON output. I tried several browsers including Firefox 68 and Chrome 75 without any noticeable differences.

Any idea?

![geo](https://user-images.githubusercontent.com/48136347/61310004-aba32c80-a7f3-11e9-9f72-185a8b85d9d8.png)

[2019-07-16 22:08] allinurl commented on #1501
Could you please attach your config file and how you are running it? also, are you in v1.3? Thanks

[2019-07-16 22:08] allinurl commented on #1502
Are you getting some sort of error in your browser's console? Thanks

[2019-07-17 06:14] crotel opened #1503 "issues 1123 , what happend?"
[code]

[2019-07-17 06:48] dawapaljor commented on #1498
@allinurl Yes by drilling down **Continent>country>Region>City**  In whatever possible ways that would be helpful from the UI perspective.

[2019-07-17 11:22] SuMe1 opened #1504 "Need help in parsing this http LogFormat log with goaccess for realtime view"
I am trying to read the below Apache httpd log format using goaccess. But the referrer url, OS, Browsers section, httpd status codes is still coming in as unknown. As far as I can see the order of the log-format is correct, but I could be missing something basic here.

+--------------------------------+
Apache LogFormat ->
`LogFormat "%h %l %u %t \"%r\" %>s %b %D %T \"%{Referer}i\" \"%{User-Agent}

[2019-07-17 14:49] markgraf commented on #1441
Ah! Sorry, must have missed the notification :-/

The file was on a Windows-Partition and thus mode 777.  Copying to my /home (mode 740) did not change  anything unfortunately.

I get the exact same error.

[2019-07-17 16:06] allinurl commented on #1441
I'd try running goaccess as root and see how it goes. Else, please feel free to run it through `strace` and attach the output here. Thanks.

[2019-07-17 20:51] Dr-Escher commented on #1501
Usually I'm running a ssh pipe like

`ssh user@host 'zcat /var/log/nginx/access.log.{2..19}.gz; cat /var/log/nginx/access.log.1; tail -fn+1 /var/log/nginx/access.log' | goaccess -o /tmp/livereport.html -`

nginx log_format

`log_format custom '[$time_local] $remote_addr -> $remote_user@$host[$server_name] - "$request" = $status ($body_bytes_sent) "$http_referer" "$http_user_agent" $http2$https $ss

[2019-07-17 20:51] Dr-Escher commented on #1502
No errors are shown in the debug console.

But while fiddling around and gathering information, I noticed this issue only exists when piping log data into goaccess to gather live statistics. Everything is fine if a static file is used as log input. This applies to both issues reported #1501 and #1502.

[2019-07-18 08:31] markgraf commented on #1441
**PEBCAS**
Ok, NOW I feel really, really stupid m(

I kept the copy-pasted "access.log" from the command you gave me and ADDED a "-f mylogfile.log":
`goaccess access.log --log-format='~h{, } %^[%d:%t %^] "%r" %s %b "%R" "%u" %^/%D**' --date-format=%d/%b/%Y --time-format=%T -f peak.log -o peak.html`
The command then choked on the extra logfile.

How did I not see that? Head -> Desk -> repeat...

Th

[2019-07-18 11:27] rachid-debu commented on #1494
Thanks. I still didn't manage to make this work with docker

[2019-07-18 21:41] allinurl commented on #1441
No worries, it happens :) glad it is working now!

[2019-07-18 21:41] #1441 closed

[2019-07-18 23:34] tevkar opened #1505 "CowAxess - GoAccess for Windows"
[CowAxess](https://itefix.net/cowaxess) is a _GoAccess_ implementation for Windows systems. It is a packaging of GoAccess, Cygwin and many other related tools to make it a complete and ready-to-use solution for real-time web log analysis, all in a 4 MB package. We have followed standard instructions available at the GoAccess website.

CowAxess is available as a free solution licensed under simplif

[2019-07-19 02:59] liabilityman commented on #1282
Having the same issue. Seems to be that Goaccess is starting before you get a chance to enter the ssh password.

Haven't tested, but I imagine if you created a passwordless account you could ssh with (with restricted access of course) that it would work as the password prompt wouldn't be needed.

[2019-07-19 06:12] eryajf opened #1506 "All the configurations are ok, but still the Chinese report cannot be generated."
I am always unable to generate reports in Chinese in my own system. I have tried all kinds of schemes on the internet, but it still seems that I can't.

Execute the locale command as follows：

[code]

I also recompiled the project and tried it out `LANG="zh_CN.UTF-8" bash -c "goaccess -p /usr/local/goaccess/etc/goaccess/goaccess.conf /home/logs/blog/access.log -o /home/goaccess/k.html`
In this way

[2019-07-19 12:14] allinurl commented on #1505
That's awesome, thanks for sharing this and having this implementation. I've added to the [**downloads page**](https://goaccess.io/download#distro). I'll keep this open for a while just as a reference as well.

[2019-07-19 18:04] SergioDG-YCC opened #1508 "I can not activate --real-time-html on Cron"
I can not make it work --real-time-html on Cron. This is my code:
`/usr/bin/goaccess -f /home/microtvar/web/XXXX/public_html/184/analytics/3633/nginx/access.log > /home/microtvar/web/XXXX/public_html/report3633.html --log-format=COMBINED --real-time-html`
If I remove it --real-time-html works perfectly, but without realtime...

[2019-07-19 19:27] r7l commented on #1056
Is there any progress for this? Still having the issue that everything is +0000.

[2019-07-22 07:06] guptarohit commented on #587
@allinurl do we have any update on this? :upside_down_face:

[2019-07-22 08:19] oiluuurk opened #1509 "how to make log format configuration my own log format?"
We are using below own log format. but I have no idea how to set 00log-format & --date-format && --time-format.
2019/07/22 15:16:23 [info] 43891#43891: *72832 proxy [2001:db8:a01:2101:9::a102]:38302 connected to [2001:db8:a01:2053:4::16]:4430

[2019-07-22 13:56] allinurl commented on #1509
GoAccess requires the following fields:

You've got the date and IP but doesn't look like there's a request. Is this an access log?

[2019-07-22 13:58] allinurl commented on #587
@guptarohit not yet... still working on priority issues for the next release. I'll bump a bit this on the list.

[2019-07-22 14:00] allinurl commented on #1508
Are you using v1.3?

If so, can you please try this:

    /usr/bin/goaccess - /home/microtvar/web/XXXX/public_html/184/analytics/3633/nginx/access.log -o /home/microtvar/web/XXXX/public_html/report3633.html --log-format=COMBINED --real-time-html

[2019-07-22 14:02] allinurl commented on #1332
Closing this. Thanks for sharing your solution!

[2019-07-22 14:02] #1332 closed

[2019-07-22 16:22] SergioDG-YCC commented on #1508
Yes! This has worked for me. How often would you say that I should adjust the cron ?. I have noticed that the file remains the same because the GoAccess service is already active. The cron only works to monitor, and start it in case of system restart or some failure. Also, in parallel, I can generate different cron, with the previous code. How much RealTime can I start in parallel? Thank you!!

![

[2019-07-22 18:51] 0Styless commented on #1282
@liabilityman I can't confirm that, even doesn't work with ssh keys.

[2019-07-23 03:52] liabilityman commented on #1282
@0Styless This is the command I used, see if it works for you:

`ssh -t username@server 'tail -f -n +1 /var/log/nginx/access.log' | goaccess -o /path/to/report.html --real-time-html -`

[2019-07-23 05:50] liuhongyuand opened #1510 "Need help about log format like kind of IP=127.0.0.1"
This is my log.

`07-17-2019 00:24:27.984 ip=127.0.0.1  status=200  tenant=- user=- correlationId=-  request="GET /platform-webapp/ HTTP/1.1" userType=- requestInfo=- duration=0 bytes=3505 thread=http-nio-8080-exec-20 service=platform-webapp itemType=N-A itemOperation=READ dataLayer=N-A incomingItemCnt=- outgoingItemCnt=-`

Can you guide me what is the format? Thanks!!

I using like this:
log-form

[2019-07-24 06:24] kgs921 opened #1511 "Token '+0900]' doesn't match specifier '%h'"
HI

I can't figure out why goaccess error. What's wrong?

Please Help me

[code]
LOG sample
[code]

[2019-07-24 22:50] LukePeltier commented on #1202
Is there any progress on this feature? It would be great to look at the URLs with the most 5XX errors on the same page as the rest of my statistics

[2019-07-25 13:46] allinurl commented on #1511
Do these logs have the same log format? I see the first two have the same format but not the third one. Currently GoAccess has only capability to read one format.

[2019-07-25 13:51] allinurl commented on #1510
Assuming there's a valid IPv4/6, this should work:

    goaccess access.log --log-format='%d %t.%^ %^=%h %^=%s %^ %^=%e %^ %^"%r" %^ %^ %^=%T %^=%b %^=%^v %^' --date-format=%m-%d-%Y --time-format=%T --ignore-panel=OS --ignore-panel=BROWSERS --ignore-panel=REFERRING_SITES

[2019-07-25 13:54] allinurl commented on #1508
Then you can use `@reboot  /path/to/shell.script` in the cron instead of specifying a time.

Please take a look at this [post](https://github.com/allinurl/goaccess/issues/625#issuecomment-272905761) to see how to run multiple instances of goaccess.

Closing this, feel free to reopen it if needed.

[2019-07-25 13:54] #1508 closed

[2019-07-25 13:55] allinurl commented on #1056
@r7l not yet. If it's a change on the HTML report only, then it should be fairy trivial to do it in JS.

[2019-07-25 13:57] allinurl commented on #1506
Did you run `make install` as root? it should generate the translated files.

[2019-07-25 14:00] allinurl commented on #1202
Not yet, but thanks for the reminder. I'll bump the priority of this as I keep getting requests of this type (custom reports).

[2019-07-25 14:01] allinurl commented on #1494
Maybe @gam2046 may be able to chime in about this issue?

[2019-07-25 14:08] allinurl commented on #1504
Please try this, it should work:

    goaccess /home/meuser/httpd/logs/access.log -o /home/meuser/httpd/htdocs/http-load.html --log-format='%h %^[%d:%t %^] "%r" %s %b %D %^ "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T --real-time-html

[2019-07-25 14:10] allinurl commented on #1503
Thanks for reporting this. This is a dup from #1052. TCB (current on-disk storage) is being replaced by a more robust solution. Stay tuned.

Closing this as it is a dup.

[2019-07-25 14:10] #1503 closed

[2019-07-25 14:11] allinurl commented on #1503
As a workaround, you may choose to delete the corrupted DB files or use the in-memory default hash tables.

[2019-07-25 14:16] allinurl commented on #1498
Thanks for the feedback, will look into this!

[2019-07-25 14:17] allinurl commented on #1501
I can confirm this. It appears there's an issue while piping data in. Will look into this. Thanks for reporting it!

[2019-07-25 14:18] allinurl commented on #1502
I can confirm this. Since it's a dup of #1501, I'll close this. Thanks for reporting though.

[2019-07-25 14:22] SuMe1 commented on #1504
thanks Gerardo. thats it. it works now.

[2019-07-25 14:22] #1504 closed

[2019-07-26 01:21] kgs921 commented on #1511
Thank you for answer

I installed apache2 with yum and Logformat is default in httpd.conf
-------------------------------------------------------------------------------
Log_config_module
	  LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
    LogFormat "%h %l %u %t \"%r\" %>s %b" common

    <IfModule logio_module>
      # You need to enable mod_logio.c to use %I

[2019-07-26 07:10] wx-Yao commented on #1491
@allinurl Hi sorry for the late reply. I was onto something else for the past weeks. sorry about that

And, the good news is I got the issue resolved which is kinda important for those who wanna proxy the goaccess using Nginx, especially whose sites are not popular enough to get updated data fed to the client regularly.

So the cause of this problem is quite simple. I proxied the Goaccess web serv

[2019-07-26 11:19] eryajf commented on #1506
Yes, I did. I don't know what you said about the translation document. I can check it out.

[2019-07-26 13:49] allinurl commented on #1491
Awesome. Glad things got sorted out.

Feel free to reopen it if needed.

[2019-07-26 13:49] #1491 closed

[2019-07-26 23:29] nickdeps opened #1512 "Per minute data #question"
Hello everyone,

Checking the official demo of goaccess at https://rt.goaccess.io/  - I can see statistics per minute and I was wondering how can I achieve this.

The closer configuration I found but did not work is the following:

"Visit Times: This panel will display an hourly report. This option displays 24 data points, one for each hour of the day.
Optionally, hour specificity can be set to th

[2019-07-27 11:26] gam2046 commented on #1494
@allinurl  #1507 It has been merged, but the [image of Docker Hub][1] has not been rebuilt.

@rachid-debu Therefore, you can simply replace `allinurl/goaccess` with `gam2046/goaccess` to confirm whether the same problem still exists.

[1]:https://hub.docker.com/r/allinurl/goaccess/tags

[2019-07-28 00:13] mdlivedeployer opened #1513 "Performance issue with db over 8GB"
Hello,

I used goaccess to parse the access log from multiple load balanced webservers. I have data from Feb until July of 2019 imported using the following command line but it feels like things are getting slower as the database gets bigger:

[code]

[code]

This is a test processing a file with 200 lines of logs

[code]

Is this performance degradation normal as the db data gets larger? Is there

[2019-07-28 00:14] #1513 closed

[2019-07-28 00:16] andresbarcenas opened #1514 "slow processing when using db files as the database grow (Database currently around 8GB)"
Hello,

I used goaccess to parse the access log from multiple load balanced webservers. I have data from Feb until July of 2019 imported using the following command line but it feels like things are getting slower as the database gets bigger:

[code]

[code]

This is a test processing a file with 200 lines of logs

[code]

Is this performance degradation normal as the db data gets larger? Is there

[2019-07-28 20:24] allinurl commented on #1514
Unfortunately this is one of the shortcoming of the current on-disk db storage. However, I'm currently working on a more robust version of it. Please stay tuned!

You could play with the db values on the config file, though, if you need fast processing and if it fits in memory, then I'd recommend using the default in-memory hash storage.

[2019-07-29 07:20] guptarohit opened #1515 "Issue while excluding IP"
I noticed `Total Requests` still increasing after excluding an IP, although the excluded IP is not being shown in the `VISITOR HOSTNAMES AND IPS` panel.

To run the goaccess I'm using the config file.
[code]

To exclude IP `ip-add`, added following to the `custom_goaccess.conf`:
[code]

[2019-07-29 13:42] allinurl commented on #1512
Are you in v1.3? `--hour-spec=min` should enable this. Can you please post the command you're running? and please attach the config file if you are using one. Thanks

[2019-07-29 14:08] allinurl commented on #1494
@gam2046 it's built now. Please check again.

[2019-07-29 14:09] allinurl commented on #1494
@rachid-debu did you get a chance to look at @gam2046 comments. Any updates? Thanks

[2019-07-29 15:02] rachid-debu commented on #1494
looks like an interesting fix thanks a lot.
I will try this out asap, got a lot of work right now. I'll give feedback in 1-2 days

[2019-07-29 17:43] nickdeps commented on #1512
I can confirm version is 1.3.

Command used is: goaccess /usr/local/apache2/logs/web-access.log -o /home/web/graphs.html --log-format=COMBINED --real-time-html --hour-spec=min --config-file=/usr/local/etc/goaccess/goaccess.conf

goaccess.conf: https://pastebin.com/PW4V3BU8

[2019-07-30 07:22] chang-zhao commented on #512
Hello @allinurl — I would vote for separating CSS & JS.
IMHO, 'unsafe-inline' and 'unsafe-eval' ARE issue, because they are considered security risk, and I prefer to keep all the site without them.

Sending a html file by email can probably be done too, e.g. by saving from a browser as "whole page", or by leaving references to CSS & JS with absolute URl maybe.

And AFAICU eval is not really necess

[2019-07-30 09:30] jazzl0ver commented on #1412
Hi @allinurl. I'm experiencing crashes once per day:
[code]
I'm thinking there's something with the incoming data. Is it possible to make goaccess log a line which causing a crash?

[2019-07-30 10:47] chang-zhao commented on #462
It would be great if perPage could be set a bit larger, at least through command line or config file (like 32 or even 50).

Thank you in advance if you would do it. =)

[2019-07-30 17:53] chang-zhao commented on #1467
Just FYI:
I have the same configure error as in the original post, on CentOS 7.

[2019-07-31 05:30] darkhan commented on #1384
Hello! I have the same problem. Debian Linux, installed from the source with openssl and geoip.
`./configure --enable-utf8 --enable-geoip=legacy  --with-openssl`

`goaccess /home/username/domains/example.com/logs/nginx_access.log -o /home/username/domains/report/html/index.html --ssl-cert=/etc/nginx/ssl/cert.pem --ssl-key=/etc/nginx/ssl/private.key --ws-url=wss://example.com  --real-time-html --co

[2019-07-31 14:02] allinurl commented on #1384
@darkhan are you getting an error message in the browser's console? Could you please run it through `strace` and attach the output here?

[2019-07-31 14:06] allinurl commented on #462
@chang-zhao Have you tried setting the value perPage to 32 or 50 under `html-prefs`? e.g., [config file](https://github.com/allinurl/goaccess/blob/master/config/goaccess.conf#L150)

[2019-07-31 14:07] allinurl commented on #1467
@chang-zhao can you please verify where `libmaxminddb` is installed in your machine?

[2019-07-31 14:08] allinurl commented on #1412
@jazzl0ver the issue here appears to be that the database is corrupted. You will need to delete the files as a workaround or use the default hash tables as your storage. I'm working on a more robust solution for the on-disk storage.

[2019-07-31 14:14] allinurl commented on #512
@chang-zhao Thanks for the feedback. For now I've added it to the [FAQ](http://goaccess.io/faq#html-report).

[2019-07-31 14:18] allinurl commented on #1512
Strange... Are you able to run it w/o the config file? also please post a few lines from your access log just to be sure the date/time is being parsed correctly. Thanks. e.g.,

    goaccess /usr/local/apache2/logs/web-access.log -o /home/web/graphs.html --log-format=COMBINED --real-time-html --hour-spec=min --no-global-config

[2019-07-31 14:22] allinurl commented on #1506
Are you running goaccess as root too? It should install the `.mo` files under:

[code]

[2019-07-31 14:23] allinurl commented on #1511
Sorry, I'm not sure I follow your question. Did you get it to parse your access log? Are you able to see the report?

[2019-07-31 14:45] jazzl0ver commented on #1412
I don't think this is a DB corruption, since after restarting goaccess it runs successfully

[2019-07-31 14:52] allinurl commented on #1412
The line number is  `Line number: 6554590`. You can run it through `strace` and attach the output here when you hit the bug.

[2019-07-31 20:23] nickdeps commented on #1512
Just ran it without config file, still the same.

Here is a line from the access log:

110.145.X.X - - [31/Jul/2019:13:22:24 -0700] "POST //hello.php HTTP/2" 200 67 "Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36"

[2019-08-01 06:34] guptarohit commented on #1515
@allinurl am I missing something here? wrong configuration or something else..

[2019-08-01 23:05] SSalinasC opened #1517 "Help with custom log format"
Hi guys... I'm trying to parse this log format with goaccess (last version):

LogFormat "%{X-Forwarded-For}i,%l,%u,%t,\"%r\",%>s,%b,microsec,%D,WAS,%{WAS}e,jsess,%{JSESSIONID}C"

I must be able to parse log entries like this but no luck until now:

[code]

Please can you help me with the right command ?

Thanks in advance.
Regards
Sergio

[2019-08-02 03:55] bhui commented on #1468
I stilled get a en_US report html, use this command.
Did I have to check some where?  I am using goaccess1.3 on ubuntu16.04.

/tmp# locale
locale: Cannot set LC_CTYPE to default locale: No such file or directory
locale: Cannot set LC_MESSAGES to default locale: No such file or directory
locale: Cannot set LC_ALL to default locale: No such file or directory
LANG=zh_CN.UTF-8
LANGUAGE=
LC_CTYPE="zh_C

[2019-08-02 10:00] moayi commented on #1512
goaccess /var/log/nginx/access.log -o /usr/local/nginx/goaccess/report.html --real-time-html --time-format='%H:%M:%S' --date-format='%d/%b/%Y' --log-format=COMBINED --ws-url=ws://*****:7890 --daemonize

Cannot refresh in real time

[2019-08-02 10:46] darkhan commented on #1384
No, everything works. But there are no updates. The log file is changed, but the report file is not

[2019-08-02 22:28] andygr commented on #1467
@allinurl ,

I updated my ports and I could install goaccess:

[code]

However now I am getting this error:
Parsing... [0] [0/s]
GoAccess - version 1.3 - Aug  2 2019 23:14:12
Config file: /usr/local/etc/goaccess.conf

Fatal error has occurred
Error occurred at: src/output.c - output_html - 1220
Unable to open HTML file: No such file or directory.

[2019-08-03 18:24] andygr commented on #1467
@allinurl
Finally worked for me with FreeBSD 11.2

1) Update all ports
2) remove all existing goaccess
3) install goaccess via ports
4) download mmdb from maxmind DB
5) add mmdb into the config