[2021-05-16 17:31] allinurl commented on #2111
Did you change the request to be within quotes? Seems like it's parsing lines that may not be within quotes. If you did and those are old lines, you could try using `--num-tests=0`

[2021-05-16 17:33] UpperCenter commented on #2111
I did change the request to be within quotes, logs now look like this:
[code]

[2021-05-16 17:38] allinurl commented on #2111
For those five lines, this works for me:

    goaccess access.log --log-format='%h %^[%d:%t %^] "%r" "%s" %b "%R" "%u" %^' --date-format=%d/%b/%Y --time-format=%T

[2021-05-16 17:50] UpperCenter commented on #2111
It's odd, I only get the issue when trying to restart the systemd service.

Running:
[code]
works fine, but as soon as I use that string in my service,

[code]

Doesn't work anymore, with the `Token '00"' doesn't match specifier '%s'` error.

[2021-05-16 18:24] allinurl commented on #2111
Have you upgraded to a different version, or is it possible you have two versions installed? Can you please try using the full path? e.g., `/usr/local/bin/goaccess` or wherever the path/location may be.

[2021-05-16 18:34] UpperCenter commented on #2111
I've only got one version installed, from the `https://deb.goaccess.io` link. It's in `/usr/bin/goaccess`. It didn't make a difference though. I'm using `GoAccess - 1.4.6.`

[2021-05-17 02:47] powertashton opened #2112 "Token '23/Oct/2020' doesn't match specifier '%d'"
Hiya, getting the error "Token '23/Oct/2020' doesn't match specifier '%d'" when trying to use goaccess to analyse our httpd apache access logs, our log format and relevant config lines are as below, any idea what's going on here?
[code]

[2021-05-17 02:56] powertashton commented on #2112
Figured out that it's my locale not being set... think I have it working now

[2021-05-17 02:56] #2112 closed

[2021-05-17 12:07] 0bi-w6n-K3nobi commented on #2112
Hi @powertashton

If you yet have problem, try remove **`+%z`** from time format.

[2021-05-17 12:35] allinurl commented on #2109
@dertuxmalwieder it will depend on how many panels you have enabled or disabled, but here's the output for a default run:

[code]

[2021-05-17 12:36] allinurl commented on #2109
@0bi-w6n-K3nobi are you thinking to dump json, csv etc from the whatever the storage is holding?

[2021-05-17 12:37] allinurl commented on #2112
Also, If your access log contains English months such as 12/Jan/2021 but your machine locale is not set to English, then you need to set your LC_TIME.

    # LC_TIME="en_US.UTF-8" bash -c 'goaccess access.log --log-format=COMBINED'

[2021-05-17 13:08] allinurl commented on #2111
Odd. Somehow it sounds like it's trying to parse a mixed log, thus the error matching the `00"` referring to `"200"`. You could try using `--num-tests=0` and see if that helps.

[2021-05-19 01:38] mathoyus opened #2113 "error log"
root@ubuntu:~# goaccess /var/log/apache2/error.log --log-format=COMBINED -a -o /var/www/html/er.html
==1894== GoAccess - Copyright (C) 2009-2020 by Gerardo Orellana
==1894== https://goaccess.io - <hello@goaccess.io>
==1894== Released under the MIT License.
==1894==
==1894== FILE: /var/log/apache2/error.log
==1894== Parsed 10 lines producing the following errors:
==1894==
==1894== Token '2021/05/18

[2021-05-19 09:24] mathoyus commented on #2113
how do i fix this,

[2021-05-19 12:37] mathoyus opened #2114 "json log error . tks"
root@ubuntu:/etc/goaccess-1.4.6# goaccess /etc/goaccess-1.4.6/1.log 2.log 3.log 4.log 5.log 6.log 7.log 8.log --log-format=COMBINED -a -o /var/www/html/gd.html

==2134== GoAccess - Copyright (C) 2009-2020 by Gerardo Orellana
==2134== https://goaccess.io - <hello@goaccess.io>
==2134== Released under the MIT License.
==2134==
==2134== FILE: /etc/goaccess-1.4.6/1.log
==2134== Parsed 10 lines producin

[2021-05-19 12:37] mathoyus commented on #2114
{"request_id":"8c5c60b27ec770223025f5d872f4a053","time_iso8601":"2021-05-18T22:32:50+08:00","time_local":"18/May/2021:22:32:50 +0800","http_x_forwarded_for":"39.171.2.101, 120.27.173.48","remote_
addr":"10.0.12.33","remote_user":"","request":"GET /api/lassen/prosecute/prosecuteRpc/getProsecuteNoticeWithConfig.json HTTP/1.1","status":"200","request_length":"2225","body_bytes_sent":"1247","
bytes_se

[2021-05-19 12:58] mathoyus commented on #2114
how can i define this log type

[2021-05-19 13:13] mathoyus opened #2115 "How to parse a custom JSON log format with goaccess"
hi allinurl
i try to fix this log format isue for days ,please help ,tks!!!!!!!!!!!!
[code]
[code]

[2021-05-19 13:21] allinurl commented on #2115
This should do it:

    goaccess access.log --log-format='{"time_local": "%d:%t %^", "http_x_forwarded_for": "%h,%^", "remote_user": "%e", "request": "%r", "status": "%s", "request_length": "%b", "request_time": "%T", "host": "%v", "http_referer": "%R", "http_user_agent": "%u"}' --date-format=%d/%b/%Y --time-format=%T

More details on JSON format, [**here**](https://github.com/allinurl/goaccess/is

[2021-05-19 14:46] allinurl commented on #2114
Closing this as it is a dup. Please don't open multiple issues for the same thing. Thanks

[2021-05-19 14:46] #2114 closed

[2021-05-19 14:47] allinurl commented on #2114
dup of #2115

[2021-05-20 06:16] mathoyus commented on #2115
@allinurl how Extract source IP output report?

[2021-05-20 06:17] mathoyus commented on #2115
@allinurl

# | HITS | VISITORS | TX. AMOUNT | AVG. T.S. | CUM. T.S. | MAX. T.S. | COUNTRY | DATA
-- | -- | -- | -- | -- | -- | -- | -- | --

&nbsp; | 1 | 1,075&nbsp;(0.26%) | 2&nbsp;(0.01%) | 1.27 GiB&nbsp;(21.82%) | 1.02 s | 18.36 m | 1.29 m | CN China

[2021-05-20 06:50] mathoyus commented on #2115
tks,i think i know how to do rest json log,again thank you very muck.
my english not very good,

[2021-05-20 07:16] mathoyus commented on #2115
{"@timestamp":"2021-01-27T14:28:39+08:00","remote_addr":"10.194.204.141","remote_user":"-","request_time":"0.000","upstream_response_time":"-","status":200,"request":"GET /group1/M00/00/00/CsLMjW
ARB-SAatwDAAAIP9q_kUg36.html HTTP/1.1","type":"http","request_method":"GET","http_referrer":"-","body_bytes_sent":2111,"request_body":"-","response_body":"<!DOCTYPE html><html lang=en><head><meta
 charset

[2021-05-20 07:42] mathoyus opened #2116 "how define timestamp %d%h format"
[code]

[2021-05-21 01:58] allinurl commented on #2116
Please try:

    %dT%t+%^"

[2021-05-21 01:59] allinurl commented on #2115
Glad that worked. Closing this. Feel free to reopen it if needed.

[2021-05-21 01:59] #2115 closed

[2021-05-21 02:00] allinurl commented on #2113
Looks like an error log. You need consistent fields in that log.

[2021-05-21 02:00] #2113 closed

[2021-05-21 02:56] VentGrey opened #2117 "OpenLiteSpeed Common log format not being detected"
Hello and thanks for reading my issue :D

I've been experiencing some trouble reading my virtual host access log for anylisis and I've scrapped the whole web in search of answers but I could not find a forum for this tool.

I changed my virtual host log format from `NCSA extended/combined log format` to `Common Log Format (CLF)` since my results didn't show any unique visitors, 404's, time distrib

[2021-05-21 12:47] allinurl commented on #2117
Hello,

Assuming no quotes around each line, then this should work:

    sudo goaccess vhost.access_log --log-format='%v %h %^[%d:%t %^] "%r" %s %b' --date-format=%d/%b/%Y --time-format=%T

with quotes:

    sudo goaccess vhost.access_log --log-format='"%v %h %^[%d:%t %^] "%r" %s %b"' --date-format=%d/%b/%Y --time-format=%T

[2021-05-21 21:27] VentGrey commented on #2117
The first command worked like a charm. I'm assuming I missed the `%v` parameter and the `%^` as well. Thanks a lot for helping me solve this issue :) , I think I should have read the documentation again to see those two.

[2021-05-21 21:28] allinurl commented on #2117
Glad that solved the issue :)

Feel free to reopen it if needed.

[2021-05-23 16:46] UpperCenter commented on #2111
Thanks, I tried that and get:
[code]

[2021-05-23 17:58] allinurl commented on #2111
To be honest sounds like an issue isolated to your environment, there's no "Invalid slot" nor "Failed to resolve" error messages anywhere in goaccess' code base. I'd check possible issues with systemd.

[2021-05-23 19:54] UpperCenter commented on #2111
You're right, it seems like `systemd` doesn't like one of the characters used when specifying the log format. I added these options to my global config file in `/etc/goaccess/goaccess.conf/` but I'm still getting a parse error
[code]

[code]

[2021-05-23 20:48] 0bi-w6n-K3nobi commented on #2109
Hi @allinurl .

Maybe... That can one option. Or another intermediary format for more easy sum and aggregation.

[2021-05-23 20:54] 0bi-w6n-K3nobi commented on #2111
Hi @UpperCenter .

Into `goaccess.conf` the format option is little bit different.
Do need use **`space`** instead of **`=`** an no quotes.
I.E.:
**`time-format %T`**

[2021-05-23 21:08] UpperCenter commented on #2111
Thanks @0bi-w6n-K3nobi, I get this error now:
[code]

[2021-05-23 21:14] 0bi-w6n-K3nobi commented on #2111
Hi @UpperCenter

I didn't express myself well ... I'm sorry.
No quotes `==` no `'` into format.

[2021-05-23 21:21] UpperCenter commented on #2111
Thanks guys, it's all working fine now!

[2021-05-23 21:21] #2111 closed

[2021-05-24 03:37] Lusitaniae commented on #1180
Same issue?

[code]

[2021-05-24 03:37] Lusitaniae commented on #1158
Same issue?

[code]

[2021-05-24 04:10] allinurl commented on #1158
@Lusitaniae Thanks for pointing that out. The next release which is planned to be out pretty soon will have support for Ubuntu 21.04 (hirsute). A workaround for now is to update your `/etc/apt/sources.list.d/goaccess.list` and replace `hirsute` for `focal`

[2021-05-24 04:11] allinurl commented on #1180
Please take a look at [**this comment**](https://github.com/allinurl/goaccess/issues/1158#issuecomment-846717936)

[2021-05-24 04:19] Lusitaniae commented on #1158
Good point, thank you

On Mon, May 24, 2021 at 11:10 AM Gerardo O. ***@***.***>
wrote:

[2021-05-24 05:42] Bue-von-hon commented on #1563
it works for me!

[2021-05-25 18:12] cgzones opened #2121 "Missing reset after access to disabled panel"
When the virtual hosts panel is disabled and it gets requested, by pressing `9`, the footer looks like:

![pre](https://user-images.githubusercontent.com/6131885/119547392-5a700680-bd95-11eb-84b3-2181b01c8d03.jpg)

On selecting a different panel, e.g. by pressing `6`, the background of the footer does not get completely reset:

![post](https://user-images.githubusercontent.com/6131885/119547474-72

[2021-05-25 18:48] allinurl commented on #2121
Thanks for reporting this. Did you test this on v1.4.6 or from development?

[2021-05-25 19:03] cgzones commented on #2121
git master branch.

[2021-05-25 23:00] #2121 closed

[2021-05-25 23:01] allinurl commented on #2121
Should be fixed, please give it a shot! Thanks again.

[2021-05-28 05:33] elboulangero opened #2122 "Update recommendation to install from Official deb repo"
Hello,

I couldn't find a git repo for the website goaccess.io, so I file this issue here.

apt-key is deprecated, and it's not considered good practice to add a key to `/etc/apt/trusted.gpg.d/`.

So the procedure at https://goaccess.io/download#official-repo should be updated and read like that:

[code]

However at the moment it won't work, because the GPG key that is available on goaccess.io is

[2021-05-28 06:49] selfagency opened #2123 "CPU hogging?"
I've been noticing that the GoAccess process is eating up about 25% of my web server's CPU power full-time. The moment I start it, it just grabs like a whole processer core for itself. How can I reduce its load?

[2021-05-28 13:16] stephenreay opened #2124 "Apt Repo cert issue"
I'm getting intermittent TLS certificate errors (I can't confirm all are the same but the last one at least was claiming the cert had expired) trying to access the repo. I can't reliably reproduce the issue yet but it's happened several times in the last couple of hours.

[2021-05-28 19:28] selfagency commented on #2123
Never mind I found my problem

[2021-05-29 13:20] allinurl commented on #2123
Glad you found the issue. Do you mind sharing what was it? Thanks

[2021-05-29 14:24] selfagency commented on #2123
It was caught in a restart loop because it was choking on some bad formatting in one of the log files.

[2021-05-29 14:24] #2123 closed

[2021-05-30 12:20] Chi-Yu commented on #2124
The same happens for the website. Sometimes it says the certificate expired on May 27th but force reloading will usually fix it.

[2021-05-30 12:22] allinurl commented on #2124
Thanks for bringing this up. I'm checking on this and will post back asap.

[2021-05-30 12:30] stephenreay commented on #2124
Yep this is very odd.

I came across it during a vagrant box build (i.e. vm image build, using packer) - the initial attempt to fetch the .deb during the automated setup failed at least half a dozen times - but even pausing the setup, connecting to the console of the in-process VM and trying to reproduce it, I always got a valid response.

Happy to help if you need more info/tests/whatever.

[2021-05-30 16:02] allinurl commented on #2124
Please give it a shot, I think the webserver had some orphaned processes with old versions of the certificate. Not sure yet why it didn't kill those processes so hopefully the webserver won't keep triggering this issue. Otherwise I may need to look further into this.

[2021-05-31 10:44] eeraser710 opened #2127 "Unable to parse Nginx logs in JSON format"
**Logs format :-**
log_format main escape=json
  '{'
    '"Request_Logged_Time":"$time_local",'
        '"Client_PUB_IPs":"$http_x_forwarded_for",'
        '"Remote_addr":"$remote_addr"'
'}';

**Sample logs:-**
{"Request_Logged_Time":"31/May/2021:03:41:11 +1000","Client_PUB_IPs":"","Remote_addr":"10.9.96.68"}
{"Request_Logged_Time":"31/May/2021:03:41:11 +1000","Client_PUB_IPs":"","Remote_addr":"10

[2021-05-31 11:12] eeraser710 commented on #2115
@mathoyus  - seems your issue is resolved , i am too facing same issue . kinldy help out . kindly refer for https://github.com/allinurl/goaccess/issues/2127 for details

[2021-05-31 12:09] eeraser710 commented on #2127
Tried below command ,,, but still same error

goaccess --log-format='{"Request_Logged_Time":"%d:%t %^","Client_PUB_IPs":"%^","Remote_addr":"%h"}' --date-format=%d/%b/%Y --time-format=%T -f sample
==10140== GoAccess - Copyright (C) 2009-2020 by Gerardo Orellana
==10140== https://goaccess.io - <hello@goaccess.io>
==10140== Released under the MIT License.
==10140==
==10140== FILE: sample
==10140== Pa

[2021-05-31 13:43] eeraser710 commented on #2127
Got it working .. was missing request in logs , thus goaccess was unable to parse it ...

GoAccess requires the following fields:

a valid IPv4/6 %h
a valid date %d
the request %r

[2021-05-31 13:43] #2127 closed

[2021-06-01 00:13] allinurl commented on #2122
Thanks for sharing this. Question for you, would existing users need to make an update on their end? i.e., download again the new key? I ask because there are a lot of machines pulling from the repo right now so I'm trying to minimize the need of each one of those servers needing to download a new key.

[2021-06-01 00:17] allinurl commented on #2109
@0bi-w6n-K3nobi I think is do-able. We'd need to think a bit more on how to approach this and its details.

Anyways, I'm closing this since I think it addressed the original issue. @dertuxmalwieder Feel free to reopen it if needed.

[2021-06-01 00:17] #2109 closed

[2021-06-01 02:33] elboulangero commented on #2122
There's no need for users to update anything. The secret key that you use to sign the repo doesn't change. The only thing that would change is the format used for the public key.

This being said, I took more time to look at how other projects handled this transition, more specifically:
- https://signal.org/en/download/linux/
- https://docs.docker.com/engine/install/debian/#set-up-the-repository

[2021-06-01 08:56] cvetazh opened #2128 "log format (error 1998)"

[2021-06-01 09:57] #2128 closed

[2021-06-01 13:07] allinurl commented on #2128
FWIW, this should work:

    goaccess access.log --log-format=COMBINED

[2021-06-03 03:01] allinurl commented on #2122
Thanks Arnaud for sharing these steps. Like you said, sounds like step 1 is the way to go. I see the other repos using this approach so I went ahead and updated the instructions on the [**website**](https://goaccess.io/download#official-repo). Would you be able to submit a PR to update the README.md? Thanks again!

[2021-06-03 03:38] elboulangero commented on #2122
Just did that. Thanks!

[2021-06-03 13:01] #2122 closed

[2021-06-03 16:32] stephenreay commented on #2124
I've made several builds in the last couple of days and none hit this error.

[2021-06-03 16:37] stephenreay opened #2130 "--ignore-referer is now --ignore-referrer ???"
Please tell me this was an unfortunate case of an editor/IDE auto-correcting a string, and not someone thinking it's OK to just change the name of an option like that???

[code]

From man:

[code]

[2021-06-03 16:48] allinurl commented on #2130
Sorry about this. Unfortunately the option was deprecated under #2102. I should have kept the previous option for backwards compatibility. I'll be more cautious next time ;)

[2021-06-04 14:59] allinurl commented on #2124
Awesome, thanks for reporting back! Closing this for now.

[2021-06-04 14:59] #2124 closed

[2021-06-04 18:07] samcro1967 commented on #2054
I am seeing the same issue.  Not sure what I am missing.

**First 15 lines in the log**
[code]

**Global log option in my Caddyfile**
[code]

Output from cat access.log | sudo docker run --rm -i -e LANG=$LANG allinurl/goaccess -a -o html --log-format CADDY - > report.html
[code]

[2021-06-04 18:18] allinurl commented on #2054
@samcro1967 are you parsing the access log? I don't see the fields specified [here](https://caddyserver.com/docs/logging#structured-logs) in your sample log.

[2021-06-04 18:55] samcro1967 commented on #2054
I had logs set to debug.  Changed it to info and now it is working.

[2021-06-05 16:49] #2130 closed

[2021-06-05 16:49] allinurl commented on #2116
Closing this. Feel free to reopen it if needed.

[2021-06-05 16:49] #2116 closed

[2021-06-05 16:50] allinurl commented on #2105
Closing this. Feel free to reopen it if needed.

[2021-06-05 16:50] #2105 closed

[2021-06-05 16:51] allinurl commented on #2096
Closing this. Feel free to reopen it if needed.

[2021-06-05 16:51] #2096 closed

[2021-06-05 16:51] allinurl commented on #2095
Closing this. Feel free to reopen it if needed.

[2021-06-05 16:51] #2095 closed

[2021-06-05 16:59] allinurl commented on #2063
Closing this. Feel free to reopen it if needed.

[2021-06-05 16:59] #2063 closed

[2021-06-07 08:57] snowweb opened #2131 "Error installing via PPA"
OS: Ubuntu 20.04 LTS (clean install and fully updated)
uname -a: Linux s2.snowweb.info 5.4.0-74-generic #83-Ubuntu SMP Sat May 8 02:35:39 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

See below output when installing GoAccess key, source and then updating APT:

`root@s2:~# wget -O - https://deb.goaccess.io/gnugpg.key | gpg --dearmor | sudo tee /usr/share/keyrings/goaccess.gpg >/dev/null
--2021-06-07 16

[2021-06-07 12:48] snowweb commented on #2090
Same issue here. Does this mean we can't use GoAccess on our current hardware?

Who is responsible for the i386 support (hardware vendors, kernel maintainers, GoAccess devs)?

[2021-06-07 12:49] #2131 closed

[2021-06-07 13:50] allinurl commented on #2131
You seem to be using a x86_64. I don't believe there's an i386 version of Ubuntu 20.04. https://releases.ubuntu.com/20.04/

[2021-06-07 13:52] allinurl commented on #2090
@snowweb https://eofla.wordpress.com/2020/04/01/ubuntu-20-04-lts-i386-repository-fade-out/ seems like i386 faded out on 20.04

[2021-06-07 16:24] snowweb commented on #2090
But wait... I'm not using i386, so why am I caught up in this?
`root@s2:~# dpkg --print-architecture
amd64
root@s2:~# uname -a
Linux s2 5.4.0-74-generic #83-Ubuntu SMP Sat May 8 02:35:39 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

[2021-06-08 02:18] snowweb commented on #2090
Okay. I think we understand what is going on now. Please see [https://www.howtoforge.com/community/threads/goaccess-does-not-support-i386-architecture.87108/](url), for the complete picture.

It looks like GoAccess is not handling the recently introduced debian multi-architecture features properly.

[2021-06-09 17:08] kaushalshriyan opened #2133 "Difference between hits and visitors"
Hi,

I am new to goaccess. I am not sure if I understand the difference between hits and visitors. Any examples to understand better? I am attaching the screenshot for reference.

<img width="665" alt="Screenshot 2021-06-09 at 10 36 25 PM" src="https://user-images.githubusercontent.com/1860899/121398772-55a17a00-c973-11eb-8890-f282ad8f8d50.png">

[2021-06-10 19:15] babyhughey opened #2134 "how to display user name and activity in cowaxess output"
my ssl_access_log notes date, time, user and activity (below, downloading a pdf)

(IP ADDRESS) - user@user.com [11/May/2021:08:30:22 -0400] "GET /pdf/my.pdf HTTP/1.1" 401 -

how can I tweak my command so my cowaxess report.html file displays this level of information?

[2021-06-11 01:10] allinurl commented on #2133
Hello,

Hits are HTTP requests (one line in your access log) that your web server served to the client. For instance, each of these would be one hit: `index.html`, `image.jpg`, `main.css`, etc.

On the other hand, a request with the same IP, date, and user agent are considered a visitor (unique visitor).

Let me know if that answers your question.

[2021-06-11 01:14] allinurl commented on #2133
To expand on your screenshot,

You served 41,139 HTTP requests but only to 1,380 unique visitors (that includes bots/spiders/crawlers) for a total of 3.44GiB data transferred out of your web server.

[2021-06-11 03:39] allinurl commented on #2134
Please try this, it should work:

    goaccess access.log --log-format='%h %^ %e [%d:%t %^] "%r" %s %b' --date-format=%d/%b/%Y --time-format=%T

[2021-06-11 03:40] allinurl commented on #2134
or HTML output

    goaccess access.log --log-format='%h %^ %e [%d:%t %^] "%r" %s %b' --date-format=%d/%b/%Y --time-format=%T -o report.html

[2021-06-11 05:21] kaushalshriyan commented on #2133
Thanks a lot, Gerardo for the explanation

[2021-06-11 15:43] kaushalshriyan commented on #2133
@allinurl Thanks a lot for the explanation and appreciate it. I am running the below version.

$goaccess -V
GoAccess - 1.5.
For more details visit: https://goaccess.io/
Copyright (C) 2009-2020 by Gerardo Orellana

Build configure arguments:
  --enable-geoip=mmdb

Is there a way to enable the Geographical location of the source IP request?. Also is there a monitoring feature available if there is a

[2021-06-11 17:48] kaushalshriyan commented on #2133
@allinurl I have a follow-up question regarding Data field /user/login and /

15,303 (37.20%) for /user/login
8,512 (20.69%) for /

I am confused regarding the statistics. Ideally, users will hit / and then /user/login, resulting in 15,303 and 8,512 respectively. But the report shows exactly the opposite. Please comment. Thanks in advance.

I am attaching the screenshot for your reference.
<img wi

[2021-06-12 06:24] VentGrey commented on #2117
My server logs changed (without prior notice, idk if this came with an OLS update) and now look like this:

`"<ip-addr> - - [12/Jun/2021:06:10:42 +0000] "GET /route/ HTTP/1.1" 301 0"`

I've tried modifying the commands above but I get stuck at parsing the date with this error :(
`Token '-' doesn't match specifier '%h'`

Should I include the `-` 's in the log format?

[2021-06-12 06:28] VentGrey commented on #2117
Fixed it. Here is the solution if someone else comes around the same problem:
`--log-format='"%h - - %^[%d:%t %^] "%r" %s %b"' --date-format=%d/%b/%Y --time-format=%T`

[2021-06-12 06:28] #2117 closed

[2021-06-15 12:08] mlaurense opened #2135 "PPA not working for Xenial"
It appears the PPA is not working anymore for Xenial?

[code]
Is Xenial no longer supported?

`wget https://deb.goaccess.io/dists/xenial/main/binary-amd64/Packages` also gives a 404, whereas `wget https://deb.goaccess.io/dists/focal/main/binary-amd64/Packages` does seem to work.

[2021-06-15 13:13] allinurl commented on #2135
Great question, Xenial is no longer supported, I believe Ubuntu stopped supporting this release on 2021-04. Sorry about that.

[2021-06-15 13:18] allinurl commented on #2135
Forgot to post the reason behind goaccess not supporting it. Basically I go through an automated building process where it fires a bunch of vagrant boxes that install the build packages such as gcc, make, etc. If the machine fails because it couldn't run `apt update/upgrade` then I can't build goaccess on it.

[2021-06-16 00:53] allinurl commented on #2133
Please take a look at the [config file](https://github.com/allinurl/goaccess/blob/master/config/goaccess.conf#L699), there are instructions on how to use mmdb (geolocation). Once you download the database file, just feed that to goaccess. e.g.,

    goaccess access.log -o report.html --geoip-database /usr/local/share/GeoIP/GeoLite2-Country.dat

As far as `/user/login` and `/`, hard to tell without

[2021-06-16 01:06] allinurl commented on #2090
@snowweb do you have any docs for reference about the multi-architecture features that debian introduced so I can take a look? thanks

[2021-06-16 07:26] mlaurense commented on #2135
Thanks for your swift response. I've put our 16.04 servers on the list to upgrade asap.

[2021-06-16 13:01] allinurl commented on #2135
Closing this. Feel free to reopen it if needed.

[2021-06-16 13:01] #2135 closed

[2021-06-17 11:27] rauberdaniel commented on #185
I’m getting this issue in Terminal.app and GoAccess version 1.5 when I try to evaluate about 3000 files (AWS CloudFront logs).  The key commands work at first but after a short time (several seconds, not consistent) GoAccess seems to completely freeze. Maybe this is an issue with files not being closed after reading and therefore running into some OS limitation?

If I combine all these files into

[2021-06-17 13:36] allinurl commented on #185
@rauberdaniel Thanks for reporting this. Can I ask, are those 3000 logs being constantly updated or mostly static? Also, does it make any difference if you feed goaccess using tail as:

    tail -qF access.log access.1.log access.2.log | goaccess - --log-format=COMBINED

[2021-06-17 14:00] rauberdaniel commented on #185
No, those files are static and not updated at all (therefore, they could be closed after reading).

I just tried feeding them via
[code]
and it seems to work fine without freezing.

What I also just realized is that simply using `goaccess *.log …` doesn't even load all the files, only about half the amount of requests are shown as compared to the command with `cat`. I think that could match to the

[2021-06-17 23:53] allinurl commented on #185
Good question, goaccess doesn't keep the files opened.

I pushed a fix for this, it should work fine. Please feel free to build from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) and let me know if that solves the issue on your end. You may still need to change your max number of files that can be opened in your OS. Ideally goaccess could resort to inotify,

[2021-06-19 17:09] kaushalshriyan commented on #2133
@allinurl I am attaching the goaccess.conf file for your reference. when I am hitting https://mydomain.com/report.html. The report.html is not getting updated. It shows the same data again and again when I browse https://mydomain.com/ by clicking on links and other pages. Please guide.

[goaccess.conf.txt](https://github.com/allinurl/goaccess/files/6681075/goaccess.conf.txt)

[code]

[2021-06-21 00:01] allinurl commented on #2133
What's the output from your browser's console? Also, please make sure you have port 7890 opened and I'd try telnet the server. e.g.,

    # telnet server.host 7890

[2021-06-21 00:42] kaushalshriyan commented on #2133
$nc -v 192.168.0.178 7890
Connection to 192.168.0.178 port 7890 [tcp/*] succeeded!

[root@ ~]# netstat -anp | grep 7890
tcp        0      0 0.0.0.0:7890            0.0.0.0:*               LISTEN      16412/goaccess
[root@ ~]#

<img width="1439" alt="Screenshot 2021-06-21 at 6 10 13 AM" src="https://user-images.githubusercontent.com/1860899/122693465-9a70bf00-d257-11eb-82c5-e36515a424d3.png">

[2021-06-21 03:13] KasFerreira commented on #1244
Hi, I'm having the same problem, could anyone help me?
I'm getting this erro:
Token '2021-06-14T03' doesn't match specifier '%d'

[2021-06-21 12:40] unclesamwk opened #2136 "sporadically very big html size ~= 32G"
Hey,

we generate tons of reports as html files every night. Strangely, there is always the case that the html file is 16 to 32G in size.
Head is html file and then ...
[code]
Any idea?

[2021-06-21 13:14] allinurl commented on #2136
Interesting and thanks for reporting this. Can I ask you, would you be able to grep for "leinen" in your log and post some of those lines in here? I assume, the log is not near close that size?

[2021-06-21 15:41] unclesamwk commented on #2136
grep in so big files is not working
[code]

[2021-06-21 16:25] allinurl commented on #2136
So I'm guessing your log file does contain really long requests? Did you build goaccess from source or did you use the official  deb repo? If you used the official deb repo, v1.5 built with `--with-getline` to support JSON requests that could be longer than 4096 chars.

You could build from source and avoid using `--with-getline` upon running configure so it stops processing lines longer than 4096

[2021-06-21 19:38] allinurl commented on #2133
Do you have some sort extension in your browser blocking certain content? Are you able to try on a different browser or perhaps incognito? Also, make sure if you are opening the report via https, you will need to pass an ssl cert and key to goaccess.

[2021-06-21 19:39] allinurl commented on #1244
@KasFerreira Please post a few lines from your access log and the log-format/date-format/time-format used in goaccess. Note that if your access log contains english dates but your machine is on a different locale, you will need to run it as I posted above.

[2021-06-21 20:11] KasFerreira commented on #1244
@allinurl  thanks for replying!! I'm trying NCSA Combined Log Format, I am not sure if it is the ideal for my logs. And the here goes few lines from it.
0.10.10.113 [2021-06-16T03:31:08-03:00] "www.mysite.com" "GET /news/nid/it-works/ HTTP/1.1" 222 64763 "-" "Mozilla/5.0 (compatible; bingbot/2.0; +http://www.bing.com/bingbot.htm)" "127.25.39.134, 127.0.0.1"

[2021-06-21 20:12] KasFerreira commented on #1244
@allinurl thanks for replying!! I'm trying NCSA Combined Log Format, I am not sure if it is the ideal for my logs. And the here goes few lines from it.
10.10.10.143 [2021-06-16T03:31:08-03:00] "www.mysite.com" "GET /news/nid/it-works/ HTTP/1.1" 222 64763 "-" "Mozilla/5.0 (compatible; bingbot/2.0; +http://www.bing.com/bingbot.htm)" "127.28.39.111, 127.0.0.1"

[2021-06-22 19:02] allinurl commented on #2134
Closing this. Feel free to reopen it if needed.

[2021-06-22 19:02] #2134 closed

[2021-06-22 19:09] babyhughey commented on #2134
Thanks for your help on this.

I think the issue is that my log file lists the user’s IP address first and user name second:

xxx.xxx.xxx.xxx - username [09/Jun/2021:10:51:06 -0400] "GET /favicon.ico HTTP/1.1" 404 306

When I run the report per your instructions, it lists user by IP, not user name

From: Gerardo O. ***@***.***>
Sent: Tuesday, June 22, 2021 3:03 PM
To: allinurl/goaccess ***@***.***

[2021-06-22 19:30] allinurl commented on #2134
Are you able to see what's the last panel on the report? Here's what I see from my end:

![2021-06-22-143017_470x261_scrot](https://user-images.githubusercontent.com/5005367/122987594-633d0380-d366-11eb-8f54-5be00745ced1.png)

[2021-06-22 19:49] babyhughey commented on #2134
I do get this:

***@***.***D7677E.1957BE80]

Frankly, there’s TOO much and not enough information in this report.

I’d prefer something simple that I can show my managers that notes that x user downloaded y pdf file on z date ... perhaps reversible to show that y pdf was downloaded x number of times in this period by this many users.

From: Gerardo O. ***@***.***>
Sent: Tuesday, June 22, 2021 3:31

[2021-06-22 19:59] allinurl commented on #2134
It's possible cowaxess is doing something else to display that. I'm not the one maintaining that repo so I can tell. However, you could always try running it via cygwin or generating the reports through a Linux box. Sorry about that.

Soon goaccess will be supporting probably one of the nicest features "search/filtering" which will address very easily the report you are after. Stay tuned :)

[2021-06-23 01:43] BobaPearl opened #2137 "How do you delete stored goaccess data tables / logs"
I'm using GoAccess for a weird edge case, I use this to track how many times images on my webpage get static requests, this is because I have a webcomic, and I host it on my site, and then hotlink the images themselves on multiple forum boards. I want to see how many people are viewing the image across sites. I know I can't filter out bots and spiders, but it's the best I got right now.

I delete

[2021-06-23 12:47] 0bi-w6n-K3nobi commented on #2137
Hi @BobaPearl

GoAccess use memory for storage of records.
I think do you need restart [i.e. `stop` and `start`] for clear previous info.

[2021-06-23 17:13] kaushalshriyan commented on #2133
@allinurl Thanks a Lot. I am able to set it up now and it works like a charm. It is very good software. I am liking it.  Any way to generate a report for a time period of 1 week, 15 days, 1 month, or 3 months ...? Any timelines if the feature is not available? Thanks in advance.

[2021-06-24 01:12] allinurl commented on #2133
Glad it is working for you :)

#117 will implement that. I'm working on it as we speak and hoping it will be out soon. A workaround would be to use sed, awk, etc.

    # sed -n '/'$(date '+%d\/%b\/%Y' -d '1 week ago')'/,$ p' access.log | goaccess -a - -o report.html

The [**man page**](https://goaccess.io/man#examples) has some examples when working with dates.

Stay tuned for the upcoming release

[2021-06-24 01:12] #2133 closed

[2021-06-24 01:30] allinurl commented on #2137
Also, are you using --persist and --restore. If you are, then please don't use them as they would keep restoring from disk whatever data was last parsed.

[2021-06-24 01:33] allinurl commented on #1244
@KasFerreira This should work:

    goaccess access.log --log-format='%h [%dT%t-%^] "%v" "%r" %s %b "%R" "%u" %^' --date-format=%Y-%m-%d --time-format=%T

[2021-06-27 10:56] dertuxmalwieder commented on #2136
`ripgrep` *could* work.

[2021-06-28 13:14] unclesamwk commented on #2136
Yes, with ripgrep it works but the same html file was deleted. I found another files ...
Example:
[code]
It looks like an "umlaut" problem.

[2021-06-28 13:32] allinurl commented on #2136
@unclesamwk did you use ripgrep against your access log? Can you please post those lines from your access log? Thanks

[2021-06-28 13:40] unclesamwk commented on #2136
The file has only one very long line. I cant post this line :-)

[2021-06-28 14:04] allinurl commented on #2136
I see, I just wanted to check if this was an issue with goaccess or your server logging really long lines. So far I understand is that your server is indeed logging those long lines and thus goaccess reporting them as they are, correct?

[2021-06-28 15:26] unclesamwk commented on #2136
No, the access Logs are okay. I mean the goaccess minified html output is in one line without new Lines. I cant reproduce the Problem.

[2021-06-28 15:47] allinurl commented on #2136
You can run goaccess with `--json-pretty-print` and then hit Ctrl+u in your browser to see the unminified JSON output.

Also, did you run goaccess specifying `--max-items`? I think if you set it to 0, it will dump all data on it.

[2021-06-28 22:42] allinurl commented on #2137
Any update on this? Thanks

[2021-06-29 08:03] BobaPearl commented on #2137
I can't start and stop my server, as I'm using shared hosting to host my website, or at least the commands have been changed. I ended up purchasing a different access.log visualization program, which has less features, but was able to do what I wanted through some heavy use of filtering.

[2021-06-29 13:05] #2137 closed

[2021-06-29 19:35] stefanivic opened #2138 "Need help with nginx ingress custom log format"
[code]

This is the current setup. I tried to do:
[code]

But it fails with the date.

[code]

[2021-06-29 23:19] 0bi-w6n-K3nobi commented on #2138
Hi @stefanivic

For short answer:
Change for `--time-format='%H:%M:%S'` and use into `--log-format` the expression  `[%d:%t %^]` rather than `[%d:%t]`.

[2021-06-30 11:10] 0bi-w6n-K3nobi commented on #2138
For long answer:
`--log-format='%v - %^ %^ - %^ [%d:%t] [%^] "%^" "%r" %s %b "%R" "%u" "%^" "%^" "%^" "%T" "%^"'`  or
`--log-format='%v %^[%d:%t] [%^] "%^" "%r" %s %b "%R" "%u" "%^" "%^" "%^" "%T" "%^"'`
`--time-format='%H:%M:%S'`

and some Notes:
* Our number of fields was incorrect;
* You must use quotes where are quotes in field;
* We can't assume `$remote_user` always be  **`-`**;
* It is pref

[2021-06-30 12:39] domolicious opened #2139 "lengthy static-file configuration value will cause unexpected results"
This one got me wondering. It appears that if you add a long file extension to the `static-file` configuration it kind of erases the previous set values. My very long file extension is `.webmanifest`.

Consider this minimal example

[code]

access.log
[code]

.goaccessrc
[code]

And I run: `$ goaccess access.log`

### Results

`site.webmanifest` end up being a static request, but `robots.txt` does

[2021-06-30 15:29] stefanivic commented on #2138
@0bi-w6n-K3nobi thanks, worked like a charm.

[2021-06-30 15:29] #2138 closed

[2021-07-02 13:22] 0bi-w6n-K3nobi opened #2140 "Improvement: Panel items elect by others cols besides HIT"
Hi @allinurl

I did will try describe the context which I had penalty for monitoring my sites.

Just yesterday, I had a common problem that can occur in my day-by-day.
My Content Manager [`CM`] is so little obtuse. It's allows submit very-large photo for publication of `HTML` Page.
Well... It's situation is not so simple. In truly, at the publication stage,  each photo in page is processed by espe

[2021-07-04 15:32] jech opened #2141 "Please allow using gzipped log files"
Under many Linux distributions, logfiles are compresses after a few days.  It would be convenient if goacess could transparently decompress such compressed log files.

[2021-07-05 00:51] dertuxmalwieder commented on #2141
Possible ways to fix this:

1. Actually manage your server so it does *not* do things you don't want it to do.
2. Pipe the output of `zcat` instead of the actual log files to goaccess.

[2021-07-05 03:07] nadermx opened #2142 "Persis via cron"
First off, great project.  My basic question is this, I'm currently using

[code]
to generate my report.  I run this via cron once an hour.  How would I modify this, or is it even possible, to have it persist from today onward, or would I have to constantly go and and write a new `--persist` and `--restore` each day manually?

[2021-07-05 12:06] jech commented on #2141
Yes, I know about the workaround.  I'm just saying that it would be convenient if goaccess could decompress on the fly.

[2021-07-05 17:21] 0bi-w6n-K3nobi commented on #2142
Hi @nadermx

Yes. A simplest form is  using `--persirt` and `--restore` option.
Perhaps it is unique form.

Another option could be to use **real-time monitoring**.
However, You did not had a  final Report HTML.
In this way, GoAccess will be run into reat-time mode.
And, each hour, You could add new Log to processing.

A example for RT You can be into http://rt.goaccess.io/.

I hope that I had hel

[2021-07-05 17:27] 0bi-w6n-K3nobi commented on #2141
Hi @jech

Perhaps you can a fuse filesystem that have to support that.
I find fuse-bgzip [here](https://github.com/sahlberg/fuse-bgzip).

[2021-07-06 11:06] johnpilbeam commented on #1782
I had this issue on macOS/Homebrew. The solution was to edit the config file:
`/opt/homebrew/Cellar/goaccess/1.5.1/etc/goaccess/goaccess.conf`
Uncomment lines 13 and 36:
`time-format %H:%M:%S
date-format %d/%b/%Y
`
Save the file and run the command again.

[2021-07-06 12:08] florenthemmi commented on #1782
Thanks @johnpilbeam for you feedback.
It is already done in my previous comment https://github.com/allinurl/goaccess/issues/1782#issuecomment-633125643.

[2021-07-06 13:12] allinurl commented on #2140
Hi @0bi-w6n-K3nobi Thanks for pointing that out and the detailed use case of this. You're right, I believe right now it sorts by hits and then it applies the specified sort on top of those sorted hits. So if you have 744 as the max, then it will sort first by hits of all data and then sort only those 744 records. Was that what you experienced?

[2021-07-06 13:19] allinurl commented on #2141
@jech Thanks for suggesting this. I can look into this. I'm guessing it will require to build `--with-zlib`, it shouldn't be too bad. @0bi-w6n-K3nobi Thanks for sharing those workarounds, certainly did not know the fuse-bgzip :)

[2021-07-06 13:23] allinurl commented on #1782
@florenthemmi are you still having issues with this? Are you running it through Docker?

[2021-07-06 13:33] unclesamwk opened #2143 "What means "Failed to mmap""
Hey,

what means this error message, because what can i do to fixit?

goaccess 1.5.1

[code]

greetings
sam

[2021-07-06 13:52] mandys opened #2144 "Aws waf logs"
Could this be used to parse aws web application firewall logs ? Those are in Json format and in display we require requests that were blocked by firewall.

[2021-07-06 14:28] allinurl commented on #2144
Do you have any sample log lines that I can take a look? Thanks

[2021-07-06 17:34] allinurl commented on #2143
Does `/logs/.goaccess/DB/GA_DB_WHOLE/` exist? Please make sure it has been previously created and it's writable. e.g.,

    # mkdir -p /logs/.goaccess/DB/GA_DB_WHOLE/

[2021-07-07 08:00] unclesamwk commented on #2143
Yes folder exist, and the file too!

[2021-07-07 13:35] florenthemmi commented on #1782
Hello @allinurl

Same config with latest version.

[code]

[2021-07-07 14:02] allinurl commented on #1782
@florenthemmi Have you tried running it as specified [here](https://github.com/allinurl/goaccess#docker)? Please let me know if that works on your end.

[2021-07-07 22:49] 0bi-w6n-K3nobi commented on #2140
Good night @allinurl.

Yes, exactly this.
Is it possible change its behavior?
At least, at starting, is it possible to change the election to `BW`?

[2021-07-08 01:56] allinurl commented on #2143
Was that the first run and no db files existed before on that folder? also are you getting this error after successfully parsing your log and exiting from the terminal interface or as soon as you run goaccess (before parsing anything)? finally can you please post the output after running goaccess through strace?

    strace /usr/local/bin/goaccess /logs/archive/2021_07_05-access.log -a --no-parsin

[2021-07-08 05:09] packeteer commented on #1940
I'm also facing a similar issue.
I'm running Goaccess 1.5.1 on AWS Linux 2 (essentially Centos 7).
I'm trying to process 1 month of Cloudfront logs (120GB) to html or csv and the process OOMs at around 61 million records.

built from source ( ./configure --enable-utf8 )
running with the following: goaccess jan.log --log-format=CLOUDFRONT -o cdn-jan.csv --restore --persist --db-path /root/persist

[2021-07-08 10:52] AlexYegupov commented on #852
also for ubuntu worked:

sudo apt install libmaxminddb-dev

[2021-07-08 14:27] allinurl commented on #1940
@packeteer how much ram/swap do you have available? also, do you have a lot of timestamped or unique requests? if that's the case, you could try using `-q`.

[2021-07-08 16:31] KasFerreira commented on #1244
@allinurl  Thank you very much!

[2021-07-11 15:18] ahmedelfaleh opened #2145 "Convert nginx json log elements to goaccess"
This is my nginx json format
` log_format  main  escape=json
     '{'
       '"time_local":"$time_local",'
       '"remote_addr":"$remote_addr",'
       '"remote_user":"$remote_user",'
       '"request_method":"$request_method",'
       '"request_uri":"$request_uri",'
       '"server_protocol":"$server_protocol",'
       '"status": "$status",'
       '"body_bytes_sent":"$body_bytes_sent",'

[2021-07-13 07:47] mandys commented on #2144
This is one line in the log where the WAF has blocked a bad request.

{"timestamp":1626141957554,"formatVersion":1,"webaclId":"arn:aws:wafv2:us-west-2:912345678905:regional/webacl/WebACL/12fa5cbd-4fdc-4c3e-94cd-8e123f8fd123","terminatingRuleId":"AWS-AWSManagedRulesCommonRuleSet","terminatingRuleType":"MANAGED_RULE_GROUP","action":"BLOCK","terminatingRuleMatchDetails":[],"httpSourceName":"ALB","htt

[2021-07-14 01:30] allinurl commented on #2145
This should do it:

    goaccess access.log --log-format='{"time_local": "%d:%t %^", "remote_addr": "%h", "remote_user": "%e", "request_method": "%m", "request_uri": "%U", "server_protocol": "%H", "status": "%s", "body_bytes_sent": "%b", "request_time": "%T", "http_referrer": "%R", "http_user_agent": "%u", "requested_domain": "%v"}' --date-format=%d/%b/%Y --time-format=%T

[2021-07-15 05:55] tchnlgst opened #2146 "Token '0700] "GET http' doesn't match specifier '%d'"
Hello,

I appreciate your work on GoAccess.

I'm having trouble analyzing a log file and I can't tell what I may be doing wrong. I'd appreciate some assistance.

`55.66.222.333 [5T5DVa5NR2cKpek] jdoe [17/Aug/2020:12:05:14 -0700] "GET http://urlhere.com:80/login?qurl=https%3A%2F%2Flearn.anotherurl.com%2Feos HTTP/1.1" 599 0 "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like G

[2021-07-15 13:10] 0bi-w6n-K3nobi commented on #2146
Hi @tchnlgst
Almost fields is correct in your line declaration with some exceptions:

[2021-07-15 13:33] allinurl commented on #2146
@0bi-w6n-K3nobi was right on spot, thanks for posting that!

    goaccess access.log --log-format='%h [%v] %e [%d:%t %^] "%r" %s %b "%u"' --date-format=%d/%b/%Y --time-format=%T

[2021-07-15 13:37] minusf opened #2147 "thousands separator same as floating point"
goaccess 1.5.1 macos 11.4

When generating html reports, numbers in the columns look like this:

`207.286 (8.80%)`

the man page does not mention locales at all, but in any case i have:

[code]

I think in this case the number should look like any of these:

`207,286 (8.80%)`
`207 286 (8.80%)`
`207_286 (8.80%)` (some programming languages accept these numbers nowadays)

[2021-07-15 13:38] minusf commented on #2147
btw it would be really nice to have the thousands separators in the terminal version as well...

[2021-07-15 13:48] minusf opened #2148 "X-Forwarded-For field not parsing"
goaccess 1.5.1 macos 11.4

I am not able to convince goaccess about the X-Forwarded-For field in my logs.  There is nothing special about it:

[code]

[code]

This always shows `x.x.x.x` in the "Visitor Hostnames and IPs" (not `y.y.y.y`)

[2021-07-15 21:42] allinurl commented on #2148
For the given log, e.g.,

[code]

This should work:

    goaccess access.log --log-format='%^[%d:%t %^] "%r" %s %b "%R" "%u" ~h{," } %T %K' --date-format=%d/%b/%Y --time-format=%T

[2021-07-15 22:44] minusf commented on #2148
so `%h` and `~h` are exclusive?  is this mentioned somewhere in the man page?

[2021-07-16 03:40] dmk2861995 commented on #1635
Hi Team,

Having the same issue.
could you please look into this and share your insights?

Error:
==13663== GoAccess - Copyright (C) 2009-2020 by Gerardo Orellana
==13663== https://goaccess.io - <hello@goaccess.io>
==13663== Released under the MIT License.
==13663==
==13663== FILE: access.log
==13663== Parsed 10 lines producing the following errors:
==13663==
==13663== Token '2021-07-13T02:00:00+0

[2021-07-16 13:38] Jirubizu opened #2149 "Issue with %h specifier with custom log"
I have the following log
`[16/Jul/2021:06:58:18 +0000] - 200 200 - GET https api.jirubizu.cc "/docs" [Client 141.101.99.151] [Length 504] [Gzip 1.98] [Sent-to 192.168.1.153] "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:90.0) Gecko/20100101 Firefox/90.0" "-"
`
And this is my log format
`log_format [%d:%t %^] - %s %^ - %m  %v "%U" [Client %h] [Length %b] [Gzip %^] "%u" "%R"
time-format %T
date-form

[2021-07-16 19:30] florenthemmi commented on #1782
So it works as expected. Thanks @allinurl!

My config was not used in my last try (my bad).
Instead the default one was used, which is not working with Nginx (need to uncomment lines 13 and 36).

I suggest to close this issue (v1.4). Looks like it is fixed in v1.5.

[2021-07-17 18:41] allinurl commented on #2148
Part of it was in the man page, under the specifiers section. I expand it to hosts as well.

[2021-07-17 18:46] allinurl commented on #2147
The formatting is done through `LC_NUMERIC`. You can try changing/setting the env variable for `LC_NUMERIC`.

    # export LC_NUMERIC="en_US.UTF-8"

or

    # LC_NUMERIC="en_US.UTF-8" bash -c 'goaccess access.log --log-format=COMBINED'

[2021-07-17 19:20] minusf commented on #2148
ok, that helps.  but i am still confused becasue `%h != ~h`, one is `host`, the other is `x-forwarded-for`, they might be both just ip numbers but they are specifying 2 entirely different things..  i see that `%x` is already taken but maybe `~X` would be a less confusing specifier for it?

[2021-07-17 19:24] minusf commented on #2147
hm. i don't have `LC_NUMERIC` set. i thought `LC_something` is not set, `LANG` takes precedence, but i might be wrong...  i give it a try, thank you.

[2021-07-18 20:12] nadermx commented on #2142
It is very helpful, yet I'm still a bit confused.  So you are saying if I use realtime, that from there I could do what?  Could you give me a example command or pseduo code, as I'm still a bit confused

[2021-07-19 21:19] allinurl commented on #2148
Good point, the reason it uses `~h` is that whatever is extracted either through `~h` or `%h`, that's what it's going to be put in the hosts panel.

[2021-07-19 22:02] minusf commented on #2148
ok, that also kind of makes sense :}  if some of this could be captured in the man page, i think that would be great! i'll close this now if it's fine with you. thank you for the help.

[2021-07-19 22:02] #2148 closed

[2021-07-21 14:12] 0bi-w6n-K3nobi commented on #2149
Hi @Jirubizu

Almost is OK here! But you did forgot to ignore `https` word.
Try this:

[2021-07-22 15:38] minusf commented on #2147
[code]

 the terminal indeed printed correct thousand separators.  however the generated html is the same in both cases:

4.506 (0.53%) | 30 (0.04%)
-- | --

[2021-07-22 17:27] minusf opened #2150 "man page working with dates section typos"
https://github.com/allinurl/goaccess/blob/master/goaccess.1#L1063-L1071

i don't know the groff syntax off the top of my head, but the escapes do not do what is intended, it is rendered as:

[code]

[2021-07-24 15:22] allinurl commented on #2150
Sorry, I guess I'm not seeing the issue you are referring to?

[2021-07-26 14:24] Bbertatum opened #2151 "Summarize different --db-path"
Hi,

We are using the software to generate the report month-by-month, with --db-path one directory for every month. Like this, it's easy to clean up and the view is clear during the month.

` cat ${dirlog}/access_${srvname}.log-${today}.gz | /usr/bin/goaccess - -a -o $DIRSTAT/$srvname/${currentmonth}.html -p $CONFIGFILE --persist --restore --db-path $DIRSTAT/$srvname/${currentmonth}/db
`
But I can

[2021-07-26 19:36] 0bi-w6n-K3nobi commented on #2151
Hi @Bbertatum.

I believe that its not possible.
Unfortunately, GoAccess can not restore db from several paths and join them.

I believe it will be necessary build a tool for that.

[2021-07-27 10:18] Bbertatum commented on #2151
Thx @0bi-w6n-K3nobi for the answer.

@allinurl could you confirm that is not possible this way ? That means that this question could be transform into a feature-request ?

[2021-07-27 12:07] KarelWintersky opened #2152 "downloadable font: download failed (font-family: "FontAwesome"...)"
Goaccess started as daemonized, like this:

[code]

At browser console:
[code]

No icons :(

[2021-07-27 12:49] 0bi-w6n-K3nobi commented on #2151
Hi @Bbertatum

I can only say from what I know about GoAccess.
But what you can confirm is @allinurl.

[2021-07-27 14:39] #2152 closed

[2021-07-27 14:39] KarelWintersky commented on #2152
Closed: used old version from stable default debian repo.

[2021-07-27 15:40] landcraft opened #2153 "Prebuilt docker image error"
I'm trying to use your prebuilt docker image, but whenever I run it, it just shows help then stops. I also noticed that the init says ```/bin/goaccess --help```

Can you help?

[2021-07-28 00:58] allinurl commented on #2153
Have you tried running it as indicated [**here**](https://github.com/allinurl/goaccess#docker)?

[2021-07-28 01:00] allinurl commented on #2152
Thanks for pointing that out. Yes, someone reported this a while back, I assume the debian repo hasn't upgraded the build.

Please feel free to use the [**official deb repo**](https://github.com/allinurl/goaccess#official-goaccess-debian--ubuntu-repository) to keep up with the latest changes.

[2021-07-28 01:03] allinurl commented on #2151
@0bi-w6n-K3nobi is correct, there's no way right now to merge the data into one report from multiple db files. It may be worth doing this through an external app that works through the files while creating a new set with the updated numbers. We will have to think a bit more about this though. Thoughs?

[2021-07-28 01:09] allinurl commented on #2149
This should do it:

    goaccess log --log-format='[%d:%t %^] - %s %^ - %m %^ %v "%U" [Client %h] [Length %b] %^"%u" "%R"' --date-format=%d/%b/%Y --time-format=%T

[2021-07-28 01:14] allinurl commented on #2142
Sorry for the late post. I'd run it once as:

    # zcat access.log.*.gz | goaccess --ignore-crawlers access.log.1 - -o report.html --log-format=COMBINED --persist

and then just keep adding data to the db as:

    # goaccess --ignore-crawlers access.log -o report.html --log-format=COMBINED --persist --restore

Every time the log rotates, access.log would be the newest and you would just keep addi

[2021-07-28 01:15] allinurl commented on #2142
Also, before you try that, I'd make sure to the delete current runs that you mave persisted, e.g.,

    # rm -rf /tmp/*.db

[2021-07-28 01:16] allinurl commented on #1782
@florenthemmi Glad that worked. Feel free to reopen it if needed.

[2021-07-28 01:16] #1782 closed

[2021-07-28 01:31] allinurl commented on #2144
Sorry for late reply. This should do it:

    goaccess access.log --log-format='{ "timestamp": "%x", "httpRequest": { "clientIp": "%h", "headers": [{"name": "Host", "value": "%v"}, {"name":"User-Agent", "value": "%u"}], "uri": "%U", "args": "%q", "httpVersion": "%H", "httpMethod": "%m" } }' --date-format=%* --time-format=%*

[2021-07-28 01:34] allinurl commented on #2144
Actually you can use `%e` for the action, e.g., BLOCKED, ALLOWED, etc

    goaccess access.log --log-format='{ "timestamp": "%x", "action": "%e", "httpRequest": { "clientIp": "%h", "headers": [{"name": "Host", "value": "%v"}, {"name":"User-Agent", "value": "%u"}], "uri": "%U", "args": "%q", "httpVersion": "%H", "httpMethod": "%m" } }' --date-format=%* --time-format=%*

[2021-07-28 01:35] allinurl commented on #1635
@dmk2861995 please post a few lines from your access.log. Thanks

[2021-07-28 03:17] DeanKamali opened #2154 "Issue with %h"
Hey everyone,

I'm having an issue figuring out the correct log format for my tomcat access log, here is a sample

[code]

I get an error :  `Token '10.0.1.17:8081' doesn't match specifier '%h'  ` when I try `Common Log Format (CLF)`

Your help is highly appreciated

[2021-07-28 03:21] allinurl commented on #2154
This should work:

     # goaccess access.log --log-format='%h:%^ %^[%d:%t %^] %m %U %H %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T

If you can describe the last few fields, there may be a chance to add them to the report.

[2021-07-28 08:24] landcraft commented on #2153
I've used another image, and that one works, so I guess I can close this.

[2021-07-28 08:24] #2153 closed

[2021-07-28 10:29] DeanKamali commented on #2154
Thanks for getting back to me, that worked given the example above, using bigger data set, started seeing `%h` again

[code]
really appreciate your input

[2021-07-28 11:10] mandys commented on #2144
Thank you for getting back.
I tried

/usr/local/bin/goaccess aws-waf-log.txt goaccess access.log --log-format='{ "timestamp": "%x", "action": "%e", "httpRequest": { "clientIp": "%h", "headers": [{"name": "Host", "value": "%v"}, {"name":"User-Agent", "value": "%u"}], "uri": "%U", "args": "%q", "httpVersion": "%H", "httpMethod": "%m" } }' --date-format=%* --time-format=%*
Parsed 1 lines producing th

[2021-07-28 13:16] allinurl commented on #2144
Are you running v1.5.1 (latest)? Here's what I get for that last line you posted:

![2021-07-28-081632_676x317_scrot](https://user-images.githubusercontent.com/5005367/127328728-deacd94e-208a-4b80-8d41-ddc576cb9c61.png)

[2021-07-28 13:20] allinurl commented on #2154
This works partially, however, you would need to enclose the user-agent within quotes as there's no delimiter in there. I'd also do it for the request part.

    goaccess access.log --log-format='%h %^[%d:%t %^] %m %^ %H %^ %U %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T

[2021-07-28 13:21] allinurl commented on #2154
* enclosing within quotes meaning, you will need to change the format in your web server config file so that it starts to log with quotes.

[2021-07-28 14:30] mandys commented on #2144
Just updated to 1.5.1 ( I was on 1.4 ).
Code provided by you is working great!

I am able to see the block vs allow percentages which is helpful.

But, if I want to dig down a bit into which requests were blocked, would that be possible in any release ?

Currently, I don't see any waf parser and then only way is to use amazon athena, kinesis, kibana dashboard etc and launch a complex setup.

goacc

[2021-07-28 22:37] allinurl commented on #2144
I'm working on **#117** as we speak, so you should be able to simply filter/search by whatever request you are interested to see and should display the relevant stats. So this is coming for sure! Also, on there is **#1202** which would add much more flexibility to custom fields and panels. That would be the second biggest feature goaccess is getting.

My question to you, are there specific fields

[2021-07-28 23:00] Lennart01 opened #2155 "Having a hard time with persistent storage"
Hey,
I'm running into some issues with persistent storage and live monitoring.
I want to constantly transfer data from my log file to the persistent storage location but also keep already saved logs.
But somehow every time I launch goaccess with
`--real-time-html --persist --restore`
it doesn't constantly save to my storage location.
It isn't quite clear to me whether it saves periodically or not

[2021-07-28 23:10] allinurl commented on #2155
I'd run it once as:

    # zcat access.log.*.gz | goaccess access.log.1 - -o report.html --log-format=COMBINED --persist

and then just keep adding data to the db as:

    # goaccess access.log -o report.html --log-format=COMBINED --persist --restore

Every time the log rotates, access.log would be the newest and you would just keep adding the new data on top it.

Also, before you try that, I'd ma

[2021-07-28 23:15] Lennart01 commented on #2155
yeah about that.
my initial question would be whether if I run it with --real-time-html and ---persist will it save only once on execution or also down the line?
and thanks if this doesn't work I will definitely try that.

[2021-07-28 23:26] Lennart01 commented on #2155
If `--real-time-html --persist` doesnt autosave I would just run it once with `--realtime-html` and implement a log rotate hook as described in the guide by Arnaud Rebillout.

[2021-07-28 23:51] allinurl commented on #2155
You should be fine, `--real-time-html` doesn't affect anything since a complete parse is done, the only difference is that when using real-time, the response to the browser is much lighter than a full blown report. The data is persisted upon exiting/closing goaccess. e.g., SIGINT - `Ctrl+C`

[2021-07-28 23:53] Lennart01 commented on #2155
so If I run it with `--real-time-html` from now on it will autosave on termination.
Thank you very much that saved me a lot of hastle.

[2021-07-29 00:54] allinurl commented on #2155
Happy to help :)

Closing this, feel free to reopen it if needed.

[2021-07-29 00:54] #2155 closed

[2021-07-29 07:55] realtebo opened #2156 "How to install on a old Ubuntu 14.04?"
I have this old server I wish to monitor because is giving us strange behaviours

NAME="Ubuntu"
VERSION="14.04.6 LTS, Trusty Tahr"

There is no repo for goaccess for this specific distro.

Could you help me to find a way?

I tried to force 'buster' but it's too new and on ubuntu 14,04 I cannot install because of library incompatibilities

[2021-07-29 13:55] allinurl commented on #2156
You can try to build as:

[code]

Let me know how it goes.

[2021-07-30 16:31] whatthehellisgoingon opened #2157 "For Security,I want goaccess address bind in localhost(127.0.0.1),not bind in 0.0.0.0."
hi, @allinurl . I have been view those issues #1297 #1133 #1328 ,all of those goaccess address bind in 0.0.0.0,not bind in 127.0.0.1.how to make websocks connection works in nginx reverse proxy when goaccess address is binding in localhost(127.0.0.1)?
wait for your response.

[2021-07-31 18:41] Lennart01 opened #2158 "Huge Spike in unkown user agents"
For a couple of days, I can see a huge spike in unknown user agents.
I have done some tests and android and windows devices seem still to be logged correctly.
I can't verify apple devices but I assume they aren't logged correctly anymore. Idk how I reached a spike of 17% of Unknown user agents.

[2021-07-31 18:48] whatthehellisgoingon commented on #2157
when websocks connection in nginx https reverse proxy,please dont't set --ssl-cert=<path/cert.crt> and --ssl-key=<path/priv.key> in goaccess.conf or command line argument。otherwise it will show connection failed in chrome browser！！！
following is nginx https reverse proxy conf
[code]
following is goaccess conf and command line argument
[code]

[code]

[2021-07-31 18:48] whatthehellisgoingon commented on #2157
i have solved by myself，thanks。

[2021-07-31 18:48] #2157 closed

[2021-07-31 20:45] Lennart01 commented on #2158
I found the bad apple I think.
`[IP] - - [31/Jul/2021:22:24:14 +0200] "-" 408 319 "-" "-"`
`[IP] - - [31/Jul/2021:22:24:10 +0200] "-" 408 319 "-" "-"`

[2021-08-01 11:28] snowweb commented on #2090
@allinurl Sorry for the delay. I think this is what you're looking for https://wiki.debian.org/Multiarch/HOWTO

[2021-08-01 18:02] Lennart01 commented on #2158
I have identified the issue.
Goaccess logs 408s as Unknown users.
Would be nice if that could be avoided.

[2021-08-01 21:47] allinurl commented on #2158
Are you looking to ignore completely 408s? It shouldn't be counting those as unique visitors unless you are using `--4xx-to-unique-count`. Also, you can get a better sense of unknown agents using `--unknowns-log=<filename>`.

[2021-08-01 21:48] allinurl commented on #2157
Just for the record on this, you can always use `--addr=<addr>` and specify the IP address to bind server to.

[2021-08-01 21:54] Lennart01 commented on #2158
That would be nice bec until now I was constantly waiting for one to pop up and then grabbed the apache log.
It appears that it is counting them towards visitors but I will add the 2nd part u provided and check what it is returning.
Also let me quickly check my config file to make sure I don't have that option enabled by accident.

[2021-08-01 23:02] Lennart01 commented on #2158
LOG of unknowns:
`[OS]   -
[BR]   -
[OS]   -
[BR]   -
[OS]   -
[BR]   -
[OS]   -
[BR]   -
[OS]   Mozilla/5.0 (compatible; UptimeRobot/2.0; http://www.uptimerobot.com/)
[OS]   -
[BR]   -
[OS]   Mozilla/5.0 (compatible; UptimeRobot/2.0; http://www.uptimerobot.com/)
[OS]   -
[BR]   -
[OS]   -
[BR]   -
[OS]   -
[BR]   -
[OS]   -
[BR]   -
[OS]   Mozilla/5.0 (compatible; UptimeRobot/2.0; http://www.upti

[2021-08-02 12:25] dertuxmalwieder commented on #2156
You can change the default GeoIP implementation from `mmdb` to (e.g.) `legacy` when `configure`'ing.

[2021-08-02 14:11] allinurl commented on #2158
A workaround would be to apply a filter prior to parsing the data. e.g.,

    awk '$9!~/408/' access.log | goaccess -

#117 will address this in a much nicer way, I'm working on this as we speak.

If `--4xx-to-unique-count` is not enabled, then it shouldn't be counting them as unique.

[2021-08-02 14:40] Lennart01 commented on #2158
Nice
What kinda bothered me was the fact that they show up in the statistics with a user count.
But as long as they aren't counted to the total that shouldn't be to big of an issue.

[2021-08-02 14:52] allinurl commented on #2158
Yep, it shouldn't, however please note that it will count the hits/requests, just not the visitors.

Closing this as I expect #117 will help with this in more detail. Feel free to reopen it if needed.

[2021-08-02 14:52] #2158 closed

[2021-08-04 16:27] bilalinamdar opened #2159 "Nextcloud audit.log & nextcloud.log"
Hi,

I am trying hard to get the custom log working but it always says time issue.
Please chekout the same log of audit.log ... later i will upload nextcloud.log (have to sanitise code so sensitive data).
NEXTCLOUD 21 enabled audit feature.

[code]

[2021-08-05 08:34] bilalinamdar commented on #2159
Till now i have tried this
goaccess audit.log --log-format='{"reqId":"%^","level":"%^","time":"%dT%t","remoteAddr":"%h","user":"%e","app":"%^","method":"%m","url":"%U","message":"%^","userAgent":"%u"}'  --date-format=%F --time-format=%T%Z
It sort of works but i need message":"*"  to understand what activity is been conducted
Don't know if that will work as i do not want Nginx, apache like output i

[2021-08-05 10:44] olonsoft commented on #2153
I have the same problem here.
I am using Caddy server.
The docker-compose runs but shows only the (commands) help.
`docker-compose.yml` in folder: `goaccess` :

[code]

in `data/goaccess.conf` :

[code]

create the file

`sudo touch ~/www/goaccess/index.html`

then start the container but only the help is shown.

If I run
 `cat~/docker/caddy/log/access.log | docker run --rm -i -e LANG=$LANG allinu

[2021-08-05 11:37] landcraft commented on #2153
Get the other image I mentioned in my other comment

[2021-08-05 11:48] olonsoft commented on #2153
@landcraft  I am sorry but I can not find any mention of an image.

[2021-08-05 12:09] landcraft commented on #2153
https://github.com/GregYankovoy/docker-goaccess

[2021-08-05 12:13] olonsoft commented on #2153
@landcraft Thank you but this is an old image. It still has version 1.4 of goaccess.

@allinurl Can you please take a look at my issue? Thank you.

[2021-08-05 12:15] landcraft commented on #2153
You might consider opening another issue, as yours sounds quite different to mine...

[2021-08-05 12:18] olonsoft commented on #2153
@landcraft I have the same problem with you. When I run the docker image, it shows the help and exits.

[2021-08-05 13:12] allinurl commented on #2159
Give this a shot, it should work:

    # goaccess access.log --log-format='{"time": "%dT%t+%^", "remoteAddr": "%h", "user": "%e", "method": "%m", "url": "%U", "message": "%v", "userAgent": "%u"}' --date-format=%Y-%m-%d --time-format=%T --http-protocol=no

[2021-08-05 15:42] minusf commented on #2150
sorry, forgot to mention the platforms.  macos and openbsd both have this issue and i think those are not using `groff`

[2021-08-06 03:28] KrillinsWorld commented on #1803
I do not mean to bump this as it has been over a year but, I too am having this same issue with --real-time-html I built the page this morning at 10:38 AM and it is STILL stuck at the same time, same old data. This is not the results we were expecting. This is built on Debian 10. Process requires to be run with su in terminal. This is how we gather all access logs for all the virtual hosted subdom

[2021-08-06 18:05] bilalinamdar commented on #2159
Hey thx didn't expected quick response.. yes it is working gr8! thx

[2021-08-06 18:05] #2159 closed

[2021-08-06 23:37] allinurl commented on #1803
@KrillinsWorld Please note that zcat won't keep reading/tailing data. You could probably run this as:

I'd run it as (just update the paths as needed):

    # zcat access.log.*.gz | goaccess access.log.1 access.log - -o report.html --log-format='%h %^[%d:%t %^] "%r" %s %b "%R" "%u" %T %^' --date-format=%d/%b/%Y --time-format=%T --real-time-html

[2021-08-07 02:34] KrillinsWorld commented on #1803
I will check that out. Numbers are not changing but the time is updating by the millisecond. I have other logs I need them parsed and entering them one by one open and closed with no errors to figure out why. I have a good handful of subdomain sites I run here, that is why the *access.log and *access.log*. Seemed to work with the CLI version of goaccess. I will give this a try tomorrow and see if

[2021-08-07 15:36] kripper opened #2160 "Plot TS vs time"
Nice work.

One important metric developers need to measure their web app/site performance is TS (time served) vs time.
You usually want to see when there are performance issues causing the requests to take more time to be served (for example, because the DB server is taking more time to execute the queries or some script is processing too much data).

Maybe the "TIME DISTRIBUTION" panel usged tog

[2021-08-08 23:02] intern3ts opened #2162 "Does the HTML dashboard support multiple sites?"
I have multiple sites on a server and I want goaccess to display all the data from the logs in a single HTML webpage, is this possible with goaccess? I know it can generate a dashboard but couldn't find any info on doing it with more than a site, and I need the graphs and stuff to be separated so each site has their own data.

[2021-08-09 18:37] 0bi-w6n-K3nobi commented on #2162
Hi @intern3ts

Well... I'm a little bit confused here.
What are you really wanting?

I propose the following approach:
* separate graphics for each site -- so you'll need an html page for each one;
* global statistics with all sites -- so you will need to process all `LOG`s together;

For this second case, the trick is to add the domain to the `URL`. I.E. changing:
`... "GET /url" ...` by
`... "GE

[2021-08-09 18:48] 0bi-w6n-K3nobi commented on #2160
Hi @kripper

Do you  took a look into real-time site at [live demo](https://rt.goaccess.io)?
Observe the columns `Avg. T.S.`, `Cum. T.S.` and `Max. T.S.`. Is it values enough for you? Or not.

For Zoom... Yeah, It would be necessary to do some development for such a filter.

[2021-08-09 20:11] kripper commented on #2160
Yes, you can select the columns you want to display and if you click on the column, the data is sorted ascending or descending and the plot shows the hours/minutes with higher values first, but you cannot see the data vs time.

What we need is very simple: plot TS vs time, ie. plot oldest values left and latests values on the right.

[2021-08-09 23:48] 0bi-w6n-K3nobi commented on #2160
I see.... I believe that understood what you want.
But... Which Panel is this coherent?

For example....
At `Requested Files` or `Static Requests` Panel, do you need remove `Hits` and `Visitors` columns, because it will not be more important in this context.
And add `Time` column -- maybe with value between 1 and 10 minutes [`DT`].
Ok... until here.

Well... each request not more will be agrouped,

[2021-08-14 01:33] finnito opened #2163 "PRI * Requests"
Kia ora, first-up: thanks for the awesome software!

I'm running a `lighttpd/1.4.59 (ssl)` webserver on `Ubuntu 21.04` with `GoAccess - 1.4` and have everything working quite well. The only small thing I've noticed is that I get a bunch of `PRI`requests like this and they are cluttering up my stats:

[code]

<img width="805" alt="goaccess-pri" src="https://user-images.githubusercontent.com/6530078

[2021-08-15 17:18] zidingz opened #2164 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-08-15 18:55] allinurl commented on #2164
Thanks so much for reporting this. I went ahead and added the [SECURITY.md](https://github.com/allinurl/goaccess/blob/master/SECURITY.md) policy. Please take a look at it and let me know if you have any questions.

[2021-08-15 21:59] allinurl commented on #2163
Could you please post a few more lines from your access log? it looks like you are using a different format as I don't see the requested time but I do see the data in the report.

[2021-08-15 22:01] finnito commented on #2163
Hi, thanks for helping out! Here's a paste from just now:

[code]

[2021-08-15 22:08] allinurl commented on #2163
I'd run it as:

    grep -v 'PRI * ' access.log | goaccess - --log-format='%h %v %^[%d:%t %^] "%r" %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T

or real-time as

    tail -F access.log | grep -v --line-buffered 'PRI * ' |  goaccess - --log-format='%h %v %^[%d:%t %^] "%r" %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T

[2021-08-15 22:32] finnito commented on #2163
Sweet, got it. I'm running it as an every 30mins cronjob so got this:

[code]

Appreciate the help! Is there some way I can purge those requests from my persisted DB files?

[2021-08-15 22:34] allinurl commented on #2163
You will need to run it again.

Also, don't forget to pass `-` to goaccess so it knows to read from the pipe.

#117 should make things easier. Working on it as we speak :) Stay tuned!

[2021-08-15 22:34] #2163 closed

[2021-08-16 10:21] morganzero opened #2165 "Error occurred at: src/settings.c - get_config_file_path - 137"
Hi there,
I'm new to **goaccess**, I have been reading up on how others have set this up, and I think I got most parts right. Below is the error I'm getting when setting up the docker container, followed by my config and docker-compose.

I'm sure I'm missing something on my end. I would highly appreciate some pinpointers to get me on the right path of fixing this.

Cheers!

**The Error**
[code]
**

[2021-08-18 10:05] 0bi-w6n-K3nobi commented on #2165
Hi @morganzero

Yeap! You specified the value on the line `"--config-file=/logs/goaccess.conf"`.
Remove it ... or create a volume for map that, similar to  what you did with `access.log`.

Note:

[2021-08-18 10:08] morganzero commented on #2165
Oh, thanks a lot mate! I'll try that :)

[2021-08-18 12:46] morganzero commented on #2165
Well, this is embarrassing. I'm getting `==1== Format Errors - Verify your log/date/time format`. It seems like I have the formats all wrong, even though I followed this recommendation: https://github.com/allinurl/goaccess/issues/1660#issuecomment-579795167

Any ideas on this one mate? @0bi-w6n-K3nobi

[2021-08-18 22:52] minusf opened #2166 "crashed by Sig 11"
on macos 11.5.2

[code]

this is line 70669:
[code]

[2021-08-18 22:57] minusf commented on #2166
this logfile also produces quite a lot of "invalid requests", but these seem to be just long GET requests. Is there a length limit on these?

[2021-08-18 23:01] minusf commented on #2166
I removed that log line and the crash still happens, reporting the same line number again.  I removed all remaining lines and left the last one, and the crash is the same.  Seems like the crash happens because of the content so far in the file...

[2021-08-19 02:14] allinurl commented on #2166
Thanks for reporting this. Could you please post the exact goaccess command you are running and the options/config file you are using against this log file.

Also, is that the full output that you got when it crashed? Usually it dumps the stack trace.

[2021-08-19 02:15] allinurl commented on #2164
It looks like this was an issue on the goaccess website and not in the project. However, I do appreciate you taking the time to report any issues.

Feel free to reopen it or report any other issues as needed. Thanks!

[2021-08-19 02:15] #2164 closed

[2021-08-19 02:16] allinurl commented on #2165
@morganzero Can you please post a few lines from your access.log? Thanks!

[2021-08-19 08:08] NicoCaldo opened #2167 "Error Config file: No config file used"
I'm unable to set my config file for GoAccess permanently.

If I run `goaccess access.log -c` and chose the first option everything goes smoothly and I can access the log. If I want to create a real-time webpage, I got the error on the title.

My GoAccess conf file is in _/etc/goaccess/goaccess.conf_ and my log is in _/var/log/apache2/access.log_

Ho can I create the dynamic page in my public HTML

[2021-08-19 08:14] minusf commented on #2166
there was no stack trace...

[code]

i'd be happy to share the config file and log file itself in private.

[2021-08-19 08:27] minusf commented on #2166
regarding the stack trace btw this is apple M1, so maybe that's a factor.

the log format is `COMBINED` and the log file was generated by a fairly old apache.  i have some ip numbers in the config file that's why i'd prefer not to put it here, no other reason.

[2021-08-19 13:23] allinurl commented on #2166
I see, sounds like it could be an M1 issue. Before you send me the log, are you able to run it through gdb and see where the issue might be? e.g.,

[code]
Thanks

[2021-08-19 13:32] minusf commented on #2166
i have used goaccess on the m1 before and generate html report routinely.  first time this happened.  i'll get you the `bt` tonight.

[2021-08-19 13:53] zidingz commented on #2164
Thanks for taking the time to review!

[2021-08-19 23:47] taftatata commented on #2004
[cara menentukan stop loss dan take profit saham](https://www.google.dk/url?q=https://bit.ly/3ggx1pv)

[2021-08-19 23:48] taftatata commented on #2004
<a href="https://www.google.com/url?q=https://bit.ly/3ggx1pv">stop loss adalah</a>
<a href="https://plus.google.com/url?q=https://bit.ly/3ggx1pv">trading profit adalah</a>
<a href="https://maps.google.com/url?q=https://bit.ly/3ggx1pv">take profit saham</a>
<a href="https://images.google.co.jp/url?q=https://bit.ly/3ggx1pv">take profit artinya</a>
<a href="https://maps.google.co.jp/url?q=https://bit

[2021-08-20 08:13] minusf commented on #2166
this was a valuable learning experience :}

1. this is easier on macos and also honors the rest of the flags brew uses to build goaccess:
[code]

2. i could not manage to generate a core file, not sure why, did all the suggested things.

3. gdb is a bit problematic on M1 atm, so i tried `lldb`:

[code]

However I have been looking only in the system wide `/Library/Logs/DiagnosticReports`, not my l

[2021-08-21 20:44] xXEusXx opened #2168 "Problem with Goaccess and uncorrect number of visitors"
Hi, I am new to goaccess and I have found a problem with my nginx log files. Goaccess extracts all the data correctly but sometimes, like in Not Found URLs (404s) table, it ends up having a 0 in visitors field whereas the number of hits is different from 0 for a given URL. On the other hand if I extract that given url directly from the file without using Goaccess (using grep...) I have the same nu

[2021-08-23 02:06] samcro1967 commented on #2153
@allinurl @landcraft @olonsoft I also see the same issue.  Seems the current container is not working.

[2021-08-23 12:51] samcro1967 opened #2169 "No input data was provided nor there's data to restore"
Trying to setup a conf file.   I can run it from the cli with no issue with all options specified, but the same options in the conf file return "No time format was found on your conf file".  Not sure what I am doing wrong.
[code]
It is not working with goaccess.conf.
[code]

**goaccess.conf**
[code]

**docker-compose**
[code]

[2021-08-23 13:09] allinurl commented on #2168
Thanks for posting. It could be a log format issue. Are you able to replicate this with a smaller dataset and share those access lines here? Or feel free to email me the sample logs I can replicate the issue. Thanks!

[2021-08-23 15:19] xXEusXx commented on #2168
Yes I'm going to share a few access lines with you:

209.141.41.98 - - [20/Aug/2021:04:06:03 +0200] "POST /boaform/admin/formLogin HTTP/1.1" 501 4 "http://130.192.167.247:8080/admin/login.asp" "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:71.0) Gecko/20100101 Firefox/71.0"
175.111.131.50 - - [20/Aug/2021:04:52:23 +0200] "GET / HTTP/1.1" 501 4 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) Appl

[2021-08-23 23:33] allinurl commented on #2153
@samcro1967 Have you tried running it as indicated [**here**](https://github.com/allinurl/goaccess#docker)?

[2021-08-23 23:40] allinurl commented on #2168
I get the same numbers for `boaform/admin/formLogin`. Are you getting different numbers? As far as 0 visitors for 4xxs, please use `--4xx-to-unique-count` if needed.

![2021-08-23-183949_661x784_scrot](https://user-images.githubusercontent.com/5005367/130533007-33012303-acc0-4b57-b2d5-1576b020c6c6.png)

vs

![2021-08-23-183957_660x762_scrot](https://user-images.githubusercontent.com/5005367/130533

[2021-08-24 00:16] samcro1967 commented on #2153
@allinurl  Apologies.  I should have been more clear, running as described in the readme works fine.  Running it with a goacces.conf instead is not working as I would expect.

[2021-08-24 00:37] allinurl commented on #2153
@samcro1967 sorry about that. you will need use volumes to inject the files. e.g.,

    $ echo 'log-format VCOMBINED' > /home/user/goaccess.conf
    $ sudo mkdir /srv
    $ sudo cat access.log | docker run -v /home/user/goaccess.conf:/srv/goaccess.conf --rm -i -e LANG=$LANG allinurl/goaccess -a -o html -p /srv/goaccess.conf - > report.html

[2021-08-24 01:45] allinurl commented on #2167
Please try setting your config file under `~/.goaccessrc` and setting your options in there (no equal sign within the config file).

Then you should be able to run it as:

    # goaccess /var/log/apache2/access.log -o /var/www/html/report.html

or

    # goaccess /var/log/apache2/access.log -p ~/.goaccessrc -o /var/www/html/report.html

[2021-08-24 11:24] xXEusXx commented on #2168
Ok I have the same numbers. I have also solved the issue of 0 visitor using `--4xx-to-unique-count`. Thank you!

[2021-08-24 11:56] samcro1967 commented on #2153
That seems to work.  If I am understanding the intent of the container then, it is not to have is so that it can auto start, demonize, and continuously run.   Just use something like cron to automate when using the container?

[2021-08-24 13:30] allinurl commented on #2153
I've seen/heard folks using it both ways, and actually I'd say most of the time it's been daemonized and run in real-time. [**Here**](https://github.com/allinurl/goaccess/issues/1404) you can find a bit more regarding the original intent.

[2021-08-24 13:35] allinurl commented on #2169
Just posting this as an FYI for other users since it appears to be working for you (based on your other post), you will need use volumes to inject the files. e.g.,

    $ echo 'log-format VCOMBINED' > /home/user/goaccess.conf
    $ sudo mkdir /srv
    $ sudo cat access.log | docker run -v /home/user/goaccess.conf:/srv/goaccess.conf --rm -i -e LANG=$LANG allinurl/goaccess -a -o html -p /srv/goacces

[2021-08-24 13:37] allinurl commented on #2168
Glad that's working.

Closing this, feel free to reopen it if needed.

[2021-08-24 13:37] #2168 closed

[2021-08-24 14:54] samcro1967 commented on #2153
I didn't have much luck trying to get it working daemonized in the container, but it works fine with cron.  Will circle back to this maybe this weekend.  Would ultimately like it working in the container just if nothing else for easier migration/recovery to another machine in the future.

[2021-08-25 07:37] NicoCaldo commented on #2167
It seems that this command worked

`goaccess /var/log/apache2/access.log -p /etc/goaccess/goaccess.conf -o /var/www/html/report.html --real-time-html`

[2021-08-25 07:37] #2167 closed

[2021-08-25 14:18] jkroepke commented on #1656
Looks like its not compatible with IPv6

[code]

goaccess
[code]

[2021-08-26 14:30] jamieburchell opened #2170 "Documentation misleading for config file location"
According to the FAQ:

And the man page:

However, I'm seeing this being installed and used from `/etc/goaccess/goaccess.conf` when installing 1.4.6 from epel.

[2021-08-27 13:12] #2170 closed, assigned to nobody

[2021-08-28 15:52] samcro1967 commented on #2169
I am able to get it to work on demand with docker run.  I have not been able to get it to work with docker-compose.  I think it is because the entry point is only goaccess and that is not enough for docker to auto start it on a host at reboot even with the goaccess.conf and access.log mounted to the container.  Also not sure how I would tell it to run every 15 mins. to read the access log and upda

[2021-08-28 15:52] #2169 closed

[2021-08-30 13:30] minusf commented on #2166
sent you the config file.

[2021-08-31 00:14] allinurl commented on #2166
Awesome. Thanks for sharing that. I've pushed a fix that should address this. Please feel free to build from [development](https://github.com/allinurl/goaccess#build-from-github-development) and let me know how it goes on your end. I plan to deploy a new release after this fix.

By the way, you can build using `--with-getline` so it can allocate lines longer than 4096 chars.

[2021-08-31 11:25] publicarray opened #2171 "Bunny.net log-format"
[code]

https://support.bunny.net/hc/en-us/articles/115001917451-BunnyCDN-raw-log-format-explained

[2021-08-31 14:07] minusf commented on #2166
recompiling with `--with-getline` also "fixed" the issue, and invalid requests went to 0.

[2021-08-31 15:55] timdonovanuk commented on #2082
Did nginx proxy manager change the format? This no longer works.

[code]

etc.

Over the log:

`[31/Aug/2021:14:27:46 +0000] - 304 304 - GET https my.domain.com "/public/css/vdi.css" [Client 111.111.111.11] [Length 0] [Gzip -] [Sent-to docker.home] "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36" "https://my.domain.com:8080/?logi

[2021-09-01 01:44] allinurl commented on #2082
@timdonovanuk what format are you using?

[2021-09-01 01:45] allinurl commented on #2171
Thanks for posting this. Are you sharing this format or do you have a question about the proper format?

[2021-09-01 01:49] publicarray commented on #2171
Just sharing in case someone else finds it useful :smile:
I'm a bit liberal in terms of what the format should be since this is a CDN e.g.  here I use `%v` to get the datacenter region.

[2021-09-01 08:27] tevkar commented on #1505
CowAxess is now updated with GoAccess 1.5.1

[2021-09-01 12:28] allinurl commented on #2139
Sorry for the delay on this and thanks for reporting this. This has been fixed and will be pushed out in the upcoming release to be out soon. You can always test it out by building from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) and let me know how it goes on your end.

Closing this. Feel free to reopen it if needed.

[2021-09-01 12:28] #2139 closed

[2021-09-01 22:07] Forza-tng opened #2172 "TLS parsing not working with mod_gnutls"
Hi!

I noticed that TLS parsing doesn't work with my Apache server. I'm using mod_gnutls and it outputs this in access.log

[code]
Log-format is
[code]

Looking at #1967 I think there is a missing 'v' in TLS1. 3 and the cipher suites uses '_' instead of '-'.

[2021-09-02 07:00] candywind opened #2173 "nginx log format question"
Hi, I got some problems when analysis nginx log with v1.15.1,  data with response time and tx amount can't displayed in detail info as below.

![20210902145239](https://user-images.githubusercontent.com/5849061/131797489-c00232b4-5dd4-4df8-9aa1-b32502200254.png)

 but the same conf file displayed well when output result into a file.  pls tell me what can I do to make data well displayed in each pa

[2021-09-02 13:20] IskeFCRS opened #2174 "Failed Requests counter not working"
Hi,

I have recently started using GoAccess. Everything is working great, except for one thing.

Failed Requests counter always shows 0, but in status codes, I can see that there are many failed requests by status code.

![Screenshot 2021-09-02 at 08 15 15](https://user-images.githubusercontent.com/9365780/131850729-ca2d333e-6c1d-4d12-93ee-f0509f222a20.png)

![Screenshot 2021-09-02 at 08 15 33](ht

[2021-09-02 13:57] jorgerampinini opened #2175 "Need help to rotate logs"
Hi,
This is no related strictly to goaccess functionality, but to how to use it in a particular scenario.
I am getting some gziped log files within a year/month/day folder structure. Inside each day folder, there are several gz files for every 5 minutes interval.
I wrote a script that goes into current date folder, and gunzip all files appending them to a day-named log file in another folder, and

[2021-09-02 16:24] 0bi-w6n-K3nobi commented on #2175
Hi @jorgerampinini

For real-time I can give you several tricks and hits.

For begin, maybe do you need wait a little bit more to `KILL`  command stop `GoAccess`.
The `GoAccess` need dealloc memory and close ports until finish. In real-time condition time for finish can be litte bigger.
Alternatily, You can use `kill -INT` for simulate Control-C.
Make some test youself for check time for that.

We

[2021-09-02 20:16] jorgerampinini commented on #2175
Hi @0bi-w6n-K3nobi
Thank you for all your tricks, I will give them a try, and tell you how it was.
 Regarding the fourth one, use of SSHFS or NFS, the remote logs are stored in an S3 bucket, so I am using s3fs.
Thanks again, and may the Force be with you! :)

[2021-09-02 21:19] Productivix opened #2176 "remove Requested Files (URLs)"
hi,
I find this tool very good for Nginx log files.
I tried it with a spip (Crm) website . There is a lot of non relevant files starting with:
/spip.php?*
/local*
/plugins/*
/prive/*
I did not understand nor found in the config file where to do not count them, nor display.
thank you  !

[2021-09-03 11:12] Forza-tng opened #2177 "Feature Request: Chart for HTTP versions"
I'd like to have a new bar chart and diagram showing the count of requests per HTTP version.

It should look like this following but with HTTP/1.0, HTTP/1.1 HTTP/1.2, HTTP/2 and HTTP/3
![image](https://user-images.githubusercontent.com/68693597/131996288-0244f1cc-b42e-4512-af5b-ce0554da6e33.png)
![image](https://user-images.githubusercontent.com/68693597/131996385-4d33fad8-f323-42ad-8884-f5798de26

[2021-09-03 11:17] Forza-tng commented on #2162
Hi! I was just going to ask the same thing. GoAccess obvoisly supports multiple vhosts and sometimes I'd like to filter the whole HTML page based on a specific vhost.

My idea is to add a button to filer selected vhosts. This button can be placed on the same line as "Dashboard" and "Last updated by.." or inside the black menu on the left hand side.

[2021-09-03 11:59] samcro1967 opened #2178 "Multiple Files - crashed by Sig 11"
Having a problem trying to parse multiple log files.

**Command used to run goaccess**
[code]

**Error message**
[code]

[2021-09-03 15:03] Forza-tng commented on #2172
I checked the source and it is indeed a simple string check for TLSv1. 1 etc.

[2021-09-03 17:42] 0bi-w6n-K3nobi commented on #2176
Hi @Productivix

Maybe you can try some similar to `EXAMPLES` at `FILES, STATUS CODES & BOTS` section on manual [here](EXAMPLES).

[2021-09-03 17:52] 0bi-w6n-K3nobi commented on #2177
Hi @Forza-tng

I think is not very pleasant/preferable....
But maybe you can try some similar to `EXAMPLES` at `FILES, STATUS CODES & BOTS` section on manual [here](https://goaccess.io/man#examples).
And generate one separate `HTML` Report for each `HTTP` version.

[2021-09-03 18:43] allinurl commented on #2178
Thanks for reporting this. Do you know if this was running fine before? I ask cause I recently pushed some changes so I wonder if it was working fine for you a few days ago?

[2021-09-03 18:58] samcro1967 commented on #2178
Today was the first time I noticed the issue and the first time I tried passing multiple log files.

[2021-09-05 12:07] Forza-tng commented on #2177
Hi @0bi-w6n-K3nobi,
May I ask why it would not be pleasant to have an additional panel? It could be set off by default so you'd have to enable it in the config?

I think generating separate reports isn't as valuable to me.

[2021-09-06 07:41] Karamellwuerfel commented on #1158
Hello, sadly I cant connect to the jessie version of deb.goaccess.io

my sources.list/goaccess.list file looks like this
`deb [signed-by=/usr/share/keyrings/goaccess.gpg] https://deb.goaccess.io/ jessie main`

The error I got is the following:
`W: Failed to fetch https://deb.goaccess.io/dists/jessie/main/binary-amd64/Packages  HttpError404`

Many thanks!

[2021-09-06 12:57] allinurl commented on #1158
@Karamellwuerfel goaccess no longer offers a deba package for the jessie release, it looks like support ended on 30 June 2020. You could try changing the release name in your goaccess.list and see if that would work. Sorry about that.

[2021-09-06 12:59] Karamellwuerfel commented on #1158
Thanks anyways @allinurl. Any suggestion on what to change it?

[2021-09-06 13:20] allinurl commented on #1158
You could try using `stretch` instead of `jessie`. e.g.,

    deb [signed-by=/usr/share/keyrings/goaccess.gpg] https://deb.goaccess.io/ stretch main

Again, not sure if it would work as there may be dependencies that are not in Jessie but are in stretch. Give it a shot and let me know how it goes.

[2021-09-06 13:23] Karamellwuerfel commented on #1158
@allinurl  Thanks for your quick reply!
Well, the apt-update worked. But sadly the installation failed with:
[code]

[2021-09-06 13:30] allinurl commented on #1158
Yeah, at this point, I would suggest [**building**](https://goaccess.io/download#installation) from source. At the bottom of the page, please take a look at the packages needed.

[2021-09-06 13:32] Karamellwuerfel commented on #1158
So can I build it manually and then use it in a cronjob?
Thanks!

[2021-09-06 13:33] allinurl commented on #1158
You certainly can.

[2021-09-08 12:47] bekcpear opened #2179 "cannot set different ws port for client connection via 'ws-url'"
refer to issue https://github.com/allinurl/goaccess/issues/447

The above issue said, `ws-url example.domain:9999` config will set a different port for frontend to connect to the a GoAccess instance which behind a proxy. The comment in goaccess.conf https://github.com/allinurl/goaccess/blob/0abddd5f09ea6385b8bc2b6b1e0d13e438c1697c/config/goaccess.conf#L308-L311 also says.

However it's invalid now

[2021-09-08 13:37] bekcpear commented on #2179
Sorry, it's my fault. I set a wrong url format. And it has nothing to do with output.c file. The correct format to specify a different port with a specified path is

[code]

[2021-09-08 13:37] #2179 closed

[2021-09-09 08:02] desempare commented on #233
how to name my custom format in ~/.goaccessrc ?
I have customized nginx access_log, customize parser for goaccess and want to save it

[2021-09-09 18:38] nagyalex commented on #117
+1

I know the original intention was to create real-time tool, but adding filter support (GUI) would totally expand the possibilities for data analyses.

[2021-09-12 10:41] jniggemann opened #2181 "Update repo for Debian bullseye"
`E: The repository 'https://deb.goaccess.io bullseye Release' does not have a Release file.`

[2021-09-14 00:42] allinurl commented on #2178
I was trying to reproduce this on my end but I was unable to. Are you able to run it against only one log? and with minimal cmd options? e.g.,

    cat /home/user/Documents/Docker/caddy2/data/access.log | docker run -v /home/user/Documents/Docker/goaccess/GeoLite2-City.mmdb:/GeoLite2-City.mmdb --rm -i -e LANG=$LANG allinurl/goaccess -a -o html --geoip-database GeoLite2-City.mmdb --log-format CADDY

[2021-09-14 00:46] allinurl commented on #233
@desempare You can simply set your log format in your ~/.goaccessrc as

[code]

Take a look at this [**script**](https://github.com/stockrt/nginx2goaccess) if you need to convert an nginx format to goaccess. Also the [man page](https://goaccess.io/man#custom-log).

[2021-09-14 00:47] allinurl commented on #2179
Glad you got it sorted out. Feel free to reopen it if needed.

[2021-09-14 00:49] allinurl commented on #2176
@Productivix Stay tuned, #117 will solve this.

[2021-09-14 01:03] allinurl commented on #2172
Thanks for reporting this. Sorry a bit confused, are you saying the issue is related to `_` vs `-`?

[2021-09-14 01:03] samcro1967 commented on #2178
The cat command worked as expected.  The zcat command failed as before.  Is there someway I can privately share the log files with you to see if it is an issue on my end or something else?

This is not a big deal for me, but happy to help if you want to troubleshoot further.

[2021-09-14 01:19] allinurl commented on #2172
okay so I just tried this and it's not outputting anything on that panel because of TLS1.3 not having the common `v` on it, e.g., TLSv1.3.

I could simply add TLS1.1 TLS1.2 TLS1.3  but I wonder what's the standard here... any thoughts?

[2021-09-14 01:25] allinurl commented on #2178
Thanks for getting back to me.

That would be great, are they fairly big >25MB? otherwise you can send them my way via hello [[at]] goaccess . io or do you have a google drive where you can share the URL via email? Thanks again!

[2021-09-14 01:49] samcro1967 commented on #2178
Well, I realized my mistake as I was grabbing the logs to send to you.  I have the access and caddy logs in the same directory.  *.log* was grabbing both.  Changing it to access*.log* works as it only grabs the access logs.  Working as expected now.

[2021-09-14 01:49] #2178 closed

[2021-09-15 10:21] G2G2G2G opened #2183 "avif (and probably jxl) are treated as "requested files (URLs)""
These should be in the STATIC requests section, however they're currently in the URLs section

Looks like avif and jxl would just go here:
https://github.com/allinurl/goaccess/blob/master/src/settings.c#L169-L205

[2021-09-15 11:01] mgrapiniak opened #2184 "Issue with date/time/log format for custom logs"
Hi!

I do have a custom log file with the following:
`1.23.81.34 - - [Wed, 15 Sep 2021 09:59:09 GMT] "GET /some/url/home.html HTTP/1.1" 200 70749 "-" "Amazon CloudFront"`

Having difficulties to set appropriate parameters in date/time/log format.
Changed combined  date format to following:

`%a, %d %b %Y`

But still unable to parse.
Any hints on this one?

[2021-09-15 12:17] #2184 closed

[2021-09-15 14:12] desempare commented on #233
Yeah, I make it already, but how to simply call my format (may be I have more than one), only write various cfg files ?
Thank you

[2021-09-15 14:14] desempare commented on #233
I mean goaccess  --log-format=myformat1 mylog.log, goaccess --log-format=myformat2 myotherlog.log, something like that.

[2021-09-16 01:14] JAKAMI99 opened #2185 "Featurerequests: Filter by date /"
I have some ideas how goaccess could improve.

-It would be awesome if you could filter the dashboard by date or even a "today" filter would be super dope.

-A" requests in the last (choose time) minutes/hours would give a feeling for the load of the webserver, for example "requests in last 60 second".

-A log with the live requests would be awesome with the GET/POST/... in the first column, the c

[2021-09-16 01:47] allinurl commented on #2185
Thanks a lot for sharing these feedback. I agree with many of them and some have already been requested. For instance, **#117** probably the most requested feature, would make the report much more dynamic. I'm working on this as we speak and is coming along pretty well. Stay tuned for it :)

Customizable panels are a big too #1202, #515 and  they will come as well, including alerts.

I'll keep thi

[2021-09-19 02:36] suhailvs commented on #1467
**I have successfully installed by following this guide**

### Build from GitHub (Development) ###

    $ git clone https://github.com/allinurl/goaccess.git
    $ cd goaccess
    $ sudo apt install autoconf autopoint
    $ sudo add-apt-repository ppa:maxmind/ppa
    $ sudo apt update
    $ sudo apt install libmaxminddb0 libmaxminddb-dev mmdb-bin
    $ sudo apt install libncursesw5-dev
    $ autore

[2021-09-20 07:14] JoelDivekar opened #2186 "[Help] Need real-time-html report"
Recently started using goaccess for our apache base website. We are able to get console running and even was able to generate static HTML page. But again whenever I try to generate report in HTML either static or relatime it shows Websocket interface. Wereas would like to automate a process to generate real-time-html report which runs in background as a daemon or system service. Please can you gui

[2021-09-20 23:29] allinurl commented on #233
@desempare Unfortunately multiple log formats are not supported at the moment, you will need to parse them separately.

[2021-09-20 23:33] allinurl commented on #2184
This should work:

    goaccess access.log --log-format='%h %^[%d %t %^] "%r" %s %b "%R" "%u"' --date-format='%a, %d %b %Y' --time-format=%T

[2021-09-20 23:35] allinurl commented on #2183
Thanks for bringing this up. I've added this upstream to be taken into account by default. You can always enable this in the config file or passing  `--static-file=.avi`.

Closing this. Stay tuned for the upcoming release.

[2021-09-20 23:35] #2183 closed

[2021-09-20 23:40] allinurl commented on #1467
@suhailvs Awesome, thanks for sharing it!

[2021-09-21 00:05] allinurl commented on #2186
I'm not sure I follow, but if you are interested in running goaccess in the background, you could run it as:

    goaccess access.log --log-format=COMBINED --daemonize

Or you could do it through systemd, e.g., #1898

Let me know if that helps.

[2021-09-21 02:28] allinurl commented on #2181
Thanks for reporting this. I've pushed bullseye release.

[code]

Closing this, feel free to reopen it if needed.

[2021-09-21 02:28] #2181 closed

[2021-09-21 11:37] howdydevops opened #2187 "Cutom log format error"
Hello,

I am getting following error.

root@stag-vultr:~# **goaccess -f /var/log/nginx/energy.staging90.com.access.log -a**

GoAccess - version 0.8.5 - Sep 17 2021 04:01:53

Fatal error has occurred
Error occured at: goaccess.c - main - 832
Nothing valid to process.

**Sample log**: [21/Sep/2021:18:39:46 +1000] 108.61.185.105 0.424 - energy.staging90.com "GET / HTTP/2.0" 503 3929 0.423 "https://en

[2021-09-22 03:54] JoelDivekar commented on #2186
Yes, I did that exactly and it is working fine. But I may have to set it up as a service which will auto start with system reboot. Thanks a lot @allinurl

[2021-09-22 03:54] #2186 closed

[2021-09-22 12:57] allinurl commented on #2187
This should work. Also, please make sure to update your goaccess to the latest version since 0.8.5 is pretty behind.

    goaccess access.log --log-format='[%d:%t %^] %h %T %^ %v "%r" %s %b %^ "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T

Feel free to use the [**official deb repo**](https://goaccess.io/download#official-repo) if running debian/ubuntu.

[2021-09-22 13:19] allinurl commented on #2186
Glad to hear you got it to work :)

Feel free to reopen it if needed.

[2021-09-23 02:48] allinurl commented on #2172
I've added TLS1.1 TLS1.2 TLS1.3 to the list upstream. It will be pushed out in the upcoming release. Stay tuned.

Closing this. Feel free to reopen it if needed. Thanks

[2021-09-23 02:48] #2172 closed

[2021-09-23 03:57] Forza-tng commented on #2172
I originally thought that GoAccess also checked for the cipher suites. Openssl uses - in the names and gnutls uses _.

[2021-09-23 12:51] Tempaccredit opened #2188 "Vsftp log error unrecognized option week day"
Greetings to the whole community and thanks to everyone who will help me solve the problem!

I am trying to analyze the logs of the vsftpd program, I followed the instructions provided in this url:
https://serverfault.com/questions/1008842/how-to-analyse-vsftpd-log-files-with-goaccess

Launching the following string:
sudo goaccess ~/.goaccessrc -p /var/log/vsftpd.log --log-format=COMBINED -a -o /v

[2021-09-23 15:29] gps3dx commented on #1781
I Managed to statically compile GoAccess v1.52.

I did few actions before
**1.** CC no longer seems to care when I passed the -L path of my compiled openssl v1.1.1 so I had to force it:
[code]
**2.** I encountered "_undefined reference to 'htobe16'_" when compiling.
[code]
I solved it by following [this tip](https://stackoverflow.com/a/26713318) - therefore code change is required for src/parser.c

[2021-09-23 16:00] gps3dx opened #2189 "v1.52 regression- piping logs not working (it did work for v1.4)"
Hi @allinurl
As I mentioned [here](https://github.com/allinurl/goaccess/issues/1781#issuecomment-925922045) I managed to compile GoAccess v1.52 being partially static.

Then I tested the result:
[code]
As can be seen - I'm not able to pipe the logs to goaccess - while I could do so using GoAccess v1.4 that I compiled in the past.
Nonetheless, using the same compiled binary - I can successfully use

[2021-09-24 12:58] allinurl commented on #2172
It does, but only when it's given as version of it, e.g.,

`"ciphersuite": 49196` resolves to `TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384`

[2021-09-24 14:34] jarmo opened #2190 "Download link SSL certificate expired"
Starting from today (24.09.21) SSL certificate has been expired when trying to download GoAccess. Clicking on a download link will show that site is "dangerous".

Download link here for example https://tar.goaccess.io/goaccess-1.5.1.tar.gz

[2021-09-24 18:16] 0bi-w6n-K3nobi commented on #2188
Hi @Tempaccredit

Maybe your line is incorrect.
Check again:
`sudo goaccess`**`-p`**`~/.goaccessrc`**`-f`**`/var/log/vsftpd.log --log-format=COMBINED -a -o /var/www/html/report.html`

[2021-09-25 11:05] Tempaccredit commented on #2188
Hi 0bi-w6n-K3nobi, and thanks for the reply!!
Unfortunately, the same error comes out:
"Token 'Thu' doesn't match specifier '%h'"

the log looks like this:
Thu Sep 23 12:30:35 2021 1 150.40.80.120 173 /tests/TestCase.php a _ o r user ftp 0 * c
Thu Sep 23 12:30:35 2021 1 150.40.80.120 471 /tests/CreatesApplication.php a _ o r user ftp 0 * c
Thu Sep 23 12:30:35 2021 1 150.40.80.120 361 /tests/Featur

[2021-09-25 15:18] allinurl commented on #2188
@Tempaccredit can you please post several lines from your Vsftp? Thanks

[2021-09-25 15:20] allinurl commented on #2189
Are you able to test this out by passing a dash to goaccess. e.g.,

    cat access_log/localhost_access_log..2020-09-2* | /tmp/goaccess - -p /tmp/goaccess.conf > /tmp/goaccess_report.html

Also, feel free to share your config file. Thanks

[2021-09-25 15:21] allinurl commented on #1781
@gps3dx Awesome, thanks for sharing that. Would you be able to submit a PR with `#define _BSD_SOURCE` so I can merge it upstream?

[2021-09-25 15:30] allinurl commented on #2178
Good to know. Question, would you still be able to share your logs? I want to make sure this gets fixed as it shouldn't be segfaulting. If you prefer not share those logs, would you be able to run it through gdb to see where exactly is crashing? Thanks again.

[2021-09-25 15:54] allinurl commented on #2190
Thanks for reporting this. I'm not seeing any expire certificates on my end. Do you know what was the exact message that popped up for you?

![2021-09-25-105241_520x627_scrot](https://user-images.githubusercontent.com/5005367/134777684-29d71e33-2b38-4175-8cf5-40896087a191.png)

[2021-09-25 16:05] jarmo commented on #2190
I cannot reproduce it either anymore. It was the regular message where certificate is not valid and upon inspection it expired on 24.09.21.

Is it possible that this download endpoint is behind some load-balancer having multiple servers?

[2021-09-25 16:32] allinurl commented on #2190
That's a good point. It's not behind a load-balancer. However, I did see some stalled bind processes and just restarted the server. I'll keep an eye on this as someone else reported a few months back something similar that appeared to be a DNS issue. Thanks again!

[2021-09-25 17:58] samcro1967 commented on #2178
See if you can grab them from here.  Let me know so I can remove them after you have them.  It is both the access and caddy logs that I was processing.
[Link](https://drive.google.com/file/d/1whHJZfLJsI41yzWtWa7N386kGsoZoQje/view?usp=sharing)

[2021-09-25 18:13] allinurl commented on #2178
Got them. Thanks, I'll post back.

[2021-09-25 20:08] allinurl commented on #2178
The issue has been fixed upstream. Thanks a lot for sharing that and letting me know. It will be pushed out pretty soon as v1.5.2.

[2021-09-25 20:51] samcro1967 commented on #2178
Glad I could help.  Should I be processing both the access logs and the system logs?  I guess my thought is everything on the dashboard seems to be access related so there is no need to process the caddy system logs.

[2021-09-25 21:00] allinurl commented on #2178
You could, but it would just ignore those lines and mark them as invalid since they won't match the log-format. For faster processing, I'd just target the access logs.

[2021-09-26 08:26] gps3dx commented on #2189
@allinurl - thank you very much for the reply.
Piping using the syntax you offered does work as expected :-)
Thanks !

I guess this "regression" issue can be closed - unless you expect piping to GoAccess to work w/o added "-" switch to be backward compatible (i.e. w/o regression).

[2021-09-26 09:15] gps3dx commented on #1781
@allinurl - I have never created PR in Github, nonetheless tried, I hope it's ok:
https://github.com/allinurl/goaccess/commit/ee39c1a6aff777973c2ff803c430ac90feac4fdf

[2021-09-26 10:36] Tempaccredit commented on #2188
Hi allinurl, thanks!
Here is the log that I would like to analyze:

Sun Sep 26 12:23:26 2021 1 155.46.8.203 1404 /www/docs/index.php a _ o r property ftp 0 * c
Sun Sep 26 12:23:26 2021 1 155.46.8.203 314915 /www/docs/CHANGELOG.txt a _ o r property ftp 0 * c
Sun Sep 26 12:23:27 2021 1 155.46.8.203 300 /www/docs/csv_import/supply_orders_import.csv b _ o r property ftp 0 * c
Sun Sep 26 12:23:27 2021

[2021-09-26 17:29] 0bi-w6n-K3nobi commented on #2188
Hi @Tempaccredit

Surely `COMBINED` Log Format will not work for you.
See an example in Apache's own documentation [here](https://httpd.apache.org/docs/2.4/logs.html), at `Combined Log Format` section.

It's also clear to me that we can create a format for the VSFtpd Log.
However, the values and flags in the VSFtpd Log do not match in the Log analysis done by `GoAccess`.
I.E. an `HTTPd` Server lik

[2021-09-26 18:09] lovasoa commented on #1414
Maybe it could be renamed "log parsing time" ?

I was scared at first, because I thought it was somewhat related to the time taken by the server to serve requests.

[2021-09-26 18:31] allinurl commented on #1414
@lovasoa I agree. Would you be able to submit a PR with this update? Changing [**this line**](https://github.com/allinurl/goaccess/blob/master/src/labels.h#L64) should do it.

[2021-09-26 21:42] #1414 closed

[2021-09-27 07:18] Tempaccredit commented on #2188
Hi 0bi-w6n-K3nobi,
thanks for the reply, I will try as you said through a filter, I thought it was less complicated.

Thanks for your help

[2021-09-27 08:21] sureshvv opened #2192 "Can we enable github discussions for goaccess?"
https://docs.github.com/en/discussions

seems to be a good way to help new users.

[2021-09-27 08:27] lovasoa commented on #1414
👍 thanks !

[2021-09-28 02:51] allinurl commented on #2192
Thanks for suggesting this, I've enabled it.

Feel free to post in there any suggestions, etc.

[2021-09-28 02:51] #2192 closed

[2021-09-28 05:48] alexacron commented on #1467
For Ubuntu there is no need for additional PPA, just:

`apt install libmaxminddb-dev`

[2021-09-29 07:34] massih10 commented on #2187
Could you help me with my log as well?

[code]

[code]

[2021-09-29 14:15] ms217 commented on #1781
That's interesting to see that someone else ran already into the same problem with compiling against OpenSSL 1.1.1g from EPEL 7.

Usually I include the PC file from the pkg-config that the OpenSSL package provides which is actually enough, for example when I build a RPM package for httpd, Dovecot or Postfix to have TLS 1.3 support. Works absolutely fine, but it didn't for GoAccess. Instead I got t

[2021-09-30 10:50] ayxos opened #2197 "Parsing error"
I have tried several combinations for the next log format
[code]

my conf:
[code]

I have also tried with
[code]

but always
[code]

[2021-10-01 10:45] Ermin34 opened #2198 "I can't parse the log file"
`"85.105.155.40 - - [30/Sep/2021:09:27:17 +0000] "GET /wp-content/uploads/2021/07/tuba-ablaya-sor-favicon.png HTTP/1.1" 200 937 "https://www.tubaablayasor.com/dunyanin-en-yuksek-faiz-uygulayan-ulkeleri/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36""
"5.255.253.152 - - [30/Sep/2021:09:27:25 +0000] "GET /dunyanin-en-yuksek-faiz-

[2021-10-02 14:21] DalekDave opened #2199 "Help with custom log format"
Hello,
First of all, thank you for your work on GoAccess. :-)
Please could you help me figure out the correct settings to use?
Thank you very much if so. :-)

**Web server:** Nginx (_with multiple vhosts_)
**OS**: Ubuntu 20.04
**GoAccess version**: 1.5.2 (installed via apt)
**Time zone configured on server**: Europe/Bucharest

**Error on executing goaccess:**

root@myserver ~ # goaccess /var/log/n

[2021-10-03 02:10] akblissweb opened #2200 "LetsEncrypt Sep 30 Root Expiry broke ssl"
Hello,

I'm running Goaccess on CentOS 7 and have just updated the ca-certificates package to solve the Let'sEncrypt root cert expiry on Sep 30.

This fixed my TLS SMTP and some other SSL related stuff.

However the web socket I use to get the live stats for GoAccess which is protected by the same LetsEncrypt cert does not work on MacOs Safari.  It's still giving an expired cert date error.
On Fir

[2021-10-04 02:55] Fatsi321 opened #2201 "Ask for help for parsing Weblogic log"
Hi, i want to try to use GoAccess to parse Weblogic log with the following format:

2021-09-30	11:07:21	GET	/foo/bar/test.jsp	200	xx.xx.xx.xx	-	-
2021-09-30	11:07:22	GET	/foo/bar/	200	xx.xx.xx.xx	"yy.yy.yy.yy"	"Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; rv:11.0) like Gecko"

It is tab separated, xx.xx.xx.xx is the proxy ip and "yy.yy.yy.yy" is the client ip.
For "VISITOR HOSTNAMES AND IPS",

[2021-10-04 23:15] 0bi-w6n-K3nobi commented on #2197
Hi @ayxos

Yeah, Do you need a valid IPv4/6 in request from `LOGFILE`.
One workaround is use first field, or other that you wish, for `IP` and turn off validation.
I.E.

[2021-10-04 23:33] 0bi-w6n-K3nobi commented on #2199
Hi @DalekDave

You maybe try this:

`--date-format='%d/%b/%Y'`
`--time-format='%T'` or `--time-format='%H:%M:%S'`
`--log-format='%h %^ %^ [%d:%t %^] "%r" %s %b "%R" "%u"'`

or into `goaccess.conf` like:

`date-format %d/%b/%Y`
`time-format %T` or `time-format %H:%M:%S`
`log-format %h %^ %^ [%d:%t %^] "%r" %s %b "%R" "%u"`

I hope that I could help you.

[2021-10-04 23:45] 0bi-w6n-K3nobi commented on #2198
Hi @Ermin34

Do you really have quotes starting the line, and ending?
And before `"178.250.2.34` there is no line break?
If `YES` then you maybe try:

`--log-format='"%h %^[%d:%t %^] "%r" %s %b "%R" "%u""'`

I hope that I could help You.

[2021-10-04 23:51] 0bi-w6n-K3nobi commented on #2200
Hi @akblissweb

You maybe start a new Profile [empty] or clean all Cache from your Browser and restart.
Its common the Browser too cache Certificate and do not try get new one from `HTTPS` Server.

I hope that I could help You.

[2021-10-04 23:59] Ermin34 commented on #2198
thanks
your suggestion worked very well..
I used it like this and I was able to get a report
`--log-format='"%h %^ %^ [%d:%t %^] "%v %r" %s %b "%R" "%u""'   --date-format=%d/%b/%Y --time-format=%T --real-time-html `

[2021-10-05 00:54] cwyin7788 opened #2202 "Real time web log not work after update to 1.5.2 SSL"
Hi developer,I have this problem, please help.

I have two servers, before I upgrade, everything is alright, after both servers upgrade to 1.5.2, the websocket real-time web log not work anymore, I didn't touch anything, just upgrade the version, the page left corner green light turns off,

<img width="63" alt="螢幕截圖 2021-10-05 上午8 23 00" src="https://user-images.githubusercontent.com/53026952/1359

[2021-10-05 03:15] allinurl commented on #2202
Thanks for reporting this. If you are using Lets Encrypt, then it may be relayed to the September 30 issue. You will need to update the certificate chain. Let me know if that helps.

[2021-10-05 04:18] cwyin7788 commented on #2202
thanks for your quick reply, I just updated the certificate, actually I really use letsencrypt cert.

<img width="1646" alt="螢幕截圖 2021-10-05 下午12 06 24" src="https://user-images.githubusercontent.com/53026952/135958923-dce4d2d7-a7d2-4b11-a863-3398b2df80aa.png">

and then, restart goaccess and nginx

service goaccess restart
service nginx restart

but the problem still here.

I've tried to remove n

[2021-10-05 09:50] 0bi-w6n-K3nobi commented on #2198
Ho @Ermin34

Yeah.  The formats are equivalent  -- `%h %^ %^ [` and `%h %^[`.
The second field in `LOGFILE` is ever `-` and third is the _authenticated user_.
But, I can't see the filed `%v` next to `%r`. Are you sure about this?

[2021-10-05 10:29] 0bi-w6n-K3nobi commented on #2201
Hi @Fatsi321

First , I have two questions:
* Maybe the first line have quotation marks in the last fields? i.e `... xx.xx.xx.xx` **`"-"` `"-"`**
   A pattern is needed on all lines/requests.
* Is there really `TABS` between the fields? Wouldn't it be simple `SPACE`?

[2021-10-05 10:55] 0bi-w6n-K3nobi commented on #2202
Hi @cwyin7788

Maybe it's a stupid question, but...
Have you updated CA-Certificates' Server?

[2021-10-05 11:31] 0bi-w6n-K3nobi commented on #2201
Hi @allinurl

I'm having a little trouble doing this parse...
I am not able to adjust the `~h` field correctly and so it is swallowing the others as `%u`.

[2021-10-05 13:44] cwyin7788 commented on #2202
Excuse me, I don’t know how to update CA certificate,when I search google, I found that use this command apt update-ca-certificates ?

It didn’t update any certifcate

![AB1A7811-AC15-4FB6-8437-052D300373B6](https://user-images.githubusercontent.com/53026952/136035185-d4da9e92-9a21-4729-9de9-6d3e791d0697.png)

If I use wrong command, can you tell me how to update？

[2021-10-06 12:15] ricott opened #2203 "Apache custom log format question"
Hi,

sorry for yet another custom log format question, but I can't see what is wrong here

**Sample log lines**
[code]

**Custom Apache log format**
`%V %h %l %u %t "%r" %>s %b "%{Referer}i" "%{User-Agent}i"`

Trying to run the following command
`goaccess access.2021-10-06-09_23_08.log -o report.html --log-format='%v %h %^ %^ [%d:%t %^] "%r" %s %b "%R" "%u"' --date-format='%d/%b/%Y' --time-format=

[2021-10-06 12:41] 0bi-w6n-K3nobi opened #2204 "Improvement: html-refresh small value when MAX_BATCH_LINES is reached"
Hi @allinurl

Here is a small patch for more suitable behavior by adjusting `html-refresh` when there is a large number of requests to be processe at real-time.
i.e. the condition `++glog->read % MAX_BATCH_LINES == 0` is met.

Perhaps the code below is not be optimized, but it is easy to understand.
Basically, when the above condition is reached, the wait time is reduced to as little as possible i

[2021-10-06 12:52] 0bi-w6n-K3nobi commented on #2203
Hi @ricott

It's OK for me.

What version are your running?
Check with: `goaccess --version`

Do You know about enviroment LANG?
Try this: `LANG=en_US.utf8 goaccess ...`

I hope that I could helped You.

[2021-10-06 13:01] ricott commented on #2203
Version: GoAccess - 1.5.2.

and yes, setting LANG did the trick 👍

Thanks!

[2021-10-06 13:01] #2203 closed

[2021-10-06 17:11] 0bi-w6n-K3nobi commented on #2204
Oops, the correct expression is:
[code]

[2021-10-07 18:35] DalekDave commented on #2199
Thank you so much for your help. :-)
The lines below worked in my /etc/goaccess/goaccess.conf

date-format %d/%b/%Y
time-format %T
log-format %h %^ %^ [%d:%t %^] "%r" %s %b "%R" "%u"

[2021-10-07 18:36] DalekDave commented on #2199
I will close the issue. Thank you again for your help! :1st_place_medal:

[2021-10-08 18:43] alfredneu opened #2205 "Logarithmic scale"
My web site has strongly fluctuating number of visitors. In the charts I currently see a few spikes and otherwise a flat line at zero because regular traffic is so much lower than the spikes. I would love an option to set **logarithmic scale on the y-axis** so I can see both the high and the low counts. Added goodie: growth is much easier to estimate on a logarithmic scale.

[2021-10-12 15:01] mihaipopoiag opened #2206 "keep and count only values higher than 0"
Hello,

I know it's not  an issue and i know awk can help me, but it seems i miss the right syntax everytime. My log looks like this:

11.22.33.44 - - [12/Oct/2021:17:36:24 +0300] "GET /audio.ogg HTTP/1.1" 200 6690969 "-" "someapp/7.8.1 (Linux;Android 11) ExoPlayerLib/2.14.2" 824

And i only need to log the rows with the last column's value higher than 0 (this is the duration of that connection in

[2021-10-13 19:00] 0bi-w6n-K3nobi commented on #2187
Hi @massih10

Please, try the suggestion made for **allinurl**. It is seems OK and work in my tests.
However You have some problem, maybe try set `LANG`, i.e. `export LANG en_US.UTF-8`, and try run again.

[2021-10-14 10:44] synthead commented on #969
I'm still getting this error with the latest tag (1.5.2) and the latest commit from master as of this writing (f7b1e3ce1f40e251c43dacd34e8dd632041d2d9c):

![image](https://user-images.githubusercontent.com/820984/137302747-16e30a5f-1af7-4a49-9c18-b98dd67ae949.png)

[2021-10-16 11:57] Lin-Buo-Ren commented on #1382
Hello, snap packager passing by.

The snap name is _reserved_, which simply means that the name is high-profile enough that the Snap Store staffs want to protect it from being arbitrarily registered and (possibly) abusing it.  You can still go further and claim the name by submitting the form, which I have just done for you.

After claiming the name I would like to work with @cprov to migrate the

[2021-10-16 14:29] cwyin7788 commented on #2202
I have the same problem

[2021-10-16 20:26] PaRaD1SE98 opened #2208 "Raw data display and filter/search functionalities?"
I can see many types of statistics in the html report. However, does it has a way to view one specific record or maybe do a search or time range filter. Sometimes we get interested when watching the charts and want to see some particular records.

[2021-10-18 03:53] JoelDivekar opened #2209 "[Help] Single dashboard for Multiple Servers"
Hi All, we could successfully deployed goaccess as system service with -real-time-html option is working fine on individual servers. But we have set of 3 - 4 webservers and wanted to check if it is possible to have single dashboard for multiple servers probably running from a centralised server and with an option to check traffic / issues as combined or as individual servers. Thanks

[2021-10-18 21:47] 0bi-w6n-K3nobi commented on #2202
Hi @cwyin7788

Do you check `LANG` variable enviroment? -- i.e. `echo $LANG`
Maybe you can set it. --  i.e. `export LANG en_US.UTF-8`
You must be set encoding to `UTF-8`, but the language is your choice.

[2021-10-20 01:16] allinurl commented on #2202
One more thing, note that when you run it via ask, you need to make sure you are using an https connection through the browser and your web socket should be wss instead of ws.

[2021-10-20 01:19] allinurl commented on #1382
@Lin-Buo-Ren Please let me know if you need me to do something from my end. Thanks

[2021-10-20 15:39] kaushalshriyan opened #2212 "process nginx access logs for 1 month"
I have nginx access logs for a period of 1 month. Is there a way to generate OVERALL ANALYZED REQUESTS for a period of 1 month from Sept1 to Sept 30 as an example? The number of access logs stored are 30 files (30 days) Thanks in Advance.

[2021-10-22 15:25] xoich opened #2214 "[request] Add Althttpd log format"
Hi, [Althttpd](https://sqlite.org/althttpd/doc/trunk/althttpd.md) is the HTTP server made by the author of Sqlite and serving [sqlite.org](https://sqlite.org). This is the log format:
[code]

For confirmation you can find the format [here](https://sqlite.org/althttpd/file?name=althttpd.c&ci=tip) (search for `Log record files`)

[2021-10-24 10:46] fooness opened #2215 "How to install goaccess `--with-openssl` in Ubuntu 20.04 LTS?"
Hello everyone,

it looks like `goaccess` was not installed with SSL support …

[code]

How can `goaccess` be installed in Ubuntu 20.04 LTS with SSL support, so we can access `https://<domain>/monitoring/index.html` to see the live `goaccess` statistic information?

Thank you!

[2021-10-24 11:36] #2215 closed, assigned to nobody

[2021-10-24 11:42] fooness opened #2216 "`--html-prefs='{"theme":"dark gray"}'` does not work, maybe?"
Hello everyone,

we’re having problems with starting `goaccess` with the `dark gray` theme applied by default …

`goaccess /var/log/nginx/access.log -o /var/www/monitoring/index.html --log-format=COMBINED --real-time-html --html-prefs='{"theme":"dark gray"}' --ssl-cert=/etc/letsencrypt/live/<domain>/fullchain.pem --ssl-key=/etc/letsencrypt/live/<domain>/privkey.pem --daemon`

We tried `--html-pref

[2021-10-25 10:16] #2216 closed, assigned to nobody

[2021-10-31 17:02] mario-donnarumma opened #2219 "Visualization issue when disabling a chart in HTML output"
When disabling a chart for a specific panel through its options, there are some flaws in the HTML visualization because there are some UI elements that come out from the edges of the container as shown below (screenshot taken from the goaccess.io live demo):

![example](https://user-images.githubusercontent.com/43983712/139593849-3271b456-d810-4d60-a66c-3430dfc570f1.png)

It happens with every pan

[2021-10-31 17:17] mario-donnarumma commented on #2219
After further investigation, the issue seems to be caused by this CSS rule:

![image](https://user-images.githubusercontent.com/43983712/139594565-8bb0f27b-0062-4c00-ae99-b168d2303f28.png)

Its intention is to act on the `.row ` element where the chart resides, which however disappears when the chart is hidden

[2021-11-01 05:56] francislavoie opened #2220 "Planned change to Caddy's access logging"
This is part question, part "notice".

In https://github.com/caddyserver/caddy/pull/4403, we're planning on splitting up `remote_addr` into two fields, `remote_ip` and `remote_port`. The change is still pending, and the field names may change before merging.

I wanted to ask if it's possible/easy to support both `remote_addr` and `remote_ip` at the same time in GoAccess, so that it wouldn't be dep

[2021-11-01 14:06] #2219 closed

[2021-11-01 15:50] allinurl commented on #2220
Thanks for checking on this. Just so I understand a bit better, there would be a `remote_addr` property and a `remote_port` property instead of having both on the same field? e.g.,

from

    {"level":"info","ts":1609440464.1045835,"logger":"http.log.access.log0","request":{"remote_addr":"10.0.2.2:59722" ...}

to

    {"level":"info","ts":1609440464.1045835,"logger":"http.log.access.log0","request

[2021-11-01 15:52] francislavoie commented on #2220
Likely `remote_addr` will go away, and be replaced with `remote_ip` and `remote_port`. Still TBD on the field names. The port will be a string (quoted).

[2021-11-01 15:57] allinurl commented on #2220
I see. There shouldn't be a problem and actually as pointed on [4403](https://github.com/caddyserver/caddy/pull/4403), handling IPv6 without the port on it, would be much easier for goaccess too.

[2021-11-01 21:09] allinurl commented on #2208
@vStone can you please elaborate what you mean with access to raw data and files and how goaccess should display handle the data/file?

[2021-11-02 13:02] vStone commented on #2208
@allinurl  A simple panel that would allow access to a file (scroll through) and tail functionality. For example php/apache/... error logs. Or even a custom application log.

[2021-11-02 20:13] mario-donnarumma commented on #2205
This has already been discussed and is currently in the [GoAccess 2.0 Milestone](https://github.com/allinurl/goaccess/milestone/7) (you can refer to #933)

[2021-11-02 22:42] alfredneu commented on #2205
Great, thank you! And sorry for the duplicate.

[2021-11-02 22:42] #2205 closed

[2021-11-07 19:27] Habetdin commented on #2190
@allinurl I believe that `*.goaccess.io` certificate(s) should be renewed with the `--preferred-chain  "ISRG Root X1"` to exclude expired root from the trust chains.

[2021-11-07 19:51] minusf commented on #1765
i think this has not been the case for many years now.  there are tons of unknown user agents that are legitimate: all the embedded browsers and all the apps on the mobile phones.  for example sometimes our greatest traffic comes from the hacker news app which has useragents like: `HackerNews/1493 CFNetwork/1240.0.4 Darwin/20.6.0`

should this be counted by `goaccess`?  i think definitely.

actual

[2021-11-08 09:55] Pi-George commented on #1765
So this issue isn't something I'm too interested in any more as we're just using bugsnag for stability score, however this issue I reported does still sound like a problem. If you could provide a list of user agents that are acceptable or unacceptable that would solve the HacketNews example you provided, whitelist and blacklist. Maybe that's already a feature, it's been too long since I used this

[2021-11-08 18:26] minusf commented on #1765
I agree that different use cases need different user agents... I updated this issue instead of creating a new one because I thought they are related, but I am starting to have second thoughts :}  For now I just turned off filtering crawlers, I think I should open a new issue if I don't trust what it filters out...

[2021-11-10 00:16] allinurl commented on #1765
This is something that needs to be revised and look into it. However, you can always get a log of all those unknowns and get a better sense of who is hitting your server.

[code]

[2021-11-10 00:17] allinurl commented on #2190
@Habetdin just curious, did you recently get an error?

[2021-11-10 00:21] allinurl commented on #2190
@Habetdin by the way, I just added `preferred_chain = ISRG Root X1` under `/etc/letsencrypt/renewal/*.goaccess.io`. Thanks for the heads up!

[2021-11-10 08:35] Habetdin commented on #2190
@allinurl yes, I've got same error as in [this post](https://github.com/allinurl/goaccess/issues/2190#issuecomment-940081065) when used `apt` on 7th of November.
Also, expired alternative trust chain breaks connection to custom DoT servers in Android and connection to some git servers that are using similar certificates. I've fixed issues like that from server side.

No problem, that's just the wa

[2021-11-10 09:11] hussam-qasem opened #2224 "Yet another Apache Custom Log with i/o question"
Greetings! I have an [Apache Custom Log](https://httpd.apache.org/docs/current/mod/mod_log_config.html):
[code]
Would you kindly guide me how to create a goaccess `log-fromat` equivalent?

I wish there is an Apache version of [`nginx2goaccess`](https://github.com/stockrt/nginx2goaccess)

[2021-11-11 22:36] mitchross commented on #117
I would like to see URLs being requested and the IP associated with each request.

[2021-11-12 08:25] ali-bugdayci opened #2225 "Custom Log format question"
Hi,

I am getting

[code]

The format I used is:

[code]
Checked the following and other issues for resolving it, but was not successful:

https://github.com/allinurl/goaccess/blob/efc8834adccfdda6779138c2dca0539549f2b3f7/goaccess.1

Cannot omit the host variable too.

Nginx configuration:

[code]

And sample log output:

[code]

Thanks

[2021-11-12 18:48] markthompson1 commented on #2202
I Have the same or similar problem when trying to use a secure connection.

![image](https://user-images.githubusercontent.com/25227361/141518531-95946600-11d6-4972-853a-fed5669bfb45.png)

This is a new install and so unlike the OP, it has not worked for me previously

![image](https://user-images.githubusercontent.com/25227361/141518680-a83ed691-64b4-4f40-b3dc-873db755390e.png)

![image](https://

[2021-11-13 00:03] allinurl commented on #2225
Please try:

    goaccess access.log --log-format='%^[%d:%t %^] "%h" "%r" %s %b "%R" "%u" %T' --date-format=%d/%b/%Y --time-format=%T --no-ip-validation

[2021-11-13 00:07] allinurl commented on #2202
@markthompson1 are you able to telnet to that specific endpoint e.g., 209.... using port 7890? please make sure you are accessing the report via https://your_server.com/report.html.

also, does the connection work without wss/ssl? and last, I assume you are only specifying a valid ipv4 address under ws-url... Thanks

[2021-11-13 14:41] markthompson1 commented on #2202
Hi @allinurl ,

Yes, the port is open...

![image](https://user-images.githubusercontent.com/25227361/141647841-0dd7767e-2d56-4b5c-8e58-31b91d6f1b49.png)

And it works for when I disable https and use http only.

![image](https://user-images.githubusercontent.com/25227361/141647880-da5d57df-62f6-4586-aed1-9127c89e24c4.png)

[2021-11-15 08:36] hussam-qasem commented on #2224
Sample Log file would be:
[code]
I appreciate if you would guide me to the appropriate documentation. Thank you!

[2021-11-15 17:37] mario-donnarumma commented on #2224
Have you tried following the "Custom log/date format" section in the manual page? You can find it [here](https://goaccess.io/man#custom-log).

[2021-11-16 03:36] allinurl commented on #2224
This should do it:

    goaccess access.log --log-format='%h %v %^[%d:%t %^] "%r" %^ %s %b "%R" "%u" %^ %^ %D' --date-format=%d/%b/%Y --time-format=%T

[2021-11-16 07:58] hussam-qasem commented on #2224
Thank you @mario-donnarumma and @allinurl .
Your response is much appreciated.

[2021-11-16 07:58] #2224 closed

[2021-11-17 09:27] iranbingo opened #2226 "Token '-' dosen't match specifier '%h'"
Hi,

My Apache Log File looks like this at the beginning :

[code]

goaccess  shows this error:

Token '-' dosen't match specifier '%h'

I tested all format like Common Combined etc.
Which log format should I use?

Thanks

[2021-11-17 10:46] 0bi-w6n-K3nobi commented on #2226
Hi @iranbingo
You need a custom LogFormat...
Maybe you can try this, at `goaccess.conf`:

`date-format %d/%b/%Y`
`time-format %H:%M:%S`
`log-format %^[%d:%t %^] "%m %U" %s %b "%^" "%^" %h`

A unique problem will be parse correct `URL` because you have 2 distinct case -- i.e. with `HTTP/1.1` and without protocol.
Do you have some solution for that, @allinurl ?

**Note:**
You can disable Panel/Chart

[2021-11-17 11:37] iranbingo commented on #2226
Hi,

I used -no-ip-validation with File Format Combined and it worked.

Thanks,

[2021-11-17 11:37] #2226 closed

[2021-11-17 12:09] 0bi-w6n-K3nobi commented on #2226
Hi @iranbingo

But, It is not be process `LOGFILE` correctly.
See output `HTML` in your browser and will be confirm this.

[2021-11-18 01:21] allinurl commented on #2226
@0bi-w6n-K3nobi thanks for answering that. You raised a good point, you have two log formats in there. Right now there's no way to parse both of them. I believe we have that in the to-do list. A workaround will be to pre-process the log and either strip that with awk/sed or artificially add it to each line if it doesn't exist. If it's not important to you @iranbingo, I'd personally leave it off.

[2021-11-18 02:27] allinurl commented on #2202
I'm trying to reproduce this, not sure yet exactly what's trigerring it, rt.goaccess.io is running v1.5.2 and seems to work fine using a Let's Encrypt certificate. A few questions for everyone:

1. Can anyone confirm if this was working fine on a previous version, e.g., v1.5 (please build from [**source**](https://github.com/allinurl/goaccess#build-from-github-development))?
2. If using Let's Encr

[2021-11-18 08:50] iranbingo commented on #2226
Hi @allinurl

Thanks for the answer. Yes, I also wish that my log files are analyzed correctly. How can I determine whether the analysis went correctly or incorrectly?

 since goaccess shows no errors and analyzes logs quickly and easily with --no-ip-validation.

![Bildschirmfoto vom 2021-11-18 09-43-18](https://user-images.githubusercontent.com/68154547/142382404-758d6673-1525-4e4e-a807-497f55ef7

[2021-11-18 12:21] 0bi-w6n-K3nobi commented on #2226
Hi @iranbingo

Maybe you can look the Chart/Data called `Visitor Hostnames and IPs`.
And you concluded that parse had been wrong, or partially wrong.

Maybe here be off-topic @allinurl , but ... Did you think about a "optional" field, like a regular-expression?
Possibility, it will be resolve several problems include strange date formats.

[2021-11-18 14:40] cwyin7788 commented on #2202
Hi Developer,

We also need to say thank you, thanks for your patiently help,

I've tried downgrade to 1.5, it's working fine, please see the screen capture.

<img width="1920" alt="螢幕截圖 2021-11-18 下午10 14 12" src="https://user-images.githubusercontent.com/53026952/142433237-fea21132-ea8e-4011-bd61-b7a5f75832a1.png">

===============================

Very strange, I just tried to test your suggest

[2021-11-21 04:47] OsirianOne commented on #721
When running this
sudo ./configure --enable-utf8 --enable-geoip=legacy

I get this:
checking for xmlto... no
checking for rst2man... no
./configure: line 8567: udev: command not found
checking for ANSI C header files... yes
./configure: line 8702: syntax error near unexpected token `NCURSESW,'
./configure: line 8702: `        PKG_CHECK_MODULES(NCURSESW, ncursesw,'

ncursesw5-dev is installed

[2021-11-21 08:55] OsirianOne commented on #721
I think this was missed error just before this.
When trying to fix the cause of the error:
man autoconf

autoconf --help

neither explain where to add the line for m4_pattern_allow or how to use it in a switch for a command line,

ERROR:
configure.ac:44: error: possibly undefined macro: AC_CHECK_LIB
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autoconf

[2021-11-23 00:13] allinurl commented on #2202
@markthompson1 are you still seeing this issue on your end? If yes, please let me know if following the steps on my previous post help. Thanks!

[2021-11-23 00:13] allinurl commented on #2202
@cwyin7788 Thanks for the update. Glad it's working for you.

[2021-11-23 00:23] markthompson1 commented on #2202
I followed the, downgrade/upgrade steps that worked for the other poster, this didn’t work for me. I’ll try your additional steps about renewing and revoking the “lets encrypt” old certs and report back when I get chance.

Thanks for your support.

Mark

From: "Gerardo O." ***@***.***>
Reply to: allinurl/goaccess ***@***.***>
Date: Tuesday, 23 November 2021 at 00:13
To: allinurl/goaccess ***@***.*

[2021-11-25 08:53] SoftCreatR opened #2232 "Token for '%v' specifier is NULL."
This is my current log format:

[code]

Example log entries:

[code]

So I start goaccess via:

[code]

But this fails, because `Token for '%v' specifier is NULL.`.

I tried replacing `%v` with `%^` which seems to work, but I'm not sure, if this provides the correct results at the end.

[2021-11-25 14:53] allinurl commented on #2232
Looks like a COMBINED log format, can you please try:

    goaccess /var/log/nginx/access.log --log-format=COMBINED

Let me know if that works for you.

[2021-11-25 15:11] SoftCreatR commented on #2232
Nope:

The log format above also differs from nginx' default `combined` format, which is:

[code]

[2021-11-25 15:16] allinurl commented on #2232
My bad. This should do it:

    goaccess /var/log/nginx/access.log --log-format='%h %^[%d:%t %^] "%r" "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T

[2021-11-25 15:17] SoftCreatR commented on #2232
That looks good to me. Thank you ver much :)

[2021-11-25 15:17] #2232 closed

[2021-11-26 00:37] allinurl opened #2235 "Convert to GoAccess format"
### Discussed in https://github.com/allinurl/goaccess/discussions/2211

<div type='discussions-op-text'>

<sup>Originally posted by **AllofTheThangz** October 18, 2021</sup>
Hello - a popular docker/container that uses NGINX uses this format:

log_format proxy '[$time_local] $status - $request_method $scheme $host "$request_uri" [Client $remote_addr] [Length $body_bytes_sent] [Gzip $gzip_ratio] "$

[2021-11-26 00:37] allinurl commented on #2235
Closing this as user didn't follow up.

[2021-11-26 00:37] #2235 closed

[2021-11-26 10:01] novoid commented on #2021
I do have the same issue.

In my configuration file:

[code]

... has no effect on the sections of Referrer URLs with version 1.5.2. Therefore, my referrer section is dominated by my own pages in the live-view which basically kills the feature for me.

[2021-11-30 01:59] allinurl commented on #2212
Closing this. Feel free to reopen it if needed.

[2021-11-30 01:59] #2212 closed

[2021-12-07 10:20] mandys opened #2238 "Column Re-ordering"
Hi,

Is it possible to re-order the columns ?
We are looking to make the Data column as the first one ( as we don't want to keep scrolling to see the urls )

![Screen Shot 2021-12-07 at 3 50 04 PM](https://user-images.githubusercontent.com/31867/145011359-44b88d75-955a-4db3-a2b7-e359f48aa496.png)

Thank you,
Mandy

[2021-12-08 00:16] masterwishx opened #2239 "nginx: [alert] could not open error log file: open() "/var/lib/nginx/logs/error.log" failed (13: Permission denied)"
im using Unraid Docker and NginxProxyManager
and having this error :

nginx: [alert] could not open error log file: open() "/var/lib/nginx/logs/error.log" failed (13: Permission denied)

also dont know what path should be for /opt/log ?
is /mnt/user/appdata/NginxProxyManager/log/ the right path ?

[2021-12-08 01:17] allinurl commented on #2238
Good question, it's not possible to re-order the columns yet, however, a workaround would be to click on the panel options dropdown and un-check the columns that may not be relevant on the report.

[2021-12-08 01:19] allinurl commented on #2239
Not sure I understand, is this a goaccess issue? are you reading an access log?

[2021-12-08 09:06] masterwishx commented on #2239
Yes
![image](https://user-images.githubusercontent.com/28630321/145179742-2c50d1f5-140c-4adf-a494-b8917296d113.png)
![image](https://user-images.githubusercontent.com/28630321/145179831-906bfe8b-f0fc-4e74-a0a6-9d18b89e0797.png)
what exacly access.log should i read ? NginxProxyManager ?
im not shure what path should be for  /opt/log ?
the path is my proxy log ?
(/mnt/user/appdata/NginxProxyManager/

[2021-12-08 14:59] ioannidesalex commented on #594
Any updates on this?

[2021-12-08 17:42] masterwishx commented on #2239
[08/Dec/2021:16:19:21 +0200] - 200 200 - GET https mysite.com "/" [Client 172.70.162.210] [Length 529] [Gzip 2.12] [Sent-to 192.168.0.199] "Uptime-Kuma/1.11.0" "-"

this is my line in proxy-host-10_error.log

[2021-12-08 17:50] masterwishx commented on #2239
![image](https://user-images.githubusercontent.com/28630321/145258162-4b4891b9-4906-4e3b-ba71-9fedfe5bce5c.png)

this is last error print

[2021-12-08 17:50] masterwishx commented on #2239
for this line : log_format [%d:%t %^] %s - %m %^ %v "%U" [Client %h] [Length %b] [Gzip %^] "%u" "%R"

[2021-12-08 23:56] allinurl commented on #2239
Please try:

    goaccess access.log --log-format='[%d:%t %^] %^ %s %^ %^ %m %^ %v "%U" [%^ %h] [%^ %b] %^"%u" "%R"' --date-format=%d/%b/%Y --time-format=%T

[2021-12-08 23:57] allinurl commented on #594
Working on #117 as we speak. I'll bump this so it can get done after #117 is done. Thanks for the reminder.

[2021-12-09 07:46] geof77 commented on #2201
I think using %h and ~h in the same filter is not supported. I would replace %h with %^ (ignore field).

[2021-12-09 08:19] masterwishx commented on #2239
I fixed the problem of tockens by other ways but still having some nginx error of error log but all working.
but most important founded that im using unraid template  : gregyankovoy/goaccess and its old version 1.4
so i will try to switch to this repo.
Thanks

[2021-12-09 09:33] Yudasina opened #2240 "Group and filtger data"
Is it avaiable to group and filtger rereports ?

For example, take report "REFERRERS URLS" and is to possible to filter just URLS included some data ?

[2021-12-09 11:16] masterwishx opened #2241 "not Working Docker for Unaid Template"
im using GregYankovoy/docker-goaccess and its working after all problems.. but its v1.4
Now im trying to create this docker for unraid but its not starting .
this is my config is it right ?
maybe im missing something for start  ?
tryed ports 8080:7890 , 7890:7890 what is right ports ?

![image](https://user-images.githubusercontent.com/28630321/145386554-922c27d6-8fc3-491a-bd02-fd0c0df70110.png)
!

[2021-12-09 11:25] mandys opened #2242 "Panel for Missed - Top 50 Urls"
Hi,

In version 1.5.3, you had enhanced it to provide hits/misses for cloudfront log parsing.
This is very helpful.

But, our custom scripts ( before we started using goaccess for almost everything :-) used to present the top 50 missed urls.

They were very helpful since we can then figure if caching on some object was not setup properly on our s3 bucket/website because of which we are getting so

[2021-12-09 17:18] dennisdegreef opened #2243 "IPv6 address on deb.goaccess.io"
Hi,

I am trying use `deb.goaccess.io` on a machine that only has IPv6.

Would it be possible to add AAAA records for this service to your DNS?

Thanks in advanced!

[2021-12-10 01:27] allinurl commented on #2240
This will be addressed by #117. I'm working on it as we speak. Stay tuned!

[2021-12-10 01:30] allinurl commented on #2201
Sorry for the late reply. Can you please attach a file with actual access log lines (a few lines is fine)? It's hard to determine the spacing without an actual file to work with. Thanks

[2021-12-10 01:58] allinurl commented on #2242
Hello, are you referring to 404s?

[2021-12-10 03:55] mandys commented on #2242
No, I am not talking about 404s.

So, cloudfront is a CDN that helps serving your files quickly from caches around the world.

But, it uses the headers of the files from the source.

Eg: We upload files to a s3 bucket. Cloudfront sources files from the s3 bucket.
But, if files were not uploaded with correct caching headers ( like expires.. ) then cloudfront will serve the files without those heade

[2021-12-10 09:31] Yudasina commented on #2240
Sorri i don t understand anything from  #117
Does it work  now? Or you ve been working at it?

[2021-12-10 16:59] fgoepel opened #2244 "Goaccess silently discards log data"
As a test, I tried generating a report for a months worth of logs (744 files totaling 6.1 GB) using the latest version like this:

[code]
For some reason the report only goes up to the 22nd of this particular month and is missing everything after that. Indeed the last output printed is this:
[code]

There is no error or warning message output. I tried setting ```--max-items``` and ```--keep-last``

[2021-12-11 02:38] allinurl commented on #2243
Thanks for bringing this out. Let me take a look at it, I don't think the server has a dual-stack set up.

[2021-12-11 02:40] allinurl commented on #2241
It should be 7890. Though, I'm not sure how you have it set up.

[2021-12-11 02:41] allinurl commented on #2225
Closing this. Feel free to reopen it if needed.

[2021-12-11 02:41] #2225 closed

[2021-12-11 02:44] allinurl commented on #2200
@akblissweb Any updates on this? Did it work? Thanks

[2021-12-11 02:45] allinurl commented on #2197
Closing this.  @0bi-w6n-K3nobi should address the issue in question. Feel free to reopen it if needed.

[2021-12-11 02:45] #2197 closed

[2021-12-11 02:46] allinurl commented on #2198
Thanks @0bi-w6n-K3nobi. Closing this, feel free to reopen it if needed.

[2021-12-11 02:46] #2198 closed

[2021-12-11 02:51] allinurl commented on #2174
@0bi-w6n-K3nobi is 100% right. Closing this. Feel free to reopen it if needed.

[2021-12-11 02:51] #2174 closed

[2021-12-11 02:53] allinurl commented on #2175
@0bi-w6n-K3nobi Thanks for sharing all that, really good info!

Closing this, feel free to reopen it if needed.

[2021-12-11 02:53] #2175 closed

[2021-12-11 02:55] allinurl commented on #2189
Closing this, feel free to reopen it if needed.

[2021-12-11 02:55] #2189 closed

[2021-12-11 02:59] allinurl commented on #2173
Sorry about the delay on this. It looks like it's related to the bold font on your terminal and how you have it configured. You can select the text with your mouse over those "empty" columns and you will probably see the data. Two fixes, either you change your terminal bold colors or you can configure your goaccess theme. Please take a look at the [config file colors](https://github.com/allinurl/g

[2021-12-11 02:59] #2173 closed

[2021-12-11 05:56] mandys commented on #2238
Thanks for your response.
Will probably just use big blocks stacked over one another for more real estate (for now) :-)

[2021-12-11 10:54] masterwishx commented on #2241
changed to 7890:7890
it was 8080:7890 becase its wrote in docs:
![image](https://user-images.githubusercontent.com/28630321/145673939-cff08903-5794-48d8-835f-257b0b47159e.png)

this run after changed :
![image](https://user-images.githubusercontent.com/28630321/145673903-a2da4ec3-60e6-4d78-867f-784d8ad8f996.png)

[2021-12-11 17:41] air3ijai opened #2245 "Store and use persistent data on S3"
Hello,

We are planning to use CI/CD to generate reports using GoAccess, and also we plan to use incremental log parsing.

Plan is like the following:
1. Check if we have dataset on S3
2. If dataset not exists on S3 - get all logs from S3, parse all the logs and persist the dataset
3. If dataset exists on S3 - get dataset from S3 and logs for yesterday only, parse the logs incrementally
4. Upload

[2021-12-12 01:24] allinurl commented on #2245
Have you checked what are the inodes on your bucket and if they ever change if you overwrite the file? e.g.,

    ls -lathi

Sounds like if you download a file to your local machine, delete it and then download again the same file, it would have a different inode. However, I'd run a test and see if you get the expected result by running the above command when fetching those logs as you described.

[2021-12-12 01:24] allinurl commented on #2241
Glad that did the trick. Thanks for sharing that.

Safe to close this?

[2021-12-12 01:25] allinurl commented on #2238
I'll keep this open and ensure it's added. Also, please try using the vertical layout, it may help for now.

[2021-12-12 01:41] akblissweb commented on #2200
Nothing in the browser cache worked.  I didn't do a new profile yet.  I am about to redo everything with docker containers so it will all be completely new soon.  Will let you know if the issue goes away.  In the meantime myself and my colleague have both switched to Firefox for looking at the stats as a workaround.  🤦

[2021-12-12 01:47] allinurl commented on #2200
Thanks for the update. Please do let me know if it's still giving you issues after a full redo. Also, let me know if https://rt.goaccess.io presents an issue when using MacOs Safari, as it's using a LetsEncrypt cert.

[2021-12-12 02:09] akblissweb commented on #2200
Just checked.   Mac Safari is giving the exact same issue on https://rt.goaccess.io ,  Firefox is ok.

[2021-12-12 02:14] allinurl commented on #2200
Got it, I'm seeing some `error:140E0197:SSL routines:SSL_shutdown:shutdown while in init` on my end. I'll look into this and post back asap. Thanks again for the update.

[2021-12-12 07:42] masterwishx commented on #2241
No, I still can't run it, how to add command line
goaccess - something?

[2021-12-12 07:45] masterwishx commented on #2241
I mean container is stopped after creation, becose it need to be runner with command (goaccess --no-global-config --config-file=/access/goaccess.conf) I think, but I don't know where to put it and how to add it to container?

[2021-12-12 09:01] masterwishx commented on #2241
fixed by adding needed line to post argument :

root@localhost:# /usr/local/emhttp/plugins/dynamix.docker.manager/scripts/docker create --name='goaccess2' --net='proxynet' -e TZ="Asia/Jerusalem" -e HOST_OS="Unraid" -e 'PUID'='99' -e 'PGID'='100' -p '7890:7890/tcp' -v '/mnt/user/appdata/goaccess2/data/':'/goaccess':'rw' -v '/mnt/user/Logs/NginxProxyManager/proxy_logs.log':'/goaccess/access.log':'rw

[2021-12-12 10:51] ebanDev opened #2246 "Keep only visitors count"
Hey, I'd like to have an option to keep only unique visitors count in the view charts/table :3
Thanks !

[2021-12-12 11:04] air3ijai commented on #2245
I did the following test
1. Generate the report and persist the data
2. Sync dataset to S3
3. Copy dataset from S3 back to different folder

Results
**/opt/goaccess/dataset/day**
[code]

**/opt/goaccess/dataset/day_from_s3**
[code]

Similar result is while use tar/gz to create archive put it to S3 and than get data back.

[2021-12-12 11:15] air3ijai commented on #2245
We have the following sizes for one day:
[code]

What different inodes mean? Will GoAccess start to re-scan all the data in the restored dataset from scratch?

Accordingly to the size we see above it is anyway more convenient to store dataset archived on S3 and then re-use it and just append new logs to scan.

[2021-12-12 23:50] allinurl commented on #2200
Question for you. So far I'm not able to reproduce this issue. Can you please post a screenshot of the error message you are seeing on your end when you browse https://rt.goaccess.io? also, are youu getting the same error when browsing https://goaccess.io?

Thanks.

[2021-12-13 00:33] renegadevi opened #2247 "Docker-compose: Parsed but still unable to fread the specific log file 'goaccess'"
GoAccess seem to find and parse the log with >34k entries, but then gives a fatal error because it's unable to "**fread**" a log file 'goaccess'?

I found a previous issue (https://github.com/allinurl/goaccess/issues/2023) which had the issue of not even parsing the log, but even with the correct path for, it's still error's out after it's been parsed?

docker-compose.yml snippet
[code]

goaccess.

[2021-12-13 00:35] akblissweb commented on #2200
Just to clarify. The cert works for ssl so your main site doesn't have an issue. It only affects the real-time html web socket.

[Image]

I just tried going thru my Mac Keychain again but was unable to find anything relating to the offending old ca cert.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Gerardo O. ***@***.***>
Sent: Monday, December 13, 2021 7

[2021-12-13 01:19] allinurl commented on #2200
It looks like the image was not posted. Also, what version of safari are you using and macOS? Thanks

[2021-12-13 01:32] allinurl commented on #2247
Looks like a path issue. Have you tried running it as (please change the paths accordingly):

    $ echo 'log-format VCOMBINED' > /home/user/goaccess.conf
    $ sudo mkdir /srv
    $ sudo cat access.log | docker run -v /home/user/goaccess.conf:/srv/goaccess.conf --rm -i -e LANG=$LANG allinurl/goaccess -a -o html -p /srv/goaccess.conf - > report.html

[2021-12-13 02:09] allinurl commented on #2246
I'm not sure I follow, you can mouse over right now the label under the chart and it will highlight that metric. Let me know if that's what you are after. Thanks

[2021-12-13 03:42] allinurl commented on #2241
Looks like a path issue. Have you tried running it as (please change the paths accordingly):

    $ echo 'log-format VCOMBINED' > /home/user/goaccess.conf
    $ sudo mkdir /srv
    $ sudo cat access.log | docker run -v /home/user/goaccess.conf:/srv/goaccess.conf --rm -i -e LANG=$LANG allinurl/goaccess -a -o html -p /srv/goaccess.conf - > report.html

[2021-12-13 03:47] allinurl commented on #2245
What I meant with the inode is the log file that you are parsing and not the db files. You need to make sure the log files have the same inodes if you want to parse the same file over and over again. Of course, this depends for how long you are planning to keep those logs. If you are rotating them constantly, parsing with goaccess and then never read them again, then you should be fine by simply p

[2021-12-13 05:13] akblissweb commented on #2200
<img width="283" alt="Screen Shot 2021-12-13 at 1 08 28 PM" src="https://user-images.githubusercontent.com/14582386/145755982-c7c5d7d2-4ae3-4d67-ad14-6e82d9c7a90d.png">
<img width="589" alt="Screen Shot 2021-12-13 at 1 07 56 PM" src="https://user-images.githubusercontent.com/14582386/145755987-6bbea837-7d0b-4537-8f58-16288563e65f.png">
<img width="1048" alt="Screen Shot 2021-12-13 at 1 07 18 PM" s

[2021-12-13 06:52] air3ijai commented on #2245
If it is about the logs - they all stored on S3 and rotated on daily basis. We delete old logs every day, basicaly we retain only last 30 days. And incremental parsing is what do we need here.

We decided to create the following reports:
[code]

And one more no so related to the S3 question but for our pipeline instead.
If we today scan logs for the half of the day and persist the data. Tomorrow w

[2021-12-13 07:40] ebanDev commented on #2246
Yeah, but I'd like to have an option to remove the view count. As my Goaccess dashboard is shared with others, I'd like to keep only the visitors count cause having two numbers are a bit confusing

[2021-12-14 08:41] mandys commented on #2242
Hey @allinurl - any thoughts on this one ?

[2021-12-14 11:36] onlime commented on #1473
just a small addition for those who struggle with this misleading error message. In my case it was because of a specified `--db-path` which was missing on filesystem.

Generating an example report for the last 30d:

[code]

If in this case `/var/www/example/public_html/stats/db` directory was missing, I run into above **Unable to open the specified log file. No such file or directory** error which

[2021-12-14 23:31] allinurl commented on #2241
Sorry, I can't help you with Unraid as I have not used it. Take a look at that example I posted and see if you are able to match that to the config in Unraid. Let me know if that helps or if you find a solution.

[2021-12-15 00:37] allinurl commented on #2242
I think this is going to be addressed easly by the **#117** request. Since we already have a Cache Status panel, then you should either be able to filter by misses/hits/etc and it will show up those URLs. I'm working on that as we speak.

By the way, have you checked at the current  Cache Status panel? Please take a look at the [man page](https://goaccess.io/man) for more info.

[2021-12-15 00:44] allinurl commented on #2245
If I understand, it sounds like you should be able to persist the database files for the reports you mentioned above. Just make sure to set `--db-path=<date>` accordingly. e.g., `--db-path=2021-12` (monthly), or `--db-path=2021-53` (weekly), etc.

Regarding your question, as I said before, you can certainly parse the same log [multiple times](https://github.com/allinurl/goaccess#incremental-log-pr

[2021-12-15 09:37] zhouzhenhua opened #2249 "{BALANCER_WORKER_NAME}e specifiers"
LogFormat "%t %a %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %>s %b %v \"%{User-Agent}i\" %D %{BALANCER_WORKER_NAME}e"
===>
How about specifiers for logging   load balancing back-end IP ports    [{BALANCER_WORKER_NAME}e]

[2021-12-15 10:37] dertuxmalwieder opened #2250 "undefined reference to `TLS_server_method'"
Commit 64fc55d85b4fe5b3b3a26b1b99f30b9201c455d8 broke the build:

[code]

I build GoAccess on a shared webspace, so I don't have *root*. Anyway, the webspace runs CentOS 7 which will be supported until 2024, so it's fine:

[code]

My build file is as follows:

[code]

Maybe there should be a check for *really LTS* versions?

[2021-12-15 12:56] mandys commented on #2242
Are you referring to the attached image ?
If yes, then I have been using it.

I think I pointed this out to you in a previous bug
https://github.com/allinurl/goaccess/issues/1830

Option was there but it was case sensitive and hence not working which was later fixed in a new release.
![Screen Shot 2021-12-15 at 6 26 10 PM](https://user-images.githubusercontent.com/31867/146190442-abd600d3-a895-4f5

[2021-12-15 21:45] air3ijai commented on #2245
As we are using S3 to store all the logs and when we download them next time they have different inodes it means that we will have duplicates all the time when we have overlapping logs. A single option in such a case will be to strictly parse the logs based on the period of date - day in our case.

In our flow we all the time copy and parse logs for yesterday - one day only and we use `--restore`

[2021-12-15 23:05] 0bi-w6n-K3nobi commented on #2200
Hi @akblissweb

Try it from this [post](https://stackoverflow.com/questions/37898048/websocket-network-error-osstatus-error-9807-invalid-certificate-chain) at stackoverflow.

[2021-12-15 23:35] akblissweb commented on #2200
That option is not on my Mac Safari. It's only available on IOS it seems.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: 0bi-w6n-K3nobi ***@***.***>
Sent: Thursday, December 16, 2021 7:05:35 AM
To: allinurl/goaccess ***@***.***>
Cc: akblissweb ***@***.***>; Mention ***@***.***>
Subject: Re: [allinurl/goaccess] LetsEncrypt Sep 30 Root Expiry broke ssl (#220

[2021-12-15 23:54] 0bi-w6n-K3nobi commented on #2200
Humm...

@akblissweb

Let's try again [here](https://github.com/jupyterhub/jupyterhub/issues/292#issuecomment-270429714)...

[2021-12-16 00:15] #2250 closed

[2021-12-16 00:40] akblissweb commented on #2200
That thread is about an untrusted self-signed cert. Mine is a supposedly valid letsencrypt cert
which works in all places except goaccess in safari.

After sep 30th it broke everywhere and I made the necessary changes to ca-certificates.
This fixed most issues but not the goaccess on safari. So ever since I switched to Firefox.  :-)

It's not a deal breaker... Just a mystery.

Maybe if I upgraded

[2021-12-16 14:34] SureshCharan opened #2253 "Looking for help to fine tune goaccess log format for a custom log pattern"
Hi,

I have been exploring goaccess for last couple of days to leverage it to analyze the log files created by one of the open source projects from **ONAP** community. The project uses a custom log pattern and below is the custom log pattern used:

[code]
 You can have a look at the pattern and its configuration at [here.](https://raw.githubusercontent.com/onap/aai-resources/master/aai-resources/s

[2021-12-16 22:44] renegadevi commented on #2247
Yes, that works outside... but once it's in docker-compose, VCOMBINED does not work.

[code]
but still when I change it to `log-format %h %^[%d:%t %^] "%m %U" %s %b "%R" "%u" %^` I get same issue as before. I can make it work by using your command by generating a .html page that I can access from the web, but then it's not running behind the container/port like it should.

[2021-12-17 01:22] allinurl commented on #2247
Could you please post a few lines from your access log?

[2021-12-17 01:25] allinurl commented on #2253
Just to be sure, are these tab separated? If they are, are you able to attach a text file with a few lines straight from the log. e.g.,

    tail -10 access.log > test.log

and upload the test log, it's just easier to work with it. Thanks

[2021-12-17 01:45] allinurl commented on #2245
You can try piping the data in. GoAccess will try to do it based on the date of the last request. However, this method is not as accurate as keeping track of the log.

For example,

    cat access.log | goaccess - -o report.html --log-format=COMBINED

[2021-12-17 06:06] air3ijai commented on #2245
We are using something like you proposed but using gzip archives
[code]
By "not as accurate as keeping track of the log" you mean that we may have some repeated records in the report?

[2021-12-17 08:19] crbon commented on #213
bump

[2021-12-17 16:17] renegadevi commented on #2247
[code]

[2021-12-17 16:30] masterwishx commented on #2241
OK i will try Thanks

[2021-12-17 18:49] SureshCharan commented on #2253
No. They are not tab-separated.
[test.log](https://github.com/allinurl/goaccess/files/7737182/test.log)

[2021-12-19 04:36] renegadevi commented on #2247
Alright, I've got it working now. The main issue was the CMD/command. If I ignored the command, the man page showed up and it gave me the hint of maybe it was trying to parse it as `goaccess goaccess` causing it to think 'goaccess' was the log file, and yes that was the case. I deleted the goaccess in start of the command and it fixed it.

I ended up with:
`command: ["--no-global-config", "--confi

[2021-12-19 04:36] #2247 closed

[2021-12-19 11:58] air3ijai opened #2254 "Add AWS ALB to the predefined logs format"
Hello,

We are considering to parse AWS ALB - [Application Load Balancer](https://aws.amazon.com/elasticloadbalancing/application-load-balancer/) logs. It's log format is described in the documentation - [Access logs for your Application Load Balancer](https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-access-logs.html#access-log-entry-syntax).

It was already discus

[2021-12-20 04:29] #2249 closed

[2021-12-20 12:26] 0bi-w6n-K3nobi commented on #2244
Hi @shado23

There are a number of tests I have in mind that might help you.

First, check the `--keep-last` option is set in your `goaccess.conf`. This option restricts the number of days that will be stored.
If nothing is defined or **`zero`** value than is ok.

Second... You can select only 1 of the files and process it **with** and **without** the `--ignore-crawlers` option and check the diffe

[2021-12-21 02:46] allinurl commented on #2249
Feel free to reopen it if needed and please post a few lines from your access.log. Thanks

[2021-12-21 03:15] #2254 closed

[2021-12-21 03:16] allinurl commented on #2254
Thanks for sharing that. I've added the format as `--log-format=AWSALB` . Also added %k %K to cover the TLS fields. e.g.,

    goaccess access.log --log-format='%^ %dT%t.%^ %v %h:%^ %^ %^ %T %^ %s %^ %^ %b "%r" "%u" %k %K %^' --date-format=%Y-%m-%d --time-format=%T

Closing this. Feel free to reopen it if needed.

[2021-12-21 03:17] allinurl commented on #2247
Awesome. Thanks for sharing those details.

[2021-12-21 03:57] allinurl commented on #2253
Honestly I couldn't match the specifiers you posted and the actual sample test.log. Though, I'd try this:

    goaccess test.log --log-format='%h %^[%d:%t %^] "%m %U" %s %b %^ %v %^' --date-format=%d/%b/%Y --time-format=%T --http-protocol=no

[2021-12-21 03:58] allinurl commented on #2241
Any updates on this? Take a look at [**this post**](https://github.com/allinurl/goaccess/issues/2247#issuecomment-997328227), maybe related.

[2021-12-21 04:00] allinurl commented on #213
@crbon Thanks for the reminder on this. As soon as I finish #117, I'll work on this (and several other cool features). It should be sooner than later. Stay tuned..

[2021-12-21 04:01] allinurl commented on #213
mil

[2021-12-21 04:06] allinurl commented on #2245
If you have two or more requests that look like:

    192.168.01.1 - - [20/Dec/2021:22:02:15 -0600] "GET /dists/trusty/main/binary-i386/Packages...
    192.168.01.1 - - [20/Dec/2021:22:02:15 -0600] "GET /images/image.png...

Then, parsing it again and again by **piping** the log, you will end up with a duplicate as it will start from the first instance with date `20/Dec/2021:22:02:15`. However, if

[2021-12-21 04:09] allinurl commented on #2242
Got it. So just to sum up, the cache status panel is working fine, but you are looking now to filter out based on the cache status, e.g., hit, miss, etc?

[2021-12-21 04:12] allinurl commented on #2240
It will let you filter/search the report based on the data that you are after. It's not available yet, it will come out soon.

Let me know if that makes sense.

[2021-12-21 04:18] allinurl commented on #1473
@onlime Thanks for sharing that feedback. I've updated the error message to be more descriptive. It will be pushed out in the upcoming version. It reads now as:

    Unable to open the specified db path/file '/tmp/test-path/'. No such file or directory

[2021-12-21 04:21] allinurl commented on #2246
Thanks for the feedback. Do you just need to remove it from the chart or the column as well?

[2021-12-21 06:00] mandys commented on #2242
That is correct.
But, more than hits, want to filter through "miss".
That gives us information on which urls don't have proper caching headers.

Hits are hits :-)

[2021-12-21 07:07] michaelsmoody commented on #213
Thank you for the update! I'd actually all but assumed this might never get addressed....

I'll look forward to an update in a future release! I'm still using my work around, but it is disk space heavy. Thank you again for your excellent work here.

As a remind for all of us:

![image](https://user-images.githubusercontent.com/8980056/146886632-23104371-bbfe-4c8a-842c-f12ba2a3c146.png)

[2021-12-21 08:24] air3ijai commented on #2245
Thank you for the explanation, we are using now GoAccess to analyze [CloudFront](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/AccessLogs.html) logs which starting with the date:

[code]
And we may have duplicates here.

Now we are copying logs excluding today and next day we will copy only logs for yesterday and it may help us to solve situation with duplicates
[code]

Probab

[2021-12-21 08:24] #2245 closed

[2021-12-21 16:01] masterwishx commented on #2241
Thanks , its really like my problem in Unraid , i also founded that goaccess in start command is no needed .
but i still cant get it working somehow ,i even changed all values like in example..
![image](https://user-images.githubusercontent.com/28630321/146960494-2057728f-0b41-4290-8dd6-3e49e82bf164.png)

Dont know  if its good i used /var/www/goaccess
when its start , i dont have log and containe

[2021-12-21 16:30] masterwishx commented on #2241
i installed from start and entered values like in example ,but having error
![image](https://user-images.githubusercontent.com/28630321/146964593-c7913a86-25ab-4817-8d73-25cdf840d353.png)
![image](https://user-images.githubusercontent.com/28630321/146965015-ebc71c4f-a8b5-4491-9ad3-9aa21e1fe420.png)

[2021-12-21 16:34] masterwishx commented on #2241
im really dont know what else to do , gregyankovoy/goaccess work well but old version i think i need to check what he did more closly inside container and commands on github ...

[2021-12-21 17:52] #2253 closed

[2021-12-21 19:25] air3ijai opened #2255 "Run GoAccess Docker image on Amazon Graviton instances / Apple M1"
Hello,

During last years [Amazon WS introduced a lot of ARM based instances](https://aws.amazon.com/ec2/graviton/) and they have a great performance and affordable price. Also, Apple started a movement to the ARM architecture which is actual for Developers. It will be great to have an option to run goaccess using ARM architecture.

I'm trying to run goaccess docker image on `t4g.small - 2 vCPU /

[2021-12-22 13:45] masterwishx commented on #2241
With this setting also no logs of container and no webUI but i can get to console also having a lot of cpu usage like 25%
![image](https://user-images.githubusercontent.com/28630321/147102214-eaf52caa-8626-4804-a0b4-79fb300d05c8.png)

dont know what to do ....

[2021-12-23 13:03] masterwishx commented on #2241
should be root:root used in container direcotory ?
tryed to change to root but same ..... changed back to nobody:users in container using 99:100

[2021-12-23 16:24] traveltek-jnewall opened #2257 "Unable to gain HTML reports on GoAccess"
Hello, i am very new to using GoAccess and have run into a little bit of an issue. I cant seem to get the logs to display on a test server and show the HTML output of the logs. I am getting errors such as below:

[code]

As stated above in the error, it seems to be an issue regarding the formats of the logs and the time and date.

This is the apache config file and showing snippets from the log fo

[2021-12-23 17:53] traveltek-tmalek commented on #2257
Just to add a little bit more information to what John has mentioned, here's a sample excerpt of our log file that we're trying to parse:

`10.10.210.164 - - [20/Dec/2021:06:54:54 +0000] "GET /extranet/index.pl HTTP/1.1" 200 29009
10.10.210.164 - - [20/Dec/2021:06:54:55 +0000] "GET /extranet/index.pl?fromajax=1&action=getcallbackscnt HTTP/1.1" 200 50
10.10.6.216 - - [20/Dec/2021:06:54:57 +0000] "O

[2021-12-23 17:56] traveltek-tmalek commented on #2257
![image](https://user-images.githubusercontent.com/72391257/147276426-afff7539-abf5-439a-8dbd-0c1cecad7a44.png)

Sorry I'll provide a screenshot as it seems a bit more user friendly to view than the copy and paste.

[2021-12-23 18:05] allinurl commented on #2257
Have you tried using the COMMON log format? e.g.,

    # goaccess access.log --log-format=COMMON -o report.html

Let me know if that works.

[2021-12-23 18:09] allinurl commented on #2241
Are you able to post this question to the unraid folks/project? They may have better insights on this issue as it sounds it's a config issue. Let me know if they have some feedback. Thanks

[2021-12-24 11:47] traveltek-tmalek commented on #2257
Thanks that has worked =)

[2021-12-24 17:08] allinurl commented on #2257
Glad that did the job. Feel free to reopen it if needed.

[2021-12-24 17:08] #2257 closed

[2021-12-28 10:50] ebanDev commented on #2246
I need to remove them from chart and columns

[2021-12-29 07:14] air3ijai commented on #117
How this may affect existing datasets and charts used for incremental parsing?

If at some point of time we will start to use this feature, will be existing datasets updated somehow and what will be shown on existing charts prior using this feature?

Now we are run GoAccess using the Docker and without specific version - `docker run allinurl/goaccess`.

[2021-12-29 16:26] allinurl commented on #117
@air3ijai This is being implemented so that it works against currently parsed logs. This feature won't be enabled if a dataset was persisted and the log doesn't exist anymore.

[2021-12-29 18:53] air3ijai commented on #117
@allinurl, you mean that if we will plan to enable such an option when it will be implemented it will require us to re-parse all the logs from scratch and if so, can we use it then with the next incremental parsing?

[2021-12-30 07:37] masterwishx commented on #2241
100% its config issue, i already asked if some one using official version ,but no answer in Unraid forum,also made a CA Template Request - GoAccess #306 (https://github.com/selfhosters/unRAID-CA-templates/issues/306)
but like i said befor there is old temlate that using in Unraid gregyankovoy/goaccess.

[2022-01-01 18:13] sderrick opened #2258 "ignore specific folders in URL"
Is there a way to ignore specific folders in a URL request?

If the request is for https://my-domain/admin/...   ignore it

thanks,

Scott

[2022-01-01 22:56] allinurl commented on #2258
You could do some pre-processing on the log, e.g.,

    grep -v "`cat exclude_url_list_file`" access.log | goaccess - --log-format=COMBINED -o report.html

Let me know if that's what you are looking for.

[2022-01-02 05:03] juliuswz commented on #587
@allinurl
New year, new bump 😅
Happy new year by the way 🥳

[2022-01-02 16:31] sderrick commented on #2258
Actually I was hoping for a PARSE OPTION like ignore-referrer or ignore-status.  Could be ignore-path??

I will think about pre-processing.....

Scott

[2022-01-02 23:42] sderrick commented on #2258
allinurl,

I set up a pre-processor and it is working fine,

   grep -v  '/monitor\|/admin\|/hg\|/editor\|/php' $file > ga-$file;

thanks,

Scott

[2022-01-04 03:10] allinurl commented on #2258
Glad that worked. There's parse option right now but I'm expecting this will be part of #117. I'm working on this as we speak. Stay tuned.

Closing this, feel free to reopen it if needed.

[2022-01-04 03:10] #2258 closed

[2022-01-05 16:56] scysys commented on #631
It should be really great if we can get this. I also searched for an solution to this actually and landed here :)

[2022-01-06 10:53] fbollon commented on #1505
Hi,

has anyone ever managed to create a batch to schedule the generation of the static html report on a windows server?

[2022-01-06 17:08] shado23 commented on #2244
Thank you for your detailed suggestions and please excuse the delayed reply.

If nothing is defined or zero value than is ok.

The config file was the stock one from the docker container which doesn't have keep-last set. I've now tried explicitly setting it to 'none', but that doesn't change anything.

So maybe the crawlers have a lot of access to your server and it's a bad idea to remove them fro

[2022-01-06 22:54] 0bi-w6n-K3nobi commented on #2244
Hi @shado23

Thank you for yours tests.
I understand your views.

Well... compressing text files will be possible get between 7% to 13% of original size.
However, I believe you did forget to add time for token and processing these files.
Maybe storage space not be a problem, but time for processing and so organize and sort the data.
This is the idea behind on-disk persistence.

Yeah. Maybe possibl

[2022-01-07 02:17] vszakats commented on #1473
In my case this exact error [^1] got triggered by setting `anonymize-ip yes` (instead of `true` or `false`) which caused `goaccess` to look for a file named `yes`, which did not exist. The patch above will make this clearer in the future. (It may also help to show an error if a boolean setting is set to an invalid value instead of regarding it as a filename.)

[^1]:
[code]

[2022-01-07 02:37] allinurl commented on #1473
@vszakats Thanks for sharing that info. Makes sense to show that if a boolean setting is set to an invalid value. Let me look into that as well.

[2022-01-07 02:42] allinurl commented on #2244
@0bi-w6n-K3nobi Thanks for those tips and @shado23 for the update. Let me look into displaying a message when the limit is reached. Also, how did you end up updating to v1.5.4? You said it didn't through Docker so I wonder if there's something going on with the latest build...

[2022-01-07 02:43] allinurl commented on #1505
@fbollon create a batch as in running through all the logs?

[2022-01-07 13:54] MoritzLost commented on #1952
@allinurl Is this still the expected behaviour?

Some background: We're running goaccess multiple times a day with the `--persist` and `--restore` arguments to update the static HTML file generated by it. nginx logs are rotated daily. Does that mean that each time goaccess runs, it will increment the 'Total Requests' by the number of ALL lines in the nginx log for that day, regardless of whether t

[2022-01-07 14:25] rdhar-tc opened #2259 "What is this log format?"
I think it's Common Log Format with Virtual Host, but the prefix is throwing me off. Log is rendered like so:

[code]

How do I take this into account for the custom format?

Thanks for your time.

[2022-01-07 17:18] 0bi-w6n-K3nobi commented on #2244
Hi @shado23

Some tips for you:

You can use SquashFS for store your LOGs.
Ok... It is maybe need some work your.
You must be compress the LOGs into a SquashFS file and use loop backup (or fuse) for mount it.

For on-disk persistence, you maybe use BtrFS filesystem with compression. And so do you gain some space.

[2022-01-07 17:31] allinurl commented on #2244
I agree. I've done some testing to compress certain data that goaccess stores and I can say that I haven't found a good way of compressing URLs. I'll need to look further and see if there's something out there that can help. @0bi-w6n-K3nobi have you seen anything that may help to compress such data. e.g., URLs, requests (long and short)?

[2022-01-07 17:36] 0bi-w6n-K3nobi commented on #2259
Hi @rdhar-tc

It is seems more NCSA Combined with Virtual Host (VCOMBINED).
Maybe you can try this, at `goaccess.conf`:

`time-format %H:%M:%S`
`date-format %d/%b/%Y`
`log-format %^ %^ %^ %v %^ %h %^[%d:%t %^] "%r" %s %b "%R" "%u"`

or `--time-format="..." ` --date-format="..."`  `--log-format="..."`, at command-line.

[2022-01-07 17:57] 0bi-w6n-K3nobi commented on #2244
Hi @allinurl

Humm... I can try some ideas here.

First, @allinurl... Do you research about shortener URL algorithm?
Maybe be only a key for HASH table... and wouldn't help us.

Second... Some kind of Run-length Encoding?
Maybe progressive RLE from greater URLs to shorter...
 in same way from text compressores?
Its processing maybe be at saving to disk fase.

And more stupid algorithm will can be

[2022-01-07 19:06] rdhar-tc commented on #2259
Thank you, @0bi-w6n-K3nobi, I really appreciate your response. That works a treat!

As an added (low-fi) workaround, I also had success with `cut -c17- access.log` to trim the fixed length prefix before piping the output as `--log-format=VCOMMON`.

Thanks once again for your time.

[2022-01-07 19:06] #2259 closed

[2022-01-08 03:40] allinurl commented on #2244
I have not looked at LZO, do you have some docs on this that may be of help? I was looking at [**this post**](https://stackoverflow.com/a/742047), which seems interesting too with a c++ implementation. Ideally we would implement this upon processing the log but I guess worse case scenario, when data is persisted and restored?

[2022-01-08 03:45] allinurl commented on #1952
It does keep track of those processed lines. Do you know if you are truncating the log upon rotation? unless `copytruncate` is used in logrotate, it just renames the log. If it just moves the file and is within the file system boundaries, then it should just perform a metadata change, so it should preserve the inode number, which should work as expected :)

BTW, do you have some numbers of what yo

[2022-01-08 13:01] cdrx opened #2260 "Can unknown traffic be excluded from the report?"
I'm analysing some web traffic, but trying to limit the report to just traffic that is likely genuine user activity (i.e. not a bot, sensible looking user agent, etc).

Using `--ignore-crawlers` gets me most of the way there, which is great.

If I run with `--unknowns-log`, I can see from the file that there is a lot of long tail junk activity I'm not interested in (log4j attacks, curl, weird bots

[2022-01-08 21:41] 0bi-w6n-K3nobi commented on #2244
Hi @allinurl

The post that you mentioned seems great!

You can implement, of course, at processing log phase...
And certainly  it will save memory consumption... but also maybe will be overload time for processing.
Perhaps do you will need implement and test them... and verify if saving memory, and therefore HASH tables access and update, compensate shorter URL processing.

If I understood correc

[2022-01-08 21:49] 0bi-w6n-K3nobi commented on #2244
Well... LZO homepage is [here](http://www.oberhumer.com/opensource/lzo/).

The miniLZO is best bet for me....
But for now, verifying the code, I am sorry to suggest it.

[2022-01-09 02:38] akblissweb opened #2261 "Desired Customization Features"
Been using Goaccess for a while, but now going all-in on customization (trying).

So I would like to ... in order of importance ...

1.  Show tables on certain panels only, ie. like the "show chart" option, but would be good to have "show table" as well per panel.
2.  Reorder the panels, eg. put GEO Location as the first panel.
3.  Exclude a list of phishing/probing urls like  /wp-admin  etc.
4.

[2022-01-09 05:01] akblissweb opened #2262 "Ignore Statics doesn't seem to work on my compiled version"
I used to have an option in my config file which said ...

   ignore-statics REQUESTS

which removed files like jss, css etc from just the REQUESTS panel.

I just did a new setup of goaccess in docker with a version of 1.5.4 compiled from sources.

Now this line doesn't seem to have any effect on the REQUESTS panel.

[2022-01-09 05:12] AKASHRP98 commented on #1179
@allinurl Any ETA?

[2022-01-09 05:15] akblissweb commented on #2262
Oh, it seems I now have to define all the static_file extensions in my config file, then it works.    Shouldn't it have a master config file set somewhere that does all the default ones ??

[2022-01-09 23:31] allinurl commented on #2260
Thanks for suggesting this. There's no option now to ignore those. Are you looking to ignore them from being counted completely or simply not showing that data?

[2022-01-10 00:21] shado23 commented on #2244
Thanks. That's much appreciated.

I think that was most likely user error on my part. Issuing a `docker pull allinurl/goaccess:latest` fixed it in any case. I'm not really sure when docker decides to automatically repull the tag or not.

[2022-01-10 09:50] cdrx commented on #2260
I'm not sure I understand the difference between not counting or not showing the data.

For me, ideally, I would want the unknowns to be either not imported at all, or excluded from the "visits" metric, on the "unique visitors per day" panel.

I guess what I'm looking for is "unique likely-human visitors per day" (as best we can tell, from the logs)

[2022-01-10 11:00] MoritzLost commented on #1952
@allinurl Thanks for the reply! We're using logrotate with a daily rotation, the logs aren't truncated. Anyway, we're only feeding the current log into goaccess, so it won't see the rotated logs, only the current log for that day. Here's our cronjob script:

[code]

This runs once an hour. So in this case, the lines in the daily log aren't counted repeatedly?

I had a look at the numbers – the tot

[2022-01-11 14:05] 0bi-w6n-K3nobi commented on #2262
Hi @akblissweb

Interesting...
For me, the correct syntax is `ignore-statics req`  or `ignore-statics panel`.
Yes... You must be specify static-file for all that you, or almost of us, consider a static request for file.

Humm... a example for master config, i.e. [`goaccess.conf`](https://github.com/allinurl/goaccess/blob/master/config/goaccess.conf), is into sources at `GIT`.
In this, you have alm

[2022-01-11 14:25] 0bi-w6n-K3nobi commented on #2260
Hum... it is seem so complicated.

In this same way that this request for you may seem "unknown", those may be incorrectly labeled.
Yeah... I known...  A lot of web traffic is just trash. But I would take care about this.

Some times, I had DDoS attack or a extraordinary bandwidth consumption from this "unknown" sources.
I advise you to also be aware of this traffic, so as not to have any unpleasa

[2022-01-17 13:16] traveltek-jnewall opened #2264 "Unable to access a full list of Client IP's"
Hello, i am looking for some information and advice on the logging of client IP's on the GoAccess .html. I have used the log format below and then ran the goaccess access.log -c command to display the relevant log format and show these results. I have managed to display the logs within the real-time html format although it is only showing the top 5 results from this. In what way does GoAccess work

[2022-01-17 14:51] allinurl commented on #2264
Are you sure there are more then 5 different IPs within the log? Also, please feel free to post a few lines from your access log and I can take a look at the log-format. Thanks

[2022-01-18 23:08] allinurl commented on #1179
This will be part of #117 as it should be a matter of filtering by any of those statuses and all panels will be updated accordingly. As far as ETA, I'm working on this as we speak. Early tests are already working as they should, working on the details of it. Stay tuned!

[2022-01-18 23:13] allinurl commented on #117
Folks, I just wanted to give a positive and early update on this. I'm working on it as we speak. Early tests are already working as they should, though, still working on the details. I'm very exited of what it can achieve so far. Stay tuned!

[2022-01-19 21:26] infrastation opened #2265 "prevent negative values in graphs"
Thank you for developing goaccess, it is very helpful in my sysadmin work. Let me make a suggestion for a simple improvement. When a metric is zero for a while and then it sharply takes off, the interpolated curve has a bend into the negative space (see the attached image). As far as I understand, all values graphed by goaccess are non-negative, so this is misleading. The simplest potential soluti

[2022-01-20 00:10] #2265 closed

[2022-01-20 00:13] allinurl commented on #2265
Thanks for reporting this. I've updated the interpolation on those area charts. Please feel free to test it out by building from [development](https://github.com/allinurl/goaccess#build-from-github-development) and let me know how it goes. It will be deployed on the next release this month.

[2022-01-20 00:29] infrastation commented on #2265
Thank you. I have just tried the current master branch, the issue is resolved and the peaks also look more realistic.

[2022-01-20 00:40] allinurl commented on #2265
Glad that did the job. Thanks again and happy to hear you found the tool useful. Stay tuned for some new features on the upcoming releases!

[2022-01-21 01:03] allinurl commented on #1600
Closing this.

[2022-01-21 01:03] #1600 closed

[2022-01-22 04:11] bluebrad commented on #1167
monthly on CWP is not working ?
i agree yearly or a way to recompile weeks and months would be great

[2022-01-22 06:55] snowlyg opened #2267 "Token for '%b' specifier is NULL"
Example log entries:
`192.168.112.89 - - [22/Jan/2022:00:00:01 +0800] "GET /app/bed/message/unread?admId=18413&X-ARR-CACHE-HIT=0&X-ARR-LOG-ID=ed1bf584-5da6-4010-9435-7ce111a75131&SERVER-STATUS=200 HTTP/1.1" 200 192`

Goaccess version:
`GoAccess - version 1.5.4 - Jan 20 2022 11:47:38`

So I start goaccess via:
`LANG='zh_CN.UTF-8' LC_TIME='en_US.UTF-8' goaccess goaccess.log -a -o report.html --log-f

[2022-01-22 15:16] allinurl commented on #2267
Please try using:

    goaccess --log-format=COMMON access.log

[2022-01-23 02:21] snowlyg commented on #2267
Thanks, It's working.

[2022-01-24 08:55] cberescu opened #2268 "Parsing traefik JSON logs timestamps"
It seems that the timestamps in traefik JSON logs are in nanoseconds format. Is there a way to convert/parse them in correct format?

I was not able to find a way to do it, just to ignore the fields.

Could there be added a specifier for nanoseconds ?

[2022-01-24 14:35] aqos156 commented on #969
I'm facing the same issue on latest docker image

[2022-01-24 14:51] allinurl commented on #969
@aqos156 can you please share some details on your environment and the exact error you are getting via the browser's console and if you could try accessing `telnet host 7890`. thanks.

[2022-01-24 14:58] aqos156 commented on #969
@allinurl when I run `cat traefik.log | docker run --rm -i allinurl/goaccess -a -o html --log-format COMBINED - > report.html` then report.html is generated as expected. When I try to use the web server example from docs `cat traefik.log | docker run -p 7890:7890 --rm -i allinurl/goaccess -a -o html --log-format COMBINED --real-time-html - > report.html`

here is excempt from docs ![Snímek obrazo

[2022-01-24 18:18] aqos156 commented on #969
@allinurl just to add, here is the telnet output
[code]

Also both of the curl commands in [this](https://github.com/allinurl/goaccess/issues/969#issuecomment-481949155) comment work for me, but when I remove any upgrade headers it stops working and returns 400.

[2022-01-26 02:41] allinurl commented on #2268
I can look into it. Can you please post a few lines directly from your access log? Thanks.

[2022-01-26 07:49] cberescu commented on #2268
yes, here you go :
[code]

Thanks for looking into it.

[2022-01-27 07:29] StrongFu commented on #1043
Hello, cowaxess_x64 has been installed under Windows system, how to implement the output report.html file is in Chinese？thinks!

remark: Execute export lang=zh_ CN. UTF-8 is invalid

[2022-01-28 12:39] elya5 opened #2270 "Real time html behind reverse proxy returns HTTP status 400"
I have issues setting up the real time view behind a reverse proxy. There are many other issues here about the same topic but I still couldn't figure it out.

Setup:  I have a server with Caddy as a reverse proxy and I would like to set up goaccess for it. This server sits behind another server  with reverse proxy handling SSL etc. which is available to the public. The outer server forwards the re

[2022-01-28 21:31] 0bi-w6n-K3nobi commented on #2270
Hi @elya5

Humm... It is not so simple like as you think...
The protocol behind `URI` `/ws` is WebSocket and not simply `HTTP/HTTPS` protocol.

Try to search, at internet, about Caddy server with WebSocket.
It is need some steps more for work with it.

I hope that helped you.

[2022-01-29 15:23] allinurl commented on #2270
@elya5 Have you looked at this [guide](https://github.com/allinurl/goaccess/issues/1789) for apache? it may help get it going with caddy perhaps. Let us know.

[2022-01-29 15:25] allinurl commented on #1043
@StrongFu please feel free to post this question under https://github.com/allinurl/goaccess/issues/1505

[2022-01-31 14:38] allinurl commented on #2262
Looking at this post, I don't know if it makes sense on having `ignore-statics=req|panel`. What do you guys think? Should this be simply ignore the  whole line if its request is a static file, e.g., jpg, png, etc?

[2022-01-31 14:58] elya5 commented on #2270
Is there any option for more detailed log about? I already tried `--invalid-requests` but the requests don't get logged there.

[2022-01-31 15:52] nebkas commented on #881
Sorry for bringing it up after so long time. Does someone have an actual example for the haproxy cfg file and the config of goaccess log format ?

[2022-02-01 01:04] akblissweb commented on #2262
I personally wanna see statics in most panels. Just in the Requests panel I don't wanna see them.

So for me on a panel by panel basis.

But I can see some people not wanting statics at all.

However if you ignore the line completely you won't know if you have any missing images on your site or bad image urls.

Thanks

Shaun

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________

[2022-02-01 03:47] allinurl commented on #969
@aqos156 Sorry for the late reply. I wonder if you are behind some sort of proxy? Sounds like an environment issue. Here's what I get on a fresh image:

![2022-01-31 21-43](https://user-images.githubusercontent.com/5005367/151909995-7c48a28d-667c-42e5-b102-8fe1b7a114eb.gif)

[2022-02-01 03:52] allinurl commented on #2270
What's the output from your browser's console? Also, did you look at that guide I posted before? did it help?

[2022-02-01 03:53] allinurl commented on #881
@nebkas are you able to share a few lines from your haproxy log?

[2022-02-01 08:12] elya5 commented on #2270
Yes, I looked at the guide and the configuration but still couldn't figure it out.

I start goaccess with the following config: `goaccess /storage/caddy.log --log-format=CADDY --real-time-html --port 7890 --ws-url "example.domain:443/service/ws" -o /var/www/service/stats2.html`.

The browser is sending the following request:

    GET /service/ws HTTP/1.1
    Host: example.domain
    User-Agent: Mo

[2022-02-01 10:33] nebkas commented on #881
I set the log formats like in this example:
https://serverfault.com/questions/764098/haproxy-log-custom-format-for-goaccess

[code]

[2022-02-04 09:43] Firzenizer commented on #1175
Our company would also need this. GoAccess would be our go to solution, if alerts were supported. Mainly needed for tracking abnormal request behaviour. Like same IP sending multiple POST requests to same endpoint over a period of time would generate an error, that could be forwarded to Slack for example.

[2022-02-04 13:43] mcnesium commented on #467
I still think this is an issue. Running v1.5.5 using `-no-progress` option I still see one line of output:

    Cleaning up resources...

This is obviously not an error and should therefore not be written to stderr.

I am trying to run GoAccess in a cronjob, so I need to have the process be completely silenced, if everything works well. With all its output being sent to stderr, I would need to sil

[2022-02-06 11:55] Nemesis77swe opened #2271 "==4357== Token '+0100]' doesn't match specifier '%h'"
Hi, sorry to bother you, but I'm pretty new, and I'm getting the error `==4357== Token '+0100]' doesn't match specifier '%h'`

I'm using the default apache2 configuration, and the default goaccess configuration, so I can't really understand why it's not working.

apparently does my apache add +0100 into the date.
is there anyway to fix/remove the information?

attaching a line from my log;

`123.4

[2022-02-06 14:45] allinurl commented on #2271
Please try:

    # goaccess access.log --log-format=COMBINED

[2022-02-06 15:06] Nemesis77swe commented on #2271
ahh, that solved it, thx a lot!

[2022-02-06 15:06] #2271 closed

[2022-02-07 14:39] PanderMusubi commented on #1926
Same problem here, installed goaccess 1:1.5.5-focal from deb repo. I have

    ls -ltrah /var/lib/GeoIP/GeoLite2-City.mmdb
    -rw-r--r-- 1 root root 67M Feb  4 18:29 /var/lib/GeoIP/GeoLite2-City.mmdb

which is updated with geoipupdate. The command I use is:

    goaccess /tmp/goaccess -o /var/www/html/static/goaccess-$(date +'%Y%m').html --log-format=COMBINED --geo
ip-database=/var/lib/GeoIP/GeoL

[2022-02-07 17:43] PanderMusubi commented on #1926
PS It works for "Visitor Hostnames and IPs" but not for "Geo Location" Is that a feature request?

[2022-02-07 22:04] drewlearns opened #2272 "Request help with custom log format"
I am able to get a --log-format=COMBINED log parse to run but it's output is always the top 5 IPs that are internal IPs (undesired). I've tried the standard log formats but haven't found one that works for our custom log format. Can you assist me with creating a format that will work?

The first IP below is the internal IP and the end of the log is the source IP (the one I need) followed by the cl

[2022-02-08 01:30] 0bi-w6n-K3nobi commented on #1926
Hi @PanderMusubi and @hope1234567hope

I'm sorry for that!
The correct is `Geolite2-City.mmdb` for  `configure` option **`--enable-geoip=mmdb`**.

You can see more detail at man page [here](https://goaccess.io/man#configuration).

[2022-02-08 01:37] 0bi-w6n-K3nobi commented on #1926
At legacy mode/option we have either `IPv4` or `IPv6` at each time.
The database' files are `GeoLiteCity.dat` or `GeoLiteCityv6.dat`.

I hoped that could help you.

[2022-02-08 04:46] JAKAMI99 commented on #2185
Thanks, awesome project :)

[2022-02-08 08:48] PanderMusubi commented on #1926
Thanks for your reply. The city information is available. See the screenshot where it is and where it is missing.

![Screenshot from 2022-02-08 09-39-07](https://user-images.githubusercontent.com/198964/152950872-3c89d104-cdc2-42ac-8722-2341f5d1098b.png)

![Screenshot from 2022-02-08 09-39-22](https://user-images.githubusercontent.com/198964/152950868-fc9a1c93-d075-4353-9e33-de2ef141b441.png)

[2022-02-08 10:22] 0bi-w6n-K3nobi commented on #1926
Hi @PanderMusubi

Yeah... Unfortunately, there are no city drill down into `Geo Location` panel, but only stratification by country.