[2022-02-08 10:34] PanderMusubi commented on #1926
Ah, that explains. Okay to create a feature request for this? As in, probable that it will be implemented?

[2022-02-08 10:38] 0bi-w6n-K3nobi commented on #1926
Humm... I'm here only to collaborate.
This request must be do to @allinurl .

[2022-02-08 11:18] 0bi-w6n-K3nobi commented on #2272
HI @drewlearns

The problem with `COMBINED` format that it no will going expand proxied `IP`s,  seen ate last field into your `LOG`.
i.e. the `$http_x_forwarded_for` field at NGinX `CONF`.

For that, maybe you can try this, at `goaccess.conf`:

`time-format %H:%M:%S`
`date-format %d/%b/%Y`
`log-format %^[%d:%t %^] "%r" %s %b "%R" "%u" ~h{," }`

or at command-line:
`goacces --time-format='...' --da

[2022-02-08 11:22] 0bi-w6n-K3nobi commented on #2272
Well... What IP do you need process? `172.225.xxx.xxx`? Or the last one, `64.252.xxx.xxx`?

[2022-02-08 12:38] drewlearns commented on #2272
I need the 172.225.x.x

[2022-02-08 12:48] drewlearns commented on #2272
$ goaccess /var/log/nginx/access.log*20220127 --time-format='%H:%M:%S' --date-format='%d/%b/%Y' --log-format='%^[%d:%t %^] "%r" %s %b "%R" "%u" ~h{," }'
Parsed 1 linesproducing the following errors:

Token for '%h' specifier is NULL.

Format Errors - Verify your log/date/time format

[2022-02-08 13:18] 0bi-w6n-K3nobi commented on #2272
humm... I did try with `LOG` line above and worked for me.

What version are you running? Use `goaccess --version` for that.

[2022-02-08 13:47] drewlearns commented on #2272
$ LANG=en_US.UTF-8 goaccess /var/log/nginx/access.log*20220127 --time-format='%H:%M:%S' --date-format='%d/%b/%Y' --log-format='%^[%d:%t %^] "%r" %s %b "%R" "%u" ~h{," }'
Parsed 1 linesproducing the following errors:

Token for '%h' specifier is NULL.

Format Errors - Verify your log/date/time format
$ goaccess --version
GoAccess - 1.3.
For more details visit: http://goaccess.io
Copyright (C) 2009-

[2022-02-08 14:04] 0bi-w6n-K3nobi commented on #2272
I believe that you need make a update.
The new one do not have this problem. What are your Linux Flavour/Distro?

[2022-02-08 14:04] drewlearns commented on #2272
I'm using yum installer from aws linux 2

[2022-02-08 14:08] somnium78 commented on #2268
@cberescu would you please share your log-format settings in goaccess which matches the traefik accesslog format? I have been trying for days to get the requested hostnames  :-/

[2022-02-08 14:18] cberescu commented on #2268
[code]

[2022-02-08 15:15] drewlearns commented on #2272
`goaccess-1.5.5]# goaccess /var/log/nginx/access.log*20220127 --time-format='%H:%M:%S' --date-format='%d/%b/%Y' --log-format='%^[%d:%t %^] "%r" %s %b "%R" "%u" ~h{," }'
Cleaning up resources...
==9737== GoAccess - Copyright (C) 2009-2020 by Gerardo Orellana
==9737== https://goaccess.io - <hello@goaccess.io>
==9737== Released under the MIT License.
==9737==
==9737== FILE: /var/log/nginx/access.log-

[2022-02-08 15:16] drewlearns commented on #2272
It appears some of them don't provide a host IP because they are 301 redirects internally.

[2022-02-08 15:19] drewlearns commented on #2272
Is it possible to grep those out within the command?

[2022-02-08 16:45] allinurl commented on #2272
@0bi-w6n-K3nobi format works fine for me too:

![2022-02-08 10-43](https://user-images.githubusercontent.com/5005367/153034292-cc90e6c4-a81e-4777-8ebe-30ba53b19051.gif)

You could try ignoring those lines using  `--num-test=0` or you could pre-process the log with awk and add a bogus ip that matches the same format.

[2022-02-08 17:32] drewlearns commented on #2272
That did the trick! Thank you so much!

[2022-02-08 17:32] #2272 closed

[2022-02-08 18:03] 0bi-w6n-K3nobi commented on #2272
Hi @drewlearns

Just trick for you:
Use the option `--invalid-requests` for check if incorrect lines are that you hoped.

More details see the man page [here](https://goaccess.io/man#options), at `FILE OPTIONS` section.

[2022-02-10 16:17] lastzero commented on #2268
Yep, Traefik logs duration in nanoseconds, which is not an available option at the moment:

[code]

see https://goaccess.io/man#SPECIFIERS

[2022-02-10 19:26] norg opened #2273 "Add stats overview for user agents"
Hi,

would it be possible to have an additional chart for the different user-agents to get an idea which user-agents are seen most of the time and in what detail they might differ?

The parsing itself works perfect with the apache2 logfile, as I can zoom into that detail when I pass `-a` but a dedicated panel for user-agents (like we have for OS and browsers) would be nice.

[2022-02-10 20:19] demifiend9 opened #2274 "cowaxess on Wndows - real time html adds entire log to stats everytime the log is updated"
For example, if I had 100 requests in my log file, the html shows 100 correctly the first time, but when 1 request is added to log html shows 201 total requests.

Goaccess config:
[code]

I'm using cowaxess, the cygwin package of goaccess. I've tried --restore --persist options but the behavior was still the same.

[2022-02-10 22:56] infrastation commented on #1492
Yes, that would be nice.

[2022-02-11 00:49] allinurl commented on #1492
I'm thinking this can probably be part of #117. I'm working on that feature as we speak. Stay tuned!

[2022-02-11 00:50] allinurl commented on #2274
Have you tried running it without --restore --persist? Also please make sure you don't have anything under the /tmp folder.

[2022-02-11 18:58] demifiend9 commented on #2270
@elya5 not sure if this is helpful or relevant anymore, but I'm using caddy with reverse proxy and websocket works

goaccess config
[code]

caddy config
[code]

Try removing wss:// part from --ws-url option. Another problem I see in your config is that goaccess is expecting to serve websocket on example.domain as specified by your --ws-url but you're reverse proxying on localhost. Try adding --add

[2022-02-12 03:23] f00d4tehg0dz opened #2275 "Hundreds of Invalid Requests"
Unsure as to why I'm getting so many failed requests over this data. I only want the request_url, timestamp, http_host, and remote_address.  The dashboard and console show hundreds of invalid requests

**This is my config file details**
[code]

**Slimmed-down example**

[code]

The script I'm running inside of Ubuntu 20.04 LTS

`zcat 1_*.gz | /home/ubuntu/goaccess/./goaccess -p goaccess_nginx_log.

[2022-02-12 05:33] #2275 closed

[2022-02-12 16:40] allinurl commented on #2275
goaccess supports JSON formats, so you should be able to use this:

    goaccess access.log --log-format='{"remote_address":"%h","http_version":"%H","request_url":"%U","request_type":"%m","request_time":"%T","http_referer":"%R","http_user_agent":"%u","http_host":"%v","status":"%s","content_type":"%M","timestamp":"%d:%t %^"}' --date-format=%d/%b/%Y --time-format=%T

[2022-02-14 23:14] ggedde opened #2276 "Per Minute not working with json output"
I am using the command with `--hour-spec=min` but I don't get any additional by minute reports.
I am on version 1.5.3 with Ubuntu 20.04.

I have tried with and without `--date-spec=hr`, but no difference other then the hours are not included, etc.
Is `--hour-spec=min` suppose to work with json output?

Any Help would be appreciated, thanks.

[2022-02-15 01:01] allinurl commented on #2276
I don't believe there's been any issues with that part of the code, here's the output I'm getting on an JSON report (v1.5.5):

    goaccess log --log-format=VCOMBINED --hour-spec=min -o report.json

![2022-02-14-185545_180x37_scrot](https://user-images.githubusercontent.com/5005367/153972195-0e3d2bd1-4660-4f59-a8a5-2ff02a14d154.png)

    goaccess log --log-format=VCOMBINED -o report.json
![2022-02

[2022-02-15 02:33] ggedde commented on #2276
Thanks @allinurl, but I just tried `goaccess access.log --log-format=VCOMBINED --hour-spec=min -o json` which doesn't work because of my log format which is nginx and I get a error `Format Errors - Verify your log/date/time format`

So I tried `goaccess access.log --log-format=COMBINED --hour-spec=min -o json` which outputs the json code, but no minute format.
Example Output:
[code]
Here is an exa

[2022-02-15 02:50] allinurl commented on #2276
Sounds like a format issue. Here's what I get for that single line you posted:

    goaccess access.log --log-format=COMBINED --hour-spec=min --date-spec=hr -o report.json

[code]

[2022-02-15 03:04] ggedde commented on #2276
@allinurl So it looks like you are getting the same issue as me on version 1.5.5.
_"Sounds like a format issue"_
Are you suggesting a formatting issue with goaccess or with my logs?
I am using Nginx Version nginx/1.18.0 which is the default that comes with Ubuntu 20.04 and I am not changing the log format so it is the default nginx log format.

So do think I need to specify a different log format?

[2022-02-15 03:04] #2276 closed

[2022-02-15 03:08] allinurl commented on #2276
Not sure what you mean with getting the same issue, I get the right data as far as I can tell. On the first panel, I get `2022021422` => `2022-02-14:22` and the visit times panel I get `22:5`. Are you getting the same output too?

[2022-02-15 03:24] ggedde commented on #2276
Wow!, Sorry,
I guess I didn't understand the documentation enough.
This is working!

I thought it would be shown in the "visitors" panel and just add the .5, etc to the end of the date. Just like the "--date-spec=hr" does.
I didn't realize that this would show in a different section. I see the documentation does state "This is used in the time distribution panel".  I am only using it the cli and h

[2022-02-15 03:34] allinurl commented on #2276
No worries, in any event, thank you for sharing that feedback. I should update the docs to reflect that.

Yes, please feel free to open a new issue with that request :)

[2022-02-15 03:47] ggedde commented on #2276
Ohh, I guess this is not what I was looking for. I see now this is just an accumulation of the Visit Times by minute, but doesn't allow me to see specific days traffic by minute. I will make a request for that.

Thanks

[2022-02-15 04:03] ggedde opened #2277 "Need ability to break down VISITORS data by minute"
First off, Thanks so much for such an awesome and amazing application!

Currently I can get the visitors data break down by day or by hour, but would really like to be able to get it by minute as well. At the very least I am looking for every 5 minutes, but I know that many people might need it by minute.

It would be awesome to just add an option to `--date-spec` for `min` then just append the mi

[2022-02-17 01:47] allinurl commented on #2270
@demifiend9 Thanks a lot for sharing that. @elya5 did that help?

[2022-02-17 10:51] abdul-alim commented on #1635
Hi Team,
Having the same issue.

Log Sample:
[code]
Please help.

[code]

[2022-02-17 10:55] abdul-alim commented on #1546
Hi Team,
Having the same issue.

Log Sample:
[code]

Error:
[code]

[2022-02-19 20:05] SergVassiliev opened #2279 "tions"

[2022-02-19 20:06] #2279 closed

[2022-02-21 16:02] Joly0 opened #2280 "Log format for Lancache log"
Hey, i am trying to figure out the log format for lancache (basically a nginx caching dns server)

Here are some examples from the access log file:
`[wsus] 192.168.178.111 / - - - [26/Sep/2021:22:24:12 +0200] "GET /d/msdownload/update/software/defu/2021/09/am_engine_6e3f9e436b6a01de0f94768c358118017fae86a9.exe HTTP/1.1" 206 1048576 "-" "Microsoft-Delivery-Optimization/10.0" "MISS" "au.download.win

[2022-02-22 10:45] elya5 commented on #2270
Thanks @demifiend9 for the info. I probably missed the connection upgrade, however even with the changes it still does not work.

Here is the caddy config part:
[code]

The goaccess call: `goaccess /permanent/caddy.log --log-format=CADDY -o /var/www/service/goaccess.html --ws-url=example.domain:443/service/ws --addr=localhost --port 7890 --real-time-html`

The browser shows the following request:

[2022-02-22 15:50] allinurl commented on #1546
@abdul-alim Sorry for the delay, this should do it:

    goaccess access.log --log-format='[%d:%t %^] %^ %s %^ %^ %m %^ %v "%U" [%^ %h] [%^ %b] %^"%u" "%R"' --date-format=%d/%b/%Y --time-format=%T

[2022-02-22 15:50] allinurl commented on #1635
@abdul-alim Sorry for the delay, this should do it:

    goaccess access.log --log-format='[%d:%t %^] %^ %s %^ %^ %m %^ %v "%U" [%^ %h] [%^ %b] %^"%u" "%R"' --date-format=%d/%b/%Y --time-format=%T

[2022-02-22 23:55] allinurl commented on #2280
Please try this, it should work:

    goaccess access.log --log-format='%^ %h %^[%d:%t %^] "%r" %s %b "%R" "%u" "%C" %^' --date-format=%d/%b/%Y --time-format=%T

[2022-02-22 23:57] allinurl commented on #2277
This sounds totally doable, like you said, probably it can be added first to the JSON/CSV outputs.

[2022-02-23 00:02] ggedde commented on #2277
@allinurl Awesome, Thanks

[2022-02-23 18:51] 0bi-w6n-K3nobi commented on #2270
Hi @elya5

Maybe your `URL` into caddy config for `WS` be incorrect.

I think you must declare `/service/ws` instead of `/ws`... or change it at `GOACCESS` command-line.

humm... Another point is if you use port 443 then need use `WSS`, and set correct `SSL` Certificate
with `--ssl-cert` and `--ssl-key` options.
See more at man page [here](https://goaccess.io/man#options) at `SERVER OPTIONS` secti

[2022-02-25 21:29] LaJobe opened #2281 "realtime issues through HAProxy"
Hi, I'm running Goaccess to analyse Apache2 logs. It works great as long as I'm on the LAN.
When I want to read the realtime report.html page from the internet, I don't get the green dot and page is static.
My setup is made of Apache web servers behind a HAProxy load balancer.

I've been struggling and testing various configuration for 3 days, but I still don't understand how to correctly use the

[2022-02-25 22:18] demifiend9 commented on #2270
@elya5 You don't need to use /ws path for hosting the webscoket as caddy will match the websocket headers to correctly reverse proxy it. remove /ws from both configs

Try this.

[code]
[code]

If it still doesn't work then it's probably a problem with /service path of your proxy server above caddy. Reverse proxies are known to not play well with paths, thats why it's preferred to use a different s

[2022-02-27 18:09] 42l-neil-tmp opened #2282 "GDPR compliance and anonymize-ip"
Hi,

Thanks for developing and maintaining goaccess, we are using it since about two years already. It has changed a lot since then, we’re glad to see that it’s still evolving!

A word about the `--anonymize-ip` feature. It [currently operates](https://github.com/allinurl/goaccess/blob/master/src/gholder.c#L509) by hiding the last 8 bits for IPv4 addresses, and the last 64 bits for IPv6 addresses.

[2022-03-01 00:54] allinurl commented on #2282
Thanks for sharing that feedback and glad to hear you guys have been using it for some time.

It sounds like it's totally doable, like you said, I think the best is to have an option where you can specify the level, e.g., 1, 2, 3. It shouldn't be too bad, mostly playing with the mask on this [**piece of code**](https://github.com/allinurl/goaccess/blob/master/src/gholder.c#L509). I can take a look

[2022-03-03 00:45] allinurl commented on #2281
Sorry for the delay. Could you please share what's the out from your browser's console. Also, please share how you're running goaccess server command line options. Thanks

[2022-03-03 00:48] allinurl commented on #2274
Hard to tell to be honest. Are you able to test this on a Linux machine?

[2022-03-03 08:31] homeisfar opened #2283 ""Cleaning up resources..." string prints to stderr."
https://github.com/allinurl/goaccess/blob/master/src/goaccess.c#L213

Is this intentional? This seems like normal functionality that should print to stdout. As it stands, this extra stderr print causes spurious mail to be sent from a cron job, as this user describes: https://github.com/allinurl/goaccess/issues/467#issuecomment-1029997006

[2022-03-03 15:58] helmut72 opened #2284 "Requests by IP in timeline?"
Thanks for this tool, just have started playing with it. Sorry to disturb and I guess I have overseen it, but I can't find my personal most important table:

Requests in a timeline, which shows sortable IP, Username, Country, Browser, OS and HTTP Status Code columns. Maybe also RX and TX per request and when I click on the IP, it should show Referring site like it's the User-Agent in the "Visitor

[2022-03-03 20:23] r4tze opened #2285 "NPM Log Format"
I was a little disappointed when I realized the nginx proxy manager (https://nginxproxymanager.com/) does not use a standard nginx logging format.  I tried a few alternations but now I‘m stuck with:

`Token 'https' doesn't match specifier '%H' `

This is my log format:
`log_format [%d:%t %^] - %s %^ - %m %H %v "%U" [Client %h] [Length %b] [Gzip %^] [Send-to ~h] "%u" "%R" `

And this is the log lin

[2022-03-03 23:29] allinurl commented on #2285
Please try:

    goaccess access.log --log-format='[%d:%t %^] - %s %^ - %m %^ %v "%U" [Client %h] [Length %b] %^"%u" "%R"' --date-format=%d/%b/%Y --time-format=%T

[2022-03-03 23:30] allinurl commented on #2283
Thanks for pointing that out. You're right, it should be stdout. Please feel free to submit a PR, happy to merge it :)

[2022-03-05 01:24] allinurl commented on #2284
Hello, #117 will let you do this easily. I'm working on it as we speak and should be coming as soon as I'm on the last stages of it. Stay tuned.

[2022-03-06 23:12] #898 closed

[2022-03-07 00:02] ggedde commented on #671
@allinurl Any updates on this. I am also looking for this feature. This topic hasn't been updated for awhile, but I am not seeing any updates in the Documentation.

My suggestion is to add the option to set the --persist value.
Ex.
`--persist=31`

And another option.
Ex.
`--purge=31`

The value for both being days.

If you add a value to --persist ex 31 then at the end of the process goaccess shou

[2022-03-07 02:37] allinurl commented on #671
@ggedde Could this be achieved with `--keep-last=<num_days>`?

[2022-03-07 06:58] demifiend9 commented on #2274
I can't right now, but as a workaround I've been using a .bat file to pipe the log into goaccess and that's been working well.

`tail.exe -q -F -n +0 d:/caddy/logs/example.com.log.json | goaccess.exe --config-file=goaccess.conf -`

[2022-03-07 08:43] ggedde commented on #671
@allinurl Oh, sorry I missed that. I will give that a try.

Would that then address this issue? Or are you keeping it open because you're still working on revamping the database or addressing the original issue another way? ie size-limit?

[2022-03-07 08:43] r4tze commented on #2285
This works like a charm! Thank you!

[2022-03-07 14:15] #2285 closed

[2022-03-07 22:20] lordraiden commented on #2241
Any update on this? is there a working configuration for Unraid?

[2022-03-07 23:21] allinurl commented on #671
@ggedde actually it does address the issue, the DB was revamped in v1.4, so I'm closing this. Thanks for the heads up on this.

Also thank you so much for the much generous donation, very much appreciated!

[2022-03-07 23:21] #671 closed

[2022-03-07 23:27] ggedde commented on #671
@allinurl No, Problem. Thanks for the awesome software and your quick replies!

[2022-03-08 08:20] jgayer opened #2290 "Run terminal mode in docker"
Is it possible to run the terminal shell with docker?
The documentation examples just show how to create a html report:
`cat access.log | docker run --rm -i -e LANG=$LANG allinurl/goaccess -a -o html --log-format COMBINED - > report.html`

Thanks!

[2022-03-08 16:26] masterwishx commented on #2241
No , or i dont know how to adopt it ,the only working docker for unraid is https://github.com/GregYankovoy/docker-goaccess
but with old version

[2022-03-08 21:04] allinurl commented on #2241
@masterwishx have you tried updating the [Dockerfile](https://github.com/GregYankovoy/docker-goaccess/blob/master/Dockerfile#L11) from v1.4 to 1.5.5?

[2022-03-09 08:52] masterwishx commented on #2241
No, I wanted and made copy of his github but I need to upload docker image  but don't have much time for now

[2022-03-09 23:00] francislavoie commented on #2220
FYI these changes have been release in https://github.com/caddyserver/caddy/releases/tag/v2.5.0-beta.1

[2022-03-10 16:52] allinurl commented on #2220
Thanks for sharing this. Do you have an ETA for the production release? I'm thinking it may be best to do the switch on goaccess' format when Caddy reaches the stable release.

[2022-03-10 17:26] allinurl commented on #2290
Sorry for the delay on the response. Sure you can:

[code]

[2022-03-10 17:29] francislavoie commented on #2220
We don't really have a schedule, we usually just cut the release when it "feels good". If we don't get much feedback, we might just make the stable release.

Maybe you could set up a PR in the meantime so you just need to click merge when the time comes? :man_shrugging:

But yeah, I'll let you know when stable is released. Or if you like, you can subscribe to releases on the Caddy repo in github (

[2022-03-10 23:30] ggedde opened #2291 "[Question] Why does there need to be separate databases for --date-spec?"
I assumed that I could use the same database when accessing --date-spec=hr when I already created a database with --date-spec=date. I assumed that all the data for --date-spec=hr would be there in the database from --date-spec=date. However, when I try that it does not work and only shows the results from --date-spec=date instead of hourly. I am using output of json.

It does work if I create 2 se

[2022-03-11 00:39] #2277 closed

[2022-03-11 00:43] allinurl commented on #2277
This has been implemented. Please try building from [development](https://github.com/allinurl/goaccess#build-from-github-development) and let me know if it works fine on your end. i.e., `--date-spec=min`. I plan to push it out in the upcoming release. Thanks

[2022-03-11 01:04] allinurl commented on #2291
Good question. When using `--date-spec=<hr|min>`, that data is parsed and stored into the db as specified by that option. In your case, you probably want to create three reports, however, it depends exactly on what you are looking for. If you are mostly interested on the visitors panel metrics, then you could generate it using `--date-spec=min` and then you can post-process the JSON file and strip

[2022-03-11 02:39] ggedde commented on #2291
Thanks @allinurl, creating three different reports and databases is not that big of an issue. So I'll probably keep moving forward with that.

As far as doing the post process I don't think that'll work for my reports. I am only focused on the unique visitors. If hour 1 has four unique visitors and hour 2 has 3 unique visitors, there's no real way to know for sure how many unique visitors there we

[2022-03-11 11:55] masterwishx commented on #2241
we have now working container for unraid

[goaccess-for-nginxproxymanager](https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager)

[2022-03-11 14:14] allinurl commented on #2241
@masterwishx Thanks for sharing that link!

[2022-03-12 09:56] skathiresan-hw commented on #1635
'time_local="$time_local" http_method="$request_method" scheme="$scheme" site="$server_name" server="$host" dest_port="$server_port" dest_ip="$server_addr" http_host="$http_host" src="$remote_addr" user="$remote_user" status="$status" bytes_out="$body_bytes_sent" bytes_in="$upstream_response_length" http_referer="$http_referer" http_user_agent="$http_user_agent" nginx_version="$nginx_version" http

[2022-03-13 19:47] 42l-neil-tmp commented on #2282
The PR proposed by @pitilux [has been tested](https://stats.42l.fr/reports/weekly/2022/09/all/nitter.html) in our production environment with goaccess’ master branch, and works like a charm.

Thanks to both of you! Closing the issue.

[2022-03-13 19:47] #2282 closed

[2022-03-13 19:54] allinurl commented on #2282
Thank you for the PR again and for posting an update. Happy to hear it's working fine :)

[2022-03-14 05:24] azmidotmy opened #2292 "Token '13' doesn't match specifier '%d'"
Im trying to reconstruct goaccess log format and have also looked on the other issues but it does not work on my case.
I have also worked on the correct locale.

my current locale LANG
[code]

This is the my access.log record;
[code]

And this is the error that I got;
[code]

Thanks.

[2022-03-14 08:12] jgayer commented on #2290
Thanks, but why can't I just run
`cat access.log | docker run  -i  allinurl/goaccess --log-format COMBINED -`
It seems to me that this is equal to what you suggested, but it prints out the html instead of running the shell interactivly.
`cat access.log | docker run  -it  allinurl/goaccess --log-format COMBINED -` (added -t option) returns "the input device is not a TTY". It would be great for dock

[2022-03-14 20:50] ggedde commented on #2277
Thanks @allinurl, I am not sure if I have time to test from development, but if I do I will give it a try. Thanks

[2022-03-14 22:15] allinurl commented on #2292
Please take a look at the man pages [**custom fields**](https://goaccess.io/man#custom-log) for more info, though this should work:

    goaccess access.log --log-format='%e [%d:%t %^] "%r" %s %b "%R" "%u" %^ %v:%^ (%h)  %^"%^" "%^" "%^" "%^" "%^" %^ %^ %D %^' --date-format=%d/%b/%Y --time-format=%T

[2022-03-15 00:11] allinurl commented on #1635
This should do it:

    goaccess access.log --log-format='%^="%d:%t %^" %^="%m" %^="%^" %^="%^" %^="%v" %^="%^" %^="%^" %^="%^" %^="%h" %^="%e" %^="%s" %^="%b" %^="%^" %^="%R" %^="%u" %^="%^" %^="%^" %^="%U" %^="%T" %^="%^" %^="%H" %^' --date-format=%d/%b/%Y --time-format=%T

[2022-03-15 00:15] allinurl commented on #2291
Makes sense. You will need to have goaccess process the log at the granular level.

[2022-03-15 00:25] allinurl commented on #2220
Got it. I just subscribed to Caddy's releases. Yes, please feel free to let me know in case I miss it. [**PR**](https://github.com/allinurl/goaccess/pull/2293) is ready. Thanks again, Francis!

[2022-03-15 00:28] allinurl commented on #2274
If you have a chance to run it directly via cygwin, it would be great, just to see if we can isolate the issue to cowaxess or something else. Here's the [**list of packages**](https://goaccess.io/faq#installation) needed on cygwin. Please let me know.

[2022-03-15 02:39] Lennart01 opened #2294 "OpenLiteSpeed NCSA extended/combined"
Hey,
I've been trying to get my log files parsed correctly but I can't get the user agents to be parsed correctly and keep ending up with "Unknown".
Example log:
`"ip - directory [15/Mar/2022:03:31:12 +0100] "GET /directory/test.mp4 HTTP/1.1" 200 1004594 "https://iamaref.com/test/test" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.51 Safari/537.

[2022-03-15 03:47] mholt commented on #2220
Thanks so much for your ongoing maintenance, @allinurl ! We appreciate it!

[2022-03-15 06:18] azmidotmy commented on #2292
thank you @allinurl for the assistance and the man pages, thats really helpful for me to dig more into the custom fields options.

I have another blockage seems my production servers are showing hostname instead IP Address for the (%h) field, what is the SPECIFIERS that I can use as I cannot use %v anymore because "Token already set for '%v' specifier." will pop-out.

example of access.log from pr

[2022-03-15 19:24] 0bi-w6n-K3nobi commented on #2281
Hi @LaJobe .

Well... I is thinking with my buttons...

If you use HAProxy then you must be have 2 or more Apache2 Servers... Right?
So, do you need running `GOACCESS` each Apache2 Server...
And therefore different ports, for each server, to see through HAProxy.

For Ex:
[code]
Otherwise, do you need only one of Apaches see `LOGs` all of them.
And  so only one `GOACCESS` run at these.

Another not

[2022-03-15 19:49] 0bi-w6n-K3nobi commented on #2294
Hi @Lennart01 ..

You've come close... That's almost it.
Try this:
`--log-format='"%h %^[%d:%t %^] "%r" %s %b "%R" "%u"'  --data-format...`

[2022-03-15 21:56] Lennart01 commented on #2294
thank you very much. That worked perfectly.

[2022-03-15 21:56] #2294 closed

[2022-03-16 09:56] 0bi-w6n-K3nobi commented on #2294
Hio @Lennart01

Some tips for your studies...

For C and C++, I suggest the author Herbert Schildt.
The books `C: The Complete Reference` and `C++: The Complete Reference` are greats!
Several tips and tricks that it took me a long time to learn on my own.

Well... I work at Linux at two decades, and did have some prejudice about C# and M$cr0ft...
But today, all turn on free software and,  I believ

[2022-03-17 02:00] allinurl commented on #2292
@azmidotmy assuming `596` is the time served in microseconds (otherwise, feel free to change as needed), then:

    goaccess access.log --log-format='%^ [%d:%t %^] "%r" %s %b "%R" "%u" %^ %^ (%v) %^ %^ ~h{", } %^ %^ %^ "%e" %D %^' --date-format=%d/%b/%Y --time-format=%T

[2022-03-17 07:35] azmidotmy commented on #2292
Thank you very much @allinurl !

Its working now, looking at the differences, noticed %^ specifier there to replace %v:%^ .

Will playing around with these specifiers with other custom log format so I can get better understanding.

[2022-03-19 18:10] masterwishx commented on #2241
https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/issues/28
i founded a lot of CPU usage and  i can see like 15000 request adding every second ...

[2022-03-19 23:19] allinurl commented on #2292
Glad that did it. Closing this, feel free to reopen it if needed.

[2022-03-19 23:19] #2292 closed

[2022-03-21 11:20] #2280 closed

[2022-03-23 04:32] alaskapublic commented on #496
I'll second this issue.

Server time is in UTC, and local time is -8 or -9 depending on Daylight Savings Time.
Problem is that the logs are all shifted by 8 or 9 hours.

This makes it problematic when looking at:
Unique visitors per day,
Time Distribution

Is it possible to add a TimeZone flag when running GoAccess so that upon ingesting the logs or creating the report it will shift the date/time

[2022-03-25 15:52] masterwishx commented on #2241
allinurl

Do you know maybe what the problem can be and where to look to solve issue?
i have a lot of request every second and so a lot of CPU usage but some days befor the problem is gone and now its back
https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/issues/28
Many Thanks

[2022-03-27 01:23] demifiend9 commented on #2274
I just did that, installed cygwin with those packages and compiled goaccess. Still the same bug.

[2022-03-28 02:56] azmidotmy commented on #2292
@allinurl

I played around with the specifiers.

[code]

Same example output as above, I want to pull "anonymous" informations out and placed it in the REMOTE USER (HTTP AUTHENTICATION) panel / %e specifiers but some user id did not shows up.

This is the specifiers that I used.
[code]

I attached some screenshot like below, in the blue circle;
<img width="1117" alt="Screenshot 2022-03-28 at 10 53

[2022-03-28 03:08] allinurl commented on #2241
@masterwishx I'd run goaccess directly without docker, and see if the issue persists, we want to make sure the layers on top are not the culprit. Also, where are you seeing 15K reqs/sec?

[2022-03-28 03:11] allinurl commented on #2292
@azmidotmy could you please attach a file that contains more lines directly from your access log? Thanks

[2022-03-29 13:48] Khez commented on #1663
Ran into the same issue, ended up adding
[code]

And then calling adding the keep alive after https://github.com/allinurl/goaccess/blob/master/resources/js/app.js#L92

@allinurl Want a pull request with this logic ? I'm thinking of adding a config value for the delay and the disconnect action.

[2022-03-31 18:16] #2291 closed

[2022-04-03 15:00] by opened #2295 "arm64 @ https://deb.goaccess.io/"
Any plans to also provide an arm64 package at https://deb.goaccess.io/, ideally for buster? – Thanks!

[2022-04-04 22:50] allinurl commented on #2295
I'd like to add an arm64 package to the repo. There's a conversation under #1894, like I mentioned there, I'm looking for an automated way of building this package. Please feel free to chime in if you know a good way of doing this. Thanks

[2022-04-04 22:57] allinurl commented on #1663
@Khez Thanks for sharing that. Just to make sure, did that solve the disconnect issue on your end?

[2022-04-05 01:37] Khez commented on #1663
@allinurl I did see some disconnects, but it might have been my reverse proxy setup closing the connections.

Refreshing is a bit intrusive to the end user, a reconnect would make more sens, but I'm uncertain how data consistency is ensured thorugh goaccess - gwsocket

[2022-04-05 12:16] harsxv commented on #666
Upvote for this UTM feature👍🏽

[2022-04-05 14:36] Shirkit commented on #666
I'm still looking forward to see this =]

[2022-04-07 07:45] johnlyons opened #2296 "Bunny access logs with GoAccess"
Hello.

I'm wondering if GoAccess can retrieve basic visitor numbers from a Bunny CDN log file? Below are some lines from a recent Bunny .log file:

[code]

[2022-04-07 14:44] azmidotmy commented on #2292
sorry @allinurl , your provided options are workable so I will stick with that.

[2022-04-08 05:22] Nickguitar opened #2297 "Format Errors - Verify your log/date/time format"
Hi. I'm having some trouble with log formats.

This is the log config inside nginx.conf:
[code]

This is an example of my log file:
[code]

This is the command I'm using and the error:
[code]

I don't know exactly what is the problem; I'm not quite familiar with log formats. Could anyone help me?
Thanks!

[2022-04-08 05:36] Nickguitar commented on #2297
I managed to solve the problem using

[code]

[2022-04-08 05:36] #2297 closed

[2022-04-08 08:28] klaucher opened #2298 "go-access log format for custom logs"
I am getting following error while using go-access with custom log format:
=3820== Token '(Linux;' doesn't match specifier '%h'

Sample log format is as under:
2022-03-29	23:39:57	2103:3072:3a23:d36b:d493:5091:be82:a1df	GET	/www.xxx.co.in/favicon.ico	200	32638	0	"-"	"Mozilla/5.0 (Mobile; LYF/F250D/LYF-F220D-002-06-29-170342;Android; rv:48.0) Gecko/48.0 Firefox/48.0 KAIOS/2.5"	"-"	"-"	"www.xxx.co.i

[2022-04-08 12:42] allinurl commented on #2296
Seems like #2171 already posted the right format, you should be able to run goaccess as:

    goaccess access.log --log-format='%C|%s|%x|%b|%^|%h|%R|%U|%v|%u|%^|%^' --date-format='%*' --time-format='%*' --http-protocol=no --http-method=no

[2022-04-08 12:44] johnlyons commented on #2296
Perfect, thank you.

[2022-04-08 12:46] allinurl commented on #2298
I'm not sure what that 0 is after the bytes, I assumed it was the time taken to serve the request in seconds with milliseconds resolution, otherwise, please replace the %T specifier with %^. Or take a look at the man page for more [specifiers.](https://goaccess.io/man#custom-log). This should work:

    goaccess access.log --log-format='%d %t %h %m %U %s %b %T "%R" "%u" %^ %^ "%v"' --date-format=%

[2022-04-08 12:52] allinurl commented on #2297
You will need to add some delimiters to the user agent part in your nginx log format, this kinda works but may break in some cases:

    goaccess access.log --log-format='[%d:%t %^] %h %^ %v %u%^- %^ %m %U %H %s' --date-format=%d/%b/%Y --time-format=%T

[2022-04-08 12:53] #2296 closed

[2022-04-10 19:09] duoduo-CCIE opened #2299 "go-access log format for custom logs [HELP!]"
Thank you so much for your dedication!
But after checking the manual for a whole day, I still can't learn the secrets in the 'log format'. I am very grateful for help.

1、I still don't get these important metrics: average response time, total response time, and top response time.

![image](https://user-images.githubusercontent.com/74661395/162634872-0ebd0f81-3963-4da5-9f18-d81a3b0cdb5a.png)

![ima

[2022-04-11 10:40] klaucher commented on #2298
I am getting following error using the above mentioned command.
2022-02-01	06:07:00	2403:4643:4d9b:ec16::6d8b:1905	GET	/www.xyz.co.in/image/icon/download.jpg	200	3968	1	"https://www.xyz.co.in/"	"Mozilla/5.0'
doesn't match specifier '%d'
I don't know why %d is causing error. First field is date field only. Is the format of date field different?

[2022-04-13 06:31] klaucher commented on #2298
The fields used in the log format are as under:
Fields: date time cs-ip cs-method cs-uri sc-status sc-bytes time-taken cs(Referer) cs(User-Agent) cs(Cookie) x-wafinfo cs-host

[2022-04-13 14:07] allinurl commented on #2298
Can you please attach a file with more lines directly from your access log so I can make sure the format will work properly? e.g., `tail -10 access.log > lines.log`

[2022-04-14 08:32] #2299 closed

[2022-04-14 13:08] allinurl commented on #2299
Sorry for the delay on my response, I missed this post. Could you please post a few more lines from your access log? It's not very clear the 192 in here  `"XXX.XXX.XXX.XXX""192" "127.0.0.1:8080" "200"`.  Thanks

[2022-04-15 08:24] liu-yfeng opened #2300 "Questions about XFF field followed by an IP"
nginx log format:
log_format main '[$time_local] "$http_x_forwarded_for" $remote_addr $remote_user "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" $upstream_addr "$http_cookie"';

goaccess log format:
log-format [%d:%t %^] ~h{," } %h %^ "%r" %s %b "%R" "%u" "%^" "%^"

nginx log:
[code]

XFF field has two ip or three ip or more.

[code]

[2022-04-16 09:02] simonclayton opened #2301 "Struggling with ngxinx log format"
hi, my nginx.conf log format is
[code]

Here's some sample lines from access.log
[code]
I ran nginxtogoaccess and have this in ~/.goaccessrc
[code]
When I try and run goaccess -c /var/log/nginx/access.log I see this error
[code]

this is the first line of my log file (anonymised)
[code]

I've tried reading the documentation for the log format and had a couple of attempts at rewriting it but with n

[2022-04-16 15:01] allinurl commented on #2301
Please try and let me know how it goes:

    goaccess access.log --log-format='%h %^[%d:%t %^] "%r" %s %b "%R" "%u" %T' --date-format=%d/%b/%Y --time-format=%T

[2022-04-16 15:33] simonclayton commented on #2301
that works perfectly - thanks so much for the prompt response :)

[2022-04-16 18:45] allinurl commented on #2301
Glad that worked. Feel free to reopen it if needed.

[2022-04-16 18:45] #2301 closed

[2022-04-17 12:49] simonclayton opened #2302 "Unable to get real-time html working"
I'm running goaccess with this command
[code]
There is a firewall on this server but it defaults to allow and is only there for fail2ban to be able to enforce bans.

I see
[code]
I load the page in a browser and I see a request to wss://www.mylovelyserver.com:7890/ which sits as "pending" and then goes to "Finished" without receiving any data. I tried changing to a different port just to test but

[2022-04-18 05:19] klaucher commented on #2298
[lines.log](https://github.com/allinurl/goaccess/files/8503634/lines.log)
Please find attached the required file.

[2022-04-18 23:51] allinurl commented on #2298
This should work, please note that your log is tabbed delimited. Also assumes time taken is in milliseconds.

    goaccess access.log --log-format='%d\t%t\t%h\t%m\t%U\t%s\t%b\t%L\t"%R"\t"%u"\t"%^"\t"%^"\t"%v"' --date-format=%Y-%m-%d --time-format=%T

[2022-04-18 23:57] allinurl commented on #2302
If you are using wss (assuming https), then you need to use `--ssl-cert=<cert.crt>` and `--ssl-key=<priv.key>`. Or just pass `--ws-url=<[scheme://]url[:port]>`, e.g., `--ws-url=server.com`.

As far as php output, you could output a php file instead of html. e.g., `-o report.php`, but you will need to update that file and add that to the header. Using a bash script to generate the report and insert

[2022-04-18 23:58] allinurl commented on #2302
Forgot to address the subdomains question, are you looking to generate the whole report for each subdomain?

[2022-04-19 00:25] allinurl commented on #2300
Thanks for reporting this. Found an issue on this specific format. I'm looking into this and I'll post back asap.

[2022-04-19 05:03] klaucher commented on #2298
Thank you so much for the patience and prompt reply.
It worked.

[2022-04-19 08:11] simonclayton commented on #2302
it turns out I was doing several things wrong. Firstly, I was running the ubuntu stock version which is considerably out of date and wouldn't let me tell it certificates. I followed the instructions on how to install the latest and that's fixed the real time issues.

With the latest version, I tried generating the file with a .php extension but I can't as I get told
```Invalid filename extension.

[2022-04-19 11:28] masterwishx commented on #2241
Sorry, I didn't saw you answer befor.
Can you please see
https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/issues/38
But in old container of GregYankov goaccess v 1.4 for unraid I don't have this problem

[2022-04-19 11:59] masterwishx commented on #2241
i see it in webUI , also another user confirmed have this issue

![image](https://user-images.githubusercontent.com/28630321/163267784-974b0f11-e134-4278-9701-487be599fc03.png)

[2022-04-19 13:38] simonclayton commented on #2302
Ideally I'm looking to have a single table that shows me the busiest subdomains regardless of pages served. However, the way our app is written, I'm getting all of our referrals from other subdomains on the same server which isn't ideal!

[2022-04-21 00:30] allinurl commented on #2302
I'm thinking #117 will definitely address this issue and will give you a more detail view. I'm working on it as we speak. Now a workaround would be to use the %v specifier to show the virtual host panel. You may need to do some pre-processing to extract the subdomain from the log, e.g., awk, sed, etc may help here. Are you able to share a couple of lines from your access log and what part you are

[2022-04-21 02:39] allinurl commented on #2298
Glad that did the job. Feel free to reopen it if needed.

[2022-04-21 02:39] #2298 closed

[2022-04-21 13:11] iranbingo opened #2304 "SLES 15 Missing development files for the GeoIP library"
Hi,

GeoIP is installed in our SELS 15. But Goaccess does not know it. What should I do ?

zypper search geoip
S  | Name               | Summary                                                         | Type
---+--------------------+-----------------------------------------------------------------+--------
i+ | GeoIP              | Library to find the country that any IP address originates from |

[2022-04-21 13:31] allinurl commented on #2304
Since you are building from source, please try install `libGeoIP-devel`. Also, if you are building from the git repo (instead of the tar.gz file), please run again `autoreconf -fiv`.

[2022-04-21 13:58] iranbingo commented on #2304
Hi,
it is tar File form goaccess Website :
wget https://tar.goaccess.io/goaccess-1.5.6.tar.gz
tar -xzvf goaccess-1.5.6.tar.gz

![Screenshot from 2022-04-21 15-58-19](https://user-images.githubusercontent.com/68154547/164473338-ab025acb-3b59-4f3a-874c-2334bf29adb4.png)

As far as I know, there is no autoreconf in SLES 15 SP1.

[2022-04-22 22:03] radim-ek opened #2305 "Auto Refresh/page reload HTML report"
I can't use a websocket. So I do a cron with minute loop.
But now I need to manualy refresh a page. Please add options to auto refresh webpage html maybe via meta…

`--http-meta-refresh=XX`

And in HTML will be generated
`<meta http-equiv="refresh" content="XX">`

[2022-04-23 06:15] karibuTW commented on #1009
Hello,?
I've installed goaccess from repo (Debian), v1.4 and the IP of the users are visible. How should we add it?
I think it should be hidden by default for privacy reasons.

Possible?

Thank you

[2022-04-23 11:47] masterwishx commented on #2241
Do you mean to check if v1.5.5 working correctly?
becouse old contaner v1.4 https://github.com/GregYankovoy/docker-goaccess working without problems  ...

[2022-04-23 21:13] 0bi-w6n-K3nobi commented on #2304
Hi, @iranbingo

Maybe You can install `autoconf` package. the `autoreconf` tool is there.

[2022-04-23 21:27] 0bi-w6n-K3nobi commented on #2305
Hi @radim-ek

I try understand that you need... But that won't work as you want.
Either you use real-time with `WebSocket` or you will just have a final report.

It is not possible to have a report in real-time just by adding a refresh to the page,
because it is not "auto-incremental".
It is exactly through the `WebSocket` mechanism that `GOACCESS` sends the data to the report,
which updates the p

[2022-04-23 21:36] 0bi-w6n-K3nobi commented on #2295
Hi @allinurl

Do you already have the same one for `x86_64`?

I have tested it in `LXC`, and I believe it is also valid for `LXD`.
If you already have the process for `x86_64`, even in Docker,
I think the same process can be done for `ARM64/AARCH64`.

It is only necessary to build the same Docker/`LXC`/`LXD` on `ARM64`.
`QEMU` will do the rest of the work, allowing Docker to run as if it were nati

[2022-04-23 21:48] 0bi-w6n-K3nobi commented on #2264
Hi @traveltek-jnewall

Hummm.... This IPs range it is from private network. Maybe your clients is using proxy, right?

[2022-04-23 21:51] 0bi-w6n-K3nobi commented on #2255
Hi @air3ijai and @allinurl

Maybe same solution at conversation #2295 and #1894.

[2022-04-24 16:09] allinurl commented on #2295
@0bi-w6n-K3nobi Thanks for the input. Currently I just spin up multiple distros using vagrant and build accordingly. I'd like to give DistroBuilder a shot. I'm curious, are you able to build an arm64 goaccess package from [source](https://github.com/allinurl/goaccess#build-from-release) on your end?

[2022-04-24 18:40] radim-ek commented on #2305
Hi @0bi-w6n-K3nobi ,
I have a CRON with `* * * * * /cron.sh` and script with `zcat -f /var/log/nginx/* | goaccess -o /var/www/info.html--log-format=COMBINED -`

So practically I have a every minute new report. And I need an refresh it manually. With `<meta http-equiv="refresh" content="XX">` I get automated new info every X minute :)

So it's not "real-time", but it's better than nothing when I ca

[2022-04-24 22:00] allinurl commented on #2304
Please try to install:

    zypper install libGeoIP-devel

and then try running

    ./configure --enable-utf8 --with-getline --enable-geoip=legacy

[2022-04-24 22:01] allinurl commented on #2264
@0bi-w6n-K3nobi is right, please make sure also you are using the proper format, `%h` should point to the client ip and not the server/host.

[2022-04-24 22:03] allinurl commented on #2255
@0bi-w6n-K3nobi like you said, this would be addressed in #1894.

[2022-04-24 23:07] 0bi-w6n-K3nobi commented on #2295
@allinurl

Yeah... I believe that is possible too with using vagrant to arm64 arch.
I'm not familiar with vagrant... but if you have a example I will can try build for `ARM64`/`AARCH64` too.

As you already know, I using Fedora and I didn't have problem for build at `ARM`/`ARM64` arch.

[2022-04-25 15:57] 0bi-w6n-K3nobi commented on #2295
Hi @allinurl

I'm researching for best and easy way to you make it .
Well... `Valgrand` can use `VirtualBox`, `KVM` or `Docker` containers under Linux.
I believe that better way is using `Docker` directly.
And so do you will need one for each OS and each architecture.
For that, `DOCKER` have the `--platform` parameter.
I think it will be need `QEMU` for that.
One great and simple tutorial about th

[2022-04-25 19:39] 0bi-w6n-K3nobi commented on #2295
Hi @allinurl

Just a test that made here!

`singularity pull docker://quay.io/fedora/fedora:35-aarch64`
`./fedora_35-aarch64.sif`
`Singularity> cat /etc/os-release  | grep PRETTY_NAME`
**`PRETTY_NAME="Fedora Linux 35 (Container Image)"`**
`Singularity> arch`
**`aarch64`**
`Singularity> uname -a`
**`Linux XXX-XXX  5.16.18-200.fc35.x86_64 #1 SMP PREEMPT Mon Mar 28 14:10:07 UTC 2022 aarch64 aarch64 a

[2022-04-25 23:39] allinurl commented on #2295
@0bi-w6n-K3nobi Thank you for sharing these findinds. It's very nice, let me give this a shot and I'll post back, sounds like this will be the way to go :)

[2022-04-26 01:58] allinurl commented on #2295
I just noticed [azure added arm64 support](https://azure.microsoft.com/en-us/blog/now-in-preview-azure-virtual-machines-with-ampere-altra-armbased-processors/), hopefully they will add it to github actions.

[2022-04-26 22:44] #2220 closed

[2022-04-27 08:25] tigexplorer opened #2307 "Display unique visitors separately with and without crawlers"
Thirst, thanx for your great analyzer!

Is it possible to display **unique visitors** separately with and without crawlers, but not setting `--ignore-crawlers`?
So one can have both numbers on one report?

[2022-04-27 11:52] samcro1967 opened #2308 "Caddy 2.5.0 - Verify your log/date/time format"
I started getting the following error after upgrading caddy to version 2.5.0 yesterday.

[code]

**Execution command**
[code]

**Last 2 lines of access.log**
[code]

[2022-04-27 15:19] Galopper76 opened #2309 "Is it possible to use very simple Weblogic access.log?"
Hello.

I tried all the day, but it will not work on my side for a very simple access.log from a WebLogic Server.

Format:
#Fields:	date time cs-method cs-uri sc-status time-taken

Example lines:
2022-04-04	14:00:53	POST	/prweb/PRRestService/CSM/cMPAPI/processNextBestAction	400	0.024
2022-04-04	14:00:53	POST	/prweb/PRRestService/CSM/cMPAPI/processNextBestAction	400	0.024
2022-04-04	14:00:53	POST	/

[2022-04-28 00:20] allinurl commented on #2308
Thanks for reporting this. I pushed a commit that updates the default format #2293. v1.5.7 will be release this week and will contain the new format. Stay tuned!

[2022-04-28 00:35] allinurl commented on #2309
You will need a valid IP as it uses it to properly count unique visitors. However, you could always add a bogus placeholder with a preprocessing tool such as awk, sed, perl, etc  e.g.,

    awk '{print "127.0.0.1 "$0}' log | goaccess - --log-format='%h %d %t %m %U %s %T' --date-format=%Y-%m-%d --time-format=%T --http-protocol=no --ignore-panel=OS --ignore-panel=BROWSERS

[2022-04-28 23:55] allinurl commented on #2166
Closing this as it appears it's fixed.

Thanks again for reporting it. Feel free to reopen it if needed.

[2022-04-28 23:55] #2166 closed

[2022-04-29 00:54] allinurl commented on #2307
Happy to hearyou found it useful! Currently it's not possible, however, I think **#117** will be the easiest approach to this as it will let you have multiple dashboards. I'm working on that feature as we speak, so please stay tuned for it.

[2022-04-29 00:55] allinurl commented on #2307
By the way, the workaround right now will be to run two different reports, one with `--ignore-crawlers` and one without.

[2022-04-29 00:56] allinurl commented on #2305
@radim-ek can I ask, is there a reason why you can run via websockets?

[2022-04-29 13:06] allinurl commented on #2295
Folks, goaccess is now available in the deb repo for arm64.

[code]

Closing this. Feel free to reopen it if needed.

[2022-04-29 13:06] #2295 closed

[2022-04-29 13:07] allinurl commented on #1132
Folks, goaccess is now available in the [deb repo](https://goaccess.io/download#official-repo) for arm64.

[code]

Closing this. Feel free to reopen it if needed.

[2022-04-29 13:07] #1132 closed

[2022-04-29 13:13] allinurl commented on #2305
@radim-ek actually you can pass to goaccess the option `--html-custom-js=<file.js>`, and just add to the file:

[code]

That should help, let me know if how that goes.

[2022-04-29 14:23] 0bi-w6n-K3nobi commented on #2295
Hi @allinurl

Interesting...
How to build that? Do you use `DOCKER` only? or `Singularity`?
Can you speak about  cake recipe?

Maybe be interesting build others, like that Fedora, CentOS 7 and Ubuntu.

[2022-04-29 22:34] romirezz opened #2310 "Getting format errors while trying to parse"
Hello ! I'm trying to analyze logs from my nginx that runs in docker container. However, I'm getting error messages, e.g.: Format Errors - Verify your log/date/time format. I guess something's wrong with the conf. Thanks in advance

time-format: %T
date-format: %d/%b/%Y
log_format: %h - %^ [%d:%t %^] "%r" %s %b "%R" "%u"

Sample logs:
[code]

[2022-04-29 23:27] allinurl commented on #2295
@0bi-w6n-K3nobi good question, for debian buster, I used qemu and their cloud image, fairly easy and straightforward. For ubuntu, it seems like you need to use some yml files to login so I found it to be much harder than it needed to be so I ended up using docker arm64v8/ubuntu images which turned out to me much easier. For the next build, I'll have some scripts to automate this process.

I do app

[2022-04-29 23:31] allinurl commented on #2310
This should do it:

    goaccess access.log --log-format='%^| %^0%v %h %^[%d:%t %^] "%r" %s %b "%R" "%u" %^' --date-format=%d/%b/%Y --time-format=%T

[2022-04-29 23:43] assistcontrol commented on #2308
Unfortunately, this breaks processing of all logs from before 2.5.0, so if your access.log is a mix then goaccess will error out.

You can manually patch up your logs with something like this:

[code]

[2022-04-29 23:48] allinurl commented on #2308
@assistcontrol Thanks for pointing that out. If needed or prefer not to patch the log, one can also set the old log-format in config file as (or pass it as `--log-format='format'`):

    log-format {ts:"%x.%^",request:{remote_addr:"%h:%^",proto:"%H",method:"%m",host:"%v",uri:"%U",headers:{"User-Agent":["%u","%^"]},tls:{cipher_suite:"%k",proto:"%K"}},duration:"%T",size:"%b",status:"%s",resp_headers

[2022-04-29 23:58] allinurl commented on #2241
If you can run it without docker then we can see if it has something to do with docker. Also, where do you see the 15000 reqs/s?

[2022-04-30 06:41] PapaV opened #2311 "Token '30/Apr/2022' doesn't match specifier '%d'"
Please, help. What is my mistake? I tried many options, the result is unchanged

goaccess --date-format="%d/%b/%Y" --time-format="%H:%M:%S" --log-format='%h - - [%d:%t %^] "%r" %s %b "%R" "%u"' nginx-access.log

RESULT:
Token '30/Apr/2022' doesn't match specifier '%d'

LOG:
[code]

[2022-04-30 16:03] allinurl commented on #2311
Seems like your locale is not set to English dates. Please try:

    LANG="en_US.UTF-8" bash -c 'goaccess access.log --log-format=COMBINED'

[2022-04-30 18:39] masterwishx commented on #2241
I posted above it's webGui GUI in total request and also in every day's befor, I saved pdf file when docker start I have like 5000 request in day but after some time it's increasing...
Also I have old version docker of GregYankov v 1.4 and there is no problem

[2022-04-30 20:37] 0bi-w6n-K3nobi commented on #2295
Hi @allinurl

I think that we are at right way.
Although I prefer `Singularity` tool rather to `DOCKER`, I believe that last one are good enough.
After build it with all tools including the compiler, nothing more will need besides map/mount the source dir from host.

As you already mentioned, Debian distro it won't be a problem.
Unbuntu too, whose `DOCKER`s are found at `dockerhub`.
Fedora are fou

[2022-05-01 05:36] PapaV commented on #2311
I have already found this advice. Unfortunately, it didn't help.

[2022-05-01 05:50] PapaV commented on #2311
Setting LC_TIME to en_US.UTF-8 didn't help either

[2022-05-01 08:16] romirezz commented on #2310
Everything works fine, thanks!

[2022-05-01 14:40] allinurl commented on #2310
Glad that worked. Closing this, feel free to reopen it if needed.

[2022-05-01 14:40] #2310 closed

[2022-05-02 14:20] allinurl commented on #2311
What's the output of: `locale -a`? also, is your machine running a linux distro with English as the default lang? Thanks

[2022-05-02 17:29] llimllib opened #2312 "Ubuntu install instructions don't work"
I tried the official instructions:

[code]

On a regular digital ocean ubuntu 20.04 server:

[code]

But installing `goaccess` gets me version 1.3. `apt-cache showpkg` only shows me the one from the default repo:

[code]

One thing I notice is that `apt-cache policy` doesn't show the goaccess repository:

[code]

The sources.list.d file is present, and looks very similar to caddy's:

[code]

apt-g

[2022-05-02 18:00] llimllib commented on #2308
Rolling back to 1.5.6 did work, but that's not a great solution

[2022-05-02 18:39] allinurl commented on #2312
Thanks for reporting this. Completely missed adding the focal package to the repo on the latest update. Please try updating again.

[code]

[2022-05-02 19:08] allinurl commented on #2304
Any updates?

[2022-05-02 19:13] llimllib commented on #2312
Thanks for the fix! I `apt-get update`d, and now it looks like the package is present:

[code]

I haven't installed it because I had to downgrade for #2308, but it looks like it would work fine

[2022-05-02 19:13] #2312 closed

[2022-05-02 20:57] iranbingo commented on #2304
Unfortunately, SLES 15 is not a desktop version and I am not allowed to configure a desktop repository on a server.
All necessary libgeoip is already installed in SLES 15 as a server. This means that the developer should deliver the right goacces for SLES.

[2022-05-02 21:07] allinurl commented on #2304
Thanks for the update. Since you're trying to build a package from source, you will need the source libraries so that the package can be built. The libgeoip files you've got installed are binaries. Otherwise, like you said, you can always build without geoip.

[2022-05-03 00:26] allinurl commented on #2308
@llimllib Can I ask you to please post a few lines from your Caddy's access log so I can take a look? Thanks

[2022-05-03 01:33] allinurl commented on #2295
@0bi-w6n-K3nobi I agree. Singularity seems easier to work with, especially with filesystems as the [guide](https://pythonspeed.com/articles/containers-filesystem-data-processing/) you posted mentions. Thanks for sharing that, I'll be taking a look in more detail.

[2022-05-03 01:36] allinurl commented on #2241
are you able to run goaccess without docker? also, can you share some stats about the access log, e.g.,

    // day 1
    wc -l access.log

    // day 2
    wc -l access.log

    etc...

[2022-05-03 07:45] masterwishx commented on #2241
For now i have two docker :
1. old one v1.4  https://github.com/GregYankovoy/docker-goaccess -  using one file **proxy_logs.log**  -working  with no Problem. (i not deleted it becose of problem in new one)
2. new one v 1.5.5 https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/ - using auto finding all files
**proxy-host-*access.log** also **proxy-host-*access.log.*.gz**  .

Do you m

[2022-05-03 11:30] PapaV commented on #2311
My machine running on FreeBSD with Poland (pl_PL.UTF-8) language as default. As far as I understand, Goaccess uses strftime(). Here is the output of this function:
``
$python 3.8 -c 'import time; print (time.strftime("%d/%b/%Y", time.localtime()))'
03/May/2022
[code]
$ locale -a
C
C.UTF-8
POSIX
af_ZA.ISO8859-1
af_ZA.ISO8859-15
af_ZA.UTF-8
am_ET.UTF-8
ar_AE.UTF-8
ar_EG.UTF-8
ar_JO.UTF-8
ar_MA.UTF-8

[2022-05-03 15:18] llimllib commented on #2308
Sure:

[code]

[2022-05-03 18:37] zanette52 opened #2313 "Token for '%d' specifier is NULL. Custom log"
Hey guys,

I'm just starting I hope you understand my question.

My IBM Cloud server logs are failing to get in a valid format into goaccess.

I'm getting the error:

**Token for '%d' specifier is NULL.**

My settings:
**time-format %H:%M:%S
date-format %Y-%m-%d**

Here's an example log:

2022-03-03 15:36:21.135 143.0.86.30 GET https://example-url-dest.com 200 1957057 61.77 https://example-home.co

[2022-05-03 23:26] allinurl commented on #2313
Could you please describe each field? e.g., `1957057` `61.77` `236001` `0` `541` Thanks

[2022-05-04 10:18] t3539 opened #2314 "real time logging problem - wss"
I can get goaccess working locally and now I'm trying to get it working on production server.

I'm trying to setup goaccess with live reporting over wss

Firefox is giving error:
Firefox can’t establish a connection to the server at wss://website.com:7890/.

and command line / server says:

[code]

I'm trying to use a certificate from letsencrypt that works fine over https. I'm assuming it should

[2022-05-04 13:36] zanette52 commented on #2313
#Fields: date time cs-ip cs-method cs-uri sc-status sc-bytes time-taken cs(Referer) cs(User-Agent) cs(Cookie) x-Custom x-LogGroup x-disid x-extstatus x-headersize

[2022-05-05 07:57] karlicoss commented on #2308
Hm, is it possible to make both `remote_addr` and `remote_ip` optional while parsing, but then check in the code that exactly one of them is present to make it compatible both ways?
I guess this issue might not affect existing Caddy setups if they are persisting the log database, but it will if the server is rebooted and cache is lost?
E.g. I ran into this while processing a bunch of historic Cadd

[2022-05-05 15:02] allinurl commented on #2308
@karlicoss thanks for the suggestion, I'm thinking we could address this with #213, will be a good time to support multiple log formats, thoughts?

[2022-05-05 22:30] allinurl commented on #2313
This should work, let me know if it does:

    goaccess access.log --log-format='%d %t.%^ %h %m %U %s %b %T %R %u %^' --date-format=%Y-%m-%d --time-format=%T -o report.html

[2022-05-05 22:36] allinurl commented on #2314
Looks like a certificate issue. The certificate and private key should be the same as the one you use to serve your website via https. e.g.,

    ssl-cert /etc/letsencrypt/live/goaccess/fullchain.pem
    ssl-key /etc/letsencrypt/live/goaccess/privkey.pem

Also, you don't have to pass `--ws-url` unless your goaccess instance is running on a different server than the one serving your website. Also,

[2022-05-05 22:54] allinurl commented on #2311
Interesting, I just fired up a freebsd machine and it works on my end with those sample lines you posted. Can I ask, what's the output of:

    LANG="en_US.UTF-8" bash -c 'date +"%d/%b/%Y %T"'

Here's what I get on my end:

![2022-05-05 17-53](https://user-images.githubusercontent.com/5005367/167038863-9e3b60c5-cd80-45c9-b1c1-7a2bc5d0f35e.gif)

[2022-05-05 23:08] allinurl commented on #881
@nebkas Sorry for the delay, this should do it:

    goaccess access.log --log-format='%^]: %h:%^[%d:%t.%^] "%r" %s %b "%u"' --date-format=%d/%b/%Y --time-format=%T

[2022-05-06 18:04] t3539 commented on #2314
Hi allinurl, thanks for your reply. I've tried a few more things, mostly I wasn't expecting to them to make a difference. So far no luck

cat /etc/apache2/sites-enabled/website.com-ssl.conf :
[code]
Command run from home directory:
```goaccess --real-time-html -o /var/www/website.com/public/report.html --ssl-cert fullchain.pem --ssl-key privkey.pem /var/log/apache2/access.log```

(/var/www/website

[2022-05-07 11:46] SamantazFox opened #2315 "Exit confirmation dialog"
Hello! I recently found your software, and it's really amazing (the TUI is gorgeous).

However, I was a bit frustrated when I did `ctrl+C` on the wrong window, which immediately closed goaccess (and made me loose all the parsing progress).

Is it possible to add a confirmation dialog/window, so that an accidental `ctrl+C`/`q` doesn't exit right away?

Thanks!

[2022-05-07 16:00] Giacomo411 opened #2316 "Suppress "Cleaning up resources..." with --no-progress"
Hi,
is possible to suppress the "Cleaning up resources..." message using the --no-progress flag?
I want a way to no produce any output during the execution.

At the moment I am running GoAccess in a cronjob and, if there is any output, an alert is sent to me.

Best regards.

[2022-05-08 02:45] mooleshacat commented on #654
zcat worked for me. Thanks @allinurl :)

I use mine in a cronjob:

```*/5 * * * * /usr/bin/zcat -f /var/log/nginx/access.combined.log* | /usr/local/bin/goaccess -o /var/www/html/report.html --log-format=COMBINED```

[2022-05-08 19:29] 0bi-w6n-K3nobi commented on #2316
Hi @Giacomo411

Interesting...
At `CRON` maybe to use:

[2022-05-09 13:13] allinurl commented on #2316
Thanks for suggesting that! I've added this check so it shouldn't output that message when `--no-progress` is passed. Please give it a shot by building from [development](https://github.com/allinurl/goaccess#build-from-github-development) and let me know how it goes. Otherwise it will be shipped in the next release.

[2022-05-09 20:04] Goutte commented on #1890
Hello !
`zcat` appears not be available in the image.

[code]

/open
/reopen

[2022-05-10 00:23] allinurl commented on #1890
@Goutte `gunzip -c`.

[2022-05-10 00:27] allinurl commented on #2314
No need to run as root. BTW, does it work if you run goaccess without wss/https?

I'm not sure if it has something to do with the lets encrypt root cert of 2021, please take a look at [**this post**](https://github.com/allinurl/goaccess/issues/2190#issuecomment-940128478) and let me know if that helps.

[2022-05-10 08:29] mpldr opened #2317 "Allow hiding specific URLs"
Hi, I have a project that uses a heartbeat to `index.php?ajax-proxy=…` which I'd like to remove from being part of the evaluation, since right now the Top Requested files pretty much consist of nothing but `ajax-proxy` Is it possible to define some "StartsWith" Patterns that can be excluded?

## "formal" Feature-Request

### The Problem

- some websites send requests that shouldn't necessarily be

[2022-05-11 09:18] Maxime-Garcia commented on #1635
Hi @allinurl  !
I am having the same issue as the others. I don't really know how goaccess works but when I use this command line : `goaccess acces.log.txt` and I toggle any of the options I always have an error like that : `Token '+0000]' doesn't match specifier '%h'`. I really don't know what to do to fix this.
Thanks in advance for your time !

[2022-05-12 00:23] allinurl commented on #1635
@Maxime-Garcia sounds like a format issue, please feel free to post a few sample lines from your access.log so I can take a look. Thanks.

[2022-05-12 00:26] allinurl commented on #2317
Thanks for suggesting that. I'm curious, is there a reason why you would like to hide them but still count them? I was thinking you could do some pre-processing to ignore those requests, e.g., `grep -v 'index.php?ajax-proxy' access.log | goaccess - --log-format=COMBINED`

[2022-05-12 10:09] mpldr commented on #2317
For one they are obviously valid requests, secondly they can be very interesting to find out general activity.

[2022-05-13 15:34] dogukankurnaz commented on #1782
If you do the above and still get errors:

My solution= sudo nano /etc/goaccess/goaccess.conf

######################################
 Log Format Options (required)
######################################

 NCSA Combined Log Format
log-format %h %^[%d:%t %^] "%r" %s %b "%R" "%u"

remove the comment line.

Note: First of all, after testing the application as goaccess xxxx.log and finding the most su

[2022-05-13 20:56] zanette52 commented on #2313
Parsed 10 lines producing the following errors:
Token ' ' doesn't match specifier '%d'

[2022-05-14 07:56] Maxime-Garcia commented on #1635
Hi again @allinurl ! Thanks for your response and sorry for the delay of mine, here's a sample of my access.log.

`thonon-gaming-fest.fr 2a04:cec0:112c:e350:0:a:2575:3201 - - [10/May/2022:14:58:46 +0000] (0 s) "GET /wp-content/plugins/pandemic-core/inc/wp-team-matches/components/tipsy/src/stylesheets/tipsy.css?ver=5.9.3 HTTP/1.1" 200 509 "-" "Mozilla/5.0 (Linux; Android 11; DN2103) AppleWebKit/537

[2022-05-14 12:33] mikaraunio commented on #1863
Had the same problem. It turns out that the city is only displayed with the Maxmind DB and not the DBIP one, even though the comments in the sample config file would suggest otherwise.

City resolution is only enabled if the DB type matches Maxmind's id string here:

https://github.com/allinurl/goaccess/blob/aa45260cfb8a776770f695da0cb560ff4079f1e4/src/geoip2.c#L93

I relaxed the check to also mat

[2022-05-14 12:43] mikaraunio commented on #1863
Submitted PR #2318

[2022-05-14 16:27] 2-5 opened #2319 "Ubuntu 22 installation fails due to deprecated libssl1.1 dependency"
Ubuntu 22 replaced `libssl1.1` with `libssl3` and `goaccess` fails to install. `libssl1.1` is not available for install on Ubuntu 22, since it was deprecated.

[code]

Other apps have this problem too, if you google for `"ubuntu 22" "libssl1.1"`

[2022-05-15 01:27] allinurl commented on #2319
Thanks a lot for reporting this issue, not sure yet why the build didn't fail, will check that.

The issue should be fixed, please try to run `apt update` and `apt install goaccess` and let me know how it goes. Thanks

[2022-05-15 01:28] allinurl commented on #2319
[code]

[2022-05-15 01:31] allinurl commented on #1635
No worries, please try this:

    goaccess access.log --log-format='%v %h %^[%d:%t %^] (%T s) "%r" %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T

[2022-05-15 01:42] allinurl commented on #2313
For the sample line you posted above, that should work. Can you attach a sample log from your access log? Thanks e.g.,

    tail -10 access.log > sample.log

[2022-05-15 01:43] allinurl commented on #1782
@dogukankurnaz Thanks for posting those additional details.

[2022-05-15 13:21] 2-5 commented on #2319
Thanks, it installs now on Ubuntu 22

[2022-05-15 13:21] #2319 closed

[2022-05-15 13:52] ab-tools commented on #2307
Hello Gerardo,

first thanks a lot for this great tool! :-)

I was also looking for the same:
All requests should be included in the report (e. g. to show the overall amount of requests and especially also data transferred in the top) - this should include also crawlers.

But then it would be helpful - exactly as tigexplorer wrote - to have two separate displays of unique visitors inside the same

[2022-05-16 13:57] marcohald opened #2320 "GoAccess & IIS 10.0 Logformat"
I'm using the Windows Version GoAccess - 1.5.7

I try to use this Logformat
[code]
Log:
[code]
But I get this error
[code]

Is it possible to see which values are mapped to the all fields not just the ones that don't work ?

[2022-05-16 23:32] allinurl commented on #2320
You were pretty close, please try:

    goaccess access.log --log-format='%d %t %^ %m %U %q %^ %^ %h %u %R %s %^ %^ %^ %^ %L' --date-format=%Y-%m-%d --time-format=%T

[2022-05-16 23:35] allinurl commented on #2307
@ab-tools Andreas, Thanks for the feedback. I agree that having two diff reports it's not ideal. I'll keep this in mind as I work on the details of #117.

[2022-05-17 06:56] jonathanza opened #2321 "Invalid Ubuntu signatures"
The following command from https://goaccess.io/download#official-repo is failing:

[code]

I downloaded the key again but the same error occurred.

[2022-05-17 07:08] ahayes commented on #2321
Thank you for creating this issue. I have been trying to find my way around the same problem for the last 30 minutes or so with no success. It looks like this issue comes up for various projects when the repo signing key changes.

[2022-05-17 07:53] Maxime-Garcia commented on #1635
Hello @allinurl ! This is working perfectly now ! Thanks a lot for your help !!
Have a great day :) !

[2022-05-17 08:53] klosterbruder commented on #2321
I can confirm this problem on Debian as well. The repository key needs to be renewed or replaced.

Adding `trusted=yes` to the repo definition is a **very much _not_ recommended** workaround, if you really absolutely have to install `goaccess` via the Debian / Ubuntu repositories now.

[2022-05-17 09:41] marcohald commented on #2320
[code]
Is working from the CowAxess mintty Terminal but not from the cmd.exe

When i execute it with the cmd.exe I get this error:
[code]
For me it is ok to run the command via the mintty

If you want to debug why it is not running in the cmd I'm also happy to help

[2022-05-17 12:47] dariosusman commented on #2321
The GPG key has indeed expired:
[code]

[2022-05-17 13:36] allinurl commented on #2321
Thanks everyone for reporting this. The key has been renewed, please download it again, e.g.,

    # wget -O - https://deb.goaccess.io/gnugpg.key | apt-key add -

The key fingerprint is the same: `C03B 4888 7D5E 56B0 4671 5D32 97BD 1A01 3344 9C3D`

Please let me know if that solves the issue on your end.

[2022-05-17 13:44] dariosusman commented on #2321
Resolved!

Thank you!

[2022-05-17 14:52] RaginiShankar commented on #1635
Hi I am having the same issue :(

==836== Token '06/May/2022:00:00:00' doesn't match specifier '%h'
==836== Token '06/May/2022:00:00:00' doesn't match specifier '%h'
==836== Token '06/May/2022:00:00:06' doesn't match specifier '%h'

Getting above error for below tomcat log and log pattern in tomcat specified as **%t  %a  %u  %m  %U  %q  %s  %T  %D  %I  %B**

[08/May/2022:00:00:05 +0530]  172.24.13

[2022-05-17 15:21] marcohald commented on #1947
Step 4 was not enough for the dependencies I installed the missing ones with:
```pacman -S autotools libintl gettext-devel```

[2022-05-17 16:21] olstjos commented on #2321
Thanks, however, in addition to the above instructions to avoid the "The following signatures couldn't be verified because the public key is not available: NO_PUBKEY 97BD1A0133449C3D" I had to also do this:
[code]

[2022-05-17 16:26] AndrewCRichards commented on #2321
That didn't quite work for me on an Ubuntu 20.04 LTS x86_64 system, some other steps may help,
- I wanted to verify the signature of the new key (look for signature `...9C3D` showing up in output): `wget -O - https://deb.goaccess.io/gnugpg.key | gpg --show-keys`
- Then I was happy to download it as suggested to `/usr/share/keyrings/goaccess.gpg`
- `apt-get update` was failing with `"N: Skipping ac

[2022-05-18 09:17] radim-ek commented on #2305
Love you ❤ :) Thanks!

[2022-05-18 13:19] #2305 closed

[2022-05-18 13:44] Nardol commented on #2321
On Debian Bullseye, I had to place the gpg key in /etc/apt/trusted.gpg.d instead of /usr/share/keyrings

[2022-05-18 14:23] fgrue opened #2323 "Difference unique visitors in HTML and in Console"
I'm having a slight issue with the unique visitors, as the count in the console and in the report.html file is hugely different.

In the first picture (console) you can see that the count is 38
![image](https://user-images.githubusercontent.com/105801020/169064349-dbfe1e9e-fe73-442c-b7d2-b35f74671cd2.png)

While in the html file it is at 1365
![image](https://user-images.githubusercontent.com/1058

[2022-05-18 14:32] allinurl commented on #2323
Good question. I see the T.X amount is 0 on the TUI. Are you sure you are using the right format on both sides? also, was the log exactly the same in both runs? (diff  # of total requests is different).

[2022-05-18 14:35] fgrue commented on #2323
It absolutely was the format problem! If they are the same, the output is identical again. Thanks for your time

[2022-05-18 14:35] #2323 closed

[2022-05-18 14:38] PapaV commented on #2311
Problem solved. Decision is replacing LANG to LC_ALL (FreeBSD 13.0-RELEASE-p4)
$LC_ALL="en_US.UTF-8" bash -c 'goaccess nginx-access.log --log-format=COMBINED'

[2022-05-18 14:42] allinurl commented on #2311
Glad that solved the issue and thanks for posting those findings.

Closing this. Feel free to reopen it if needed.

[2022-05-18 14:42] #2311 closed

[2022-05-18 22:56] allinurl commented on #2320
Interesting. Are you sure it's the exact same log? Also, I wonder if it has something to do how the command line options are expanded on cmd.

[2022-05-19 02:26] allinurl commented on #1635
@RaginiShankar Please try:

    goaccess access.log --log-format='[%d:%t %^] %h %e %m %U %s %T %^ %v %^' --date-format=%d/%b/%Y --time-format=%T

[2022-05-19 02:29] allinurl commented on #1947
@marcohald Thanks for sharing that. For reference, a note on this can be found under the [**installation**](https://goaccess.io/download#installation) instructions.

[2022-05-19 15:56] RaginiShankar commented on #1635
I am still getting the same error and it has not been resolved.

On Thu, May 19, 2022 at 7:56 AM Gerardo O. ***@***.***> wrote:

--
Regards,
Ragi

[2022-05-19 16:02] allinurl commented on #1635
@RaginiShankar For those two lines you posted, the format I shared works fine. Please **upload** a sample log directly from your access log. e.g.,

    tail -30 access.log > sample.log

[2022-05-19 22:02] WBTMagnum opened #2324 "Increase max-items for minute specificity"
# Problem
When using `--date-spec=min` the visitor's graph does only show the past 6 hours. This is probably fine for real-time reporting, but not suitable to generate daily graphs. Turns out, this behavior is related to `--max-items` defaulting to `366`.

# Proposal
When `--date-spec=min` is set, the default for `--max-items` could be increased to `1440` to display the data for the last 24 hours.

[2022-05-19 23:47] allinurl commented on #1550
Just wanted to post the right format for this (assuming the XFF field has the client IP):

    goaccess xff.log --log-format='%s|%m %U %H|%^|~h{, }|%d:%t %^|%v|%u|%R' --date-format=%d/%b/%Y --time-format=%T

[2022-05-20 00:39] allinurl commented on #2300
I pushed a commit that should address this issue. Please build from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) and let me know if that solves the issue for you. The format should be:

    goaccess access.log --log-format='[%d:%t %^] "~h{, }" %^ %^ "%r" %s %b "%R" "%u" "%^" "%^"' --date-format=%d/%b/%Y --time-format=%T --no-progress -o ~gerardoj/www/goacce

[2022-05-20 01:37] allinurl commented on #2321
@ahayes just for reference, here are some great answers on apt-key and the path of keyrings:

https://askubuntu.com/a/1307181
https://unix.stackexchange.com/a/582853

[2022-05-20 04:04] ahayes commented on #2321
Thanks, but I think @Nardol and @olstjos are the ones who needs to read those. That's why I pointed out that your instructions used signed-by with a path to the key. You had good reasons for doing it that way rather than asking people to have apt trust your signing key for any repo.

_As an aside, I need to read up on this a bit more though because I don't see what stops a malicious repo admin who

[2022-05-20 10:10] Nardol commented on #2321
It is, GoAccess was installed by a script which did not follow the same procedure.
So I modified it now and won't use trusted.gpg.d.

Thanks @allinurl for the links.

[2022-05-23 05:56] RaginiShankar commented on #1635
Please find the sample log

On Thu, May 19, 2022 at 9:33 PM Gerardo O. ***@***.***> wrote:

--
Regards,
Ragi

[06/May/2022:00:00:00 +0530]  12.24.138.6  -  POST  /servlet/testServlet    200  0.029  29  https-jsse-nio2-0.0.0.0-8061-exec-16  0
[06/May/2022:00:00:00 +0530]  12.168.139.97  -  POST  /servlet/testServlet    200  0.002  2  https-jsse-nio2-0.0.0.0-8061-exec-11  0
[06/May/2022:00:00:06 +05

[2022-05-23 07:00] itnikita opened #2325 "IPv4/6 is required."
[code]

[code]

[2022-05-23 07:02] itnikita commented on #2325
centos 6.x

[code]

[2022-05-23 07:31] itnikita commented on #2325
change to another host,centos 7.9
build goaccess like the mainpage readme

[code]

still,

[code]

any wrong I have done?
use a flag --no-ip-validation this time

[2022-05-23 07:59] itnikita commented on #2325
some part of nginx.conf

[code]

[2022-05-23 08:48] amilhub opened #2326 "Please help with my Apache Log format (including request times)"
Hello,

My Apache LogFormat was the following:

    LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\"  %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" varnish
    LogFormat "%{X-Forwarded-For}i %h %l %u %t \"%r\"  %s %b \"%{Referer}i\" \"%{User-agent}i\"" combined-forwarded
    CustomLog /var/log/httpd/access.log varnish
    ErrorLog /var/log/httpd/error.log

With this, I am able to generate report with g

[2022-05-23 18:30] allinurl commented on #2325
For the sample lines you posted above, this should work:

    goaccess access.log --log-format='%h %^[%d:%t %^] "%m %U %H" %q %b "%R" "%u" %^' --date-format=%d/%b/%Y --time-format=%T

[2022-05-23 18:46] allinurl commented on #1635
@RaginiShankar Please attach a file, I don't know if your log is delimited by spaces or tabs, can't really tell based on the spacing I'm seeing. Thanks

[2022-05-24 05:57] #2325 closed

[2022-05-24 05:57] itnikita commented on #2325
thanks,it works.

[2022-05-24 06:44] amilhub commented on #2326
Hello,

==24275== Token '' doesn't match specifier '%s'
==24275== Errores de Formato - Verifique su formato de log/fecha/hora

With your log-format suggestion gives me this error (about %s status code), is not being parsed correctly (format errors on log/date/time).

Thank you very much again.

[2022-05-24 13:13] marcohald commented on #2320
Sorry for the late reply. Yes it is the exact same log.
I tried it also with a version that is compiled with msys with the same result.
In the msys console it is working and in the windows cmd it produces this output:
[code]
Content of /cygdrive/c/cowaxess_x64/etc/goaccess.conf

[code]

[2022-05-25 00:22] allinurl commented on #2326
Glad to hear it worked. Closing this. Feel free to reopen it if needed.

[2022-05-25 00:22] #2326 closed

[2022-05-25 00:22] allinurl commented on #2325
Glad to hear it worked. Feel free to reopen it if needed.

[2022-05-25 09:59] l0rn0r opened #2328 "Timeframe of --real-time-html & persist data"
Hello
First of all: thanks for GoAccess 😃
I'm using version `1.5.7` (just updated) on Debian buster.

I have a two part question:
Since October 2021 I'm running GoAccess with `goaccess /var/log/ngingx/access.log -o /var/www/html/report.html --log-format=COMBINED --real-time-html --daemonize --ignore-crawlers` for one site (atm without ssh...).
The Nginx logrotate is `daily` (14 days).

When I watc

[2022-05-26 22:56] allinurl commented on #2328
Glad you found it useful :)

Currently there's no ability to keep a large span of dates but focusing on a smaller date range. However, the good news is that #117 will cover this soon. I'm working on it as we speak. A workaround would be to keep two separate reports, one that covers long term stats and having another one that covers the last two weeks. You would need to use `--keep-last=14` option

[2022-05-26 22:59] allinurl commented on #2320
Can you please try running it without the global config file?. e.g,

    goaccess.exe --no-global-config c:\inetpub\logs\LogFiles\W3SVC1\old2\u_ex220516.log --log-format '%d %t %^ %m %U %^ %^ %^ %h %u %R %s %^ %^ %b %^ %L' --date-format=%Y-%m-%d --time-format=%T -o c:\inetpub\wwwroot\traffic.html

[2022-05-27 01:23] #2324 closed

[2022-05-27 01:27] allinurl commented on #2324
I agree. I've made the change, it should now default to 1440 when `--date-spec=min`. Please feel free to build from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) and let me know how it goes. Otherwise, it will be pushed out in the upcoming release.

Thanks for the feedback!

[2022-05-27 08:03] l0rn0r commented on #2328
Thanks @allinurl for your response and support! 🙏
#117 sounds great (haven't found it yet in the issues, sry).

About the persisting thing: I succeeded to persist existing `access.log`'s with `--persist` and `--restore`. There, the man page was helpful.
But what I'm honestly afraid of is the fact I didn't set the `--persist`-flag on the process running since Oct 2021. Since there was a logrotate w

[2022-05-27 10:26] marcohald commented on #2320
sure
[code]

[2022-05-27 17:56] zanette52 commented on #2313
[sample.log](https://github.com/allinurl/goaccess/files/8788874/sample.log)

Here

[2022-05-27 18:00] allinurl commented on #2313
This should do it (tabbed delimited), let me know if that works:

    goaccess sample.log --log-format='%d\t%t.%^\t%h\t%m\t%U\t%s\t%b\t%T\t%R\t%u\t%^' --date-format=%Y-%m-%d --time-format=%T -o report.html

[2022-05-27 20:52] #2313 closed

[2022-05-28 15:28] jonascampos1 opened #2329 "Log format Cyberpanel with LiteSpeed"
I can't find the --log-format for my server

[code]

[2022-05-28 15:29] jonascampos1 commented on #2329
"207.46.13.89 - - [28/May/2022:14:26:05 +0000] "GET /movil/ HTTP/1.1" 302 444 "-" "Mozilla/5.0 (compatible; bingbot/2.0; +http://www.bing.com/bingbot.htm)""
"207.46.13.146 - - [28/May/2022:14:26:05 +0000] "GET /ver.noticia.new.php?id=69914 HTTP/1.1" 302 444 "-" "Mozilla/5.0 (iPhone; CPU iPhone OS 7_0 like Mac OS X) AppleWebKit/537.51.1 (KHTML, like Gecko) Version/7.0 Mobile/11A465 Safari/9537.53 (

[2022-05-28 15:49] jonascampos1 commented on #2329
Founded thanks:
'\"%h %l %u %^[%d:%t %^] "\%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"\"'

[2022-05-30 07:28] szepeviktor commented on #2321
@allinurl Please consider changing your repo to match Debian's.

- publish your GPG key unarmored
- make signed-by and arch unnecessary

Thank you! ❤️

[2022-05-30 08:06] lachierussell opened #2330 "Segfault when expanding Visitor Hostnames and IPs"
Hi, I've encounter a segfault issue when expanding the Visitor Hostnames and IPs panel.

[code]
[code]

I dug through the logs and found that it crashes on this line (despite the crash log reporting the last line in the file).
`183.192.82.19 - - [10/Apr/2022:12:29:37 +0000] "GET /?fbclid=IwAR2xdmCpdP1Hi7hAodoQMJB5fGX8fQ-4ux_-0HZEwyMfoFyTmh1U8GWkBrQ HTTP/1.1" 200 1256 "https://l.facebook.com/" "Moz

[2022-05-30 13:57] allinurl commented on #2330
Thanks for reporting this. Could you please share the log/date/time-format that you are using? Also, please feel free to attach your config file.

[2022-05-30 14:09] allinurl commented on #2321
@szepeviktor I can take a look. Do you have some docs that reference how they're doing it? Thanks

[2022-05-30 14:12] allinurl commented on #2329
Please take a look at the [**man page**](https://goaccess.io/man#custom-log) log config specifiers. This should work, though:

    goaccess access.log --log-format='"%h %^[%d:%t %^] "%r" %s %b "%R" "%u""' --date-format=%d/%b/%Y --time-format=%T

[2022-05-30 14:15] szepeviktor commented on #2321
Just upload a binary file e.g. `/goaccess.gpg.key`.

It depends on what software you use to generate your repo. I use [reprepro](https://wiki.debian.org/DebianRepository/SetupWithReprepro).

[2022-05-30 14:18] allinurl commented on #2321
I'm using [reprepro](https://wiki.debian.org/DebianRepository/SetupWithReprepro) as well. Did I miss a step from that guide?

[2022-05-30 16:03] allinurl commented on #2321
@szepeviktor I see. So when you say match debian, I'm guessing you're referring to the guide you posted, correct? shouldn't users avoid putting them under `trusted.gpg.d/` as described on the links below?

[2022-05-30 16:14] Nardol commented on #2321
IMHO the official Debian wiki also does not recommend trusted.gpg.d: https://wiki.debian.org/DebianRepository/UseThirdParty

But a non-armored key and a package which should be updated when the signing key could also be two good points which would make things perfect :slightly_smiling_face:

[2022-05-30 16:25] szepeviktor commented on #2321
I take the risk of _malicous packages being injected into the official Ubuntu mirrors network_ by Gerardo 🙃

[2022-05-30 17:19] allinurl commented on #2321
Thanks for the feedback!

Unarmored key was added https://deb.goaccess.io/goaccess.gpg.key

@szepeviktor you should be able to already run it without signed-by or without arch, e.g.,

[code]

Are you getting some sort of error?

[2022-05-30 19:14] szepeviktor commented on #2321
Thank you!

No!
Only people on multiarch will get one.

[2022-05-30 20:36] allinurl commented on #2321
@szepeviktor I think that would work for both 64 and 32-bit. But I'm not sure it will handle arm64 if I don't specify the arch in reprepro. Do you know how that would work?

[2022-05-30 20:43] szepeviktor commented on #2321
No, I've never been in the 32 bit world.

[2022-05-30 21:46] lachierussell commented on #2330
Thanks for the quick response!

I'm using the default format options. I'm not using a config file. These formats work most of the time, there's just a few lines that trip it up, like the one above.
[code]

This line works fine:
`180.150.37.133 - - [30/May/2022:07:00:08 +0000] "GET /Admin/admin4.mp4 HTTP/1.1" 206 1540647 "https://sts.mulss.com/Admin/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7

[2022-05-31 00:04] allinurl commented on #2330
It's not breaking on my end with those two lines. Are you able to share with me either those 71908 lines from your log or part of it?

Thanks

[2022-05-31 00:16] lachierussell commented on #2330
Here's 50 lines from the logs that includes the line above (there are several that cause it to crash though).

[error-50.txt](https://github.com/allinurl/goaccess/files/8801055/error-50.txt)

I tried running goaccess from homebrew (goaccess--1.5.7.monterey.bottle.tar.gz) just then too which also failed with the same error.

[2022-05-31 01:28] xavier-hernandez opened #2331 "log format for redirection logs from nginx proxy manager"
Is this the correct format for the redirection logs from nginx proxy manager?

[code]
[code]

[2022-05-31 02:17] allinurl commented on #2330
For some reason it's not breaking on me. Here's what I get:

![2022-05-30 21-13](https://user-images.githubusercontent.com/5005367/171079401-47e99b42-5064-4992-b64d-45b7d26225d1.gif)

Are you running this on a mac? can I ask you to please run it through gdb? e.g.,

[code]
Thanks

[2022-05-31 02:21] allinurl commented on #2331
Very close, only missing the status code. This should do it:

    goaccess access.log --log-format='[%d:%t %^] %s - %m %^ %v "%U" [Client %h] [Length %b] [Gzip %^] "%u" "%R"' --date-format=%d/%b/%Y --time-format=%T

[2022-05-31 03:19] xavier-hernandez commented on #2331
Appreciate the quick response!

[2022-05-31 03:19] #2331 closed

[2022-05-31 03:37] lachierussell commented on #2330
Gdb wasn't working for me out of the box. I ran it through Xcode instead (lldb).

Here's the stack trace
[code]

it crashed here:
[code]

variables at crash:
[code]

xstrdup was called by gdashboard->set_dash_metrics
[code]

the variables here:
[code]

and one call higher in add_sub_item_to_dash
[code]

[2022-05-31 04:02] lachierussell commented on #2330
I haven't tested on linux yet (which I can try later). So far macOS and FreeBSD both seem to crash. They might be sharing libraries but I don't think they're that similar these days.

I'm quite busy for the next fortnight but I'm happy to dig into the codebase after that to see what I can find :)

[2022-05-31 10:04] demon869 opened #2332 "crontab cannot be executed"
The crontab cannot be executed. I am using goaccess1.3. It can be executed manually in the terminal. If it is placed in the crontab, it cannot be executed.
<img width="491" alt="57fb9918041deac258fe2536e333a16" src="https://user-images.githubusercontent.com/61615804/171148914-6972e295-d93d-405c-ad02-3fbe06457a55.png">
<img width="312" alt="130ebe5121d88c5fd96bce9bcf2ab54" src="https://user-images.

[2022-05-31 10:18] #2332 closed

[2022-05-31 10:18] demon869 commented on #2332
Sorry, I missed the parameter

[2022-05-31 22:22] #2330 closed

[2022-05-31 22:28] allinurl commented on #2330
Thanks a lot for sharing those findings. I was able to reproduce this on a FreeBSD machine. For some reason, `getnameinfo(3)` on mac/BSDs will return `\0` while in Linux does return a `.` (actual value) for some IPs. e.g.,  `host 183.192.82.19`.

I pushed a fix, please feel free to build from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) and let me know if t

[2022-05-31 22:56] lachierussell commented on #2330
Tested on macOS (12.4) and FreeBSD (13.0), both worked great!

There's nothing quite like discovering that POSIX libraries don't match across OSs.. good catch, and thanks for the quick fix!

[2022-06-01 16:03] FoxxMD commented on #2241
where is the html supported to be generated to? The dockerfile for goaccess doesn't add nginx but it does expose a port. Does goaccess serve the file itself?

[2022-06-02 20:27] rwjack opened #2333 "docker-compose - reading gz logs + normal logs?"
Hello,

I'm trying to read `.gz` and regular traefik logs while running goaccess inside docker-compose, but I can't seem to figure out a way to accomplish this.

`docker-compose.yml`
[code]
So the idea is -
- First import gz logs with the current docker-compose layout
- And then run only with the second command field (without entrypoint and first command), so goaccess reads existing gz logs and th

[2022-06-06 18:03] bmistry13 opened #2334 "Not able to parse URL with goaccess"
Tomcat format for Access log file:  **%t %h %{X-Forwarded-For}i %I %{username}s "%r" %s %b %Dms %Fms**

[24/May/2022:14:17:10 +0000] **10.5.20.3 10.5.17.14** https-jsse-nio-9183-exec-19 rsinha@System **"GET /vnms/fault/alarms/summary/device/MHG008748?org=IPC04578&includeSystem=true HTTP/1.1"** 200 353 6ms 6ms
[24/May/2022:14:17:09 +0000] **10.5.22.199** - https-jsse-nio-9182-exec-477 - **"GET /vnm

[2022-06-06 21:55] allinurl commented on #2334
This should do it:

    goaccess access.log --log-format='[%d:%t %^] %h %^ %v %e "%r" %s %b %Lms %^' --date-format=%d/%b/%Y --time-format=%T

[2022-06-07 04:15] cikichen opened #2335 "Config file: No config file used"
goaccess access.log -a > report.html

Parsing... [0] [0/s]
GoAccess - version 1.3 - Mar 29 2020 22:32:54
Config file: No config file used

Fatal error has occurred
Error occurred at: src/parser.c - parse_log - 2764

[2022-06-07 07:45] #2335 closed

[2022-06-07 10:13] lucasteinke commented on #496
I saw #1104 but apparently there's still some changes to be done as the time zones didn't get parsed correctly for my current application. There's also no mention of a time zone variable on https://goaccess.io/man#options, so I guess this hasn't been implemented yet. @millsjustin @allinurl?

[2022-06-08 03:19] allinurl commented on #2335
Please make sure to upgrade to the latest version.

[2022-06-08 03:30] allinurl commented on #496
Thanks for the heads up! It's not implemented yet, but let me work on this in the next few days and I'll post back.

[2022-06-08 04:34] bmistry13 commented on #2334
@allinurl,  Thank you it works like a charm.  Thanks for your help and speedy response.

[2022-06-08 07:08] masterwishx commented on #2241
The problem is also here https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/issues/38

![image](https://user-images.githubusercontent.com/28630321/172489091-b31a8ad0-cac6-47bb-a8f6-d76c04936947.png)
![image](https://user-images.githubusercontent.com/28630321/172489315-00b4e5f6-a25a-4645-9a77-8e661a4e8e7a.png)

![image](https://user-images.githubusercontent.com/28630321/172489564-87

[2022-06-08 07:10] masterwishx commented on #2241
This is old v1.4 from GregYankovoy :

![image](https://user-images.githubusercontent.com/28630321/172554129-22070927-bc8a-4ff7-84b1-78021980978f.png)

[2022-06-08 07:13] masterwishx commented on #2241
Yes in GoAccess-NPM-Logs .

[2022-06-08 07:19] masterwishx commented on #2241
I have Logs in '/mnt/user/Logs/NginxProxyManager '  becose of old v1.4 container that working OK .

Also forgot to mention that i still have next line in some of proxy host in NPM :

#NPM Proxy Logs to one file for goaccess monitoring
access_log /config/logs/proxy_logs.log proxy;
error_log /config/log/proxy_errors.log warn;

That was added for logs for old Greg Container but this two log files not

[2022-06-08 12:57] allinurl commented on #2334
Glad that worked. Feel free to reopen it if needed.

[2022-06-09 10:30] bugbounce commented on #1898
In the interest of being explicit, the following could be added to the [Service] section:
[code]

[2022-06-10 17:37] alqu commented on #1894
Hmm, this does not seem to work.
I followed the installation instructions from https://goaccess.io/download#official-repo
At least not on an Apple M1-Machine while trying to install on Docker/Debian 11 I get this result:
[code]

Some info from that machine:
[code]

I do not know, what causes this error since your list above clearly lists this architecture.

[2022-06-10 17:38] alqu commented on #1894
Oops, answering my own question: obviously there is the combination bullseye + arm64 missing. Doh.

[2022-06-11 02:02] allinurl commented on #1894
@alqu I'll need to revisit this as bullseye arm64 was segfaulting under qemu when running apt-get update. Let me check again and will post back.

[2022-06-12 16:41] freemp opened #2336 "Last line of real-time log file not evaluated"
I just realized that in real-time mode, the last line of a log file (which is not newline terminated) is not evaluated until another line is appended.

[2022-06-13 03:52] #2336 closed

[2022-06-13 11:02] JnuSimba opened #2337 "UNIQUE VISITORS PER DAY - INCLUDING SPIDERS panel not work"
use `goaccess  access.log -o report.html --real-time-html`, the UNIQUE VISITORS PER DAY - INCLUDING SPIDERS panel not work，but others panels works
![image](https://user-images.githubusercontent.com/5785346/173339733-b8b0e2de-bba9-499f-ac95-5c11eac9814b.png)

goaccess v1.6

[2022-06-13 13:55] allinurl commented on #2336
Interesting... I haven't seen this on apache or nginx. Do you know what server is writing the log? Thanks

[2022-06-14 10:44] hacxman commented on #2261
I'd love add to to desired features:
6. non animated html output
7. no "lazy" (i.e. when scrolled into) showing data in html output.

I got rid of animations by hand editing CSS and JS + minified JS. It wasn't very pleasant.

Otherwise, yes - Keep up the good work!
Thanks <3

[2022-06-14 11:39] JnuSimba commented on #2337
access log sample :
```119.147.10.239 - - [14/Jun/2022:19:20:28 +0800] "POST /index.php/public/commoncgi/update_time_seed?g_ty=ajax HTTP/1.1" 404 548 "http://test.1.qq.com/" "Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36"```
log format：
[code]
and some console error：
<img width="740" alt="image" src="https://user-images.githubusercont

[2022-06-14 18:58] jamesb93 commented on #2308
To add I'm using `goaccess` 1.6 and `caddy` 2.5.1.

I get the same initial error posted by OP on logs output by `caddy`.

Example logs are here:
[intersymmetric.log](https://github.com/allinurl/goaccess/files/8903103/intersymmetric.log)

[2022-06-14 20:18] allinurl commented on #2308
@jamesb93 It seems like you got a partial JSON log, i.e., the first 68 bytes are not JSON and the JSON part it's missing the timestamp. A workaround would be to pre-process the log or you could change your Caddy's format to `json` to output the supported log format.

[2022-06-15 04:57] zjcscut opened #2338 "Custom JSON nginx log format"
My Nginx log simple as this：

{"@timestamp":"2022-06-15T12:47:10+08:00","clientRealIp":"100.169.0.123","remote_addr":"100.169.0.123","remote_user":"-","time_local":"-","request":"POST /x/y/z HTTP/1.1","status":"200","body_bytes_sent":"53","http_referer":"-","http_host":"x.com","http_user_agent":"Jakarta Commons-HttpClient/3.1","http_x_forwarded_for":"-","upstream_addr":"172.0.0.1:8081","upstream_s

[2022-06-15 10:54] mario-donnarumma commented on #1663
@allinurl I had the same problem and it was completely solved with the code in the PR I just submitted (#2339). Any comments about it are welcome!

[2022-06-15 11:42] jamesb93 commented on #2308
@allinurl apologies for the trivial mistake. I am new to `caddy` and didn't realise the output log should be coupled with the format directive to get just JSON. It's all working now :)

[2022-06-15 13:13] allinurl commented on #2338
Please take a look at the [**man page**](https://goaccess.io/man#custom-log) for more details. Anyways, this should do it:

    goaccess access.log --log-format='{"@timestamp":"%dT%t+%^","clientRealIp":"%h","remote_user":"%e","request":"%r","status":"%s","http_referer":"%R","http_host":"%v","http_user_agent":"%u","request_time":"%T","request_length":"%b"}' --date-format=%Y-%m-%d --time-format=%T

[2022-06-15 13:56] allinurl commented on #1663
Thanks a lot @mario-donnarumma. #2339 should address this issue and will be deployed in the upcoming release.

[2022-06-16 13:47] allinurl commented on #2337
That's strange.. that log format it's working fine for me. Do you get an empty chart even if you reload the page/report? also, does it update the panel after some time or it never updates?

Also, with your browser's devtools opened, are you able to reload the report (ctrl+shift+r) and look at the network tab, open the websocket request, and can you please post one of the websocket frames?

Thanks

[2022-06-16 22:09] allinurl commented on #2329
Closing this. Feel free to reopen it if needed.

[2022-06-16 22:09] #2329 closed

[2022-06-16 22:10] #2300 closed

[2022-06-16 22:11] allinurl commented on #2201
Closing this. Feel free to reopen it if needed.

[2022-06-16 22:11] #2201 closed

[2022-06-16 22:12] allinurl commented on #2188
Closing this. Feel free to reopen it if needed.

[2022-06-16 22:12] #2188 closed

[2022-06-16 22:13] allinurl commented on #2165
Closing this. Feel free to reopen it if needed.

[2022-06-16 22:13] #2165 closed

[2022-06-16 22:13] allinurl commented on #2154
Closing this. Feel free to reopen it if needed.

[2022-06-16 22:13] #2154 closed

[2022-06-16 22:14] allinurl commented on #2149
Closing this. Feel free to reopen it if needed.

[2022-06-16 22:14] #2149 closed

[2022-06-16 22:14] allinurl commented on #2146
Closing this. Feel free to reopen it if needed.

[2022-06-16 22:14] #2146 closed

[2022-06-17 17:20] i5ys0p commented on #2321
I installed goaccess via this guide when setting up my server: https://www.howtoforge.com/tutorial/perfect-server-ubuntu-20.04-with-apache-php-myqsl-pureftpd-bind-postfix-doveot-and-ispconfig/

In that guide it installs via these commands:
`echo "deb https://deb.goaccess.io/ $(lsb_release -cs) main" | sudo tee -a /etc/apt/sources.list.d/goaccess.list
wget -O - https://deb.goaccess.io/gnugpg.key |

[2022-06-20 06:14] joginder89 opened #2340 "Added GeoLite2-City.mmdb but showing country GeoLocation"
I am using goaccess version - 1.6. with
Build configure arguments:
  --enable-utf8
  --enable-geoip=mmdb
I have set the `geoip-database` in config file and also try to add `--geoip-database=/usr/local/share/GeoIP/GeoLite2-City.mmdb` in command line arguments but it always show Country database on HTML page.
`GEO LOCATION
CONTINENT > COUNTRY SORTED BY UNIQUE HITS [, AVGTS, CUMTS, MAXTS]`

[2022-06-22 01:56] allinurl commented on #2340
Currently the city is only shown on the Hostnames/IP panel. There's an outstanding issue to add this under #1926, #750 and related #524 too. Stay tuned!

[2022-06-22 04:44] TheTitanrain commented on #2274
Same issue. But Goaccess adds all logs every second.
![image](https://user-images.githubusercontent.com/1952721/174944880-9e566d55-3156-41df-b43f-4bd708133a7f.png)

[2022-06-22 08:28] g9panas commented on #1563
Hello,

I have something similar,
using apache2
access file output:
192.168.10.54 - - [21/Jun/2022:11:43:12 +0300] "POST /index.php HTTP/1.1" 302 11>
192.168.10.54 - - [21/Jun/2022:11:43:29 +0300] "GET /index.php/core/apps/recomme>
192.168.10.54 - - [21/Jun/2022:11:43:30 +0300] "GET /apps/files_rightclick/css/a>
192.168.10.54- - [21/Jun/2022:11:43:30 +0300] "GET /core/css/guest.css?v=7c3148>

goac

[2022-06-22 12:48] mohsen commented on #546
Isn't this yet available? I need to filter output only for a single host and ignore the rest lines of access log file.

[2022-06-22 12:55] allinurl commented on #546
@mohsen Working on [#117](https://github.com/allinurl/goaccess/issues/117#issuecomment-1015917684) as we speak. Stay tuned as it will be out rather sooner than later.

[2022-06-22 13:02] allinurl commented on #1563
@g9panas please post complete lines from your access log. Thanks.

[2022-06-22 17:25] ricetim opened #2341 "Real Time HTML report not updating"
The real time html report generated by goaccess is not updating as the nginx log file updates.

 I am running:

`goaccess /var/log/nginx/access.log -o /var/www/goaccess/report.html --real-time-html`

report.html will be written as soon as the command is run, but will not update as access.log is updated. I can confirm that writes are being made to access.log, but report.html remains unchanged until

[2022-06-22 20:08] ricetim commented on #2341
@allinurl same thing. Running the below command will update the report.html file with whatever the current access.log contents are, but then not perform any realtime updates as access.log is changed

`goaccess /var/log/nginx/access.log -o /var/www/goaccess/report.html --real-time-html`

[2022-06-22 20:18] tevkar commented on #1505
Hi,

cowAxess is now taken out of our solution offerings. It will not be maintained any longer.

Kind regards
itefix.net

[2022-06-22 20:22] allinurl commented on #1505
@tevkar Thanks a lot for supporting the Windows version all this time!

[2022-06-22 20:22] #1505 closed

[2022-06-22 20:37] ricetim commented on #2341
Oh hey, I think I figured it out, perhaps. It looks like report.html only updates if you try to access it from a browser. I was just updating access.log and watching the report.html file and seeing if any changes were made.

Somewhere along the way, it looks like it started to work. The  report is updating as I refresh it in the browser. Fantastic news!

[2022-06-22 20:37] #2341 closed

[2022-06-22 20:39] allinurl commented on #2341
Great to hear it worked. Yes, the actual generated html report won't change, it updates the data via a WebSocket connection and through Javascript the report is visually updated.

[2022-06-23 07:49] TheTitanrain commented on #2274
https://github.com/allinurl/goaccess/blob/aa45260cfb8a776770f695da0cb560ff4079f1e4/src/goaccess.c#L804

[2022-06-23 07:52] TheTitanrain commented on #2274
I commented out this line and all logs are not added every second.
https://github.com/allinurl/goaccess/blob/aa45260cfb8a776770f695da0cb560ff4079f1e4/src/goaccess.c#L804

[2022-06-23 22:03] allinurl commented on #2274
I wonder if the inode for some reason changes on Windows and thus this is being reset to 0. Let me get me hands on a Windows machine today and I can test this out.

[2022-06-24 11:34] allinurl commented on #496
Finally this has been implemented. Please build from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) and let me know how that goes. Here's how it works:

Given a sample log request:

    dot.com:80 192.168.0.1 - - [24/Jun/2022:22:14:26 -0500] "GET /robots.txt HTTP/1.1" 200 304 "-" "BacklinkCrawler (http://www.backlinktest.com/crawler.html)" 1232

We run goacce

[2022-06-24 11:34] #496 closed

[2022-06-24 20:57] alxvlkr opened #2342 "Custom log format help"
Hi everyone,

My logs look like the following:
[code]

Here is my log, date and time-format:
`--log-format='[%d:%t %^] - %s %s - %m %H %v "%U" [Client %h] [Length %b] [Gzip %^] [Sent-to ~h] "%u" "%R"' --date-format=%d/%b/%Y --time-format=%T`

After trying for hours, this is what i could get:

[code]

Please help! :)

[2022-06-24 23:05] #2274 closed

[2022-06-24 23:07] allinurl commented on #2274
Thanks again for sharing those findings. I pushed a commit that should address this issue. Please feel free to build from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) and let me know if that solves the issue on your end. Otherwise, it will be deployed in the upcoming release.

[2022-06-26 02:06] allinurl commented on #2342
This seems to do it, let me know if that works for you:

    goaccess access.log --log-format='[%d:%t %^] %^ %s %^ %^ %m %^ %v "%U" [%^ %h] [%^ %b] [%^] [%^] "%u" "%R"' --date-format=%d/%b/%Y --time-format=%T

[2022-06-26 23:57] TheTitanrain commented on #2274
Thanks! The issue is is solved.

[2022-06-27 03:47] nadermx opened #2343 "Requested files vs new visitors a day, discrepency in hits and visitors"
Hi, I am unsure if it is a bug, but when I see the panel of unquie visitors a day including spiders it shows around 1400 hits and 220 visitors.  But if I look at requested URLS, it shows what I believe to be more accurate of almost the same number of visitors and hits.
![image](https://user-images.githubusercontent.com/7340380/175856190-85d94b26-34a7-4e1b-80e9-1427f6421477.png)
So not sure since t

[2022-06-27 17:59] alxvlkr commented on #2342
Thank you, it was working!
I was using nginx proxy manager...

[2022-06-29 01:38] allinurl commented on #2343
Can I ask you, how does the chart look like without `--4xx-to-unique-count`?

[2022-06-29 01:41] allinurl commented on #2337
I was looking at this but can't reproduce this on my end. Are you able to consistently reproduce this issue? and would you be able to share with me that log file? Thanks!

[2022-06-29 18:45] nadermx commented on #2343
It seems about the same
![without400](https://user-images.githubusercontent.com/7340380/176512437-41884b2c-4e0b-496e-ba2b-2e432f1763c9.png)

[2022-06-29 18:55] allinurl commented on #2343
Hard to know exactly what's going on without having the logs. However, for me this looks like everyday you're getting an average of 223 unique visitors, but the first request (which seems to be `/ GET`) has gotten a total of 1579 unique visitors over the range of parsed dates (not per day).

Let me know if that helps answer your question.

[2022-06-29 19:25] allinurl commented on #2343
To test this out, you could randomly grab multiple chunks of lines from the access log, e.g., 25, 50, 150 and run it against goaccess and see if the results match a manual inspection of those lines. Note that goaccess considers a unique visitor an HTTP request with the exact same IP, date, and user agent.

Please feel free to share those findings.

[2022-06-29 20:15] allinurl commented on #2338
Closing this, feel free to reopen it if needed.

[2022-06-29 20:15] #2338 closed

[2022-06-30 03:47] nadermx commented on #2343
I will do that, but I just am curiose why it then shows the total unquie visitors on the left vs the right, signifncantly different.  One shows 22k hits and 3k visitors, but the graph on the right shows 20k hits 18k visitors.

[2022-06-30 15:46] allinurl commented on #2343
Great question! So the left-hand side panel (Visitors) counts unique visitors as an HTTP request with the exact **same IP**, **user agent** + **date**. However, the right-hand side panel and actually pretty much any other panel will consider a unique visitor an HTTP request with the exact same IP, date, user agent **+ the data field** (column) on that panel.

For instance, a client can visit your

[2022-06-30 23:11] allinurl commented on #2328
Completely missed your response. Sorry about that. Unfortunately there's no way to dump the existing data to disk from the current process.

[2022-07-01 00:13] prettydeep opened #2344 "real-time html accessed on local network shows nothing"
I am trying to generate real-time html using the following command:

`goaccess site.log -o report.html --log-format=CADDY --real-time-html`

The terminal output is:

` [PARSING site.log] {0} @ {0/s}`
`WebSocket server ready to accept new client connections`

But when I try to access locally at 192.168.X.X:7890 the page is blank and the browser indicates 400 Invalid Request. Adding /report.html to

[2022-07-01 00:33] prettydeep commented on #2344
Nevermind. I assumed goaccess was serving the html. For reference, see [here](https://github.com/allinurl/goaccess/issues/969#issuecomment-385592137)

[2022-07-01 00:33] #2344 closed

[2022-07-01 12:16] Schamschula opened #2345 "1.6.1 src/util.c needs _DARWIN_C_SOURCE 200809L for macOS"
When updating the MacPorts Portfile to version 1.6.1 I ran into a build issue in src/util.c

[code]

I worked around this with the following patch

[code]

however, this probably should be take care of in `configure.ac`

[2022-07-01 19:01] kpgreene opened #2346 "GoAccess for DNS query logs (Bind9)"
Hello Group:
Has anyone considered the use of GoAccess to study DNS queries?
I get a reasonable amount of queries (~50/second) on my public DNS server and while it is simple to create logs, the ability to display in some sort of usable fashion is a challenge. I was thinking that GoAccess would be a good tool as it is fast and the ability to customize the log format is very useful. That said, I hav

[2022-07-01 23:22] allinurl commented on #2345
Thanks a lot for reporting this. Looks like _XOPEN_SOURCE was the culprit. It should [**build fine**](https://github.com/allinurl/goaccess/runs/7157980114?check_suite_focus=true) now. Please feel free to build from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) and let me  know if that solves the issue on your end.

[2022-07-01 23:24] kpgreene commented on #2346
Hello:
It seems my script when pasted turned into something nearly unreadable. I am very sorry it has happen. It seems the GitHub system bit like the pound sign used to comment a line.

I am trying to send it a different way.
 I am also showing the error message.

Thank you
Kevin

`# Creates a view of traffic

# Fields needed                                         1       2               3

[2022-07-01 23:26] allinurl commented on #2346
It may be able to extract data from it. Could you please attach a file with some DNS entries on it? Thanks

[2022-07-02 00:34] Schamschula commented on #2345
The diff works fine for me! I test built the 1.6.1 source, substituting your patch for mine.

[2022-07-02 01:32] allinurl commented on #2345
Thanks for letting me know and glad to hear that! I'll be pushing a minor release for this soon.

[2022-07-02 01:32] #2345 closed

[2022-07-02 05:30] epictz06 opened #2347 "how to see users isp"
Hello , and thank you for developing such a great tool.
is it possible to see how many % of users use what ISP?
like 30% verizon
or 10% o2
something like that.
i couldent find it in google so i asked it here.
best regards.

[2022-07-02 15:52] allinurl commented on #2347
I believe the ISP data is a paid option from maxmind. However, you could get close by using the IPs panel and passing `-d` to resolve the host names. Take a look at [**goaccess' demo**](https://rt.goaccess.io/?20220630181712#hosts).

[2022-07-03 15:54] kpgreene commented on #2346
Hi:

Thank you very much for helping in this challenge I have.

I have attached a ~1 hour sample of log entries (about 20 MB before
creating the zip file).

It would be great to have a solution. There really is no solution today
for looking at the DNS (Bind9) log entries.  I spent a lot of time
looking and it is really hard to find much of anything that would work
unless you want to spend thousand

[2022-07-03 21:59] allinurl commented on #2346
It looks like the attachment was not posted. You may need to post it via github (attach files by dragging)... Thanks

[2022-07-04 09:22] alqu commented on #1894
@allinurl any news on the image? :-)

[2022-07-04 23:30] allinurl commented on #1894
@alqu Please give it a shot and let me know how it goes - just added arm64 bullseye. Here's the latest list:
[code]

[2022-07-05 19:00] PaddyPat commented on #496
Any tipps, howto handle caddy epoche time format with gmt + 2

Example epoche time: 1657046018.3796463

caddy-goaccess-1  | ==1== FILE: /data/access.log
caddy-goaccess-1  | ==1== Parsed 10 lines producing the following errors:
caddy-goaccess-1  | ==1==
caddy-goaccess-1  | ==1== Token 'el":"info","ts":1657005103' doesn't match specifier '%x'
caddy-goaccess-1  | ==1== Token 'el":"info","ts":16570051

[2022-07-05 23:56] allinurl commented on #496
@PaddyPat You will need to set `--datetime-format` to %s as that's what Caddy uses (see `man strptime`). e.g.,

access.log

[code]

Analyze with:

    goaccess access.log --date-spec=min --datetime-format='%s' --tz=Europe/Berlin --log-format='{"ts":"%x.%^","request":{"remote_ip":"%h","proto":"%H","method":"%m","host":"%v","uri":"%U","headers":{"User-Agent":["%u","%^"]},"tls":{"cipher_suite":"%k","

[2022-07-06 01:48] allinurl commented on #496
After playing around with the Unix time, I noticed a bug that would perform the timezone conversion twice.

I just pushed a fix for this. Please feel free to test it out by building from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) and let me know if that looks right on your end. I plan to push this out soon in the upcoming release. Thanks.

[2022-07-06 05:55] PaddyPat commented on #496
I've tryed it (use goaccess in docker with goaccess.conf)

[code]

This looks well, but not at top right corner.

![2022-07-06 07_51_00-](https://user-images.githubusercontent.com/11161270/177478746-8387bb01-791a-49a0-a52d-23ab6958fe8b.jpg)

Thanks for your help!
Maybe, I've seen you can change in Caddyfile by logging the time format:

[code]

[2022-07-06 06:57] vidanil89 opened #2348 "How can I pass custom nginx log format to GoAccess"
My nginx custom log format is

    log_format plain_trace '$remote_addr - $remote_user [$time_local] "$request" $status '
                 '$body_bytes_sent "$http_referer" "$http_user_agent" '
                 '"$http_x_forwarded_for" $int_request_id $msec $request_time '
                 '$upstream_connect_time $upstream_header_time $upstream_response_time';

example:
10.81.142.115 - - [30/Jun/2

[2022-07-06 18:13] PaddyPat commented on #496
I've tryed it (use goaccess in docker with goaccess.conf)

[code]

This looks well, but not at top right corner.

![2022-07-06 07_51_00-](https://user-images.githubusercontent.com/11161270/177478746-8387bb01-791a-49a0-a52d-23ab6958fe8b.jpg)

Thanks for your help!

FYI: I've seen, you can change in Caddyfile the logging time format:

**time_format     common_log**

[code]

Log format common_log:

[

[2022-07-06 18:29] allinurl commented on #496
@PaddyPat `--datetime-format='%d/%b/%Y:%H:%M:%S %z'` should do it for your new format.

[2022-07-06 21:01] allinurl commented on #2346
Anyways, this should work for **bind9** queries log (assuming the following format):

    06-Jul-2022 15:57:29.353 queries: info: client @0x7fbff80430c0 146.112.174.76#2297 (mail.yahoo.com): query: mail.yahoo.com IN A -E(0)DC (101.170.136.1)

run goaccess as:

    goaccess dns.log --log-format='%d %t.%^ %^: %^ %^ %^ %h#%^ (%v) %^ %^ %^ %U %^' --date-format=%d-%b-%Y --time-format=%T --ignore-panel=

[2022-07-06 21:52] kpgreene commented on #2346
Hello:

The results from your answer were very IMPRESSIVE! I used the first example that was provided.

I found that the biggest abusive group that was hitting my DNS server was out of a middle eastern country (IL). It was roughly 2,000 hits an hour for one specific IP address.  I need to now look at the various IP addresses shown as the top query sources to see where they are from.

I also need t

[2022-07-06 22:20] allinurl commented on #2346
Happy to hear that worked!

You can always pass for the html report `-o report.html` and `--real-time-html` to make it real-time.

    goaccess dns.log -o report.html --real-time-html --log-format='%d %t.%^ %^: %^ %^ %^ %h#%^ (%v) %^ %^ %^ %U %^' --date-format=%d-%b-%Y --time-format=%T --ignore-panel=BROWSERS --ignore-panel=OS --ignore-panel=REQUESTS_STATIC --ignore-panel=NOT_FOUND --ignore-panel=

[2022-07-06 22:20] #2346 closed

[2022-07-06 22:51] allinurl commented on #2348
This should work:

    goaccess access.log --log-format='%h %^[%d:%t %^] "%r" %s %b "%R" "%u" %^ %^ %^ %^ %^ %^ %T' --date-format=%d/%b/%Y --time-format=%T -o report.html --real-time-html

[2022-07-07 22:37] AlexBrickLink opened #2349 "How can I pass custom nginx log format to GoAccess"
Need help parsing custom Nginx log format

log_format                  bldebug '[$time_local] $remote_addr $status $request_length "$request" "$http_cookie" "$http_x_forwarded_for" "$http_x_forwarded_proto"';

[2022-07-07 23:14] allinurl commented on #2349
Please post a few lines from your access log.

[2022-07-07 23:17] AlexBrickLink commented on #2349
109.237.103.118 - - [07/Jul/2022:07:51:49 -0400] "\x16\x03\x01\x01D\x01\x00\x01@\x03\x03y\x9A\x17\xC7N\xED\xDF\x0Ff\x9Dx\xF5\xC8\x04l[\xDF\xFB\xF5\xA3`$\x11\x19W\xF9d\x8C\xB8f\xF6\x18 \xB8\x959\xFE=\xA1|\xAAl\x8E\x1D\xCC?\xF2\xF6\x15[\xEB^~\x0F0\xFC\xDB\xB3E\x8A\xF1nC\xE0\xB0\x00b\x13\x02\x13\x03\x13\x01\xC0,\xC00\xC0+\xC0/\xCC\xA9\xCC\xA8\x00\xA3\x00\x9F\x00\xA2\x00\x9E\xCC\xAA\xC0\xAF\xC0\xAD\xC

[2022-07-07 23:27] AlexBrickLink commented on #2349
thank you!

[2022-07-07 23:28] allinurl commented on #2349
Happy to help ;) Closing this. Feel free to reopen it if needed.

[2022-07-07 23:28] #2349 closed, assigned to nobody

[2022-07-09 00:30] rsidhaarth opened #2350 "not reading the real timed synced file"
Hi,

I am trying to sync a log file from a different server to the server where goaccess is installed. And I ran the goaccess in real time with the log file location.

Even when the changes are made to the local file from the remote server, goaccess is not reflecting the changes.

I am able to see the changes in real time when I do tail -f

But not via goaccess logs.

[2022-07-09 00:32] allinurl commented on #2350
Please post how you are running goaccess.

[2022-07-09 00:35] allinurl commented on #2350
are you able to see it in real-time in the TUI? e.g.,

     goaccess /home/001/squid.log

[2022-07-09 00:40] allinurl commented on #2350
Great, so it sounds like a server config issue. Are you accessing the report via https or http? did you open port 7890? also please post a screenshot of your browser's console. Thanks

[2022-07-09 00:53] allinurl commented on #2350
To output real time data over a TLS/SSL connection, you need to use `--ssl-cert=<cert.crt>` and `--ssl-key=<priv.key>`.

[2022-07-09 01:28] allinurl commented on #2350
NGINX will serve the report.html, you need goaccess' WebSocket to get real-time data.

You want to use `--date-format=%s` `--time-format=%s` and log-format use %x instead of `%d` and `%t`. e.g.,

    goaccess access.log --log-format='%h %^[%x] "%r" %s %b "%R" "%u"' --datetime-format='%s' --tz=Europe/Berlin --date-spec=min -o report --real-time-html  --ssl-cert=<cert.crt> and --ssl-key=<priv.key>.

[2022-07-09 02:15] allinurl commented on #2350
Please attach a file with a few lines from your access log. e.g.,

    # tail -10 SQUID.log > sample.log

[2022-07-09 06:09] rsidhaarth opened #2351 "Stats when rewriting log file on remote sync"
Hi,

I am doing real time syncing files from our web server to goaccess server. And we have lots of servers

For now, I did for 4 servers, so all the log files from those servers are available in goaccess server and I am running goaccess by mentioning all the log files. But I am getting wrong data

How do I confirm?

1) BW in the server is not matching with the goaccess stats
2) We also measure st

[2022-07-09 13:02] allinurl commented on #2350
The following should work, however, you will need to enclose the referrer and the user agent in quotes or some delimiter.

    goaccess sample.txt --log-format='%x.%^ %L %h TCP_%C/%s %b %m %U %e %^ %M %R %^' --datetime-format=%s

If you enclose those two in quotes, then use

    goaccess sample.txt --log-format='%x.%^ %L %h TCP_%C/%s %b %m %U %e %^ %M "%R" "%u"' --datetime-format=%s

[2022-07-09 13:12] allinurl commented on #2351
Sounds like a log format issue. Please see your other post #2350. Are you parse only one of those logs, e.g., 1692 and see if you get the same number of lines? Otherwise, feel free to attach that log here and I can take a look.

[2022-07-09 13:45] allinurl commented on #2350
The first format I posted works fine for the sample log you attached. .e.g.,

![2022-07-09-084403_648x408_scrot](https://user-images.githubusercontent.com/5005367/178108504-e07bf42b-61ed-415e-a3a6-df0a88b2f465.png)

As I said, the browser info needs to be properly delimited in your squid.log, otherwise you won't be able to parse that.

[2022-07-09 13:49] allinurl commented on #2351
It sounds like it's overwriting the file each time you synced the log. You need a way to forward your logs to central log server as opposed to copying it over and over again. or you could try mounting it via sshfs and have goaccess read those logs from the mount.

[2022-07-09 21:23] allinurl commented on #2350
This should work:

    goaccess squid.log --log-format='%^="%x.%^" %^="%L" %^="%h" %^="TCP_%C" %^="%s" %^="%b" %^="%m" %^="%U" %^="%e" %^="%^" %^="%M" %^="%R" %^="%u"' --datetime-format=%s --http-protocol=no

![2022-07-09-162255_562x947_scrot](https://user-images.githubusercontent.com/5005367/178123096-f5a20c8c-9211-4eaa-b95e-e39196b7a787.png)

[2022-07-10 01:24] allinurl commented on #2350
Glad to hear that worked. Closing this, feel free to reopen it if needed.

[2022-07-10 01:24] #2350 closed

[2022-07-12 22:35] allinurl commented on #695
Just an FYI. This request will be addressed by #117. Working on it as we speak — stay tuned!

[2022-07-13 13:44] goodnewsj62 opened #2352 "Live Json Report"
Pleas is there a way i could get live json report instead

[2022-07-13 13:49] allinurl commented on #2352
You can get it through a WebSocket. e.g., give it a shot https://www.piesocket.com/websocket-tester and use wss://rt.goaccess.io:7890/

[2022-07-13 15:18] allinurl commented on #2351
Closing this. Feel free to reopen it if needed.

[2022-07-13 15:18] #2351 closed

[2022-07-13 15:18] allinurl commented on #2348
Closing this. Feel free to reopen it if needed.

[2022-07-13 15:18] #2348 closed

[2022-07-13 15:18] allinurl commented on #2347
Closing this. Feel free to reopen it if needed.

[2022-07-13 15:18] #2347 closed

[2022-07-13 15:19] allinurl commented on #2343
Any updates on this? Thanks

[2022-07-13 15:24] #2308 closed

[2022-07-13 17:39] aodsupport opened #2353 "Issue with Real Time Reporting"
I have installed GoAccess 1.6.1 from source and enabled debug.  When I build the initial report, it shows data as you would expect via goaccess.html, however, it never updates.  When viewing the console it would bring in the storage, parse the log file, but then just show WebSocket server ready to accept new client connections without anything else.

After enabling debug, it reports the Headers to

[2022-07-13 21:44] allinurl commented on #2353
Interesting... are you passing a cookie? Would you be able to share the request headers from your browser's network panel (perhaps Chrome) to see what the browser is sending? e.g., Thanks

![2022-07-13-164351_457x509_scrot](https://user-images.githubusercontent.com/5005367/178842018-8157ecce-5781-4d0d-93df-830e6f822d84.png)

[2022-07-13 22:04] aodsupport commented on #2353
Well, I was moving this to a different account on the same server so that I could better demonstrate the problem to you and I discovered the issue appears to be with HTTPS.  If the report.html is accessed via HTTP versus HTTPS then it works properly.

[2022-07-13 22:14] allinurl commented on #2353
I see. To output real time data over a TLS/SSL connection, you need to use `--ssl-cert=<cert.crt>` and `--ssl-key=<priv.key>`.

[2022-07-13 22:17] aodsupport commented on #2353
Would the cert and key just mirror whatever the front-end web server is using? i.e domain.com's cert/key pair?

[2022-07-13 22:37] allinurl commented on #2353
Correct.

[2022-07-13 22:56] aodsupport commented on #2353
Thank you, I will make the necessary adjustments. I appreciate the quick replies.

[2022-07-13 22:56] #2353 closed

[2022-07-14 08:23] goodnewsj62 commented on #2352
@allinurl thank you very much

[2022-07-14 08:23] #2352 closed, assigned to nobody

[2022-07-15 11:42] ghost opened #2354 "Unable to parse source address XFF field"
My nginx log got http_ x_ forwarded_ The real IP of for,

My nginx configuration is
'$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for" '

My nginx log is

172.23.51.6 - - [15/Jul/2022:19:15:14 +0800] "POST /MOSS/api/participationChance/getChance HTTP/1.1" 200 142

[2022-07-16 00:55] allinurl commented on #2354
Assuming that your XFF field is separated by commas and spaces, then the following should work:

    goaccess access.log --log-format='%^[%d:%t %^] "%r" %s %b "%R" "%u" "~h{ ,}"' --date-format=%d/%b/%Y --time-format=%T

[2022-07-16 12:45] riskt commented on #2354
Sorry, as you can see, my http_ x_ forwarded_ The for field only has one IP address, so please provide me with an accurate configuration information. It is not feasible to follow the ~h in the official document

[2022-07-16 12:46] riskt commented on #2354
![image](https://user-images.githubusercontent.com/109352458/179355438-897eab63-1772-4946-a48d-4c76e8b9dda4.png)

[2022-07-16 13:09] allinurl commented on #2354
The one I posted above works fine for the line you posted. Please post at least 20 lines from your access log so I can make sure you got the right format.

[2022-07-17 06:28] riskt commented on #2354
This is my log format
172.23.51.6 - - [16/Jul/2022:20:35:29 +0800] "GET /MOSS/template/common/js/qrcode.js HTTP/1.1" 200 33782 "http://172.23.51.7:8105/MOSS/engine/mActivity/dx-summer" "Mozilla/5.0 (X11; U; Linux i686; en-US) AppleWebKit/534.0 (KHTML, like Gecko)" "173.93.24.137"
172.23.51.6 - - [16/Jul/2022:20:35:30 +0800] "GET /MOSS/template/activityTemp_0.25/pages/chest2_0.1/config.js HTTP/1.1"

[2022-07-17 23:42] allinurl commented on #2354
As I posted before, that format should work - give it a shot!

![2022-07-17-184143_684x510_scrot](https://user-images.githubusercontent.com/5005367/179429542-2bfc2ef9-f718-49bf-bd68-26db2df7a669.png)

[2022-07-18 08:30] baurmatt opened #2355 "Repository broken for Ubuntu 16.04"
The latest release breaks the installation on Ubuntu 16.04:

[code]

leads to:

[code]

[2022-07-18 22:14] allinurl commented on #2355
Thanks a lot for reporting this! The issue should be fixed. Please try to run `apt update` and `apt install goaccess` and let me know how it goes.

[2022-07-19 05:38] baurmatt commented on #2355
Looks good, thanks! :)

[2022-07-19 05:38] #2355 closed

[2022-07-19 10:50] epictz06 commented on #2347
Hello ,
do you have any refrence from maxmind paid version ?
i wanted to see if  it will fullfil what i want ( to show me how many % of ip loged is from what isp )
or not
could you help me in this?

[2022-07-21 08:46] wfjsw opened #2356 "XFF field breaks the cache status field"
Version: GoAccess - 1.6.2.

Example log entries:

[code]

If I use this format string:

[code]

I'll get an empty cache status panel.

If I use this instead:

[code]

Then the cache status panel will behave normally.

[2022-07-21 13:08] allinurl commented on #2356
This should work, let me know how it goes:

    goaccess access.log --log-format='[%x] %^ ~h{ } "%r" "%s" %b "%v" "%R" "%u" %^ %C "%T" %^' --datetime-format='%d/%b/%Y:%H:%M:%S %z'

[2022-07-21 13:10] allinurl commented on #2356
BTW, I wasn't sure which one was %T, so feel free to change it.

[2022-07-21 13:12] allinurl commented on #2356
Changing `%T` to the next field as you had it.

    goaccess accesslog --log-format='[%x] %^ ~h{ } "%r" "%s" %b "%v" "%R" "%u" %^ %C %^ %T %^' --datetime-format='%d/%b/%Y:%H:%M:%S %z'

[2022-07-21 13:32] wfjsw commented on #2356
Eh no. I didn't have any issue with datetimes. I have
[code]
set beforehand.

However the issue is that, when I attempt to handle the `X-Forwarded-For` field (the 7th field from right) I'll lose cache status. Ignoring it is fine.

[2022-07-21 13:48] allinurl commented on #2356
Did you try what I posted? The format I posted works fine for me. e.g.,

![2022-07-21-084805_658x880_scrot](https://user-images.githubusercontent.com/5005367/180229619-6681420c-d60e-4841-9427-59c21d571c9f.png)

[2022-07-21 14:00] wfjsw commented on #2356
The nginx log directive is:

[code]

Thus it makes no sense to put `~h{ }` at the place of `$remote_addr`.

![image](https://user-images.githubusercontent.com/2220320/180230595-3d36bbe4-558f-48b8-a124-dd754eff401f.png)

I have no huge issues with the original format strings anyway. However note these `T. S.` field (`%T`) after `"~h{, }"`. They are gone.

The cache statuses are also gone:
![image](

[2022-07-21 14:25] allinurl commented on #2356
I guess I'm not following, aren't `162.158.34.206` & `162.158.90.12`  the client ips? You can't use `%h` and `~h` on the log-format. It has to be one or the other one.

[2022-07-21 15:10] wfjsw commented on #2356
`162.158.90.12` is ip of the proxy. `5.6.7.8` is the real ip extracted by nginx. And there is an additional raw XFF header value.

Yes when `%h` is eliminated this bug no longer appears as well. But I think the side effect caused by using `%h` and `~h` altogether is still unexpected? That is, goaccess is not properly ignoring `~h`  when `%h` is present.

[2022-07-24 22:09] #2356 closed

[2022-07-24 22:13] allinurl commented on #2356
Thanks for reporting this. The issue should be fixed upstream now. Please feel free to build from [**development**](https://github.com/allinurl/goaccess#build-from-github-development) and let me know if that solves the issue on your end.

Also please note that the parser will now attempt to process the XFF even when `%h` has already been set. So if you can get the host field from your log via `%h`

[2022-07-24 22:20] allinurl commented on #2347
I believe is this: https://www.maxmind.com/en/geoip2-isp-database

Note that goaccess never implemented this as I don't have access to this db. Nonetheless, if you get your hands on one and are able share it for development, I can look into adding this feature.

[2022-07-24 22:21] allinurl commented on #2347
GeoIP2 binary MMDB format.

[2022-07-26 05:24] epictz06 commented on #2347
I built an app that get ip data from an API from qrator.net
it take ages to be done but with distribution of ips it will take less time

[2022-07-27 00:02] timonson opened #2357 "Custom config for JSON logs"
Although I really tried to avoid it, I would like to ask for a config for my JSON scheme, because I was not able to get it done and I would like to use your service. Besides other things, I looked at the examples [here](https://github.com/allinurl/goaccess/issues/1768) for caddy but I couldn't even execute those without an `IPv4/6 is required` error.

I would also like to encourage you to add some

[2022-07-27 00:45] allinurl commented on #2357
Happy to help. The following should work (as long as the access log has a valid JSON format, e.g., no // comments)

    goaccess access.log --log-format='{"timestamp":"%dT%t.%^","request": {"hostname":"%h","method":"%m","url":"%U","headers":{"User-Agent":"%u"}},"status":"%s","length":"%b","responseHeaders":{"X-Response-Time":"%Lms","Content-Type":"%M;%^"}}' --date-format=%Y-%m-%d --time-format=%T

[2022-07-27 01:20] timonson commented on #2357
Thanks for the quick reply. I am getting this error, although I tried both the installation from the aur and I installed it from *development*:

[code]

[2022-07-27 01:42] allinurl commented on #2357
Are you sure your access log looks exactly the same as the sample you posted above? are you able to attach here a file with 20 lines directly from your access log? e.g.,

    # head -20 access.log > test.log

[2022-07-27 01:58] timonson commented on #2357
[access.log](https://github.com/allinurl/goaccess/files/9194409/access.log)

[2022-07-27 02:13] allinurl commented on #2357
Your sample above has `hostname`, your log has `remoteHostname`. The following should work:

    goaccess access.log --log-format='{"timestamp":"%dT%t.%^","request": {"remoteHostname":"%h","method":"%m","url":"%U","headers":{"User-Agent":"%u"}},"status":"%s","length":"%b","responseHeaders":{"X-Response-Time":"%Lms","Content-Type":"%M;%^"}}' --date-format=%Y-%m-%d --time-format=%T --http-protocol=n

[2022-07-27 02:15] timonson commented on #2357
Oh man, my bad, sorry! Now it works. Thank you very much!

[2022-07-27 02:15] #2357 closed

[2022-07-27 12:48] allinurl commented on #2357
No worries, glad that did the job!

[2022-07-27 12:49] allinurl commented on #2347
Got it. It will definitely be much faster via the db file.

[2022-07-28 13:13] AnnAngela opened #2358 "Unable to show clients' browser info and referer & tsl info properly"
Hey guys, goaccess help me a lot, but I get a problem:

----

goaccess Configure file:
[code]

Apache configuration:
[code]

Log sample:
[code]

Keep showing browser as `unknown`:
![image](https://user-images.githubusercontent.com/9762652/181513402-018cf739-b8b1-44fc-bc72-1b24a0564341.png)

And referer inproperly:
![image](https://user-images.githubusercontent.com/9762652/181513550-f334f44e-ad6d-4

[2022-07-28 14:15] allinurl commented on #2358
The following should do it, let me know:

    goaccess access.log --log-format='"%v" %^ "%h" %^ %^[%x]" "%r" "%s" "%b" %^ %^ "%D" %^ %^ %^ %^ %^ %^ %^ "%R" "%u" "%k" "%K"' --datetime-format='%d/%b/%Y:%H:%M:%S %z'

[2022-07-28 16:50] 53845714nF opened #2359 "Time recognition does not work for me on custom log"
I have a very simple apache access.log Format, it here a sample:
[code]
I have tried to evaluate them with this: `LC_TIME="en_US.UTF-8" bash -c 'goaccess blog_access.log --log-format='[%d:%t %^] „%r“ %>s %b' --date-format=%d/%b/%Y --time-format=%T'`

But I get:
[code]

I think the `%T` should work, but it doesn't why?

[2022-07-29 00:01] allinurl commented on #2359
I see some weird chars when I try to paste those sample lines on my end. Can you please attach a file directly from your access log? e.g.,

     # tail -20 access.log > sample.log

[2022-07-29 01:17] AnnAngela commented on #2358
Got a error: ` Token '29/Jul/2022:00:00:05 +0800' doesn't match specifier '%x'`

[2022-07-29 01:23] allinurl commented on #2358
What's your locale? Also, please remove `date-format` and `time-format` as they are not needed when used with `datetime-format`.

[2022-07-29 02:20] AnnAngela commented on #2358
Problen resolved, When I removed date-format and time-format everything works properly! THX!!!!
(Maybe `please remove date-format and time-format as they are not needed when used with datetime-format.` should be disclosed in man page?)

[2022-07-29 08:01] JnuSimba commented on #2337
sorry，the log file has sensitive info. i will close this issue, thanks

[2022-07-29 08:01] #2337 closed

[2022-07-29 16:18] 53845714nF commented on #2359
Thanks for the quick reply, here is the file:
[sample.log](https://github.com/allinurl/goaccess/files/9221600/sample.log)

[2022-07-29 19:37] allinurl commented on #2358
Glad that worked. Added to the [**man page**](https://goaccess.io/man#options). Thanks for suggesting that.

[2022-07-29 19:37] #2358 closed

[2022-07-30 03:09] allinurl commented on #2359
You got some strange characters in there. For instance, `"` right after the protocol is not an actual `"` + the spacing before the method. The following should work as long as you add an IP to the log.

    # goaccess sample.log --log-format='[%x] „%m %U %H“ %s %b' --datetime-format='%d/%b/%Y:%H:%M:%S %z'

You could either start logging the ip or add a bogus IP with awk or sed and pipe the output

[2022-07-31 07:54] a-v-ebrahimi commented on #2299
Hi
I have the same issue with Apache, is it resolved?

[2022-07-31 07:57] a-v-ebrahimi commented on #2326
Great it worked, thanks

[2022-08-01 14:07] 53845714nF commented on #2359
Ohh sorry the quotes are in a German style format.

But thanks a lot it worked for me.

[2022-08-01 14:07] #2359 closed

[2022-08-01 15:52] xavier-hernandez opened #2360 "debug-file flag"
Hi,

I'm running something similar to below, not sure if I'm doing something wrong here but the debug file gets created as "--debug-file=goaccess.debug" rather than "goaccess.debug". The invalid requests file gets created correctly.

goaccess -l --debug-file=goaccess.debug --invalid-requests=goaccess.invalid --no-global-config --ping-interval=15 --config-file=goaccess.conf

Thanks!

[2022-08-01 17:33] allinurl commented on #2360
Looks like you are passing `-l` + `--debug-file` which are the same. I'd do one or the other one but not both:

    goaccess --debug-file=goaccess.debug --invalid-requests=goaccess.invalid --no-global-config --ping-interval=15 --config-file=goaccess.conf

[2022-08-01 18:41] xavier-hernandez commented on #2360
@allinurl thanks that worked. I guess I misunderstood the man page :/

By the way, I saw this as well,--ping-interval≶secs> . It should be =< . Do you want me to open a separate issue for that?

Thanks.

[2022-08-01 19:21] allinurl commented on #2360
Thanks for letting me know. It should be fixed now :)

[2022-08-01 19:24] #2360 closed

[2022-08-02 12:41] DQYXACML opened #2361 "Please help me parse the custom nginx log"
log_format:
`log_format foody '$time_iso8601 | $remote_addr | $remote_user | $request | $status | $body_bytes_sent | $http_referer | $http_user_agent | $request_time | $upstream_response_time | $upstream_connect_time | $upstream_header_time |$http_x_forwarded_for | $geoip_country_code | $host | $upstream_addr';`

sample logs:
[sample.log](https://github.com/allinurl/goaccess/files/9242244/sample.l

[2022-08-03 00:00] allinurl commented on #2361
This should do it, let me know:

    goaccess access.log --log-format='%dT%t+%^ | %h | %e | %m %U %H | %s | %b | %R | %u| %T | %^ | %^ | %^ | %v %^' --date-format=%Y-%m-%d --time-format=%T

[2022-08-03 00:31] marcstae opened #2362 "How do I set up GoAccess with Caddy reverse proxy?"
Hi,
I stumbled over your open source project, and I'm pretty new to selfhosting, therefore I wanted something to see my traffic through my Caddy2 reverse proxy.
Sadly I didn't find any guides on how to set it up with caddy, could you guide me in the right direction on where I should look?

Thanks for your help :)

[2022-08-03 01:09] allinurl commented on #2362
Hello,

Please take a look at the [**getting started**](https://goaccess.io/get-started) section on how to best install it. Then you can simply run it against your caddy's access log. e.g.,

    # goaccess access.log --log-format=CADDY -o report.html

Then you can open your `report.html` directly in your browser (Ctrl+o) or simply drop it in your document/site root path and access via https://your

[2022-08-03 01:13] allinurl commented on #2362
BTW, this assumes your Caddy's access log is in a valid JSON format. Otherwise, you can always set your log format under Caddy's [config](https://caddyserver.com/docs/caddyfile/directives/log) file as `log { format json } ...`.

[2022-08-03 04:25] DQYXACML commented on #2361
hi, seems can not exec in my centos, it shows `Token '' doesn't match specifier '%h'`, but can exec in my macos. may have some issue with my shell environment? do u have any idea about this

Centos:
CentOS Linux release 7.5.1804 (Core)
Bash version:
GNU bash， 版本 4.2.46(2)-release (x86_64-redhat-linux-gnu)

Mac:
macOS Monterey 12.4
ZSH version:
zsh 5.8.1 (x86_64-apple-darwin21.3.0)

[2022-08-03 15:34] letompouce commented on #1132
Raspberry4 identifies itself as `armhf`:
[code]

As a result, in a Ubuntu Bionic container, `apt update` will complain:

[code]

It would be nice to get upstream packages for this architecture as well! :pray:

[2022-08-03 20:15] marcstae commented on #2362
Hey, thanks for your help, so I got GoAccess to work, but I can't get Caddy to output any log data.

At the moment, my Caddy file looks like this:
[code]

Maybe you have some experience with the Caddy reverse proxy and can help me out. :)
What would be the command for the rolling report.html files?

Thanks for your help, greatly appreciated!

[2022-08-03 23:56] allinurl commented on #2361
Are you running the same version of goaccess in both machines? also, do both of them have the same locale? and last, are you running it against the same access log?

[2022-08-04 00:06] allinurl commented on #2362
Glad you got goaccess to work.

I haven't set up Caddy as a reverse proxy myself, but maybe this [post](https://github.com/allinurl/goaccess/issues/2270#issuecomment-1036521285) can give you a hint? If it's not spitting out any data, I'd post the question on their [community forum](https://caddy.community/t/v2-common-log-format-not-working/7352).

[2022-08-04 17:34] alqu commented on #1894
@allinurl Awesome. It works perfectly. Thanks a lot!

[2022-08-04 22:08] allinurl commented on #1894
armhf is now supported as well.
[code]

[2022-08-04 22:08] allinurl commented on #1132
@letompouce armhf is now supported as well, give it a shot and let me know.
[code]

[2022-08-05 04:03] SuperLemons opened #2364 "Error occurred at: src/util.c - get_home"
when i create html report it have a error
Fatal error has occurred
Error occurred at: src/util.c - get_home - 466
Unable to determine the HOME environment variable.

How can I go to fix it

[2022-08-05 12:58] allinurl commented on #2364
Please upgrade to the latest version of goaccess. Otherwise, please try setting the HOME env variable.

[2022-08-09 14:01] letompouce commented on #1132
@allinurl it works like a charm, thanks!

While we're on it, and out of curiosity, would you please tell me why all architectures are supported by every Debian/Ubuntu releases? i.e. why no armhf for buster?

[2022-08-09 16:21] allinurl commented on #1132
@letompouce Glad that worked :)

Good question, actually it was giving me some SSL verification errors on those armhf releases, here's the [**log**](https://github.com/allinurl/goaccess/runs/7750378324?check_suite_focus=true#step:3:1759). Have you seen anything similar to this? Installing `ca-certificates` nor running `update-ca-certificates` helped.

[2022-08-09 19:17] letompouce commented on #1132
This one beats me. :-|

[2022-08-17 08:46] rwjack commented on #2333
Workaround:

`docker-compose.yml`
[code]

`entrypoint.sh`
[code]

`read.sh`
[code]

[2022-08-17 16:01] allinurl commented on #2333
Awesome, thanks a lot for sharing those findings.

[2022-08-22 04:03] jchus-id opened #2368 "Log Format for Traefik and Docker"
Could I get some assistance with finding the right format for the following setup? I was unable to locate a similar one from previous posts.

[code]

[2022-08-22 17:11] zuzzurro commented on #1798
I think  the %T in the format is wrong and should be %L instead. It looks like Akamai logs report the time-taken in ms, not in seconds.

[2022-08-22 17:18] allinurl commented on #1798
@zuzzurro Thanks for pointing that out!

[2022-08-23 13:29] allinurl commented on #2368
Please try the following (>= v1.6.2):

    goaccess log --log-format='%^="%x" %^=%e %^[%h]:%^: %U" %^=%v' --datetime-format='%Y-%m-%dT%H:%M:%S%z' --hour-spec=min --date-spec=min --http-protocol=no --http-method=no --ignore-panel=OS --ignore-panel=BROWSERS --ignore-panel=REFERRING_SITES --ignore-panel=REQUESTS --ignore-panel=REQUESTS_STATIC --ignore-panel=NOT_FOUND --ignore-panel=STATUS_CODES

[2022-08-24 10:39] b-tin commented on #1924
[code]

sorry to disturb this thread, i've a similar squid-log format but not work :( could pls help me take alook, i've tried a lot but still fail

[code]

[2022-08-25 00:18] allinurl commented on #1924
@b-tin This should do it (assuming spaces as delimiters):

    goaccess squid.log --log-format='%^ [%x] %L %h %^ %^ %m %U %H %M %s %b %^_%C %^/%v %^' --datetime-format='%d/%b/%Y:%H:%M:%S %z' --date-spec=min --ignore-panel=OS --ignore-panel=BROWSERS --ignore-panel=REFERRING_SITES

[2022-08-25 14:45] dajuno opened #2369 "traefik reverse proxy, ssl and real time html - cannot connect to websocket"
Hi,
I've spent some time trying to set up goaccess for a project. While real time html reports worked on localhost, I cannot get it to run on the server with SSL: `Firefox can’t establish a connection to the server at wss://stats.example.com:7890/.`

The setup is a docker-compose environment containing traefik as reverse proxy (providing tls certificates), a goaccess docker container and a nginx w

[2022-08-25 18:29] jchus-id commented on #2368
Perfect, thanks I was able to get it going with that!

[2022-08-25 18:29] #2368 closed

[2022-08-25 20:16] CondePrinceduSang opened #2370 "Help with parsing and interpreting these user agents"
Hello
I am looking for help with parsing these user agents found in my access logs.

Mozilla/5.0 (Linux; Android 11; BE2025 Build/RKQ1.201217.002; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/96.0.4664.45 Mobile Safari/537.36 MinuteMaid,gzip(gfe)

GoogleAuth/1.4 (OnePlusN10METRO RKQ1.201217.002); gzip,gzip(gfe),gzip(gfe)

Mozilla/5.0 (Linux; Android 10; SM-A115U Build/QP1A.190711.

[2022-08-26 23:20] allinurl commented on #2370
Can you please share the date/time/log-format that you are currently using? Also, are you getting the wrong results on the exact same log?

[2022-08-26 23:25] allinurl commented on #2369
Unfortunately I'm not familiar with traefik, but there have been some questions related to this, let me know if any of these help:

https://github.com/allinurl/goaccess/issues/2023#issuecomment-780452628
https://github.com/allinurl/goaccess/issues/2333#issuecomment-1217698803
https://github.com/allinurl/goaccess/issues/969#issuecomment-626079533

[2022-08-27 01:27] CondePrinceduSang commented on #2370
Hello
Remember you're talking to a non tech person... I ll try to explain. The user agents that I want to parse use Android Webview. The symbol is visible. But your parse agent, shows an actual device with all the definitions. Most of the other UA show the device as being a desktop emulator (see below)
Mozilla/5.0 (Linux; Android 11; BE2015 Build/RKQ1.201217.002; wv) AppleWebKit/537.36 (KHTML, lik

[2022-08-27 02:44] allinurl commented on #2370
Can you please post exactly what you have and the output you are looking from goaccess so I can try to understand better. Also, please post a screenshot of what goaccess is currently outputting. Thanks

[2022-08-29 10:41] dajuno commented on #2369
Thanks, also for this great tool. I've seen the links but couldn't manage to get it working. For now I opted for static reports via cronjobs, which does the job for me. Thanks!

[2022-08-30 08:18] breck7 commented on #1282
I hit a similar issue where goaccess was hanging at `Parsing... [0] [0/s]`. I am sharing my solution in case others stumble upon this issue from Google like I did.

I was trying to aggregate many days into one with this command:

`sudo zcat -f /var/log/nginx/access.log* | goaccess -o /var/www/html/nginxDailyAll.html --log-format=COMBINED`

The solution was to just `su` to root and then run the com

[2022-08-30 12:30] allinurl commented on #1282
@breck7 Thanks for sharing those findings!

[2022-09-01 03:05] allinurl commented on #2369
Just out of curiosity and something you could try, I know that in some proxies the following configuration has worked:

    --ws-url=wss://stats.example.com:7891 --port=7890

Also, I'd try without TLS first and see if you get it to work that way.

[2022-09-05 16:14] nalmeida opened #2373 "Liferay Ngynx Proxy"
Hi, I am struggling with the following log format from Liferay
[code]

any ideas how to set the `log-format` properly?

[2022-09-05 16:34] allinurl commented on #2373
The following should do it (>=v1.6.3):

    goaccess access.log --log-format='%^[%v] %h %^[%x] "%r" %s %b "%R" "%u" %^' --datetime-format='%d/%b/%Y:%H:%M:%S %z' --date-spec=min --tz=America/Sao_Paulo

[2022-09-05 16:58] nalmeida commented on #2373
I am running `GoAccess - 1.6.3.` and unfortunately the suggested command did not work ... I am getting the following output:

[code]

[2022-09-05 17:20] allinurl commented on #2373
Please upload a text files with a good chunk of lines directly from your access log. Thanks. e.g.,

    # tail -20 access.log > sample.log

[2022-09-05 19:38] nalmeida commented on #2373
Here is the log:

[code]

[2022-09-05 20:38] allinurl commented on #2373
Your access.log has English dates (i.e., Aug, Sep, etc), so if your locale is different than English, please run it as:

    LC_TIME="en_US.UTF-8" bash -c 'goaccess access.log --log-format='%^[%v] %h %^[%x] "%r" %s %b "%R" "%u" %^' --datetime-format='%d/%b/%Y:%H:%M:%S %z' --date-spec=min --tz=America/Sao_Paulo'

Here's the output I get:

![2022-09-05 15-35](https://user-images.githubusercontent.co

[2022-09-05 20:58] nalmeida commented on #2373
Worked like a charm! Tks for the support!

[2022-09-05 22:21] allinurl commented on #2373
Glad that worked :)

Closing it. Feel free to reopen it if needed.

[2022-09-05 22:21] #2373 closed

[2022-09-06 08:51] gab-pro80 opened #2374 "Goaccess gives IPv4/6 is required on custom apache log"
Hello, i am very new to using GoAccess and have run into a little bit of an issue.

[code]

My goaccess.conf:
[code]
----------
access.log
[code]
Pleas help me.

[2022-09-06 13:44] jonasdk opened #2376 "log-format of json file for Fastly logs"
I am using fastly and gets a logging format that I now have been trying to get into goaccess without any luck so far.

The log format that is being specified at fastly is like this
[code]

I have tried building this command
[code]

But keep getting errors like this

[code]
And example log file - that I tried to anonymize a little.
[access.log](https://github.com/allinurl/goaccess/files/9497486/acc

[2022-09-06 23:53] allinurl commented on #2376
Assuming a valid JSON log, this should work:

    goaccess access.log --log-format='{"timestamp":"%x","client_ip":"%h","host":"%v","url":"%U","request_method":"%m","request_protocol":"%H","request_referer":"%R","request_user_agent":"%u","response_state":"%C-%^","response_status":"%s","response_body_size":"%b","fastly_server":"%e"}' --datetime-format='%Y-%m-%dT%H:%M:%S%z' --tz=Europe/Berlin --date-

[2022-09-07 00:25] allinurl commented on #2374
This should do it:

    goaccess access.log --log-format='%^ %h:%^,%v %^[%d %t.%^] "%r" %s %b "%^=%R" "%u" us=%D %^' --date-format='%Y-%m-%d' --time-format=%T

[2022-09-07 06:36] jonasdk commented on #2376
First I got and error complaining in the ui about a missing date format. It turns out that the version of goaccess that I had installed with brew was only 1.6.2. Uninstalling and then installing and building version 1.6.3 from github solved the issue. Now the command you send me works.

[2022-09-07 06:36] #2376 closed

[2022-09-07 06:38] gab-pro80 commented on #2374
Thanks for the answer already resolved.
Solution.
log-format %h %^:%^,%^>%^ %^ %^[%d %t.%^ %^] "%r" %D %s %b "%R" "%u"

[2022-09-07 19:51] jonasdk commented on #2343
Trying to understand the specs here.

I have been collecting logs for 16 days and now are trying to see whats the difference between what we observe in Google Analytics and what we can get with running GoAccess.

I have a 9,3GB log file from our edge with a `wc -l` on 13,856,118 which is the same as our Total requests in GoAccess.

**GoAccess**                       | Total Vistors
---------------

[2022-09-07 20:30] nadermx commented on #2343
It seems it does add up.

[2022-09-07 20:30] #2343 closed

[2022-09-07 21:30] jonasdk opened #2377 "Unique Visitors Per Day graphics being hard to read"
I have run GoAccess on data from a period from the 22th of August to the 6th of September but the graph seems to be of by just listing the 05/Sep/2022 for every tick. Any suggestion to what I do wrong?

By the way I run following command to get the report
[code]
<img width="735" alt="Screen Shot 2022-09-07 at 21 58 00" src="https://user-images.githubusercontent.com/85319/188965833-16ef1a64-17fd-4f

[2022-09-07 21:33] allinurl commented on #2377
Please try running it without `--date-spec=min`.

[2022-09-07 23:05] allinurl commented on #2343
@jonasdk Are you filtering out bots? i.e., `--ignore-crawlers`. Also, since it looks like you are comparing data against Google, which doesn't support unique visit per minute, I'd run your goaccess instance with `--date-spec=date` or simply don't enable/pass this option if currently set.

It depends on what are you looking exactly. For instance, hostnames/ips are unique, meaning you had 102,937 un

[2022-09-08 04:22] maverickGeek commented on #1856
The common format I see in apache errors logs is:
[Thu Sep 08 03:13:19.350456 2022] [proxy_fcgi:error] [pid 19907:tid 139944144115456] [client X.X.X.X:49972] Error message

But I keep getting the data format is incorrect error, for the following:
%^[%d %t%^] %^[proxy_fcgi:error%^] %^[pid 3105:tid 139630105073408%^] %^[client %h%^]
Date: %a %b %d
Time: %T %Y

[2022-09-08 06:46] pniederlag opened #2378 "Parse Log with hostname instead of ipv4/ipv6"
I have a log-file where the ip is already resolved and instead of ip has a hostname as a field.

It seems this field is not understood by goaccess. As I understand the hostname field is manadatory, but is it really a requirement to hold an IP?

`Token 'some.perfect-valid-hostname.example.com' doesn't match specifier '%h'`

Does someone have an advice?

[2022-09-08 06:50] pniederlag commented on #2378
digging into the source I spotted `--no-ip-validation ` which seems to do the trick

[2022-09-08 14:54] #2377 closed

[2022-09-08 19:41] allinurl commented on #1856
@maverickGeek could you please share a few more lines from your error log, including the message. Feel free to replace the ip with a local IP, e.g., 192.168.0.1. Thanks

[2022-09-08 20:44] maverickGeek commented on #1856
Local dev error log example:
`AH00558: apache2: Could not reliably determine the server's fully qualified domain name, using 172.18.0.3. Set the 'ServerName' directive globally to suppress this message
[Thu Sep 08 03:22:36.644614 2022] [mpm_prefork:notice] [pid 1] AH00163: Apache/2.4.52 (Debian) PHP/7.4.27 configured -- resuming normal operations
[Thu Sep 08 03:22:36.644668 2022] [core:notice] [pi

[2022-09-09 22:52] allinurl commented on #2343
@jonasdk it depends. Some sites will get hammered with bots and not many people. Others will be the opposite, and everything in between, 18% it's healthy in my opinion.

[2022-09-09 22:53] allinurl commented on #2378
That's right. `--no-ip-validation` will do the job, still you will need to specify `%h` where the ip has been resolved.

[2022-09-11 13:26] civodul999 opened #2379 "Blank page when html report is generated"
Hi,
I would like to use goaccess with html report.

when I'm using the console lik this:
`goaccess /var/log/apache2/access.log -c`
I have a window to choose log format, I select NCSA combined log format, and it's OK, I see a dashboard.

But, when I want to use html report like this :
`goaccess /var/log/apache2/access.log -o /var/www/report-test.html --log-format=COMBINED`

When I open the report-t

[2022-09-11 20:55] allinurl commented on #2379
Could you please post the output of your browser's console? Thanks

[2022-09-12 07:52] civodul999 commented on #2379
hi, the output is this one :

`Last Updated: 2022-09-11 15:21:28 +0200

Dashboard`

[2022-09-12 07:54] MehdiKammakh opened #2380 "Caddy - GoAccess issues"
Dear team,
I have tried to implement GoAccess to work with Caddy access logs
I have proceeded by running an apache2 docker container , and inside it running goaccess ( apt-get install goaccess )

I have followed the setup and running this command : `goaccess /var/logs/caddy/site.fr-access.log -o /usr/local/apache2/htdocs/report.html --real-time-html --log-format=CADDY` and I'm getting an error lik

[2022-09-12 12:50] allinurl commented on #2380
JSON support was added in 1.4.4. Please use this [**docker image**](https://github.com/allinurl/goaccess#docker) or the official [deb repo](https://github.com/allinurl/goaccess#official-goaccess-debian--ubuntu-repository).

[2022-09-12 12:59] allinurl commented on #2379
Can you please post a screenshot of your browser's console (dev tools' console)?

[2022-09-12 14:08] #2379 closed

[2022-09-12 15:02] allinurl commented on #2379
Glad to hear you found the issue.

[2022-09-12 15:04] allinurl commented on #2380
That's correct.

[2022-09-13 00:29] allinurl commented on #1856
Looks like there's no structure or consistency on the output so I'm not sure it's worth parsing it, but you can give it a shot and get a few pieces with:

    goaccess error.log --log-format='[%d %t.%^] [%e] [%^] [%^ %h:%^] %v: %U\n' --date-format='%a %b %d' --time-format=%T --http-protocol=no --http-method=no --ignore-panel=OS --ignore-panel=BROWSERS --ignore-panel=REFERRING_SITES --ignore-panel=

[2022-09-14 15:31] wehmoen opened #2381 "Parsing stops after a while"
Hi!

I'm trying to parse an access log (format: COMBINED). After 447M lines the parsing stopped and the process seems to hang. The per second counter slowly decreases. This is the command I am running:

[code]

It worked fine a few days ago. Not sure if the log file is simply too large.

[2022-09-14 15:34] allinurl commented on #2381
Hi - what's the output of:

    # ls -lath /data/log/pm2/data.rest-out.log
and

    # wc -l /data/log/pm2/data.rest-out.log

[2022-09-14 15:35] allinurl commented on #2381
+ your machine specs, e.g., ram, disk. Thanks

[2022-09-14 19:10] wehmoen commented on #2381
`-rw-r--r-- 1 root root 109G Sep 14 21:08 /data/log/pm2/data.rest-out.log`

and

`475497212`

CPU: AMD Ryzen™ 9 5950X
Memory: 128GB
Storage: 3 x 4 TB NVME

There are plenty ressources available. Memory usage is only at ~60/128GB and CPU rarely exceeds 30%

[2022-09-15 00:07] allinurl commented on #2381
Sounds do-able, a few questions for you:

1. Since you said that it worked fine a few days ago, I wonder, was that the first run?
2. I'm curious if the issue is with `--restore` & `--persist`. Would you be able to run it without those two options?
3. What's a typical request from your log looks like? a lot of random requests or perhaps timestamped?
    e.g.,  "GET https://url/allinurl/goaccess/iss

[2022-09-15 07:29] wehmoen commented on #2381
1) Same log file just only half as many requests.
2) I started a 2nd run without `--persist` & `--restore`. At first glance it is processing data much faster now
3) At the moment there are 5_286_517 lines that have query parameters. The majority of requests does not have timestamps.

[2022-09-15 12:57] gsempe opened #2382 "Error parsing Caddy logs with goaccess 1.6.3"
I have the error below trying to parse Caddy logs. Among multiple things, I tried the built-in `log-format CADDY` without any success. It looks like I miss something obvious but I can't find what

## The error

[code]

## My configuration details

Goaccess version:

[code]

Goaccess config:

[code]

Caddy version:

[code]

Caddy log format:

[code]

One line of the log:

[code]

[2022-09-15 13:12] allinurl commented on #2382
Can I ask you to please try only

    log-format CADDY

instead of the JSON string you have right now. or just pass it to the CLI, e.g.,

    goaccess /var/log/caddy/boards-custom.log --log-format=CADDY

Let me know if that solves the issue on your end.

[2022-09-15 13:25] gsempe commented on #2382
I get the errror below when I do this

[code]

[2022-09-15 13:30] allinurl commented on #2382
I see, I think you are using an older version of Caddy (<2.5), so this should do it:

    goaccess /var/log/caddy/boards-custom.log --log-format='{ "ts": "%x.%^", "request": { "remote_addr": "%h:%^", "proto": "%H", "method": "%m", "host": "%v", "uri": "%U", "headers": { "User-Agent": ["%u"] }, "tls": { "cipher_suite": "%k", "proto": "%K" } }, "duration": "%T", "size": "%b", "status": "%s", "resp_h

[2022-09-15 13:31] gsempe commented on #2382
Indeed it works! Thank you very much 🙌

[2022-09-15 13:31] #2382 closed

[2022-09-15 14:12] allinurl commented on #2382
Glad that did the job :)

[2022-09-18 16:12] breck7 commented on #230
Thank you @bdheeman and @allinurl for solving my 2022 problem in 2015!!! (https://github.com/breck7/pldb/commit/3c4ba099f4f45bd2a4b515c8df8f2610900243de)

[2022-09-18 21:11] allinurl commented on #230
@breck7 No, thank you very much for sponsoring GoAccess!

[2022-09-22 00:17] allinurl commented on #2381
Any updates regarding the second run?

[2022-09-22 00:17] allinurl commented on #2380
Closing this. Feel free to reopen it as needed.

[2022-09-22 00:17] #2380 closed

[2022-09-22 00:17] allinurl commented on #2378
Closing this. Feel free to reopen it as needed.

[2022-09-22 00:17] #2378 closed

[2022-09-22 00:17] allinurl commented on #2374
Closing this. Feel free to reopen it as needed.

[2022-09-22 00:17] #2374 closed

[2022-09-22 00:18] allinurl commented on #2370
Any updates on this?

[2022-09-22 00:18] allinurl commented on #2369
Any updates on this? Thanks

[2022-09-22 00:18] allinurl commented on #2364
Closing this. Feel free to reopen it as needed.

[2022-09-22 00:18] #2364 closed

[2022-09-22 00:19] allinurl commented on #2362
Any updates on this? Thanks

[2022-09-22 00:20] allinurl commented on #2361
Closing this. Feel free to reopen it as needed.

[2022-09-22 00:20] #2361 closed

[2022-09-22 00:37] allinurl commented on #2354
Closing this. Feel free to reopen it as needed.

[2022-09-22 00:37] #2354 closed

[2022-09-22 00:39] allinurl commented on #2320
Any updates on this?

[2022-09-24 00:49] CondePrinceduSang commented on #2370
Hello Gerardo,

I have a situation, someone who had access to my devices and credentials
has been hacking my online accounts among other things. So I started
looking at all my data, including the login entries of my google accounts.
So I have been cross referencing and analyzing the UA that were included
with the logins, especially when the date logs wouldn't match an access
time of mine (when I w

[2022-09-25 17:10] MehdiKammakh opened #2383 "GUI Real time Filters"
Dear team ,
Is there a GUI filter for dates - log files hostnames ?

[2022-09-25 18:07] allinurl commented on #2383
It will be able available soon. I'm working on #117 as we speak. Stay [**tuned**](https://twitter.com/goaccess)!

[2022-09-26 15:27] ollybee opened #2384 "Treat files as vhosts"
Seeing stats per vhost is useful, especially to identify one site on a server that is being attacked or hogging resources.

--files-as-vhosts when combined with multiple input files would effectively give this feature without modifying the log format.

This would be especially useful on servers using control panels like cpanel or plesk where you could glob the input files like
goaccess /var/log/ap

[2022-09-26 17:35] allinurl commented on #2384
Hello,

Just so I understand a bit better how the output report should look like  — so when `--files-as-vhosts` is used, goaccess should split the output report into multiple report files according to the vhost `%v`?

[2022-09-26 23:19] allinurl commented on #2370
Happy to help but I'd need some screenshots of what you are seeing on your end while using goaccess. Thanks

[2022-09-27 12:24] ollybee commented on #2384
No, sorry I dont think I explained well.

The idea is that if you gave goaccess multiple input files where the logs did not contain a vhosts field it would treat the files as if they contain a vhosts field that matched the filename.

[code]
would treat the file as if it had a vhost field like this:
`testsite.com:80 127.0.0.1 - - [26/Sep/2022:13:41:47 +0000] "GET / HTTP/1.1" 200 11173`

This would

[2022-09-27 16:21] mark-chief commented on #195
Me too.. any idea?

[2022-09-28 02:31] allinurl commented on #2384
Thanks for clarifying this. Let me work on it and I'll post back as soon as I have this feature out.

[2022-09-28 22:14] MehdiKammakh commented on #2380
I have an issue when mapping Caddy reverse proxy to the container that GoAccess run on

my Caddy config is :

[code]
running GoAccess on httpd docker container with this command
`goaccess /var/logs/caddy/*-access.log -o /usr/local/apache2/htdocs/report.html --real-time-html --log-format=CADDY --daemonize`

GoAccess running correctly inside the container :

`root@p-GoAccess-Apache:/usr/local/apache

[2022-09-29 02:06] allinurl commented on #2384
I was able to pushed out a commit that implements this. For flexibility, it uses POSIX regex to extract the vhost from the filename. Here's how it works. e.g.,

Assuming `/path/awesome.com.log` using  `--fname-as-vhost='.*'` will extract `awesome.com.log` as vhost.
Assuming `/path/awesome.com.log` using  `--fname-as-vhost='.'` will extract `a` as vhost.
Assuming `/path/awesome.com.log` using  `--f

[2022-09-29 02:07] allinurl commented on #673
I was able to pushed out a commit that implements this. For flexibility, it uses POSIX regex to extract the vhost from the filename. Here's how it works. e.g.,

Assuming `/path/awesome.com.log` using  `--fname-as-vhost='.*'` will extract `awesome.com.log` as vhost.
Assuming `/path/awesome.com.log` using  `--fname-as-vhost='.'` will extract `a` as vhost.
Assuming `/path/awesome.com.log` using  `--f

[2022-09-29 07:01] rogierlommers commented on #2382
Hey, sorry for re-opening an issue, but I'm still having troubles and I cannot find the root cause.
Please see the logging example below. It's normal caddy logs, in json structured format.
I use caddy version `v2.6.1` (the newest).

When I try to parse the logs, then I get this:

[code]

Example access log:
[code]

[2022-09-29 14:46] ollybee commented on #2384
I've tested that and it works for me. Thank you.
Accepting a regex to extract the name is an elegant solution I had not considered.

It would be good to extend it and add --dname-as-vhost  for use cases as below
[code]
The regex gets more complicated but a similar layout is used on servers running the Plesk control panel

[2022-09-29 16:26] ollybee opened #2386 "Support the maxmind GeoLite2 ASN database"
Currently goaccess support the Maxmind country and city databases but not the ASN database

For detecting malicious traffic the ASN database  is most useful in my experience (Cloudflare can give you per ASN stats on paid plans). The country is often too broad, cities is better but it can be hard to be sure if traffic is unwanted. `ASN 666: Popeyes budget colocation` is much easier to eyeball as so

[2022-09-29 16:38] MehdiKammakh commented on #2380
@allinurl FYI

[2022-09-29 17:50] allinurl commented on #2384
Glad that worked. I'll be pushing soon the next release, including this change. Stay [tuned](https://twitter.com/goaccess).

As far as the db, unfortunately it's not possible to persist the data based on a vhost without a major overhaul. This is because when the persistence routine is called, at that point it simply dumps the already processed dataset. Nonetheless, **#117** may help achieve this,

[2022-09-29 23:24] allinurl commented on #2386
Thanks for the suggestion! I totally agree, let me look into this and I'll post back after some findings.

[2022-09-30 08:48] rogierlommers opened #2387 "Latest caddy and goaccess, not able to parse access logs"
Please see the logging example below. It's normal caddy logs, in json structured format.

Versions
- caddy version `v2.6.1`
- Goaccess version `GoAccess - 1.5.5`

When I try to parse the logs, then I get this:

[code]

Content of example.log:
[code]

[2022-09-30 08:48] rogierlommers commented on #2382
To keep things simple, I created a separate issue: https://github.com/allinurl/goaccess/issues/2387

[2022-09-30 13:23] allinurl commented on #2387
Please make sure to upgrade to the latest version of goaccess. It should address the issue. Let me know. Thanks

[2022-09-30 13:26] allinurl commented on #2380
Does [**this**](https://github.com/allinurl/goaccess/issues/2270#issuecomment-1036521285) help? It seems to work for this user.

[2022-10-01 07:57] rogierlommers commented on #2387
Oh my god, sorry! For some reason I was in the assumption that Ubuntu's apt-get install version was @ latest. Ticket can be closed.

[2022-10-01 07:57] #2387 closed

[2022-10-01 12:28] allinurl commented on #2387
No problem. Feel free to use the [**official deb**](https://goaccess.io/download#official-repo) repo to stay up-to-date.

[2022-10-03 12:22] colder opened #2388 "--html-custom-css and --html-custom-js now require valid paths"
Hello,

Following 5f814c8f18d3470e9a322e8d4ac709b455565c7f, the options for `--html-custom-css` and `--html-custom-js` are now checked to ensure they point to valid paths, even though they will be included as urls in the resulting report.

e.g. the following command:

[code]

will fail because the server generating the report does not have a file there:

[code]

But the resulting report could be v

[2022-10-04 01:03] allinurl commented on #2388
Thanks for pointing that out. We could allow URLs as well, would that cover your use case?

[2022-10-04 07:15] colder commented on #2388
Hello,

Thanks for your quick reply.

My current use-case was css/js paths looking like " /url/to/file", but I would be fine if you supported URLs such as "https://domain/path/to/file" or "//domain/path/to/file" as well.

Best,

[2022-10-05 00:35] allinurl commented on #2388
Thanks for the feedback. I've pushed some changes that should address the checking of a path/filename. It will still prevent special html chars to avoid xss stuff. Please feel free to build from [development](https://github.com/allinurl/goaccess#build-from-github-development) and let me know how it goes.

[2022-10-06 09:04] adylimmo opened #2389 "Token 'to:' doesn't match specifier '%s'"
Hello everyone, please help goaccess nginx error

**my nginx log**
10.0.3.154 - - [05/Oct/2022:03:35:39 +0700] "POST /v2/auth/refreshToken HTTP/2.0" to: 192.168.200.146:80 422 35 "-" "oxttp/4.5.0" "-" "api.domain.com" upstream_response_time 0.026 msec 1664915739.787 request_time 0.026

**command:**
goaccess cek-access.log --log-format=COMBINED -a -o /usr/share/nginx/html/log-nginx/report-format.ht

[2022-10-06 11:04] marcohald commented on #2320
I haven't troubleshoot the issue any further since the last reply from me.
As mentioned in https://github.com/allinurl/goaccess/issues/2320#issuecomment-1128651591 it is working from the CowAxess mintty Terminal but not the cmd.exe
For me this workaround is good enough. I would also help to troubleshoot the issue further if you are interested

[2022-10-07 02:17] rlee287 opened #2392 "Goaccess Debian bullseye package declares dependency on libncursesw5 despite using libncursesw6"
This is the version of goaccess provided by `https://deb.goaccess.io/`, from a `debian:bullseye-slim` Docker container:
[code]

This results in `libncursesw5` being installed. However, the binary expects `libncursesw6`:

[code]

A `libncursesw6` dependency is also declared by the older Debian goaccess package from the Debian packages site:
[code]

It also seems like the package at `https://deb.goa

[2022-10-07 02:22] rlee287 commented on #2392
On further examination, the README notice declaring a dependency on libncursesw5-dev for Ubuntu/Debian might need updating to libncursesw6-dev. This is the library used when I tried compiling goaccess from source, but I don't want to submit a PR for this without getting confirmation that this is correct.

[2022-10-07 05:17] dajuno commented on #2369
Hey, sorry! I haven't pursued this further, sticked with the static version and moved on to other projects. Sorry and thanks for your time!

[2022-10-07 12:20] allinurl commented on #2369
Closing this. Feel free to reopen it if needed.

[2022-10-07 12:20] #2369 closed

[2022-10-07 12:25] allinurl commented on #2392
Thanks for the heads up on this. Indeed, it requires libncursesw6 if libtinfo6 is being used. I’ll make sure this gets updated for the upcoming release.

[2022-10-07 12:33] allinurl commented on #2320
Feel free to let me know. BTW, CowAxess was dropped, so please use Cygwin.

Closing this. Please reopen it if needed.

[2022-10-07 12:33] #2320 closed

[2022-10-10 11:30] roshan5690 opened #2393 "Token doesn't match specifier '%d'"
I am not able to parse the custom logs using goaccess and I am getting following error while parsing.

 Token 'daksldjslss@192.168.0.36 207 repo' doesn't match specifier '%d'

 Command I have used.

 goaccess /home/ubuntu/load-analysis_svn-cache-svn.log -o /home/report.html --log-format='COMBINED'

Log File:

[2022-09-29 10:53:21.353073 +0200] daksldjslss@192.168.0.36 207 repo:/var/www/repos/gtup

[2022-10-10 11:56] maverickGeek commented on #1856
@allinurl thank you for the help! But yes, after trying it on a few logs, it wasn't useful. Is there a format that you recommend for apache error and access logs? I have control over two servers that I work on frequently, where I can update the default log format.

[2022-10-11 01:17] ylanarfi opened #2394 "Unable to get real-time html working on subdomain with Ghost"
Hi there,

I'm running Ghost on Ubuntu 20.04 with Digital Ocean's doplet and NGINX. I installed GoAccess with success and I'm able to launch it with the command

`goaccess access.log --log-format=COMBINED`

However, I'm unable to get real-time html working while generating it with

`goaccess access.log -o report.html --log-format=COMBINED`

and move it to _/var/www/html/_ then parses the access lo

[2022-10-11 08:46] nadermx commented on #2343
Thanks for the follow up.  Do you have a command I can run against the log
files to test this? They are nginx.

On Wed, Jul 13, 2022 at 11:19 AM Gerardo O. ***@***.***>
wrote:

[2022-10-11 13:28] allinurl commented on #2394
Hello. Not familiar with ghost but it seems like you can run:

    # ghost ls

It should output where your site lives. As far as https, you will need to pass  --ssl-key=<path/priv.key>  and --ssl-cert=<path/cert.crt>.

Please let me know if that helps.

[2022-10-11 13:45] allinurl commented on #2394
If you’re running goaccess on the same server, I’d reuse your site existing certificate and key and pass those paths to goaccess. If you’re running nginx, take a look at your site’s config file.

[2022-10-11 16:08] ylanarfi commented on #2394
I checked on NGINX and the ssl info are located

[2022-10-12 02:01] allinurl commented on #2393
Could you please specify what’s the client ip? Also, I assume no user agent nor referrer…

[2022-10-12 09:09] roshan5690 commented on #2393
Following client IP

daksldjslss@192.168.0.36 207 which tying to checkout the repository code.

[2022-10-13 08:42] garion3024 opened #2397 "I can't get report with Virtual Host."
I got a message for
 **Token '+0000]' doesn't match specifier '%h'**

My apache log format is
LogFormat "%v:%p %h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combinedvhost

I attach my log sample,

172.31.40.4 - - [13/Oct/2022:08:40:05 +0000] "GET /dashboard/ HTTP/1.1" 304 - "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0

[2022-10-13 10:54] sajiljosephs opened #2398 "In Requested Files Data is not captured when its length is high"
In Requested Files(URLS) for apache access logs, when the content in data length is high, its getting skipped automatically. Can we increase the data length limit ?

[2022-10-13 12:46] allinurl commented on #2397
How did you run goaccess? Simply using should work:

    goaccess access.log —log-format=COMBINED

[2022-10-13 23:51] garion3024 commented on #2397
I try like this

`/usr/local/bin/goaccess -f /var/log/httpd/access_log`

and select this
** NCSA Combined Log Format with Virtual Host**

then I got this message
**Token '+0000]' doesn't match specifier '%h'   **

[2022-10-14 06:23] garion3024 commented on #2397
I made mistake in my log! I found it.
Thank for your answer!

[2022-10-14 06:23] #2397 closed

[2022-10-14 06:53] NikitaObukhov commented on #1338
he default date format in nginx is like [25/Dec/2018:10:00:20 +0800]
Goaccess simply can parse it. All replies in this thread did not help.

[2022-10-14 07:23] NikitaObukhov opened #2399 "Parsing does not work"
Log file:
"22/Sep/2022:07:00:38" 5.130.148.207 GET "GET /api/language_spokens HTTP/2.0"

Formats:
--log-format='"%d:%t" %h' --date-format=%d/%b/%Y --time-format=%H:%M:%S

Output:
==1== Token for '%t' specifier is NULL.
==1==
==1== Format Errors - Verify your log/date/time format

[2022-10-14 11:27] s-hell opened #2400 "TLS panel not showing"
Hi,

i'm having problems to get the tls panel running.

This is how my apache is doing the logging:

`LogFormat "%v:%p %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" \"%{SSL_PROTOCOL}x\" \"%{SSL_CIPHER}x\"" vhost_combined_cipher`

This is the configuration for goaccess:

`log-format %v:%^ %h %^[%d:%t %^] "%r" %s %b "%R" "%u" "%K" "%k"`

And this is how i run goaccess:

`/usr/bin/goac

[2022-10-14 11:45] s-hell commented on #2400
Looks like it is a Problem with my old version :-(

Newer Versions work.

[2022-10-14 11:45] #2400 closed

[2022-10-14 14:56] bkosborne opened #2401 "How should forwarded for parsing work?"
I'm confused on the expectations for parsing XFF headers.

Here's two sample log lines. The first column is the request IP. Then there is also the forwarded for IPs. Sometimes my server places the client IP in there as the only item. Other times it has other IPs, of which the right-most one is the real client IP.

I think the behavior I want is for goaccess to always look at the right-most IP in t

[2022-10-16 03:36] ylanarfi commented on #2394
Hi there!

Is anyone knows how to solve this issue? I'm still blocked :(

Thanks!

[2022-10-17 04:53] NikitaObukhov opened #2402 "Realtime html does not work with docker-compose logs"
docker-compose logs -f  --tail=100000 --no-log-prefix ssl | docker run -p 7890:7890 --rm -i -e LC_TIME="en_US.UTF-8" allinurl/goaccess -a -o html --log-format=COMBINDED --date-format=%d/%b/%Y --time-format=%H:%M:%S --real-time-html - > report.html

If I try docker-compose logs -f  --tail=100000 --no-log-prefix ssl 2>&1 > access.log and then tail this file - it  works. Seems like the problem is wit

[2022-10-17 04:58] sajiljosephs commented on #2398
Still its not taking all http access logs with big data length

[2022-10-17 07:18] NikitaObukhov commented on #2402
1 tried to redirect docker-compose logs -f ssl | tee /tmp/access.log
and then to run tail -f /tmp/access.log | docker run -p 7890:7890 --rm -i -e LC_TIME="en_US.UTF-8" allinurl/goaccess -a -o html --ws-url=ws://stage.joy-jet.com:7890 --real-time-html --date-format=%d/%b/%Y --time-format=%H:%M:%S - > report.html

The report is generated for only 10 rows from access.log file and newer gets updated.

[2022-10-17 08:26] roshan5690 commented on #2393
Hello, Could you please provide the information how can I parse the custom logs  ?

[2022-10-17 13:50] allinurl commented on #2393
Untested but please try this:

    goaccess access.log log-format=‘[%d %t.%^] %e@%h %s %^ %U %^ %v %M (%b %^ %^ %T%^)’ date-format=%Y-%m-%d time-format=%T

[2022-10-17 14:03] allinurl commented on #2401
Not sure I understand, are you looking to get the client up?

The general format shows the left-most being the original client ip.

    X-Forwarded-For: client, proxy1, proxy2

[2022-10-17 14:09] allinurl commented on #2399
Please try the following and let me know how it goes.

    goaccess access.log --log-format='"%d:%t" %h %^ “%r”' --date-format=%d/%b/%Y --time-format=%H:%M:%S

[2022-10-17 17:37] sol2070 opened #2403 "exclude-ip not working with Caddy log"
Hi, I'm using GoAccess on Ubuntu Server 20.04, and Caddy Server.
The exclude-ip option seems not to be working with the caddy log.
Without exclude-ip, everything is fine.
Thanks for this great software!

[code]

[2022-10-17 23:27] allinurl commented on #2403
Thanks. It looks like you are passing -e and —exclude-ip at the same time. Try removing -e and let me know if that works.

[2022-10-17 23:39] ylanarfi commented on #2394
It does not recognize the ssl option

`goaccess: unrecognized option '--ssl-key=/etc/letsencrypt/blog.arfy.ca/blog.arfy.ca.key`

[2022-10-18 00:36] allinurl commented on #2394
Please make sure to build using --with-openssl

[2022-10-18 00:38] sol2070 commented on #2403
Oh, yes, it works. I did that before, but as I was trying with an IP range, I didn't notice that the problem was with that range. With a single IP it works. Thank you!

[2022-10-18 09:51] Colt-crypto opened #2404 "custom nginx json format support?"
Hi,
I'm trying to process an access log in the following format:

log_format json
    '{"time":"$time_iso8601",'
    '"remote_addr":"$remote_addr",'
    '"http_x_forwarded_for":"$http_x_forwarded_for",'
    '"request_method":"$request_method",'
    '"server_protocol":"$server_protocol",'
    '"request_uri":"$request_uri",'
    '"status":$status,'
    '"request_length":$request_length,'
    '"reque

[2022-10-18 13:24] bkosborne commented on #2401
Right, sorry, that's what I meant. But what I'm confused about is how goaccess parses and presents the XFF data? My log format has both the client IP and the XFF data in separate fields. Is it possible to for goaccess to parse the list of XFF IPs and present them?

[2022-10-19 15:16] ygaeon commented on #1771
I'm having this issue .. but I do have `gettext` installed.

[code]
Checking the `po/Makefile` it (probably) fails on
[code]
Where the output is:
[code]
In my `po/Makefile`
[code]
I don't know what `GMSGFMT` should be, when it's working, but clearly it isn't compiling as it is now.
Continuing, I discovered `m4/po.m4` had the key information I needed:

I didn't have `msgfmt` in my PATH, but it shou

[2022-10-19 15:42] AnomalRoil commented on #631
I'm trying to parse logs from 3 different load-balancers over a year and it would really be great to have a way to combine reports, since the logs are a bit too big to have them all on the same machine at once, but then I have no way of displaying all the data in the same report.

[2022-10-23 16:26] kareemmahgoub opened #2406 "Customised apache logs parsing"
Hello Team,
Thanks for the nice brilliant software. Good job.
I have a customized Apache log file with extra fields. I have adjusted the log format in the configuration file but I am getting wrong data in operating system (unknown), browsers (unknown), referer urls, referring sites.
My log format in Apache configuration is
"%h %l %u %t \"%r\" %>s %O Time Taken: %{us}T PID: %P TID: %{tid}P  \"%{Ref

[2022-10-27 08:47] Jayden690 commented on #1338
Hello:
I cannot get it to work with my logformat. So i hope you guys can help me.

[2022-10-27 09:15] Jayden690 commented on #1338
Hello:
I cannot get it to work with my logformat. So i hope you guys can help me.

my log format is :

[log format.txt](https://github.com/allinurl/goaccess/files/9877928/log.format.txt)

[2022-10-27 10:54] dpoerschke opened #2407 "0 visitors on requested files view - what does that mean?"
Hi there,
Unfortunately I could not find an answer in the documentation so I'm asking here:
I have a question regarding the "requested files" view: In the visitors column there are several entries with the value 0 although in the "Accesses" column there is a value greater than 0. How is this possible? What does the 0 mean in this case?
![image](https://user-images.githubusercontent.com/48479502/19

[2022-10-27 16:42] allinurl commented on #1771
@ygaeon Glad you found the issue. Thanks for sharing those findings.

[2022-10-27 16:43] #1771 closed

[2022-10-27 16:44] allinurl commented on #2401
If you have both fields, you probably want to use the field that contains the client ip. Do you now which field has the client ip?

[2022-10-28 08:40] elya5 opened #2408 "Use X-Forwarded-For for geo location"
Hi

is it possible to tell goaccess to use `x-forwarded-for` field for geo location?  Otherwise, it shows the location of the reverse proxy.

I'm using goaccess 1.6 in combination with caddy. This is the current call:

    goaccess /var/log/caddy/caddy.log --log-format=CADDY \
                                      --ignore-panel=NOT_FOUND  \
                                      --ignore-panel=REF

[2022-10-28 09:59] Paulpatou opened #2409 "Parsing does not work"
Hello,
Sorry to ask this question for the umpteenth time but I can't find a solution for apache log parsing

[code]

127.0.1.1:443 192.168.20.101 - - [18/Oct/2022:09:29:43 +0600] "GET /ACC/login HTTP/1.1" 200 6558 "-" "Uptime-Kuma/1.11.4"
127.0.1.1:443 172.30.110.52 - - [18/Oct/2022:09:29:44 +0600] "GET / HTTP/1.1" 302 1541 "-" "Uptime-Kuma/1.11.4"

Thank you for your time

[2022-10-28 23:20] bkosborne commented on #2401
The XFF header will contain it, but it may not be trusted. But you're saying, I should really only tell goaccess to parse one or the other. Goaccess' is just trying to extract the client IP from XFF?

[2022-10-30 09:34] kareemmahgoub commented on #2409
I think you are having virtualhost variable in your log file "127.0.1.1:443". Try using VCOMBINED in goccess.conf

[2022-10-30 21:23] allinurl commented on #2409
Sorry for the delay. This should do it.

    goaccess access.log --log-format='%^ %h %^[%x] "%r" %s %b "%R" "%u"' --datetime-format='%d/%b/%Y:%H:%M:%S %z' --tz=Asia/Dhaka

[2022-10-30 21:24] allinurl commented on #2401
That's correct.

[2022-10-30 21:25] allinurl commented on #2408
Do you have access to the client ip through the XFF field?

[2022-10-30 21:27] allinurl commented on #2407
Great question, 0 means a 404. You can use `--4xx-to-unique-count` to start counting unique visitors for 4xx client errors.

[2022-10-30 21:28] allinurl commented on #1338
@Jayden690 Please post a few lines directly from your access log.

[2022-10-30 21:32] allinurl commented on #2406
Sorry for the delay. The following should do it:

    goaccess access.log --log-format='%h %^[%x] "%r" %s %b %^:%D %^"%R" "%u"' --datetime-format='%d/%b/%Y:%H:%M:%S %z' --tz=Europe/Berlin --date-spec=min

[2022-10-30 21:33] allinurl commented on #2406
Fixed typo:

    goaccess access.log --log-format='%h %^[%x] "%r" %s %b %^: %D %^"%R" "%u"' --datetime-format='%d/%b/%Y:%H:%M:%S %z' --tz=Europe/Berlin --date-spec=min

[2022-10-30 21:39] allinurl commented on #2404
Please take a look at this post for more [**details**](https://github.com/allinurl/goaccess/issues/1768#issuecomment-755792463). Otherwise, feel free to post a few lines from your access log and I can take a look.

[2022-10-30 21:41] allinurl commented on #2343
@nadermx not sure I follow, are you looking to have minute specificity?

[2022-10-30 21:46] kareemmahgoub commented on #2406
Thanks a lot but it didn't work.
I have used the following command
`zcat /var/log/GOACCESS/{s,t,u,v,w,x,y,z}*access*log*.gz| goaccess  --log-format='%h %^[%x] "%r" %s %b %^: %D %^"%R" "%u"' --datetime-format='%d/%b/%Y:%H:%M:%S %z' --tz=Europe/Berlin --html-report-title="Logs Analysis"  --date-spec=min -o /var/www/html/index6.html`
I got the following error `==7584== Token '20/Oct/2022:06:43:48 +02

[2022-10-30 21:48] allinurl commented on #1856
@maverickGeek For the access log I like to keep it as:

    LogFormat "%v:%p %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" %D %{Content-Type}o %{SSL_PROTOCOL}x %{SSL_CIPHER}x" vhost_combined_tls

For error log, I tend to keep the error as the last field

    ErrorLogFormat "[%{u}t] [%-m:%l] [pid %P:tid %T] %7F: %E: [client\ %a] %{Referer}i %M%"

[2022-10-30 21:50] allinurl commented on #2406
Are you using the latest version?

[2022-10-30 22:01] kareemmahgoub commented on #2406
Yes
`goaccess --version
GoAccess - 1.6.4.
For more details visit: https://goaccess.io/
Copyright (C) 2009-2022 by Gerardo Orellana

Build configure arguments:
  --enable-utf8
  --enable-geoip=mmdb'
Also I have some luck with the following
`zcat /var/log/GOACCESS/{s,t,u,v,w,x,y,z}*access*log*.gz| goaccess --persist --log-format='%h %^[%d:%t %^] "%m %U" %s %b %^ %^"%R" "%u"' --html-report-title="Log

[2022-10-30 22:15] allinurl commented on #2406
Is your locale set to `en`? Otherwise, please try

    LC_TIME="en_US.UTF-8" bash -c 'goaccess access.log --log-format=...'

or

    LC_TIME="en_US.UTF-8" goaccess access.log

Also, please make sure all of your access logs have the exact same format. Here's what I get with the single line you posted above:

![2022-10-30 17-09](https://user-images.githubusercontent.com/5005367/198903937-a4cb3979-bc

[2022-10-31 08:44] Colt-crypto commented on #2404
Thank you for replying, much appreciated.

I think i'm just struggling to get the correct configuration.
Here's a snippet of the log I'm trying to parse, thanks again.

`{"time":"2022-09-27T06:18:57+00:00","remote_addr":"172.31.68.234","http_x_forwarded_for":"206.81.7.133, 172.70.114.69","request_method":"GET","server_protocol":"HTTP/1.1","request_uri":"/leafmailer2.8.php","status":403,"request_le

[2022-10-31 10:41] #2409 closed, assigned to nobody

[2022-11-01 07:23] elya5 commented on #2408
Yes, that's what I meant. Client IP is in XFF and not in "remote_ip" field of caddy logs.

[2022-11-01 18:39] bkosborne commented on #2401
Thank you

[2022-11-01 18:39] #2401 closed

[2022-11-02 00:37] allinurl commented on #2404
Sorry for the delay. This should do it:

    goaccess access.log --log-format='{ "time": "%dT%t+%^", "http_x_forwarded_for": "%h,%^", "request_method": "%m", "request_uri": "%U", "server_protocol": "%H", "status": "%s", "request_length": "%b", "request_time": "%T", "http_referrer": "%R", "http_user_agent": "%u" }' --date-format='%Y-%m-%d' --time-format=%T

[2022-11-02 00:38] allinurl commented on #2408
You should be able to use a custom format with XFF. Please take a look at [**this post**](https://github.com/allinurl/goaccess/issues/2404#issuecomment-1299396352).

[2022-11-02 08:32] kareemmahgoub commented on #2406
Sorry for the late reply but unfortunately, it didn't work.
I have copied the line I have posted in a new file with name test.log
I have copied your suggested code (replacing the file name access.log with the name test.log, getting the same error
`Token '23/Oct/2022:02:40:19 +0200' doesn't match specifier '%x'`
I have tried running the command with  LC_TIME="en_US.UTF-8", but again same error
Toke

[2022-11-02 09:12] kareemmahgoub commented on #2406
Update:
I have checked my locale ant the LC_TIME was set to "C.UTF-8", but changing it to "en_US.UTF-8" didn't solve the problem as I am still getting the same error.
`locale`
`LANG=C.UTF-8
LANGUAGE=
LC_CTYPE="C.UTF-8"
LC_NUMERIC="C.UTF-8"
LC_TIME=en_US.UTF-8
`
Not sure if no double quotes would make a difference, but I have set it with double quotes, yet it is not appearing here.
Content of /etc/

[2022-11-02 09:39] elya5 commented on #2408
Thanks, that works :)

For anyone else stumbling over this: In the log-format `"remote_ip":"%h"` needs to be replaced with `"X-Forwarded-For":"%h"`

[2022-11-02 09:39] #2408 closed

[2022-11-02 14:09] Colt-crypto commented on #2404
Thanks again! much appreciated

[2022-11-02 14:09] #2404 closed

[2022-11-02 15:09] allinurl commented on #2406
You can try:

    goaccess access.log --log-format='%h %^[%d:%t %^] "%r" %s %b %^: %D %^"%R" "%u"' --date-format='%d/%b/%Y' --time-format=%T --date-spec=min

[2022-11-02 15:12] kareemmahgoub commented on #2406
Perfect. This did the trick.
Thanks for your support and your wonderful software.

[2022-11-03 08:21] dpoerschke commented on #2407
Thank you for the explanation and the hint!

[2022-11-03 14:14] allinurl commented on #2389
Sorry for the delay. This should do it (assumes latest version):

    goaccess access.log --log-format='%h %^[%x] "%r" %^ %^ %s %b "%R" "%u" %^ "%v" %^ %^ %^ %^ %^ %T' --datetime-format='%d/%b/%Y:%H:%M:%S %z'

[2022-11-04 10:44] marlonanjos opened #2410 "Can't install the latest version 1.6.5 on Ubuntu 18.04 (bionic)"
The latest version 1.6.5 added the dependency package libncursesw6 which is not available on Ubuntu 18.04LTS Bionic.

[code]
[code]

The version 1.6.4 was was running fine on the same server.

Thank you,
Marlon

[2022-11-04 16:12] PantheaEU commented on #2410
I can confirm this.

Has the exact same problem on several Ubuntu 18.04 servers when trying to upgrade from 1.6.4 to 1.6.5

[2022-11-04 16:38] allinurl commented on #2410
Thanks for the heads up on this. The issue should be fixed.

Please let me know if that solves the issue on your end.

[2022-11-04 16:52] PantheaEU commented on #2410
Issue seems to be resolved.
1.6.5 installs and works fine on all my instances now.

[2022-11-04 17:08] marlonanjos commented on #2410
Can confirm, the issue is fixed.

Thank you @allinurl.

[2022-11-04 17:09] allinurl commented on #2410
Thank you all. Closing this. Feel free to reopen it if needed.

[2022-11-04 17:09] #2410 closed

[2022-11-07 13:33] anekrutov opened #2412 "custom nginx log format to GoAccess"
Hello everyone, please help.

My nginx access log format: '[$time_local] $remote_addr - $server_name $host to: $upstream_addr: $request $status upstream_response_time $upstream_response_time msec $msec request_time $request_time'

**I use nginx2goaccess**:
- Generated goaccess config:
time-format %T
date-format %d/%b/%Y
log_format [%d:%t %^] %h - %^ %v to: %^: %r %s upstream_response_time %^ msec

[2022-11-07 23:25] allinurl commented on #2412
This should do it:

    goaccess access.log --log-format='[%d:%t %^] %h %e %v %^ %^ %^ %m %U %H %s %^ %^ %^ %^ %^ %T' --date-format=%d/%b/%Y --time-format=%T --ignore-panel=OS --ignore-panel=BROWSERS --ignore-panel=REFERRING_SITES

[2022-11-08 03:51] #2412 closed

[2022-11-08 20:13] adpur opened #2413 "Token 'H' doesn't match specifier '%d'"
I have several logs being already monitored, however, these logs are being a pain...I'm sure it's something simple.

time-format %H:%M:%S
date-format %d/%b/%Y

log-format %h %^ %^ [%d:%t %^] "%r" %s %b

Log format:
123.128.123.123 - - [26/Jul/2019:20:26:54 -0700] "GET /profile/upload/server/php/ HTTP/1.1" 404 224
204.200.150.25 - - [26/Jul/2019:20:28:34 -0700] "GET /robots.txt HTTP/1.0" 404 208

[2022-11-09 19:21] JS-E opened #2414 "Multiple log file support"
So i love goaccess so far and i've set it up via docker to monitor the log file of a nginx proxy manager instance. 👍

The instance however has multiple log files that use different log formats and it seems (i could be wrong) that goaccess can't support that in the goaccess.conf file when using the real time html setup on a hosted port.

This would be awesome to view multiple logs perhaps in a tabb

[2022-11-10 00:20] allinurl commented on #2413
The common log format should it:

    goaccess access.log --log-format=COMMON

[2022-11-10 00:35] allinurl commented on #2414
Thanks for suggesting this. Like you said, it's not possible right now without actually running two instances of it. However, this may be the next feature to implement (working on #117 as we speak). This request will be part of #213. Stay tuned!

[2022-11-10 15:08] meylisso commented on #345
Please tell me what filter to use for correct display. 10.10.1.13 remote host address nginx . 140.82.121.3 client address

Nov 10 12:11:55 10.10.1.13 nginx: 140.82.121.3 - - [10/Nov/2022:12:11:55 +0000] "GET /favicon.ico HTTP/1.1" 200 741 "https://example.com/login" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36"

[2022-11-10 16:34] flashlabs opened #2415 "Token '09/Jan/2001' doesn't match specifier '%d'"
Hi,

Date format is `%d/%b/%Y` and still getting error `Token '09/Jan/2001' doesn't match specifier '%d'`

Any suggestions what should be the right full log format with dates and times? 🤔

I'm running app with defaults `goaccess access.log` and then choosing `NCSA Combined Log Format` with defaults:
- `log format` - `%h %^[%d:%t %^] "%r" %s %b "%R" "%u"`
- `date format` - `%d/%b/%Y`
- `time format

[2022-11-10 16:44] flashlabs commented on #2415
Ofc you are right and both of your solutions work!

[2022-11-10 16:44] #2415 closed

[2022-11-10 16:45] allinurl commented on #2415
Glad that solved the issue :) Feel free to reopen it as needed.

[2022-11-10 19:01] allinurl commented on #345
@meylisso

    goaccess access.log --log-format='%^:%^:%^: %h %^[%d:%t %^] "%r" %s %b "%R" "%u"' --date-format=%d/%b/%Y --time-format=%T --date-spec=min

[2022-11-10 20:25] JS-E commented on #2414
Okay, thanks for the update 👍 i'll keep my eyes peeled 👀

[2022-11-13 14:45] dolomiti70 opened #2416 "Token '-' doesn't match specifier '%s'"
The following error occurs:

/opt/log/proxy-host-4_access.log
Parsed 1 lines producing the following errors:
Token '-' doesn't match specifier '%s'
Format Errors - Verify your log/date/time format

My goacces.conf:

[code]

My Log-File:

[13/Nov/2022:12:59:56 +0000] - 304 304 - GET https eins.mydomain.com "/static/js/7228.c717640d.chunk.js" [Client 12.34.56.78] [Length 0] [Gzip -] [Sent-to 192.168

[2022-11-13 15:37] allinurl commented on #2416
Please try:

    goaccess access.log --log-format='[%d:%t %^] %^ %s %^ %^ %m %^ %v "%U" [%^ %h] [%^ %b] [%^] %^"%u" "%R"' --date-format=%d/%b/%Y --time-format=%T --http-protocol=no